<% if current_user.role == 'Admin_High'%>

<h1>Listing lookup_drugunits</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_drugunits.each do |lookup_drugunit| %>
  <tr>
    <td><%= lookup_drugunit.description %></td>
    <td><%= link_to 'Show', lookup_drugunit %></td>
    <td><%= link_to 'Edit', edit_lookup_drugunit_path(lookup_drugunit) %></td>
    <td><%= link_to 'Destroy', lookup_drugunit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup drugunit', new_lookup_drugunit_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>