<h1>Listing questions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
	<th>Description</th>
    <th>Value Link</th>
    <th>Heading 1</th>
    <th>Phrase a 1</th>
    <th>Value type 1</th>
    <th>Ref table a 1</th>
    <th>Ref table b 1</th>
    <th>Phrase b 1</th>
    <th>Phrase c 1</th>
    <th>Required y n 1</th>
    <th>JS 1</th>
    <th>Prompt 1</th>
    <th>Heading 2</th>
    <th>Phrase a 2</th>
    <th>Value type 2</th>
    <th>Ref table a 2</th>
    <th>Ref table b 2</th>
    <th>Phrase b 2</th>
    <th>Phrase c 2</th>
    <th>Required y n 2</th>
    <th>JS 2</th>
    <th>Prompt 2</th>
    <th>Heading 3</th>
    <th>Phrase a 3</th>
    <th>Value type 3</th>
    <th>Ref table a 3</th>
    <th>Ref table b 3</th>
    <th>Phrase b 3</th>
    <th>Phrase c 3</th>
    <th>Required y n 3</th>
    <th>JS 3</th>
    <th>Prompt 3</th>
    <th>Status</th>
    <th>Parent question</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
	<td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Clone', '/questions/clone/'+question.id.to_s %></td>
    <td><%= question.description %></td>
    <td><%= question.value_link %></td>
    <td><%= question.heading_1 %></td>
    <td><%= question.phrase_a_1 %></td>
    <td><%= question.value_type_1 %></td>
    <td><%= question.ref_table_a_1 %></td>
    <td><%= question.ref_table_b_1 %></td>
    <td><%= question.phrase_b_1 %></td>
    <td><%= question.phrase_c_1 %></td>
    <td><%= question.required_y_n_1 %></td>
    <td><%= question.js_1 %></td>
    <td><%= question.prompt_1 %></td>
    <td><%= question.heading_2 %></td>
    <td><%= question.phrase_a_2 %></td>
    <td><%= question.value_type_2 %></td>
    <td><%= question.ref_table_a_2 %></td>
    <td><%= question.ref_table_b_2 %></td>
    <td><%= question.phrase_b_2 %></td>
    <td><%= question.phrase_c_2 %></td>
    <td><%= question.required_y_n_2 %></td>
    <td><%= question.js_2 %></td>
    <td><%= question.prompt_2 %></td>
    <td><%= question.heading_3 %></td>
    <td><%= question.phrase_a_3 %></td>
    <td><%= question.value_type_3 %></td>
    <td><%= question.ref_table_a_3 %></td>
    <td><%= question.ref_table_b_3 %></td>
    <td><%= question.phrase_b_3 %></td>
    <td><%= question.phrase_c_3 %></td>
    <td><%= question.required_y_n_3 %></td>
    <td><%= question.js_3 %></td>
    <td><%= question.prompt_3 %></td>
    <td><%= question.status %></td>
    <td><%= question.parent_question_id %></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
