<table width="100%"><tr><td align="right">
	<%= link_to 'New Question', new_question_path %> |
	<%= link_to('Question Forms Base', questionformbase_path) %>
	</td></tr></table>

 <%= form_tag '/questions/index' do %>
  <% v_form_id_array =[] ; v_form_id_array.push(12); v_form_id_array.push(13) ; v_form_id_array.push(14) %>
  <%= collection_select :questionform_question,  :questionform_id, Questionform.where("status_flag in ('Y')").order(:entrance_page_type,:display_order,:description), :id, :description,{:prompt => 'Select a Form to show the linked Questions'} %>
  <br>
  <% scan_procedure_array = (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) %>
<%= collection_select('questionform_question[scan_procedure_id]', :id,ScanProcedure.where(" scan_procedures.id in (?)",scan_procedure_array).order(:codename), :id, :codename,  {:prompt => 'Choose scan procedure'}, {:multiple =>  false} ) %>
<br>

  


  <%= submit_tag("Search") %>
<% end %>   
<h1>Listing questions</h1>

<table  class="tabular">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Display Order(s)</th>
	<th>Description</th>
    <th>Value Link</th>
    <th>Heading 1</th>
    <th>Phrase a 1</th>
    <th>Value type 1</th>
    <th>Export col_1</th>
    <th>Ref table a 1</th>
    <th>Ref table b 1</th>
    <th>Default Value 1</th>
    <th>Base Table 1</th>
    <th>Base Column 1</th>
    <th>Global Update 1</th>
        <th>Global Update Insert 1</th>
    <th>Access Table 1</th>
    <th>Access Column 1</th>
    <th>Phrase b 1</th>
    <th>Phrase c 1</th>
    <th>Required y n 1</th>
    <th>JS 1</th>
    <th>Prompt 1</th>
    <th>Col Span 1</th>
    <th>Align 1</th>
    <th>Heading 2</th>
    <th>Phrase a 2</th>
    <th>Value type 2</th>
    <th>Export Col_2</th>
    <th>Ref table a 2</th>
    <th>Ref table b 2</th>
    <th>Default Value 2</th>
    <th>Base Table 2</th>
    <th>Base Column 2</th>
    <th>Global Update 2</th>
        <th>Global Update Insert 2</th>
    <th>Access Table 2</th>
    <th>Access Column 2</th>
    <th>Phrase b 2</th>
    <th>Phrase c 2</th>
    <th>Required y n 2</th>
    <th>JS 2</th>
    <th>Prompt 2</th>
    <th>Col Span 2</th>
    <th>Align 2</th>
    <th>Heading 3</th>
    <th>Phrase a 3</th>
    <th>Value type 3</th>
    <th>Export col_3</th>
    <th>Ref table a 3</th>
    <th>Ref table b 3</th>
    <th>Default Value 3</th>
    <th>Base Table 3</th>
    <th>Base Column 3</th>
    <th>Global Update 3</th>
        <th>Global Update Insert 3</th>
    <th>Access Table 3</th>
    <th>Access Column 3</th>
    <th>Phrase b 3</th>
    <th>Phrase c 3</th>
    <th>Required y n 3</th>
    <th>JS 3</th>
    <th>Prompt 3</th>
    <th>Col Span 3</th>
    <th>Align 3</th>
    <th>Status</th>
    <th>Parent question</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
	<td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Clone', '/questions/clone/'+question.id.to_s %></td>
    <td><% v_questionform_question = QuestionformQuestion.where("question_id in (?)",question.id) 
            v_qq_display_order_array = []
            v_questionform_question.each do |qq| 
                  v_qq_display_order_array.push(qq.display_order) 
            end %>
            <%= v_qq_display_order_array.join(",") %></td>
    <td align="left"><%= question.description %></td>
    <td><%= question.value_link %></td>
    <td><%= question.heading_1 %></td>
    <td><%= question.phrase_a_1 %></td>
    <td><%= question.value_type_1 %></td>
    <td><%= question.export_column_header_1 %>
    <td><%= question.ref_table_a_1 %></td>
    <td><%= question.ref_table_b_1 %></td>
    <td><%= question.default_val_1 %></td>
    <td><%= question.base_table_1 %></td>
    <td><%= question.base_column_1 %></td>
    <td><%= question.global_update_1 %></td>
    <td><%= question.global_update_insert_1 %></td>
    <td><%= question.access_table_1 %></td>
    <td><%= question.access_column_1 %></td>
    <td><%= question.phrase_b_1 %></td>
    <td><%= question.phrase_c_1 %></td>
    <td><%= question.required_y_n_1 %></td>
    <td><%= question.js_1 %></td>
    <td><%= question.prompt_1 %></td>
    <td><%= question.col_span_1 %></td>
    <td><%= question.align_1 %></td>
    <td><%= question.heading_2 %></td>
    <td><%= question.phrase_a_2 %></td>
    <td><%= question.value_type_2 %></td>
    <td><%= question.export_column_header_2 %>
    <td><%= question.ref_table_a_2 %></td>
    <td><%= question.ref_table_b_2 %></td>
    <td><%= question.default_val_2 %></td>
    <td><%= question.base_table_2 %></td>
    <td><%= question.base_column_2 %></td>
    <td><%= question.global_update_2 %></td>
    <td><%= question.global_update_insert_2 %></td>
    <td><%= question.access_table_2 %></td>
    <td><%= question.access_column_2 %></td>
    <td><%= question.phrase_b_2 %></td>
    <td><%= question.phrase_c_2 %></td>
    <td><%= question.required_y_n_2 %></td>
    <td><%= question.js_2 %></td>
    <td><%= question.prompt_2 %></td>
    <td><%= question.col_span_2 %></td>
    <td><%= question.align_2 %></td>
    <td><%= question.heading_3 %></td>
    <td><%= question.phrase_a_3 %></td>
    <td><%= question.value_type_3 %></td>
    <td><%= question.export_column_header_3 %>
    <td><%= question.ref_table_a_3 %></td>
    <td><%= question.ref_table_b_3 %></td>
    <td><%= question.default_val_3 %></td>
    <td><%= question.base_table_3 %></td>
    <td><%= question.base_column_3 %></td>
    <td><%= question.global_update_3 %></td>
    <td><%= question.global_update_insert_3 %></td>
    <td><%= question.access_table_3 %></td>
    <td><%= question.access_column_3 %></td>
    <td><%= question.phrase_b_3 %></td>
    <td><%= question.phrase_c_3 %></td>
    <td><%= question.required_y_n_3 %></td>
    <td><%= question.js_3 %></td>
    <td><%= question.prompt_3 %></td>
    <td><%= question.col_span_3 %></td>
    <td><%= question.align_3 %></td>
    <td><%= question.status %></td>
    <td><%= question.parent_question_id %></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
