<p id="notice"><%= notice %></p>
<p>
  <b>Description:</b>
  <%= @question.description %>
</p>
<p>
  <b>Heading 1:</b>
  <%= @question.heading_1 %>
</p>

<p>
  <b>Phrase a 1:</b>
  <%= @question.phrase_a_1 %>
</p>

<p>
  <b>Value type 1:</b>
  <%= @question.value_type_1 %>
</p>

<p>
  <b>Ref table a 1:</b>
  <%= @question.ref_table_a_1 %>
</p>

<p>
  <b>Ref table b 1:</b>
  <%= @question.ref_table_b_1 %>
</p>

<p>
  <b>Phrase b 1:</b>
  <%= @question.phrase_b_1 %>
</p>

<p>
  <b>Phrase c 1:</b>
  <%= @question.phrase_c_1 %>
</p>

<p>
  <b>Required y n 1:</b>
  <%= @question.required_y_n_1 %>
</p>

<p>
  <b>Heading 2:</b>
  <%= @question.heading_2 %>
</p>

<p>
  <b>Phrase a 2:</b>
  <%= @question.phrase_a_2 %>
</p>

<p>
  <b>Value type 2:</b>
  <%= @question.value_type_2 %>
</p>

<p>
  <b>Ref table a 2:</b>
  <%= @question.ref_table_a_2 %>
</p>

<p>
  <b>Ref table b 2:</b>
  <%= @question.ref_table_b_2 %>
</p>

<p>
  <b>Phrase b 2:</b>
  <%= @question.phrase_b_2 %>
</p>

<p>
  <b>Phrase c 2:</b>
  <%= @question.phrase_c_2 %>
</p>

<p>
  <b>Required y n 2:</b>
  <%= @question.required_y_n_2 %>
</p>

<p>
  <b>Heading 3:</b>
  <%= @question.heading_3 %>
</p>

<p>
  <b>Phrase a 3:</b>
  <%= @question.phrase_a_3 %>
</p>

<p>
  <b>Value type 3:</b>
  <%= @question.value_type_3 %>
</p>

<p>
  <b>Ref table a 3:</b>
  <%= @question.ref_table_a_3 %>
</p>

<p>
  <b>Ref table b 3:</b>
  <%= @question.ref_table_b_3 %>
</p>

<p>
  <b>Phrase b 3:</b>
  <%= @question.phrase_b_3 %>
</p>

<p>
  <b>Phrase c 3:</b>
  <%= @question.phrase_c_3 %>
</p>

<p>
  <b>Required y n 3:</b>
  <%= @question.required_y_n_3 %>
</p>

<p>
  <b>Display order:</b>
  <%= @question.display_order %>
</p>

<p>
  <b>Status:</b>
  <%= @question.status %>
</p>

<p>
  <b>Parent question:</b>
  <%= @question.parent_question_id %>
</p>




<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
