<p id="notice"><%= notice %></p>
<table width="100%">
	<tr><td align="right">
		<%= link_to 'Clone', '/questions/clone/'+@question.id.to_s %> |
		<%= link_to 'Edit', edit_question_path(@question) %> |
		<%= link_to 'Back', questions_path %> |
		<%= link_to('Question Forms Base', questionformbase_path) %> |
		<%= link_to 'New Question', new_question_path %>
</td></tr></table><br>
<div class="field"><b>
  Description:</b> <br />
  <%=  @question.description %>
</div>
<table width="80%" ><tr><td>
  <div class="field"><b>
     Value Link:</b>
 <%= @question.value_link %>
  </div>
</td><td>
  <div class="field"><b>
    Status:</b><br />
 <%=  @question.status  %>
  </div>
</td></tr></table>
<hr width="90%" size="5" noshade>
  <div class="field"><b>
    Heading 1:</b><br />
    <%=  @question.heading_1  %>
  </div>
  <div class="field"><b>
    Phrase a 1:</b><br />
    <%=  @question.phrase_a_1  %>
  </div>
<table width="100%" ><tr><td>
  <div class="field"><b>
    Value type 1:</b><br />
 <%=  @question.value_type_1  %>
  </div>
</td><td>
  <div class="field"><b>
    Required y n 1:</b><br />
 <%=  @question.required_y_n_1  %>
  </div>	
</td><td>	
  <div class="field"><b>
    Ref table a 1:</b><br />
    <%=  @question.ref_table_a_1 %>
  </div>
</td><td>
  <div class="field"><b>
    Ref table b 1:</b><br />
    <%=  @question.ref_table_b_1 %>
  </div>
</td><td>
  <div class="field"><b>
    Default Val 1:</b><br />
    <%=  @question.default_val_1 %>
  </div>
</td></tr></table>
<table width="100%" ><tr><td>
	  <div class="field"><b>
	    Base Table 1:</b><br />
	    <%=  @question.base_table_1 %>
	  </div>
	</td><td>
		<div class="field"><b>
		  Base Column 1:</b><br />
		  <%=  @question.base_column_1 %>
		 </div>
	</td><td>				
 <div class="field"><b>
   Global Update 1:</b><br />
<%= @question.global_update_1  %>
 </div>
  </td><td>       
 <div class="field"><b>
   Global Update Insert 1:</b><br />
<%= @question.global_update_insert_1  %>
 </div>
</td><td>
	  <div class="field"><b>
	    <small><small>Access Table 1:</small></small></b><br />
	    <%=  @question.access_table_1 %>
	  </div>
	</td><td>
		<div class="field"><b>
		  <small><small>Access Column 1:</small></small></b><br />
		  <%=  @question.access_column_1 %>
		 </div>
</td></tr></table>
<table width="100%" ><tr><td>
  <div class="field"><b>
    Phrase b 1:</b><br />
    <%=  @question.phrase_b_1  %>
  </div>
</td><td>
  <div class="field"><b>
    Phrase c 1:</b><br />
    <%=  @question.phrase_c_1  %>
  </div>
</td></tr></table>
<table width="100%" ><tr><td>
  <div class="field"><b>
    JS 1:</b><br />
    <%=  @question.js_1  %>
  </div>
</td><td>
  <div class="field"><b>
    Prompt 1:</b><br />
    <%=  @question.prompt_1  %>
  </div>
</td></tr></table>
<table width="100%" ><tr><td>
	  <div class="field"><b>
	    Export col header 1:</b><br />
	    <%=  @question.export_column_header_1 %>
	  </div>
	</td><td>
	  <div class="field"><b>
	    Col Span 1:</b><br />
	    <%=  @question.col_span_1 %>
	  </div>
	</td><td>
		<div class="field"><b>
		  Align 1:</b><br />
		  <%=  @question.align_1 %>
		 </div>
	</td></tr></table>
<hr width="90%" size="5" noshade>
  <div class="field"><b>
    Heading 2:</b><br />
    <%=  @question.heading_2  %>
  </div>
  <div class="field"><b>
    Phrase a 2:</b><br />
    <%=  @question.phrase_a_2  %>
  </div>
<table width="100%" ><tr><td>
  <div class="field"><b>
    Value type 2:</b><br />
 <%=  @question.value_type_2 %>
  </div>
</td><td>
	<div class="field"><b>
    Required y n 2:</b><br />
 <%=   @question.required_y_n_2  %>
  </div>
</td><td>
  <div class="field"><b>
    Ref table a 2:</b><br />
    <%=  @question.ref_table_a_2 %>
  </div>
</td><td>
  <div class="field"><b>
    Ref table b 2:</b><br />
    <%=  @question.ref_table_b_2 %>
  </div>
</td><td>
  <div class="field"><b>
    Default Val 2:</b><br />
    <%=  @question.default_val_2 %>
  </div>
</td></tr></table>
<table width="100%" ><tr><td>
	  <div class="field"><b>
	    Base Table 2:</b><br />
	    <%=  @question.base_table_2 %>
	  </div>
	</td><td>
		<div class="field"><b>
		  Base Column 2:</b><br />
		  <%=  @question.base_column_2 %>
		 </div>
	</td><td>				
 <div class="field"><b>
   Global Update 2:</b><br />
<%=   @question.global_update_2  %>
 </div>
  </td><td>       
 <div class="field"><b>
   Global Update Insert 2:</b><br />
<%= @question.global_update_insert_2  %>
 </div>
</td><td>
	  <div class="field"><b>
	    <small><small>Access Table 2:</small></small></b><br />
	    <%=  @question.access_table_2 %>
	  </div>
	</td><td>
		<div class="field"><b>
		  <small><small>Access Column 2:</small></small></b><br />
		  <%=  @question.access_column_2 %>
		 </div>
</td></tr></table>
<table width="100%" ><tr><td>
  <div class="field"><b>
    Phrase b 2:</b><br />
    <%=  @question.phrase_b_2 %>
  </div>
</td><td>
  <div class="field"><b>
    Phrase c 2:</b><br />
    <%=  @question.phrase_c_2 %>
  </div>
</td></tr></table>
<table width="100%" ><tr><td>
  <div class="field"><b>
    JS 2:</b><br />
    <%=  @question.js_2 %>
  </div>
</td><td>
  <div class="field"><b>
    Prompt 2:</b><br />
    <%=  @question.prompt_2 %>
  </div>
</td></tr></table>
<table width="100%" ><tr><td>
	  <div class="field"><b>
	    Export col header 2:</b><br />
	    <%=  @question.export_column_header_2 %>
	  </div>
	</td><td>
	  <div class="field"><b>
	    Col Span 2:</b><br />
	    <%=  @question.col_span_2 %>
	  </div>
	</td><td>
		<div class="field"><b>
		  Align 2:</b><br />
		  <%=  @question.align_2 %>
		 </div>
	</td></tr></table>
<hr width="90%" size="5" noshade>
  <div class="field"><b>
    Heading 3:</b><br />
    <%=  @question.heading_3  %>
  </div>
  <div class="field"><b>
    Phrase a 3:</b><br />
    <%=  @question.phrase_a_3  %>
  </div>
<table width="100%" ><tr><td>
  <div class="field"><b>
    Value type 3:</b><br />
 <%=  @question.value_type_3  %>
  </div>
</td><td>
	  <div class="field"><b>
	    Required y n 3:</b><br />
	 <%=   @question.required_y_n_3  %>
	  </div>
	</td><td>
  <div class="field"><b>
    Ref table a 3:</b><br />
    <%=  @question.ref_table_a_3 %>
  </div>
</td><td>
  <div class="field"><b>
    Ref table b 3:</b><br />
    <%=  @question.ref_table_b_3 %>
  </div>
</td><td>
  <div class="field"><b>
    Default Val 3:</b><br />
    <%=  @question.default_val_3 %>
  </div>
</td></tr></table>
<table width="100%" ><tr><td>
	  <div class="field"><b>
	    Base Table 3:</b><br />
	    <%=  @question.base_table_3 %>
	  </div>
	</td><td>
		<div class="field"><b>
		  Base Column 3:</b><br />
		  <%=  @question.base_column_3 %>
		 </div>
	</td><td>				
 <div class="field"><b>
   Global Update 3:</b><br />
<%=   @question.global_update_3 %>
 </div>
  </td><td>       
 <div class="field"><b>
   Global Update Insert 3:</b><br />
<%= @question.global_update_insert_3  %>
 </div>
</td><td>
	  <div class="field"><b>
	    <small><small>Access Table 3:</small></small></b><br />
	    <%=  @question.access_table_3 %>
	  </div>
	</td><td>
		<div class="field"><b>
		  <small><small>Access Column 3:</small></small></b><br />
		  <%=  @question.access_column_3 %>
		 </div>
	</td></tr></table>
<table width="100%" ><tr><td>
  <div class="field"><b>
    Phrase b 3:</b><br />
    <%=  @question.phrase_b_3 %>
  </div>
</td><td>
  <div class="field"><b>
    Phrase c 3:</b><br />
    <%=  @question.phrase_c_3 %>
  </div>
</td></tr></table>
<table width="100%" ><tr><td>
  <div class="field"><b>
    JS 3:</b><br />
    <%=  @question.js_3 %>
  </div>
</td><td>
  <div class="field"><b>
    Prompt 3:</b><br />
    <%=  @question.prompt_3 %>
  </div>
</td></tr></table>
<table width="100%" ><tr><td>
	  <div class="field"><b>
	    Export col header 3:</b><br />
	    <%=  @question.export_column_header_3 %>
	  </div>
	</td><td>
	  <div class="field"><b>
	    Col Span 3:</b><br />
	    <%=  @question.col_span_3 %>
	  </div>
	</td><td>
		<div class="field"><b>
		  Align 3:</b><br />
		  <%=  @question.align_3 %>
		 </div>
	</td></tr></table>
<hr width="90%" size="5" noshade>
  <div class="field"><b>
   Parent question:</b><br />
<%=  @question.parent_question_id %>
  </div>

<%= link_to 'Clone', '/questions/clone/'+@question.id.to_s %> |
<% if current_user.role == 'Admin_High' or (current_user.role == 'Admin_Low'  ) %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%end%>
<%= link_to 'Back', questions_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %> |
<%= link_to 'New Question', new_question_path %> 

<br><br><B>Protocols and forms which use this Question.</B>
<% if @sp_qf.count > 0 %>
<table>
<% @sp_qf.each do |r| %>
 <tr><td><%=r.html_safe %></td></tr>
<%end%>
</table>
<%else%>
   There are no forms linked to protocols using this question.
 <%end%>
