<%= form_for(@vgroup) do |f| %>
  <% if @vgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vgroup.errors.count, "error") %> prohibited this vgroup from being saved:</h2>

      <ul>
      <% @vgroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vgroup_date %><br />
    <%= f.date_select :vgroup_date %>
  </div>
  <div class="field">
    <%= f.label :participant_id %><br />
<%= select(:vgroup, :participant_id, Enrollment.all.sort_by(&:enumber).collect {|p| [ p.enumber, p.participant_id ] }, { :include_blank => "Select  a participant" }) %>
  </div>

  <div class="field">
    <%= f.label :rmr %><br />
    <%= f.text_field :rmr %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

