<%= form_for(@vgroup) do |f| %>
  <% if @vgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vgroup.errors.count, "error") %> prohibited this vgroup from being saved:</h2>

      <ul>
      <% @vgroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vgroup_date %><br />
    <%= f.date_select :vgroup_date %>
  </div>
  <div class="field">
    <%= f.label :participant_id %><br />
    <%= f.text_field :participant_id %>
  </div>

  <div class="field">
    <%= f.label :rmr %><br />
    <%= f.text_field :rmr %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :transfer_mri %><br />
    <%= f.text_field :transfer_mri %>
  </div>
  <div class="field">
    <%= f.label :transfer_pet %><br />
    <%= f.text_field :transfer_pet %>
  </div>
  <div class="field">
    <%= f.label :blood_draw %><br />
    <%= f.text_field :blood_draw %>
  </div>
  <div class="field">
    <%= f.label :np_testing %><br />
    <%= f.text_field :np_testing %>
  </div>
  <div class="field">
    <%= f.label :lumbar_punture %><br />
    <%= f.text_field :lumbar_punture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
