<%= form_for(@vgroup) do |f| %>
  <% if @vgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vgroup.errors.count, "error") %> prohibited this vgroup from being saved:</h2>

      <ul>
      <% @vgroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vgroup_date %><br />
    <%= f.date_select :vgroup_date  %>
  </div>
  <div class="field">
    <%= f.label :participant_id %><br />
<%= select(:vgroup, :participant_id, Enrollment.where(" participant_id is not null").sort_by(&:enumber).collect {|p| [ p.enumber, p.participant_id ] }, { :include_blank => "Select  a participant" }) %>   
<br>Pick any enumber associated with a participant. After the vgroup is created, delete the extra enumbers.<br>
If the enumber is not already associated with a participant, add the enumber below at the bottom of the form, after selecting another enumber associated with the participant. 
<br><br> 

  </div>

  <div class="field">
	<table><tr><td>
    <%= f.label :rmr %> &nbsp;&nbsp;&nbsp;<%= f.text_field :rmr %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>

    <%= f.label :reggieid %>&nbsp;&nbsp;&nbsp;
    <% if !@participant.nil? 
    	  if @participant.reggieid.to_s  > ""%>
             <%= @participant.reggieid.to_s.rjust(6,"0") %>
          <% end
    else %>
    <%= text_field :participant,:reggieid , :size=>25 %>
    <%end%><br>
  <%= f.label :wrapnum %>&nbsp;&nbsp;&nbsp;
    <% if !@participant.nil? 
        if @participant.wrapnum.to_s  > ""%>
             <%= @participant.wrapnum.to_s.rjust(4,"0") %>
          <% end
    else %>
    <%= text_field :participant,:wrapnum , :size=>25 %>
    <%end%><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </td><td>
	<% if current_user.role == 'Admin_High'   #is_a_number?(@vgroup.rmr[6..11]) %>

      <%  if !@vgroup.blank?	 %>
	    <%= f.label :Make_a_participant %>  <%= select_tag 'make_participant_flag', options_for_select([ "N","Y"],"N") %><br>
	    Only make a participant if there is no other scans for this participant <br> where an "expected" rmr exists with RMRaic and 6 digits. <br>
	     This will make a participant, link to this vgroup and link the participant to the enrollments. <br>
	    <small><%= link_to '(create new participant)',new_participant_path %> will also let you make a participant but it will need to be re-linked to this vgroup.
	
	   <% elsif (@vgroup.rmr[0..5] == "RMRaic" && @vgroup.rmr[6..11].to_i.to_s == @vgroup.rmr[6..11] && @vgroup.rmr.length == 12) or !@vgroup.participant_id.blank? 
	      # don't do anything
	     else  %>
	    <%= f.label :Make_a_participant %>  <%= select_tag 'make_participant_flag', options_for_select([ "N","Y"],"N") %><br>
	    Only make a participant if there is no other scans for this participant <br> where an "expected" rmr exists with RMRaic and 6 digits. <br>
	     This will make a participant, link to this vgroup and link the participant to the enrollments. <br>
	    <small><%= link_to '(create new participant)',new_participant_path %> will also let you make a participant but it will need to be re-linked to this vgroup. 
	
        <% end
	          %>
	
	<% end %>
	</td></tr></table>
  </div><br>
  <table width="80%"><tr><td colspan="2">
<div class="field">
  <%= f.label :Compile_Folder %>:
  <%= select :vgroup, :compile_folder, ["no", "yes", "n/a"] %>
</div></td><td colspan="2">
<div class="field">
  <%= f.label :Which_DVD %>:
  <%= text_field :vgroup,:dicom_dvd, :size => 20 %>
</div></td></tr><tr><td colspan="2">
<div class="field">
  <%= f.label :Entered_by %>: 
  <%= select(:vgroup, :entered_by, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Select who entered data" }) %>
</div></td><td colspan="2">
<div class="field">
  <%= f.label :QCed_by %>:
  <%= select(:vgroup, :qc_by, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Select who QC'ed data" }) %>
</div></td></tr><tr><td  colspan="2">
<div class="field">
  <%= f.label :QC_Completed %>:
  <%= select :vgroup, :qc_completed, ["no", "yes", "n/a"] %>
</div></td>
<td  colspan="2"> </td></tr>
<tr><td nowrap align="left" colspan="4" border=1><br>
    <%= f.submit 'Update Vgroup /Note' %>

    <%= f.label :note %>:<br>

    <%= f.text_area :note, :cols => "100", :rows => "5" %>

</td></tr><tr><td colspan="2"><br><br>
	<B>BE SURE TO SELECT A Scan Procedure !!!!!!!!!!</b><br>
	<div id="scan_procedure_list">
	<ul>
	<% scan_procedure_array =current_user.edit_low_scan_procedure_array.split(' ')
	ScanProcedure.where(" scan_procedures.id in (?) and scan_procedures.permission_type in (?)",  scan_procedure_array,"study_permission").load.sort_by(&:codename).each do |scan_procedure| %>
		<li>
			<%#= f.fields_for scan_procedure do |scan_fields| %>
				<%#= f.check_box :scan_procedure_ids, {}, scan_procedure.id, :name => 'visit[scan_procedure_ids][]' %>
				<%#= f.label :scan_procedure_ids, scan_procedure.codename %>
			<%# end %>
		</li>
		<li>
			<%= check_box_tag "vgroup_scan_procedure_ids", scan_procedure.id, @vgroup.scan_procedures.include?(scan_procedure), :name => 'vgroup[scan_procedure_ids][]' %>
			<%= label_tag '', scan_procedure.codename %>
		</li>
	<% end %>
	</ul>
	</div>
	</td><td colspan="2">
	<% v_cnt = 0   # not sure why empty field not showing up like in visit mri -- making a blank with the next vgroup[enrollments_attributes][0][id]%>
	<%= f.fields_for :enrollments do |e| %>
	<p>
		<%= e.label :enumber %>
		<%= e.check_box :_destroy unless e.object.new_record?  %>
		<%= e.label :_destroy, "Remove?" unless e.object.new_record? %>

    <% if e.object.new_record? %>
      <%= e.text_field :enumber, {},
                { :method => :get, :url => enrollments_path(:format => :js), :param_name => 'search' } %>
    <%else%>
                 <%= e.object.enumber %>
                <%= e.hidden_field :enumber %>
     <%end%>
	</p>
	<%    v_cnt = v_cnt + 1
	   end %>
	<%= f.label :enumber %>
	<%= text_field_tag ("vgroup[enrollments_attributes]["+v_cnt.to_s+"][enumber]" )%><br>
	</td></tr>
<tr><td  colspan="6">
<div class="field">
  <%= f.label :fs_yn %>: 
  <%= select :vgroup, :fs_flag, ["Y", "N"] %>
&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.label :fs_good2go_yn %>: 
  <%= select :vgroup, :fs_good2go_flag, ["Y", "N"] %>
&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.label :fs_manual_edits_flag %>: 
  <%= select :vgroup, :fs_manual_edits_flag, ["Y", "N"] %>
&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.label :fs_donebutbad_flag %>: 
  <%= select :vgroup, :fs_donebutbad_flag, ["Y", "N"] %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.label :pilot_flag %>: 
  <%= select :vgroup, :pilot_flag, ["Y", "N"] %>
</div>
</td></tr>
  <tr><td colspan="4">
  <div class="actions">
    <%= f.submit %>
  </div>
</td></tr></table>
<% end %>

