<%= form_for(@vgroup) do |f| %>
  <% if @vgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vgroup.errors.count, "error") %> prohibited this vgroup from being saved:</h2>

      <ul>
      <% @vgroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vgroup_date %><br />
    <%= f.date_select :vgroup_date %>
  </div>
  <div class="field">
    <%= f.label :participant_id %><br />
<%= select(:vgroup, :participant_id, Enrollment.where(" participant_id is not null").all.sort_by(&:enumber).collect {|p| [ p.enumber, p.participant_id ] }, { :include_blank => "Select  a participant" }) %>

  </div>

  <div class="field">
    <%= f.label :rmr %><br />
    <%= f.text_field :rmr %>
  </div>
  <div class="field">
    <%= f.label :cognitivestatus %><br />
<%= select(:vgroup, :cognitivestatus,  LookupCogstatus.all.sort_by(&:description).collect {|p| [ p.description, p.id ] }, { :include_blank => "Select  the cognitive status" }) %>

  </div>
  <div class="field">
    <%= f.label :famhx %><br />
<%= f.text_field :famhx,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}" %>

  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
	<div id="scan_procedure_list">
	<ul>
	<% scan_procedure_array =current_user.edit_low_scan_procedure_array.split(' ')
	ScanProcedure.where(" scan_procedures.id in (?)",  scan_procedure_array).all.sort_by(&:codename).each do |scan_procedure| %>
		<li>
			<%#= f.fields_for scan_procedure do |scan_fields| %>
				<%#= f.check_box :scan_procedure_ids, {}, scan_procedure.id, :name => 'visit[scan_procedure_ids][]' %>
				<%#= f.label :scan_procedure_ids, scan_procedure.codename %>
			<%# end %>
		</li>
		<li>
			<%= check_box_tag "vgroup_scan_procedure_ids", scan_procedure.id, @vgroup.scan_procedures.include?(scan_procedure), :name => 'vgroup[scan_procedure_ids][]' %>
			<%= label_tag '', scan_procedure.codename %>
		</li>
	<% end %>
	</ul>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

