
<%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 

@current_tab = "vgroups"
@a =  Appointment.where("vgroup_id in (?)",@vgroup.id)
        a_array =@a.to_a
       @visits = Visit.where("appointment_id in (?) ",a_array)
         visit = nil
         @visits.each do |v| 
	       visit = v
	     end
	   # CHANGE TO GET rmr,enroll,scan_protocol from vgroup
	       @petscans = Petscan.where("appointment_id in (?) ",a_array)
	       @lumbarpunctures = Lumbarpuncture.where("appointment_id in (?) ",a_array)
	       @blooddraws = Blooddraw.where("appointment_id in (?) ",a_array)
	       @neuropsyches = Neuropsych.where("appointment_id in (?) ",a_array)
	      @questionnaires = Questionnaire.where("appointment_id in (?) ",a_array)
	      if !@vgroup.participant_id.blank?
		     @participant = Participant.find(@vgroup.participant_id)
		  end
		  sp_list = @vgroup.scan_procedures.collect {|sp| sp.id}.join(",")
	 	  sp_array =[]
	 	  sp_array = sp_list.split(',').map(&:to_i)
	 	  @scanprocedures = ScanProcedure.where("id in (?)",sp_array)
%>

<p id="notice"><%= notice %></p>
<h3>Vgroup:</h3>
<table width="100%"  class="tabular_lighter_highlight"><tr><td colspan="6" align="left">
<b>Vgroup date:</b>
<% if edit_count > 0 %>
	<%= link_to @vgroup.vgroup_date, edit_vgroup_path(@vgroup) %>
<% else %>
  <%= @vgroup.vgroup_date %>
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<b>Scan Procedure:</b>
    <%= @vgroup.blank? ? "None" : @vgroup.scan_procedures.sort_by(&:codename).collect {|sp| link_to(sp.codename, '/vgroups/vgroups_search?vgroups_search[scan_procedure_id][id]='+ sp.id.to_s)}.join(", ").html_safe %> 
<br>
	<br><b>Enroll Number:</b>
	<%= @vgroup.blank? ? "": @vgroup.enrollments.collect {|e| link_to(e.enumber, e) }.join(", ").html_safe %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<b>RMR:</b>
	<%= !@vgroup.blank? ? @vgroup.rmr : (!visit.rmr.blank? ? visit.rmr : "") %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<b>Compile Folder:</b> <%= @vgroup.compile_folder%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td></tr>
<tr><td colspan="3" align="left" ><%= link_to('Participant', @participant)%>:<br><B>Reggieid:</B>&nbsp;<%= @vgroup.participant_id.blank? ? "" :  @participant.reggieid%>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>Wrap#:</B>&nbsp;<%= @vgroup.participant_id.blank? ? "" :  @participant.wrapnum%>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>Adrc#:</B>&nbsp;<%= @vgroup.participant_id.blank? ? "" :  @participant.adrcnum%>
	</td>
	<td colsan="3" nowrap    >
		<%= form_tag("/vgroups/change_qc_vgroup",:url=>{controller=>"vgroups", :action=>"change_qc_vgroup"} ,  :html => { :id => params[:id] }) do |f| %>
		  <% if @vgroup.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@vgroup.errors.count, "error") %> prohibited this vgroup from being saved:</h2>

		      <ul>
		      <% @vgroup.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		<table><tr><td colspan="4">
		<B>Entered by:</B>
		<%= select(:vgroup, :entered_by, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Select who entered data" }) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<B>QC'd by:</B>
		<%= select(:vgroup, :qc_by, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Select who QC'ed data" }) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td><td  align="left" nowrap <%= show_bool_cell_color(@vgroup.qc_completed) %>>
		<B>QC completed:</B>
		<%= select :vgroup, :qc_completed, ["no", "yes", "n/a"] %>	
		
		<% if edit_count > 0 %>	
		<%= hidden_field_tag 'id', @vgroup.id %>
			<%= submit_tag("Update") %>
		</td></tr>
		<tr><td colspan="5" align="left">
			<b>Which DVD:  </b><%= text_field :vgroup,:dicom_dvd, :size => 20 %>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<b>Compile Folder:</b>				  <%= select :vgroup, :compile_folder, ["no", "yes", "n/a"] %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<B>FS Y/N: </B><%= @vgroup.fs_flag%>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<B>FS good2go Y/N: </B><%= @vgroup.fs_good2go_flag%>
				<% if !@trfiles.nil? %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<b>Tracked files:</b> <% @trfiles.each do |f| %>
                               
               <%= link_to Trtype.find(f.trtype_id).description ,"/trfile_home/"+f.trtype_id.to_s+"?trfile_action=get_edit&trfile_id="+(f.id).to_s %>
                                 &nbsp;
				                    <%end%>

				<% end%>
			
			<% end %>
		</td></tr></table>
		
		
	<% end %>
	</td></tr>
<tr><td colspan=6 align="left">
	<% if edit_count > 0 %>
		<b><%= link_to 'Note', edit_vgroup_path(@vgroup) %>:</b><br>
	<% else %>
	<b>Note:</b><br>
	<% end %>
  <%= @vgroup.note %>
</td></tr>
<tr><td colspan="5" vheight="4"><hr></td></tr>
</table>
<br><br>
<a id="myHeader1" href="javascript:toggle2_closed_all('myHeader2');" ><small><small>expand/collapse ALL</small></small></a><br>
<table width="100%"   class="tabular_lighter_highlight">

<tr><td colspan=5  align="left">
	<b>MRI:</b>    <%= visit.blank? ? "None" :""%></td><td >&nbsp;</td><td colspan="1" width="30%" align="right" nowrap <%= show_bool_cell_color(@vgroup.transfer_mri) %> > 
<% if edit_count > 0 %>
     <%= form_tag( "/vgroups/change_transfer_mri_vgroup",:url => { :controller=>"vgroups",:action => "change_transfer_mri_vgroup" } ,  :html => { :id => params[:id] }) do |f| %>
           <%= hidden_field_tag 'id', @vgroup.id %>
      <%= label_tag :Completed_MRI %> <%= select :vgroup, :transfer_mri, ["no", "yes", "n/a"] %>
     <%= submit_tag("Update") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to  'New-MRI', new_visit_path+"/"+@vgroup.id.to_s , :confirm => "Are you sure there is not an existing MRI appointment for the same date, scan procedure and enumber? MRI appointments are usually created when the scans are imported."%>
	<% end %>
<% else %>
<%= label_tag :Completed_MRI %> <%= select :vgroup, :transfer_mri, ["no", "yes", "n/a"] %>
 <!-- just display mri_transfer -->
<% end %></td></tr>
	<tr><td colspan=7 align="left">	<table  width="90%">
	<%  v_cnt = 0
	   @visits.each do |v| 
		@visit = v
		v_cnt = v_cnt + 1
		@appointment = Appointment.find(v.appointment_id) %>
	<tr><td align="left" colspan=5><%= @appointment.appointment_date%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("show",visit_path(v) )%>&nbsp;&nbsp;<%= edit_count>0 ? link_to("edit",edit_visit_path(v) ) :"" %></td>
		</tr>
		<tr><td colspan="7"  align="left"><%= v.notes %><%= @appointment.comment %>
		</td></tr>	<tr><td align="left" colspan=7> 
					<a id="myHeader1" href="javascript:toggle2_closed('mri<%= v_cnt.to_s%>','myHeader2');" ><small><small>expand/collapse</small></small></a><br>
					   <div id="mri<%= v_cnt.to_s%>"  style="display:none">
						<p><%= @visit.path %></p>
						<%= 
						render :partial => 'visits/show' , :locals => { :visit => v } %>

<b>Tasks:</b>
<%   @mriscantask = Mriscantask.where("visit_id in (?) and (lookup_set_id not in (8) or lookup_set_id is NULL)",@visit.id) 
     @mriscantask.each do |mst|
	   if !mst.lookup_scantask_id.blank? %>
	    <% if !mst.image_dataset_id.blank?%>
	     <br><b><%= ImageDataset.find(mst.image_dataset_id).series_description %></b>--   
	   <% else %>
	     <br>
	  <% end %>
       <%= LookupScantask.find(mst.lookup_scantask_id).description %>		
<%        @mriperformances = Mriperformance.where("mriscantask_id in (?)",mst.id)
          @mriperformances.each do |mp|  %>
	------Hit: <%= mp.hitpercentage.try(:to_s)%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acc: <%= mp.accuracypercentage.try(:to_s)%>
<%          end
	   end
	end
   %>
					   </div>
				 </td></tr>
	<% end %> </table>
	</td></tr>
<tr><td colspan=5  align="left">
	<b>Petscan: </b><%= @petscans.blank? ? "None" :""%></td><td  >&nbsp;</td><td colspan="1" align="right" nowrap <%= show_bool_cell_color(@vgroup.transfer_pet) %> >
<% if edit_count > 0 %>
 <%= form_tag( "/vgroups/change_transfer_pet_vgroup",:url => { :controller=>"vgroups",:action => "change_transfer_pet_vgroup" } ,  :html => { :id => params[:id] }) do |f| %>
       <%= hidden_field_tag 'id', @vgroup.id %>
  <%= label_tag :Completed_PET %> <%= select :vgroup, :transfer_pet, ["no", "yes", "n/a"] %>&nbsp;
 <%= submit_tag("Update") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to  'New-Petscan', new_petscan_path+"/"+@vgroup.id.to_s %>
	<% end %>
	<% else %>
	<%= label_tag :Completed_PET %> <%= select :vgroup, :transfer_pet, ["no", "yes", "n/a"] %>&nbsp;
	<% end %></td></tr>
<tr><td colspan=7  align="left"><table width="90%">
	<%  v_cnt = 0
	   @petscans.each do |p| 
		v_cnt = v_cnt + 1 
		@petscan = p
		@appointment = Appointment.find(p.appointment_id) %>
	<tr><td  align="left" width="10%"><%= @appointment.appointment_date%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("show",petscan_path(p) )%>&nbsp;&nbsp;<%= edit_count>0 ? link_to("edit",edit_petscan_path(p) ) :"" %></td>
		<td><%=p.lookup_pettracer_id.nil? ? nil : LookupPettracer.find(p.lookup_pettracer_id).name_description.html_safe %></td>
		<td> </td>
		</tr>
		<tr><td colspan="5"><%= @appointment.comment %>
		</td></tr>
		<tr><td colspan="7"><a id="myHeader1" href="javascript:toggle2_closed('pet<%= v_cnt.to_s%>','myHeader2');" ><small><small>expand/collapse</small></small></a><br><br>
		   <div id="pet<%= v_cnt.to_s%>"   style="display:none">
			<%= 
			render :partial => 'petscans/show' , :locals => { :petscan => p} %>
		   </div>
		</td><tr>
	<%end %> </table>	
</td></tr>
<tr><td colspan=5  align="left">
	<b>Lumbar Puncture: </b><%= @lumbarpunctures.blank? ? "None" :""%></td><td  >&nbsp;</td><td colspan="1" align="right" nowrap <%= show_bool_cell_color(@vgroup.completedlumbarpuncture) %> >
<% if edit_count > 0 %>
      <%= form_tag( "/vgroups/change_completedlumbarpuncture_vgroup",:url => { :controller=>"vgroups",:action => "change_completedlumbarpuncture_vgroup" } ,  :html => { :id => params[:id] }) do |f| %>
      <%= hidden_field_tag 'id', @vgroup.id %>
      <%= label_tag :Completed_LP %> <%= select :vgroup, :completedlumbarpuncture, ["no", "yes", "n/a"] %>&nbsp;
      <%= submit_tag("Update") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to  'New-LP', new_lumbarpuncture_path+"/"+@vgroup.id.to_s %>
	  <% end %>
<% else %>
	<%= label_tag :Completed_LP %> <%= select :vgroup, :completedlumbarpuncture, ["no", "yes", "n/a"] %>&nbsp;
<% end %></b></td></tr>
<tr><td colspan=7  align="left"><table  width="90%">
	<%  v_cnt = 0
	   @lumbarpunctures.each do |lp|
		v_cnt = v_cnt + 1
		@lumbarpuncture = lp
	   @appointment = Appointment.find(lp.appointment_id)	%>
	<tr><td   align="left" width="10%"><%= @appointment.appointment_date%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("show",lumbarpuncture_path(lp) )%>&nbsp;&nbsp;<%= edit_count>0 ? link_to("edit",edit_lumbarpuncture_path(lp) ) :"" %></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td> </td>
		</tr>
		<tr><td colspan="5"><%= @appointment.comment %>
		</td></tr>
			<tr><td colspan="7"><a id="myHeader1" href="javascript:toggle2_closed('lp<%= v_cnt.to_s%>','myHeader2');" ><small><small>expand/collapse</small></small></a><br>
			   <div id="lp<%= v_cnt.to_s%>"   style="display:none">
				<%= 
				render :partial => 'lumbarpunctures/show' , :locals => { :lumbarpuncture => lp} %>
			   </div>
			</td><tr>
	<%end %>  </table>
<tr><td colspan=5  align="left">
	<b>Lab Health: </b><%= @blooddraws.blank? ? "None" :""%></td><td  >&nbsp;</td><td colspan="1" align="right" nowrap <%= show_bool_cell_color(@vgroup.completedblooddraw) %> >
<% if edit_count > 0 %>
      <%= form_tag( "/vgroups/change_completedblooddraw_vgroup",:url => { :controller=>"vgroups",:action => "change_completedblooddraw_vgroup" } ,  :html => { :id => params[:id] }) do |f| %>
      <%= hidden_field_tag 'id', @vgroup.id %>
      <%= label_tag :Completed_Lab %> <%= select :vgroup, :completedblooddraw, ["no", "yes", "n/a"] %>&nbsp;
      <%= submit_tag("Update") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to  'New-Lab', new_blooddraw_path+"/"+@vgroup.id.to_s %>
	  <% end %>
<% else %>
	<%= label_tag :Completed_Lab %> <%= select :vgroup, :completedblooddraw, ["no", "yes", "n/a"] %>&nbsp;
<% end %></b></td></tr>
<tr><td colspan=7  align="left"><table  width="90%">
	<% v_cnt =0
	    v_q_forms = Questionform.where("current_tab in (?)","blooddraws").where("status_flag in (?)","Y")
        v_q_form_default = v_q_forms.where("tab_default_yn='Y'")
        v_q_form_default_id = v_q_form_default[0].id
	   @blooddraws.each do |bd|
		@blooddraw = bd
		v_cnt = v_cnt + 1
	   @appointment = Appointment.find(bd.appointment_id)	
	    if !@appointment.questionform_id.blank? 
                   v_q_form_default_id = @appointment.questionform_id
        end 
            %>
	<tr><td   align="left" width="10%"><%= @appointment.appointment_date%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("show",blooddraw_path(bd) )%>&nbsp;&nbsp;<%= edit_count>0 ? link_to("edit",edit_blooddraw_path(bd) ) :"" %></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td></td>
		</tr>
		<tr><td colspan="5"><%= @appointment.comment %>
		</td></tr>
		 <tr><td align="left" colspan=7>
			<a id="myHeader1" href="javascript:toggle2_closed('lh<%= v_cnt.to_s%>','myHeader2');" ><small><small>expand/collapse</small></small></a><br>
			   <div id="lh<%= v_cnt.to_s%>"  style="display:none">
				<%= q_form_id= v_q_form_default_id # 12  
				@questionform = Questionform.find(q_form_id)
				@q_data_form = QDataForm.where("questionform_id="+ q_form_id.to_s+" and appointment_id in (?)",@appointment.id) 
		     @q_data_form = @q_data_form[0]
				render :partial => 'blooddraws/show' , :locals => { :blooddraw => bd } %>
			
			   </div>
		 </td></tr>
	<%end %>  </table>
				
</td></tr>
<tr><td colspan=5  align="left">
	<b>Neuro Psych: </b><%= @neuropsyches.blank? ? "None" :""%></td><td  >&nbsp;</td><td colspan="1" align="right" nowrap <%= show_bool_cell_color(@vgroup.completedneuropsych) %> >
<% if edit_count > 0 %>
	<%= form_tag( "/vgroups/change_completedneuropsych_vgroup",:url => { :controller=>"vgroups",:action => "change_completedneuropsych_vgroup" } ,  :html => { :id => params[:id] }) do |f| %>
		<%= hidden_field_tag 'id', @vgroup.id %>
		<%= label_tag :Completed_NP %> <%= select :vgroup, :completedneuropsych, ["no", "yes", "n/a"] %>&nbsp;
		<%= submit_tag("Update") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to  'New-NP', new_neuropsych_path+"/"+@vgroup.id.to_s %>
		  <% end %>
	<% else %>
		<%= label_tag :Completed_NP %> <%= select :vgroup, :completedneuropsych, ["no", "yes", "n/a"] %>&nbsp;
<% end %></b></td></tr>
<tr><td colspan=7  align="left"><table  width="90%">
	<% v_cnt = 0
	    v_q_forms = Questionform.where("current_tab in (?)","neuropsyches").where("status_flag in (?)","Y")
        v_q_form_default = v_q_forms.where("tab_default_yn='Y'")
        v_q_form_default_id = v_q_form_default[0].id
	   @neuropsyches.each do |np|
		@neuropsych = np
		v_cnt = v_cnt + 1
	   @appointment = Appointment.find(np.appointment_id)	
	    if !@appointment.questionform_id.blank? 
                   v_q_form_default_id = @appointment.questionform_id
        end 
            	%>
	<tr><td   align="left" width="10%"><%= @appointment.appointment_date%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("show",neuropsych_path(np) )%>&nbsp;&nbsp;<%= edit_count>0 ? link_to("edit",edit_neuropsych_path(np) ) :"" %></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td> </td>
		</tr>
		<tr><td colspan="5"><%= @appointment.comment %>
		</td></tr>	 <tr><td align="left" colspan=7> 
				<a id="myHeader1" href="javascript:toggle2_closed('np<%= v_cnt.to_s%>','myHeader2');" ><small><small>expand/collapse</small></small></a><br>
				   <div id="np<%= v_cnt.to_s%>"  style="display:none">
					<%= q_form_id= v_q_form_default_id # 13  
					@questionform = Questionform.find(q_form_id)
					@q_data_form = QDataForm.where("questionform_id="+ q_form_id.to_s+" and appointment_id in (?)",@appointment.id) 
			     @q_data_form = @q_data_form[0]
					render :partial => 'neuropsyches/show' , :locals => { :neuropsych => np } %>

				   </div>
			 </td></tr>
	<%end %>  </table>		
</td></tr>
<tr><td colspan=5  align="left">
	<b>Questionnaire: </b><%= @questionnaires.blank? ? "None" :""%></td><td  >&nbsp;</td><td colspan="1" align="right" nowrap <%= show_bool_cell_color(@vgroup.completedquestionnaire) %> > 
<% if edit_count > 0 %>
	<%= form_tag( "/vgroups/change_completedquestionnaire_vgroup",:url => { :controller=>"vgroups",:action => "change_completedquestionnaire_vgroup" } ,  :html => { :id => params[:id] }) do |f| %>
		<%= hidden_field_tag 'id', @vgroup.id %>
		<%= label_tag :Completed_Q %> <%= select :vgroup, :completedquestionnaire, ["no", "yes", "n/a"] %>&nbsp;
		<%= submit_tag("Update") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to  'New-Q', new_questionnaire_path+"/"+@vgroup.id.to_s %>
  <% end %>
<% else %>
			<%= label_tag :Completed_Q %> <%= select :vgroup, :completedquestionnaire, ["no", "yes", "n/a"] %>&nbsp;
<% end %></b></td></tr>
<tr><td colspan=7  align="left"><table  width="90%">
	<% v_cnt = 0
	    v_q_forms = Questionform.where("current_tab in (?)","questionnaires").where("status_flag in (?)","Y")
        v_q_form_default = v_q_forms.where("tab_default_yn='Y'")
        v_q_form_default_id = v_q_form_default[0].id
	   @questionnaires.each do |q|
		@questionnaire = q
		v_cnt = v_cnt + 1
	   @appointment = Appointment.find(q.appointment_id)	
	    if !@appointment.questionform_id.blank? 
                   v_q_form_default_id = @appointment.questionform_id
        end 
            	%>
	<tr><td   align="left" width="10%"><%= @appointment.appointment_date%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("show",questionnaire_path(q) )%>&nbsp;&nbsp;<%= edit_count>0 ? link_to("edit",edit_questionnaire_path(q) ) :"" %></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td></td>
		</tr>
		<tr><td colspan="5"><%= @appointment.comment %>
		</td></tr>	<tr><td align="left" colspan=7>
			<a id="myHeader1" href="javascript:toggle2_closed('questionnaire<%= v_cnt.to_s%>','myHeader2');" ><small><small>expand/collapse</small></small></a><br>
		<div id="questionnaire<%= v_cnt.to_s%>" style="display:none">
						<% q_form_id = 	v_q_form_default_id# 14  
						@questionform = Questionform.find(q_form_id)
						@q_data_form = QDataForm.where("questionform_id="+ q_form_id.to_s+" and appointment_id in (?)",@appointment.id)   # THIS IS FAILING when extra space before last "+" [+ q_form_id.to_s +]	
				      @q_data_form = @q_data_form[0] 
				%>
	<%=	render :partial => 'questionnaires/show' , :locals => { :questionnaire => q } %>
					   </div>
				 </td></tr>
	<%end %>  </table>		
</td></tr>
</table>
<% if edit_count > 0 %>
	<%= link_to 'Edit', edit_vgroup_path(@vgroup) %> |
<% end %>
<%= link_to 'Back', home_path %>

<% if current_user.role == 'Admin_High' and !@v_appointment_array.blank?%>
<%
#v_appointment_list = {"Exclude"=>"exclude", "Include"=>"include"}
%>

<br><br><B>Change an appointment to a different vgroup</b><br>

	<%= form_tag( "/vgroups/change_appointment_vgroup",:url => { :controller=>"vgroups",:action => "change_appointment_vgroup" } ,  :html => { :id => params[:id] }) do |f| %>
<%= hidden_field_tag 'id', @vgroup.id %>
  <div class="field">
	
    <%= label_tag 'Appointment_to_move' %><br />
 <%= select( :move_appointemnt_id,'', @v_appointment_array,
	              {:prompt => 'Select an appointment to move to another vgroup'} ,{:required => true})  %>
  </div>
	  <div class="field">
	 <%= label_tag 'Target Vgroup_id' %><br />
	    <%= number_field_tag 'target_vgroup_id', params[:id],:size =>10 %>
	<% if !@possible_vgroups.blank? %>
	 <br><table><tr><td colspan="2">Possible related vgroup(s) - same enumber or rmr </td></tr>
	 
	 <% @possible_vgroups.each do |vg|%>
	   <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td align="right"> <%= vg.id %></td></tr>
	  <% end%>
	</table>
	<% end %>
	  </div>
	  <div class="actions">
	    <%= submit_tag("Change appointments vgroup") %>
	  </div>
	<% end %>	

<% end %>	









