<% if @hide_page_flag == "Y" 
  else %>
<%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
@current_tab = "vgroups"
%>

<div id="heading_and_link">
  <h1><%= @collection_title or "Visits" %>:</h1>
<% if edit_count > 0 %> 
 <p>
		<%= link_to 'create new Visit', new_vgroup_path, data: {confirm: "Are you sure there is not an existing Visit for the same date, scan procedure and enumber? Visits are usually created when the scans are imported."} %> |
		<%= link_to 'import MRI appt data', new_raw_data_import_path %>
	</p>
<% end %>
| <%= link_to 'track file edits', trtype_home_path %>
<% if current_user.role == 'Admin_High'  or current_user.role == 'Admin_Medium'%>
 | <%= link_to('Administration', control_path) %>
<% end %>
<% if @schedules_users.include?( current_user.id) or current_user.role == 'Admin_High' or current_user.role == 'Admin_Medium'%>
 | <%= link_to('Scheduled Runs', '/schedulerun_search') %>
<% end %>
</div>
<%= render :partial => 'index_filters_search', :locals => { :edit_count => edit_count} %>

<%= render :partial=>'index_search', :locals => { :vgroups => @vgroups, :edit_count => edit_count } %>

<br>

<%= render :partial => 'index_filters_search' %>
<%end%>