<%= form_for(@lookup_switchboard) do |f| %>
  <% if @lookup_switchboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lookup_switchboard.errors.count, "error") %> prohibited this lookup_switchboard from being saved:</h2>

      <ul>
      <% @lookup_switchboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :item_number %><br />
    <%= f.text_field :item_number %>
  </div>
  <div class="field">
    <%= f.label :command %><br />
    <%= f.text_field :command %>
  </div>
  <div class="field">
    <%= f.label :argument %><br />
    <%= f.text_field :argument %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
