<% if current_user.role == 'Admin_High'%>

<h1>Listing lookup_switchboards</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Item number</th>
    <th>Command</th>
    <th>Argument</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_switchboards.each do |lookup_switchboard| %>
  <tr>
    <td><%= lookup_switchboard.description %></td>
    <td><%= lookup_switchboard.item_number %></td>
    <td><%= lookup_switchboard.command %></td>
    <td><%= lookup_switchboard.argument %></td>
    <td><%= link_to 'Show', lookup_switchboard %></td>
    <td><%= link_to 'Edit', edit_lookup_switchboard_path(lookup_switchboard) %></td>
    <td><%= link_to 'Destroy', lookup_switchboard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup switchboard', new_lookup_switchboard_path %>

<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>