<%= form_tag session_path do -%>

<%= image_tag 'wadrc_logo.png' %><br/>
<h1>Sorry, you must be logged in to continue.</h1>
<p>This login is <em>only</em> for the Panda, <strong>not</strong> your Novel or Linux login.</p>

<table>
  <tr>
    <td><%= label :login, "Login" %></td>
    <td><%= text_field_tag 'login' %></td>
  </tr>
  <tr>
    <td><%= label :password, "Password" %></td>
    <td><%= password_field_tag 'password' %></td>
  </tr>
  <tr>
    <td><%= label :remember_me, "Remember Me" %></td>
    <td><%= check_box_tag 'remember_me' %></td>
  </tr>
  <tr>
    <td><%= submit_tag 'Log in' %></td>
  </tr>
</table>
<% end -%>
