<%= form_for :session, :url => session_path do |form| -%>

<%= image_tag 'wadrc_logo.png' %><br/>
<h1>Sorry, you must be logged in to continue.</h1>
<p>This login is <em>only</em> for the Panda, <strong>not</strong> your Novell or Linux login. Contact <%= link_to 'Jen', 'http://www.brainmap.wisc.edu/people/39-J-Oh', :target => '_blank' %> for signup information.</p>

<table>
  <tr>
    <td><%= form.label :email, "Email" %></td>
    <td><%= form.text_field 'email' %></td>
  </tr>
  <tr>
    <td><%= form.label :password, "Password" %></td>
    <td><%= form.password_field 'password' %></td>
  </tr>
  <tr>
    <td><%= form.submit 'Log in' %></td>
  </tr>
</table>

<ul>
	<li>
		<%= link_to 'Forgot password?', new_password_path %>
	</li>
</ul>
<% end -%>
