<% if current_user.role == 'Admin_High'%>
<h1>Listing lookup_consentforms</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_consentforms.each do |lookup_consentform| %>
  <tr>
    <td><%= lookup_consentform.description %></td>
    <td><%= link_to 'Show', lookup_consentform %></td>
    <td><%= link_to 'Edit', edit_lookup_consentform_path(lookup_consentform) %></td>
    <td><%= link_to 'Destroy', lookup_consentform, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup consentform', new_lookup_consentform_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>