<%
v_yes_no_display = [["Yes","1"], ["No","0"]]
v_yes_no_unk_display = [["Yes","1"], ["No","0"], ["Unk","2"]]
v_unk_display = [["Unkown","2"]]
v_0_30_min_display = [["0","0"], ["30","30"]]
v_fast_range_display = [["< 8 hours","< 8 hours"], ["8-12 hours","8-12 hours"],[">= 12 hours",">= 12 hours"],["Unknown","Unknown"]]
#v_needlesize_display = [["25 x 3.5","25 x 3.5"],["25 x 4","25 x 4"],["24 x 3.5","24 x 3.5"],["24 x 4","24 x 4"],["24 x 4.75","24 x 4.75"],["24 x 6","24 x 6"], ["n/a","n/a"]]
v_needlesize_display = [["22 x 90","22 x 90"],["22 x 103","22 x 103"],["22 x 120","22 x 120"],["22 x 150","22 x 150"], 
["23 x 90","23 x 90"],["23 x 103","23 x 103"],["23 x 120","23 x 120"],["23 x 150","23 x 150"],
["24 x 90","24 x 90"],["24 x 103","24 x 103"],["24 x 120","24 x 120"],["24 x 150","24 x 150"],
["25 x 90","25 x 90"],["25 x 103","25 x 103"],["25 x 120","25 x 120"],["25 x 150","25 x 150"],["n/a","n/a"]]
v_needle_gauge_display = [["22","22"],["23","23"],["24","24"],["25","25"]]
v_needle_length_display = [["90","90"],["103","103"],["120","120"],["150","150"]]

v_needletype_display = [["Sprotte","Sprotte"],["Other","Other"]]
v_position_display = [["Sitting","Sitting"],["Decubitus","Decubitis"]]
v_method_display = [["Gravity","Gravity"],["Aspiration","Aspiration"],["Aspiration/Gravity","Aspiration/Gravity"]]
v_yes_no_na_display = [["Yes","yes"], ["No","no"], ["n/a","n/a"]]
v_severity_display = [["mild(0-3/10)","mild(0-3/10)"],["moderate(4-6/10)","moderate(4-6/10)"],["severe(7-10/10)","severe(7-10/10)"] ]
%>
<% javascript_tag 'defaults' %>
<div id="new_edit_form">

<!-- Directory path? -->
<%= form_for(@lumbarpuncture) do |f| %>

  <%= hidden_field_tag "lumbarpuncture[id]", @lumbarpuncture.id %> 

  <% if @lumbarpuncture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lumbarpuncture.errors.count, "error") %> prohibited this lumbarpuncture from being saved:</h2>

      <ul>
      <% @lumbarpuncture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr><td valign='top'>
    <div class=''>
      <div class='p-2'>
        <%= f.label :date %><br />
        <%= date_select :appointment, :appointment_date, :include_blank => true, :end_year => Time.now.year + 1 %>
      </div>
      <div class='p-2'>
        <%= f.label(:appointment_coordinator) %>
        <%= select(:appointment, :appointment_coordinator, Employee.all.sort_by(&:name).collect {|p| [ p.name, p.id ] }, { :include_blank => "Select Appt Coordinator" }) %>
      </div>
      <div class='p-2'>
        <div>Procedure Time</div>

        <%= f.label(:Initial_needle_insertion_time,'Initial Needle Insertion Time') %>
        <%= select_time( @lumbarpuncture.lpstarttime,:field_name =>'lpstartt][', :include_blank => true) %>
        <br>
        <%= f.label(:Fluid_Collection_Start_Time,'Fluid Collection Start Time') %>
        <%= select_time( @lumbarpuncture.lpfluidstarttime,:field_name =>'lpfluidstartt][', :include_blank => true) %>
        <br>
        <%= f.label(:Final_Needle_Removal_Time,'Final Needle Removal Time') %>
        <%= select_time( @lumbarpuncture.lpendtime,:field_name =>'lpendt][', :include_blank => true) %>
      </div>
      <div class='p-2'>
        <div>Blood Pressure (sitting)</div>
        <%     @vitals = Vital.where("vitals.appointment_id in (?)",@lumbarpuncture.appointment_id)     
         @vitals.each do |v|  # could have multiples? %>
      <%= f.label :Pulse,'Resting Heart Rate' %>
      <%=  text_field_tag( 'pulse',v.pulse==991?"":v.pulse, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>
    <br><%= f.label :BP_Systol %>
     <%=  text_field_tag( 'bp_systol',v.bp_systol==991? "":v.bp_systol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>
    <br><%= f.label :BP_Diastol %>
      <%=  text_field_tag( 'bp_diastol',v.bp_diastol==991?"":v.bp_diastol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>
    <br><%= f.label :Blood_Glucose %>
      <%=  text_field_tag( 'bloodglucose',v.bloodglucose==991?"":v.bloodglucose, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>
      
    <%=  hidden_field_tag( 'vital_id',v.id) %>

  <%       end
        if @vitals.blank?
        v = Vital.new
   %>
    <%= f.label :Pulse,'Resting Heart Rate' %>
      <%=  text_field_tag( 'pulse',v.pulse==991?"":v.pulse, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %><br>
    <%= f.label :BP_Systol %> </td>
      <%=  text_field_tag( 'bp_systol',v.bp_systol==991? "":v.bp_systol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %><br>
    <%= f.label :BP_Diastol %> </td>
    <%=  text_field_tag( 'bp_diastol',v.bp_diastol==991?"":v.bp_diastol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %><br>
    <%= f.label :Blood_Glucose %> </td>
    <%=  text_field_tag( 'bloodglucose',v.bloodglucose==991?"":v.bloodglucose, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %><br>
   <small>999=unknown, all sitting</small>
  <%   end %>
      </div>
      <div class='p-2'>
      <span>Pre-procedure fasting</span><br>
        <%= f.label :Fast_Completed %>
        <%= f.select :completedlpfast, options_for_select(v_yes_no_unk_display, @lumbarpuncture.completedlpfast),
                            {:prompt => 'Select if the lumbarpuncture fast was completed'} %><br>

        <%= f.label :If_yes_how_long? %>
        <%= f.select :lpfasttotaltime_range, options_for_select(v_fast_range_display, @lumbarpuncture.lpfasttotaltime_range),
                          {:prompt => 'Select range'} %> <br>

        Time of last intake <small>(except water)</small>
        <%= f.select :lptimelastintake, options_for_select(0..48, @lumbarpuncture.lptimelastintake),
                          {:prompt => 'Select hrs'} %> <small>hrs </small>
      </div>
      <div class='p-2'>
        <div>Intra-procedural Adverse Effects/Complications</div>
        <%= f.label :Radiculopathy %>
        <%= select :lumbarpuncture, :lpcomplications_radiculopathy, v_yes_no_unk_display %><br>
        <%= f.label :Vasovagal %>
        <%= select :lumbarpuncture, :lpcomplications_vasovagal, v_yes_no_unk_display %><br>
        <%= f.label :Pain %>
        <%= select :lumbarpuncture, :lpcomplications_pain, v_yes_no_unk_display %><br>
        <%= f.label :Headache %>
        <%= select :lumbarpuncture, :lpcomplications_headache, v_yes_no_unk_display %><br>
        <%= f.label :Other %>
        <%= select :lumbarpuncture, :lpcomplications_other, v_yes_no_unk_display %><br>
        <%= f.label :If_other_specify %>
        <%= text_area( :lumbarpuncture,:lpcomplications_other_specify,:cols => 30, :rows => 1, ) %>
      </div>
      <div class='p-2'>

        <%= f.label :Comments %><br/>
        <%= text_area( :appointment,:comment,:cols => 30, :rows => 10, :value=>@appointment.comment) %><br />

      </div>
    </div>
    </td><td valign='top'>
    <div class=''>
      <div class='p-2'>
          Amount Collected
          <%= f.select :lpamountcollected, options_for_select(0...26, @lumbarpuncture.lpamountcollected),{:prompt => 'Select ....'} %> <small>ml</small><br>
          Amount Stored
          <%= f.select :lpinitialamountstored, options_for_select(0...26, @lumbarpuncture.lpinitialamountstored),{:prompt => 'Select ....'} %><small> ml</small><br>
          Amount of lidocaine administered
          <%= f.select :lpamountoflidocaine, options_for_select(0...26, @lumbarpuncture.lpamountoflidocaine),{:prompt => 'Select ....'} %><small> ml</small><br>

      </div>
      <div class='p-2'>
          LP Technique<br>

          Gauge of needle
          <%= f.select :lpneedle_gauge, options_for_select(v_needle_gauge_display, @lumbarpuncture.lpneedle_gauge),
                          {:prompt => 'Select ....'} %> <br>
          Length of needle
          <%= f.select :lpneedle_length, options_for_select(v_needle_length_display, @lumbarpuncture.lpneedle_length),
                          {:prompt => 'Select ....'} %> <br>

          Needle Type
          <%= f.select :lpneedletype, options_for_select(v_needletype_display, @lumbarpuncture.lpneedletype),
                          {:prompt => 'Select ....'} %><br>
          If Other, specify<br><%= text_area( :lumbarpuncture,:lpneedletype_other,:cols => 30, :rows => 1, ) %>

      </div>
      <div class='p-2'>
          Position<br>

          Sitting
          <%= select :lumbarpuncture, :lpposition_sitting, v_yes_no_unk_display %><br>
          Decubitus
          <%= select :lumbarpuncture, :lpposition_decubitus, v_yes_no_unk_display %><br>

      </div>
      <div class='p-2'>
          Method<br>

          Gravity
          <%= select :lumbarpuncture, :lpmethod_gravity, v_yes_no_unk_display %>
          Amount Collected
          <%= f.select :lpmethod_gravity_collected, options_for_select(0...26, @lumbarpuncture.lpmethod_gravity_collected),{:prompt => 'Select ....'} %><small> ml</small><br>

          Aspiration
          <%= select :lumbarpuncture, :lpmethod_aspiration, ["no", "yes", "n/a"] %>
          Amount Collected
          <%= f.select :lpmethod_aspiration_collected, options_for_select(0...26, @lumbarpuncture.lpmethod_gravity_collected),{:prompt => 'Select ....'} %><small> ml</small><br>
          <br>

      </div>
      <div class='p-2'>
          Significant post-LP Headache<br>
          <%= f.select :followupheadache, options_for_select(v_yes_no_na_display, @lumbarpuncture.followupheadache),{:prompt => 'Select ....'} %>
          date resolved: <%= date_select :lumbarpuncture, :lpheadache_dateresolved, :include_blank => true, :end_year => Time.now.year + 1 %><br>
          severity:<%= f.select :lpheadache_severity, options_for_select(v_severity_display, @lumbarpuncture.lpheadache_severity),{:prompt => 'Select ....'} %><br>
          Notes:<br><%= text_area( :lumbarpuncture,:lpheadache_note,:cols => 30, :rows => 3, ) %>
      </div>
      <div class='p-2'>
          Significant low back pain <%= f.select :lplowbackpain, options_for_select(v_yes_no_na_display, @lumbarpuncture.lplowbackpain),{:prompt => 'Select ....'} %><br>
          date resolved: <%= date_select :lumbarpuncture, :lplowbackpain_dateresolved, :include_blank => true, :end_year => Time.now.year + 1 %><br>
          severity: <%= f.select :lplowbackpain_severity, options_for_select(v_severity_display, @lumbarpuncture.lplowbackpain_severity),{:prompt => 'Select ....'} %><br>
          Notes:<br><%= text_area( :lumbarpuncture,:lplowbackpain_note,:cols => 30, :rows => 3, ) %>
      </div>
      <div class='p-2'>
          Other side effects<%= f.select :lpothersideeffects, options_for_select(v_yes_no_na_display, @lumbarpuncture.lpothersideeffects),{:prompt => 'Select ....'} %><br> 
          date resolved: <%= date_select :lumbarpuncture, :lpothersideeffects_dateresolved, :include_blank => true, :end_year => Time.now.year + 1 %><br>
          severity: <%= f.select :lpothersideeffects_severity, options_for_select(v_severity_display, @lumbarpuncture.lpothersideeffects_severity),{:prompt => 'Select ....'} %><br>
          Notes:<br><%= text_area( :lumbarpuncture,:lpothersideeffects_note,:cols => 30, :rows => 3, ) %>

      </div>
      <div class='p-2'>
        <%= f.label :Comments_on_follow_up_symptoms,'Side Effect Remarks' %><br/>
        <%= text_area( :lumbarpuncture,:lpfollownote,:cols => 30, :rows => 10, ) %><br />
      </div>
    </div>
    </td><td valign='top'>
    <div class=''>
      <div class='p-2'>

        CSF Nucleated Cell Count <%= f.select :lpcsfnucleatedcellcount, options_for_select(0...6, @lumbarpuncture.lpcsfnucleatedcellcount),{:prompt => 'Select ....'} %> <small> /uL</small><br>
        CSF Red Cell Count  <%= f.select :lpcsfredcellcount, options_for_select(0...21, @lumbarpuncture.lpcsfredcellcount),{:prompt => 'Select ....'} %> <small> /uL</small><br>
        Cell Count Remarks<br><%= text_area( :lumbarpuncture,:lpcsfcellcount_note,:cols => 30, :rows => 3, ) %>
      </div>

      <div class='p-2'>


       Practitioner Name<br />
       <%= select(:lumbarpuncture, :lp_exam_md_id, Employee.all.sort_by(&:last_name).collect {|p| [ p.name, p.id ] }, { :include_blank => "LP done by MD" }) %>

      </div>

      <div class='p-2'>

        <%= f.label :CSF_collection_attempted_and_successful? %>
        <%= f.select :lpsuccess, options_for_select(v_yes_no_unk_display, @lumbarpuncture.lpsuccess),
                            {:prompt => 'Select ...'} %><br><br>

        <div>If no, reason unsuccessful:</div>

        
        <%= f.label :Unable_to_access_CSF %>
        <%= f.select :lpcsfunsuccessful_noaccess, options_for_select(v_yes_no_display, @lumbarpuncture.lpcsfunsuccessful_noaccess),
                            {:prompt => 'Select ...'} %>

        <div>Patient pain/discomfort</div>
        <%= f.select :lpcsfunsuccessful_pain, options_for_select(v_yes_no_display, @lumbarpuncture.lpcsfunsuccessful_pain),
                            {:prompt => 'Select ...'} %><br>

        <div>Patient vasovagal</div>
        <%= f.select :lpcsfunsuccessful_vasovagal, options_for_select(v_yes_no_display, @lumbarpuncture.lpcsfunsuccessful_vasovagal),
                            {:prompt => 'Select ...'} %><br>

        <div>Other</div>
        <%= f.select :lpcsfunsuccessful_other, options_for_select(v_yes_no_display, @lumbarpuncture.lpcsfunsuccessful_other),
                            {:prompt => 'Select ...'} %><br>

        <div>Patient pain/discomfort</div>
        <%= text_area( :lumbarpuncture,:lpcsfunsuccessful_other_specify,:cols => 30, :rows => 10, ) %><br />

      </div>
    </div>
  </div>
  </td></tr>
  </table>

<hr>

  <br style="clear:both" />

  <%= f.submit 'Save Lumbar Puncture appt' %>

<% end %>

</div>