


<div id="leftcol" class="two_col_left">
  <h3>Summary:</h3>
  
  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", @lumbarpuncture.summary_hash) %>
   
  </div>

</div>


<div id="visit_status_report" class="two_col_right">

  <b>Notes:</b>
  <div id="notes" class="sticky">
	<%=  RedCloth.new(@appointment.comment.blank? ? "No comment entered for this lumbarpuncture" : @appointment.comment).to_html.html_safe 
            %><br>
    <%=  RedCloth.new(@lumbarpuncture.lumbarpuncture_note.blank? ? "" : @lumbarpuncture.lumbarpuncture_note).to_html.html_safe 
            %>
  </div>

  <br><b>Comments on Significant post-LP Headache:</b>
  <div id="notes" class="sticky">
  <%=  RedCloth.new(@lumbarpuncture.lpheadache_note.blank? ? "No comment entered for this lumbarpuncture" : @lumbarpuncture.lpheadache_note).to_html.html_safe 
            %>
  </div>


  <br><b>Comments on Significant low back pain:</b>
  <div id="notes" class="sticky">
  <%=  RedCloth.new(@lumbarpuncture.lplowbackpain_note.blank? ? "No comment entered for this lumbarpuncture" : @lumbarpuncture.lplowbackpain_note).to_html.html_safe 
            %>
  </div>


  <br><b>Comments on Other side effects:</b>
  <div id="notes" class="sticky">
  <%=  RedCloth.new(@lumbarpuncture.lpothersideeffects_note.blank? ? "No comment entered for this lumbarpuncture" : @lumbarpuncture.lpothersideeffects_note).to_html.html_safe 
            %>
  </div>

  <br><b>Comments on Side Effects:</b>
  <div id="notes" class="sticky">
	<%=  RedCloth.new(@lumbarpuncture.lpfollownote.blank? ? "No follow up comment entered for this lumbarpuncture" : @lumbarpuncture.lpfollownote).to_html.html_safe 
            %>
  </div>

  <br><b>Comments on Cell Count:</b>
  <div id="notes" class="sticky">
  <%=  RedCloth.new(@lumbarpuncture.lpcsfcellcount_note.blank? ? "No comment entered for this lumbarpuncture" : @lumbarpuncture.lpcsfcellcount_note).to_html.html_safe 
            %>
  </div>


<% @vital =  Vital.where("appointment_id in (?) ",@lumbarpuncture.appointment_id).first
 if !@vital.blank?
	 vital = Vital.find(@vital.id) 
	if ( ((vital.pulse.blank?? 911 :vital.pulse) < 911) or
		      ((vital.bp_systol.blank?? 911 :vital.bp_systol) < 911 ) or 
		        ( (vital.bp_diastol.blank?? 911 :vital.bp_diastol) < 911) or 
		           ((vital.bloodglucose.blank?? 911 :vital.bloodglucose) < 911)  )%>
	
<br><b>Vitals:</b>
<div id="vital" class="sticky">
     <%= vital.pulse==991 ?  "" :("Pulse: "+vital.pulse.to_s+"<br>").html_safe %>
     <%= vital.bp_systol==991 ?  "" :("BP Systol: "+vital.bp_systol.to_s+"<br>").html_safe %>
     <%= vital.bp_diastol==991 ?  "" :("BP Diastol: "+vital.bp_diastol.to_s+"<br>").html_safe %>
     <%= vital.bloodglucose==991 ?  "" :("Blood Glucose: "+vital.bloodglucose.to_s+"<br>").html_safe %>
</div>

<%    end 
  end %>
</div>


<br style="clear: both" /><br />



