


<div id="leftcol" class="two_col_left">
  <h3>Summary:</h3>
  
  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Lumbarpuncture_appt_date => @appointment.appointment_date,
      :MD_for_Lumbarpuncture => @lumbarpuncture.lp_exam_md_id.nil? ? nil : Employee.find(@lumbarpuncture.lp_exam_md_id).name,
      :LP_Fast_Completed => @lumbarpuncture.completedlpfast == 1 ? "Yes" : "No",
	  :LP_Fast_Total_Time => @lumbarpuncture.lpfasttotaltime.nil?  ? @lumbarpuncture.lpfasttotaltime_min.nil? ? nil : @lumbarpuncture.lpfasttotaltime.to_s+" hrs : "+@lumbarpuncture.lpfasttotaltime_min.to_s+" mins" :  @lumbarpuncture.lpfasttotaltime.to_s+" hrs : "+@lumbarpuncture.lpfasttotaltime_min.to_s+" mins" ,
      :LP_Successful => @lumbarpuncture.lpsuccess == 1 ? "Yes" : "No",
      :enumber => @enumber.nil? ? nil : link_to(@vgroup.enrollment.enumber, @vgroup.enrollment),
      :RMR_Number => @vgroup.rmr,
      :LP_Abnormality_Found =>  @lumbarpuncture.lpabnormality == 1 ? "Yes" : "No" ,
       :Appt_Coordinator =>@appointment.appointment_coordinator.blank? ? "" : Employee.find(@appointment.appointment_coordinator).name,
      :Participant => @participant.nil? ? nil : link_to('view participant', @participant)
    }) %>
  </div>

  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Lumbarpuncture_completed => @vgroup.completedlumbarpuncture  ,

    }) %>
  </div>

</div>


<div id="visit_status_report" class="two_col_right">

  <h3>Notes:</h3>
  <div id="notes" class="sticky">
	<%=  RedCloth.new(@appointment.comment.blank? ? "No comment entered for this lumbarpuncture" : @appointment.comment).to_html.html_safe 
            %><br>
    <%=  RedCloth.new(@lumbarpuncture.lumbarpuncture_note.blank? ? "No notes entered for this lumbarpuncture" : @lumbarpuncture.lumbarpuncture_note).to_html.html_safe 
            %>
  </div>
  <h3>Comments on follow-up symptoms:</h3>
  <div id="notes" class="sticky">
	<%=  RedCloth.new(@lumbarpuncture.lpfollownote.blank? ? "No follow up comment entered for this lumbarpuncture" : @lumbarpuncture.lpfollownote).to_html.html_safe 
            %>
  </div>
<% @vital =  Vital.where("appointment_id in (?) ",@lumbarpuncture.appointment_id).first
 if !@vital.blank?
	 vital = Vital.find(@vital.id) 
	if ( ((vital.pulse.blank?? 911 :vital.pulse) < 911) or
		      ((vital.bp_systol.blank?? 911 :vital.bp_systol) < 911 ) or 
		        ( (vital.bp_diastol.blank?? 911 :vital.bp_diastol) < 911) or 
		           ((vital.bloodglucose.blank?? 911 :vital.bloodglucose) < 911)  )%>
	
<h4>Vitals:</h4>
<div id="vital" class="sticky">
     <%= vital.pulse==991 ?  "" :("Pulse: "+vital.pulse.to_s+"<br>").html_safe %>
     <%= vital.bp_systol==991 ?  "" :("BP Systol: "+vital.bp_systol.to_s+"<br>").html_safe %>
     <%= vital.bp_diastol==991 ?  "" :("BP Diastol: "+vital.bp_diastol.to_s+"<br>").html_safe %>
     <%= vital.bloodglucose==991 ?  "" :("Blood Glucose: "+vital.bloodglucose.to_s+"<br>").html_safe %>
</div>

<%    end 
  end %>
</div>


<br style="clear: both" /><br />



