<h1>Listing lumbarpunctures</h1>

<table>
  <tr>
    <th>Appointment</th>
    <th>Completedlpfast</th>
    <th>Lp examp md</th>
    <th>Lpsuccess</th>
    <th>Lpabnormality</th>
    <th>Lpfollownote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lumbarpunctures.each do |lumbarpuncture| %>
  <tr>
    <td><%= lumbarpuncture.appointment_id %></td>
    <td><%= lumbarpuncture.completedlpfast %></td>
    <td><%= lumbarpuncture.lp_exam_md_id %></td>
    <td><%= lumbarpuncture.lpsuccess %></td>
    <td><%= lumbarpuncture.lpabnormality %></td>
    <td><%= lumbarpuncture.lpfollownote %></td>
    <td><%= link_to 'Show', lumbarpuncture %></td>
    <td><%= link_to 'Edit', edit_lumbarpuncture_path(lumbarpuncture) %></td>
    <td><%= link_to 'Destroy', lumbarpuncture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lumbarpuncture', new_lumbarpuncture_path %>
