<% if current_user.role == 'Admin_High'%>
<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_demographicmaritalstatus.description %>
</p>


<%= link_to 'Edit', edit_lookup_demographicmaritalstatus_path(@lookup_demographicmaritalstatus) %> |
<%= link_to 'Back', lookup_demographicmaritalstatuses_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>