<p id="notice"><%= notice %></p>

<p>
  <b>Frequency:</b>
  <%= @lookup_drugfreq.frequency %>
</p>

<p>
  <b>Description:</b>
  <%= @lookup_drugfreq.description %>
</p>


<%= link_to 'Edit', edit_lookup_drugfreq_path(@lookup_drugfreq) %> |
<%= link_to 'Back', lookup_drugfreqs_path %>
