<h1>Listing employees</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Mi</th>
    <th>Last name</th>
    <th>Status</th>
    <th>Initials</th>
    <th>Lookup status</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.first_name %></td>
    <td><%= employee.mi %></td>
    <td><%= employee.last_name %></td>
    <td><%= employee.status %></td>
    <td><%= employee.initials %></td>
    <td><%= employee.lookup_status.try(:description)%></td>
    <td><%= employee.user.try(:username_name)%></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
