<%
v_yes_no_display = [["Yes","1"], ["No","0"]]
v_autodetect =  [["AutoDetect File On","On"],["AutoDetect File Off","Off"]]
%>
<% javascript_tag 'defaults' %>
<div id="new_edit_form">

<!-- Directory path? -->
<%= form_for(@petscan) do |f| %>
<% if @petscan.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@petscan.errors.count, "error") %> prohibited this petscan from being saved:</h2>

    <ul>
    <% @petscan.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="three_col_left">
    <p>
      <%= f.label :date %><br />
      <%= date_select :appointment, :appointment_date, :include_blank => true, :end_year => Time.now.year + 1 %><br />
    </p>
       <!-- switched to petfiles.file_name, but leaving old autodetect petscans.ecatfilename running -->
      <%= f.hidden_field :ecatfilename %>
    <p>
      <%= f.label :Tracer %><br />
     <%= select(:petscan, :lookup_pettracer_id, LookupPettracer.all.sort_by(&:name).collect {|p| [ p.name_description, p.id ] }, { :include_blank => "Select a tracer" }) %>

    </p>
    <p>
      <%= f.label :Net_Injected_Dose %> ( mci )<br />
      <%= f.text_field :netinjecteddose ,:size => 10,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}" %>
    </p>
    <p>
      <%= f.label "Acquisition Duration " %><br />
      <%= f.text_field :range,:size => 15 %><small><small>(min after injection)</small></small>
    </p>
       <!-- switched to petfiles.path, but leaving old petscans.path autodetect running -->
      <%= f.hidden_field :path , :size=> 80 %>
    <p>
      <%= f.label :Injection_time %><br />
      <%= select_time(@petscan.injecttiontime ,:field_name =>'injectiont][',:include_blank => true )%><br />
    </p>

    <p>
      <%= f.label :Scan_Start_time %><br />
      <%= select_time( @petscan.scanstarttime,:field_name =>'scanstartt][',:include_blank => true) %><br />
    </p>
   <p>
    <%= f.label :Petscan_Files %> 
    <% v_detect = "On" 
      if !@petfiles.nil? and @petfiles.length >0 
         v_detect = "Off"
      end %>
    <%= select  :petfile,"petfile_autodetect", options_for_select(v_autodetect, v_detect  ),
                            {:prompt => 'Autodetect file based on tracer and subjectid?'}  %>

 <table><tr><th>File name</th><th>Path</th><th><small><small>Delete</small></small></tr>
	<% 
     @petfiles.each do |pf|   
    %>
    <%= hidden_field :petfile, "id][" ,:value=>pf.id.to_s %>
   <tr><td><%= text_field :petfile, "file_name]["+pf.id.to_s ,:size=>30, :value=>pf.file_name %> </td>
    <td><%= text_field :petfile,  "path]["+pf.id.to_s , :size=> 80 ,:value=>pf.path%> </td>
    <td><%= check_box  :petfile, "delete_petfile_id]["+pf.id.to_s %></td></tr>   
          <tr><td colspan="3"><%= text_area( :petfile,"note]["+pf.id.to_s, :value=>pf.note , :cols => "99", :rows => "3" ) %><br><br>
      </td></tr>  
   <%end %>
   <%= hidden_field :petfile, "id][" ,:value=>0.to_s %>
    <tr><td><%= text_field :petfile, "file_name]["+0.to_s, :size=>30 %> </td>
      <td><%= text_field :petfile, "path]["+0.to_s , :size=> 80 %> </td><td>&nbsp;</td></tr> 
      <tr><td colspan="3"><%= text_area( :petfile,"note]["+0.to_s, :cols => "99", :rows => "3" ) %>
      </td></tr>
   </table>
   
   </p>  

  </div>
  <div class="three_col_mid">
    <table>
	<!--
      <tr>
        <td><%= f.label :Entered_by%></td>
        <td><%= @petscan.enteredpetscanwho %> <% if !@petscan.enteredpetscanwho.blank?
	                     @employee = Employee.find(@petscan.enteredpetscanwho) %> <%= @employee.last_name %> <%= @employee.first_name %> 
	                                        <% end %></td>
      </tr>
      <tr>
        <td><%= f.label :Petscan_Entered %></td>
        <td><%= f.select :enteredpetscan, options_for_select(v_yes_no_display, @petscan.enteredpetscan),
						              {:prompt => 'Select if the petscan has been entered'} %>
	</td>
      </tr>  -->
      <tr>
        <td><%= f.label :Petscan_Completed %></td>
        <td><%= select :vgroup, :transfer_pet, ["no", "yes", "n/a"] %>
		</td>
	    </tr>
	    <tr><td colspan="2">
		<small>Select "n/a" if the Petscan will not be done.</small>
		</td></tr>
    <tr>
      <td><br><%= f.label(:appointment_coordinator) %></td>
      <td><br><%= select(:appointment, :appointment_coordinator, Employee.all.sort_by(&:name).collect {|p| [ p.name, p.id ] }, { :include_blank => "Select Appt Coordinator" }) %></td>
    </tr>
 <!--    <tr>
        <td><%= f.label :Date_Petscan_Entered %>   </td>
        <td>
		<% if !@petscan.enteredpetscandate.blank? %>
	                        <%= @petscan.enteredpetscandate.to_s %>
		                          <% end  %></td>
      </tr>
  -->
    </table>
  <% if !params[:new_appointment_vgroup_id].blank?%>
       <%=  hidden_field_tag( 'new_appointment_vgroup_id',params[:new_appointment_vgroup_id]) %>
  <% end %>
<%     @vitals = Vital.where("vitals.appointment_id in (?) and vitals.pre_post_flag='pre'",@petscan.appointment_id)   
@vitals_post = Vital.where("vitals.appointment_id in (?) and vitals.pre_post_flag='post'",@petscan.appointment_id)    
       @vitals.each do |v|  # could have multiples? %>
    <br><br><br> <table>
	<tr><td><%= f.label :Pre_Pulse %> </td>
		<td><%=  text_field_tag( 'pulse',v.pulse==991?"":v.pulse, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :Pre_BP_Systol %> </td>
		<td><%=  text_field_tag( 'bp_systol',v.bp_systol==991? "":v.bp_systol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :Pre_BP_Diastol %> </td>
		<td><%=  text_field_tag( 'bp_diastol',v.bp_diastol==991?"":v.bp_diastol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :Blood_Glucose %> </td>
		<td><%=  text_field_tag( 'bloodglucose',v.bloodglucose==991?"":v.bloodglucose, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
  <tr><td><%= f.label :Weight_lbs %> </td>
    <td><%=  text_field_tag( 'weight',v.weight==991?"":v.weight, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
    <tr><td><%= f.label :Height_inches %> </td>
    <td><%=  text_field_tag( 'height',v.height==991?"":v.height, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	    
	<%=  hidden_field_tag( 'vital_id',v.id) %>
         
<%       end 
      if @vitals.blank?
	    v = Vital.new
 %>
 <br><br><br> <table>
	<tr><td><%= f.label :Pre_Pulse %> </td>
		<td><%=  text_field_tag( 'pulse',v.pulse==991?"":v.pulse, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :Pre_BP_Systol %> </td>
		<td><%=  text_field_tag( 'bp_systol',v.bp_systol==991? "":v.bp_systol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :Pre_BP_Diastol %> </td>
		<td><%=  text_field_tag( 'bp_diastol',v.bp_diastol==991?"":v.bp_diastol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :Blood_Glucose %> </td>
		<td><%=  text_field_tag( 'bloodglucose',v.bloodglucose==991?"":v.bloodglucose, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
    <tr><td><%= f.label :Weight_lbs %> </td>
    <td><%=  text_field_tag( 'weight',v.weight==991?"":v.weight, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
    <tr><td><%= f.label :Height_inches %> </td>
    <td><%=  text_field_tag( 'height',v.height==991?"":v.height, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
<%   end %>
<%   @vitals_post.each do |v|  # could have multiples? %>
    
  <tr><td><%= f.label :Post_Pulse %> </td>
    <td><%=  text_field_tag( 'pulse_post',v.pulse==991?"":v.pulse, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
  <tr><td><%= f.label :Post_BP_Systol %> </td>
    <td><%=  text_field_tag( 'bp_systol_post',v.bp_systol==991? "":v.bp_systol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
  <tr><td><%= f.label :Post_BP_Diastol %> </td>
    <td><%=  text_field_tag( 'bp_diastol_post',v.bp_diastol==991?"":v.bp_diastol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
   </table>    
  <%=  hidden_field_tag( 'vital_id_post',v.id) %>
         
<%       end 
      if @vitals_post.blank?
      v_post = Vital.new
 %>
 
  <tr><td><%= f.label :Post_Pulse %> </td>
    <td><%=  text_field_tag( 'pulse_post',v_post.pulse==991?"":v_post.pulse, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
  <tr><td><%= f.label :Post_BP_Systol %> </td>
    <td><%=  text_field_tag( 'bp_systol_post',v_post.bp_systol==991? "":v_post.bp_systol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
  <tr><td><%= f.label :Post_BP_Diastol %> </td>
    <td><%=  text_field_tag( 'bp_diastol_post',v_post.bp_diastol==991?"":v_post.bp_diastol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
  </table>
<%   end %>

  </div>
  <div class="three_col_right">
    <p>
      <%= f.label :Notes %><br/>
      <%= text_area( :appointment,:comment,:value=>@appointment.comment,:cols => 40, :rows => 10 ) %><br />
    </p>
  <p>
<%= f.label :Petscanner_Location %> : <%= select :petscan, :scanner_location, ["Waisman","WIMR","select a scanner location"] %>
  </p>

  <p>
<%= f.label :Petscanner_Name %> : <%= select :petscan, :scanner_name, ["HR+","Biograph Horizon","Discovery MI","select a scanner name"] %>
  </p>

  <p>
<%= f.label :Petscan_file_Good_to_process %> : <%= select :petscan, :good_to_process_flag, ["Y","N","select..."] %>
  </p>

    <%= @petscan.petscan_note.try(:html_safe)%>
  </div>

  <br style="clear:both" />

  <%= f.submit 'Save Petscan appt' %>

<% end %>

</div>