<%
v_yes_no_display = [["Yes","1"], ["No","0"]]
v_autodetect =  [["AutoDetect File On","On"],["AutoDetect File Off","Off"]]
%>
<% javascript_tag 'defaults' %>
<div id="new_edit_form">

<!-- Directory path? -->
<%= form_for(@petscan) do |f| %>
<% if @petscan.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@petscan.errors.count, "error") %> prohibited this petscan from being saved:</h2>

    <ul>
    <% @petscan.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class='editing_border' style='border:1px solid black;padding:20px;'>

  <div class='row'>
    <div class='col-md-6'>
      <h3>Summary</h3>
      <div style='border:1px;margin-bottom:20px;padding:20px;' class='sticky'>


        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Petscan Completed</div>
          <div class='form_field'><%= select :vgroup, :transfer_pet, ["no", "yes", "n/a"] %></div>
        </div>

        <% if !params[:new_appointment_vgroup_id].blank? 
          hidden_field_tag('new_appointment_vgroup_id', params[:new_appointment_vgroup_id])
          end %>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Date</div>
          <div class='form_field'><%= date_select :appointment, :appointment_date, :include_blank => true, :end_year => Time.now.year + 1 %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Tracer</div>
          <div class='form_field'><%= select(:petscan, :lookup_pettracer_id, LookupPettracer.all.sort_by(&:name).collect {|p| [ p.name_description, p.id ] }, { :include_blank => "Select a tracer" }) %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Net injected dose ( mci )</div>
          <div class='form_field'><%= f.text_field :netinjecteddose, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}" %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Appt coordinator</div>
          <div class='form_field'><%= select(:appointment, :appointment_coordinator, Employee.all.sort_by(&:name).collect {|p| [ p.name, p.id ] }, { :include_blank => "Select Appt Coordinator" }) %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Scanner location</div>
          <div class='form_field'><%= select :petscan, :scanner_location, ["Waisman","WIMR","select a scanner location"] %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Scanner name</div>
          <div class='form_field'><%= select :petscan, :scanner_name, ["HR+","Biograph Horizon","Discovery MI","select a scanner name"] %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Petscan file good to process</div>
          <div class='form_field'>
            <span style="padding-right:10px;"><%= f.radio_button :good_to_process_flag, "Y" %> Y</span>
            <span><%= f.radio_button :good_to_process_flag, "N" %> N</span>
          </div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Acquisition duration</div>
          <div class='form_field'><%= f.text_field :range %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Injection time</div>
          <div class='form_field'><%= select_time(@petscan.injecttiontime ,:field_name =>'injectiont][',:include_blank => true )%></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Scanner start time</div>
          <div class='form_field'><%= select_time( @petscan.scanstarttime,:field_name =>'scanstartt][',:include_blank => true) %></div>
        </div>


      </div>
    </div>

    <div class='col-md-6'>
      <h3>Notes</h3>
      <div style='border:1px;margin-bottom:20px;padding:20px;' class='sticky'>

        <div class='form_group'>
          <div class='form_field'><%= text_area( :appointment,:comment,:value=>@appointment.comment,:cols => 40, :rows => 10 ) %></div>
        </div>
      </div>
      
      <h3>Vitals</h3>
      <div style='border:1px;margin-bottom:20px;padding:20px;' class='sticky'>
<%     @vitals = Vital.where("vitals.appointment_id in (?) and vitals.pre_post_flag='pre'",@petscan.appointment_id)   
@vitals_post = Vital.where("vitals.appointment_id in (?) and vitals.pre_post_flag='post'",@petscan.appointment_id)    
       #for simplicity's sake:
      v = nil
      if !@vitals.first.nil?
        v = @vitals.first
      else
        v = Vital.new
      end
      %>

        <h4>Pre scan</h4>
        <hr>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Collection Time</div>
          <div class='form_field'><%= select_time(v.collection_time ,:field_name =>'collection_time][',:include_blank => true )%></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Respiratory Rate</div>
          <div class='form_field'><%=  text_field_tag( 'respiratory_rate',v.respiratory_rate==991? "" : v.respiratory_rate, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Pulse</div>
          <div class='form_field'><%=  text_field_tag( 'pulse',v.pulse==991 ? "" : v.pulse, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>BP Systolic</div>
          <div class='form_field'><%=  text_field_tag( 'bp_systol',v.bp_systol==991? "" : v.bp_systol, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>BP Diastolic</div>
          <div class='form_field'><%=  text_field_tag( 'bp_diastol',v.bp_diastol==991? "" : v.bp_diastol, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Blood Glucose</div>
          <div class='form_field'><%=  text_field_tag( 'bloodglucose',v.bloodglucose==991? "" : v.bloodglucose, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Weight</div>
          <div class='form_field'>
            <%=  text_field_tag( 'weight',v.weight==991 ? "" : v.weight, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>
            <%= select_tag(:weight_units,options_for_select([['lbs','lbs'],['kg','kg']], v.weight_units)) %>
          </div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Height</div>
          <div class='form_field'>
            <%=  text_field_tag( 'height',v.height==991 ? "" : v.height, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>
            <%= select_tag(:height_units,options_for_select([['in','in'],['cm','cm']], v.height_units)) %>
          </div>
        </div>

  <%=  hidden_field_tag( 'vital_id',v.id) %>
         
<%     
      v_post = Vital.new

      v_post = nil
      if !@vitals_post.first.nil?
        v_post = @vitals_post.first
      else
        v_post = Vital.new
      end
 %>

        <h4 style='padding-top:10px;'>Post scan</h4>
        <hr>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Collection Time</div>
          <div class='form_field'><%= select_time(v_post.collection_time ,:field_name =>'collection_time_post][',:include_blank => true )%></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Respiratory Rate</div>
          <div class='form_field'><%=  text_field_tag( 'respiratory_rate_post',v_post.respiratory_rate==991? "" : v_post.respiratory_rate, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>Pulse</div>
          <div class='form_field'><%=  text_field_tag( 'pulse_post',v_post.pulse==991 ? "" : v_post.pulse, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>BP Systolic</div>
          <div class='form_field'><%=  text_field_tag( 'bp_systol_post',v_post.bp_systol==991? "" : v_post.bp_systol, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></div>
        </div>

        <div class='form_group' style='padding-bottom:10px;'>
          <div class='form_label'>BP Diastolic</div>
          <div class='form_field'><%=  text_field_tag( 'bp_diastol_post',v_post.bp_diastol==991? "" : v_post.bp_diastol, :onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></div>
        </div>

  <%=  hidden_field_tag( 'vital_id_post',v_post.id) %>

<%   #end %>

      </div>
    </div>

  </div>
</div>

<div>
   <p>
    <%= f.label :Petscan_Files %> 
    <% v_detect = "On" 
      if !@petfiles.nil? and @petfiles.length >0 
         v_detect = "Off"
      end %>
    <%= select  :petfile,"petfile_autodetect", options_for_select(v_autodetect, v_detect  ),
                            {:prompt => 'Autodetect file based on tracer and subjectid?'}  %>

 <table><tr><th>File name</th><th>Path</th><th><small><small>Delete</small></small></tr>
  <% 
     @petfiles.each do |pf|   
    %>
    <%= hidden_field :petfile, "id][" ,:value=>pf.id.to_s %>
   <tr><td><%= text_field :petfile, "file_name]["+pf.id.to_s ,:size=>30, :value=>pf.file_name %> </td>
    <td><%= text_field :petfile,  "path]["+pf.id.to_s , :size=> 80 ,:value=>pf.path%> </td>
    <td><%= check_box  :petfile, "delete_petfile_id]["+pf.id.to_s %></td></tr>   
          <tr><td colspan="3"><%= text_area( :petfile,"note]["+pf.id.to_s, :value=>pf.note , :cols => "99", :rows => "3" ) %><br><br>
      </td></tr>  
   <%end %>
   <%= hidden_field :petfile, "id][" ,:value=>0.to_s %>
    <tr><td><%= text_field :petfile, "file_name]["+0.to_s, :size=>30 %> </td>
      <td><%= text_field :petfile, "path]["+0.to_s , :size=> 80 %> </td><td>&nbsp;</td></tr> 
      <tr><td colspan="3"><%= text_area( :petfile,"note]["+0.to_s, :cols => "99", :rows => "3" ) %>
      </td></tr>
   </table>
   
   </p>  

  </div>


  <%= f.submit 'Save Petscan appt'  %>
<%   end %>
