
<div id="visit_heading">
 <!--  <p><%= @petscan.ecatfilename %></p><br>
   <p><%= @petscan.path %></p>
   <% if !@petscan.path.blank? %>
     <% if File.exists?(@petscan.path) %>
       <br><p>size <%= File.stat(@petscan.path).size %>
       <% if !@petscan_tracer_file_size.nil? and !@petscan_tracer_file_size[@petscan.lookup_pettracer_id.to_s].nil? 
             if @petscan_tracer_file_size[@petscan.lookup_pettracer_id.to_s] == File.stat(@petscan.path).size.to_s %>
                  -File is expected size
              <%else%>
                  <BIG> -FILE IS NOT THE EXPECTED SIZE </BIG>
            <%end%>
       <% end %>
      <% end %>
    </p>
    <%end%> -->
</div>
<% if !@petfiles.nil? and @petfiles.length >0 %>
<div id="test">
    <table width="80%"><tr><th align="left" width="30%">File Name</th><th align="left" width="50%">Path</th></tr>
    <% @petfiles.each do |pf| %>
      <tr><td align="left"><%= pf.file_name %></td><td align="left"><%= pf.path %></td></tr>
      <tr><td colspan="2" align="left"><%= pf.note %></td></tr>
   <% if !pf.path.blank? and File.exists?(pf.path)%>
       <tr><td colspan="2"> <small><small>size <%= File.stat(pf.path).size %></small></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <% if !@petscan_tracer_file_size_multiple.nil? and !@petscan_tracer_file_size_multiple[@petscan.lookup_pettracer_id.to_s].nil? 
              if @petscan_tracer_file_size_multiple[@petscan.lookup_pettracer_id.to_s].include?(File.stat(pf.path).size.to_s) %>
                  <small><small> -File is one of the expected sizes for this scan procedure/tracer</small></small>
               <%else%>
                   <BIG> -FILE IS NOT THE EXPECTED SIZE </BIG><%= @petscan_tracer_file_size_multiple[@petscan.lookup_pettracer_id.to_s].join(", ") %>
              <%end%>
        <% end %>
      </td></tr>
    <%end%> 

      <tr><td colspan="1" align="left"><hr></td><td> </td></tr>
    <%end%>
  </table>
</div>
<%end%>

<div id="leftcol" class="two_col_left">
  <h3>Summary:</h3>
  
  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Petscan_appt_date => @appointment.appointment_date,
      :Tracer => @petscan.lookup_pettracer_id.nil? ? nil : LookupPettracer.find(@petscan.lookup_pettracer_id).name_description.html_safe,
      :Net_Injected_Dose => @petscan.netinjecteddose.nil? ? nil :  @petscan.netinjecteddose.to_s+" mci",
      :enumber => @enumber.nil? ? nil : link_to(@vgroup.enrollment.enumber, @vgroup.enrollment),
      :Appt_Coordinator =>@appointment.appointment_coordinator.blank? ? "" : Employee.find(@appointment.appointment_coordinator).name,
      :RMR_Number => @vgroup.rmr,
      :Range =>  @petscan.range,
      :Injection_time => @petscan.injecttiontime.nil? ? nil : @petscan.injecttiontime.hour.to_s.rjust(2,'0')+":"+@petscan.injecttiontime.min.to_s.rjust(2,'0'),
      :Scanner_Start_time => @petscan.scanstarttime.nil? ? nil : @petscan.scanstarttime.hour.to_s.rjust(2,'0')+":"+@petscan.scanstarttime.min.to_s.rjust(2,'0'),
      :Participant => @participant.nil? ? nil : link_to('view participant', @participant)
    }) %>
  </div>

  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Petscan_completed => @vgroup.transfer_pet,
    }) %>
  </div>

</div>

<div id="visit_status_report" class="two_col_right">

  <h3>Notes:</h3>
  <div id="notes" class="sticky">
	<%=  RedCloth.new(@appointment.comment.blank? ? "No comment entered for this petscan" : @appointment.comment).to_html.html_safe 
            %><br>
    <%=  RedCloth.new(@petscan.petscan_note.blank? ? "No notes entered for this petscan" : @petscan.petscan_note).to_html.html_safe 
            %>
  </div>
<% @vital =  Vital.where("appointment_id in (?) ",@petscan.appointment_id).first
 if !@vital.blank?
	 vital = Vital.find(@vital.id) 
	if ( ((vital.pulse.blank?? 911 :vital.pulse) < 911) or
		      ((vital.bp_systol.blank?? 911 :vital.bp_systol) < 911 ) or 
		        ( (vital.bp_diastol.blank?? 911 :vital.bp_diastol) < 911) or 
		           ((vital.bloodglucose.blank?? 911 :vital.bloodglucose) < 911) or
                 !vital.weight.blank? or !vital.height.blankl? )%>
	
<h4>Vitals:</h4>
<div id="vital" class="sticky">
     <%= vital.pulse==991 ?  "" :("Pulse: "+vital.pulse.to_s+"<br>").html_safe %>
     <%= vital.bp_systol==991 ?  "" :("BP Systol: "+vital.bp_systol.to_s+"<br>").html_safe %>
     <%= vital.bp_diastol==991 ?  "" :("BP Diastol: "+vital.bp_diastol.to_s+"<br>").html_safe %>
     <%= vital.bloodglucose==991 ?  "" :("Blood Glucose: "+vital.bloodglucose.to_s+"<br>").html_safe %>
     <%= vital.weight==991 ?  "" :("Weight lbs: "+vital.weight.to_s+"<br>").html_safe %>
     <%= vital.height==991 ?  "" :("Height inches: "+vital.height.to_s+"<br>").html_safe %>
</div>

<%    end 
  end %>
</div>

<!--
<br><p>size <= File.stat(@petscan.path).size >
     <if !@petscan_tracer_file_size.nil? and !@petscan_tracer_file_size[@petscan.lookup_pettracer_id.to_s].nil? 
           if @petscan_tracer_file_size[@petscan.lookup_pettracer_id.to_s] == File.stat(@petscan.path).size.to_s >
                -File is expected size
            <else>
                <BIG> -FILE IS NOT THE EXPECTED SIZE </BIG>

          <end>
     < end >  -->


<br style="clear: both" /><br />



