<%   @current_tab = "petscans"
%>

<h1>Listing petscans</h1>

<table>
  <tr>
    <th>Appointment</th>
    <th>Lookup pettracer</th>
    <th>Ecatfilename</th>
    <th>Netinjecteddose</th>
    <th>Units</th>
    <th>Range</th>
    <th>Injecttiontime</th>
    <th>Scanstarttime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @petscans.each do |petscan| %>
  <tr>
    <td><%= petscan.appointment_id %></td>
    <td><%= petscan.lookup_pettracer_id %></td>
    <td><%= petscan.EcatFilename %></td>
    <td><%= petscan.netinjecteddose %></td>
    <td><%= petscan.units %></td>
    <td><%= petscan.range %></td>
    <td><%= petscan.injecttiontime %></td>
    <td><%= petscan.scanstarttime %></td>
    <td><%= link_to 'Show', petscan %></td>
    <td><%= link_to 'Edit', edit_petscan_path(petscan) %></td>
    <td><%= link_to 'Destroy', petscan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Petscan', new_petscan_path %>
