<%

# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
 edit_low_scan_procedure_array = []
edit_low_scan_procedure_array =  (current_user.edit_low_scan_procedure_array).split(' ').map(&:to_i)
edit_count =edit_low_scan_procedure_array.length 
edit_count = edit_count -1 
%>
<%   @current_tab = "petscans"
%>

<% if edit_count > 0 %>
<span style="float:right"><%= link_to 'Edit Petscan appt', edit_petscan_path(@petscan) %> | <%= link_to 'Vgroup', Vgroup.find(@appointment.vgroup_id) %></span>
<% end %>
<div id="visit_heading">
  <%=	link_to "&larr; Older".html_safe, @older_petscan if @older_petscan %>
  &nbsp;
  <h1><%= @enumbers.blank? ? @vgroup.rmr : @enumbers.collect{|e| e.enumber }.join(", ") %></h1>
  <p class="date"><%= @appointment.appointment_date.to_s(:long) %></p>
  &nbsp;
  <%=	link_to "Newer &rarr;".html_safe, @newer_petscan if @newer_petscan %>
  <br />
  <p><%= @petscan.ecatfilename %></p>
</div>


<div id="leftcol" class="two_col_left">
  <h3>Summary:</h3>
  
  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Petscan_appt_date => @appointment.appointment_date,
      :Tracer => @petscan.lookup_pettracer_id.nil? ? nil : LookupPettracer.find(@petscan.lookup_pettracer_id).name_description.html_safe,
      :Net_Injected_Dose => @petscan.netinjecteddose.nil? ? nil :  @petscan.netinjecteddose.to_s+" mci",
      :enumber => @enumber.nil? ? nil : link_to(@vgroup.enrollment.enumber, @vgroup.enrollment),
      :RMR_Number => @vgroup.rmr,
      :Range =>  @petscan.range,
      :Injection_time => @petscan.injecttiontime.nil? ? nil : @petscan.injecttiontime.hour.to_s.rjust(2,'0')+":"+@petscan.injecttiontime.min.to_s.rjust(2,'0'),
      :Scanner_Start_time => @petscan.scanstarttime.nil? ? nil : @petscan.scanstarttime.hour.to_s.rjust(2,'0')+":"+@petscan.scanstarttime.min.to_s.rjust(2,'0'),
      :Participant => @participant.nil? ? nil : link_to('view participant', @participant)
    }) %>
  </div>

  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Petscan_completed => @vgroup.transfer_pet,
    }) %>
  </div>

</div>


<div id="visit_status_report" class="two_col_right">

  <h3>Notes:</h3>
  <div id="notes" class="sticky">
	<%=  RedCloth.new(@appointment.comment.blank? ? "No comment entered for this petscan" : @appointment.comment).to_html.html_safe 
            %><br>
    <%=  RedCloth.new(@petscan.petscan_note.blank? ? "No notes entered for this petscan" : @petscan.petscan_note).to_html.html_safe 
            %>
  </div>
<% @vital =  Vital.where("appointment_id in (?) ",@petscan.appointment_id).first
 if !@vital.blank?
	 vital = Vital.find(@vital.id) 
	if ( ((vital.pulse.blank?? 911 :vital.pulse) < 911) or
		      ((vital.bp_systol.blank?? 911 :vital.bp_systol) < 911 ) or 
		        ( (vital.bp_diastol.blank?? 911 :vital.bp_diastol) < 911) or 
		           ((vital.bloodglucose.blank?? 911 :vital.bloodglucose) < 911)  )%>
	
<h4>Vitals:</h4>
<div id="vital" class="sticky">
     <%= vital.pulse==991 ?  "" :("Pulse: "+vital.pulse.to_s+"<br>").html_safe %>
     <%= vital.bp_systol==991 ?  "" :("BP Systol: "+vital.bp_systol.to_s+"<br>").html_safe %>
     <%= vital.bp_diastol==991 ?  "" :("PBP Diastol: "+vital.bp_diastol.to_s+"<br>").html_safe %>
     <%= vital.bloodglucose==991 ?  "" :("Blood Glucose: "+vital.bloodglucose.to_s+"<br>").html_safe %>
</div>

<%    end 
  end %>
</div>


<br style="clear: both" /><br />



