<% 
vgroup = Vgroup.find(Appointment.find(@petscan.appointment_id).vgroup_id)
participant = nil
if !vgroup.participant_id.blank?
	Participant.find(vgroup.participant_id) %>
	
	<%= participant.enrollments.collect {|e| e.enumber}.join(", ").html_safe %>

<% end
%>


<p id="notice"><%= notice %></p>
Initials, enrollment from vgroup, rmr from vgroup<br>
multiple petscans on one display page -- one on edit
<table width="80%">
	<tr><td align="left" width="10%"><b>Tracer:</b></td><td align="right" width="30%"><%= LookupPettracer.find(@petscan.lookup_pettracer_id).description%></td><td align="right" width="10%"><b>Pulse:</b><td></td></tr>
	<tr><td align="left"><b>PET Scan Date:</b></td><td align="right"><%= Appointment.find(@petscan.appointment_id).appointment_date%></td><td align="right" width="10%"><b>BP Systol:</b><td></td></tr>
	<tr><td align="left"><b>Researcher:</b></td><td align="right"></td><td align="right" width="10%"><b>BP Diastol:</b><td></td></tr>
	<tr><td align="left"><b>Net Injected Dose:</b></td><td align="right"><%= @petscannetinjecteddose%></td><td align="right" width="10%"><b>Blood Glucose:</b><td></td></tr>
	<tr><td align="left"><b>Units:</b></td><td align="right"><%= @petscan.units%></td></tr>
	<tr><td align="left"><b>Range:</b></td><td align="right"><%= @petscan.range%></td></tr>
	<tr><td align="left"><b>Injection Time:</b></td><td align="right"><%= @petscan.injecttiontime%></td></tr>
	<tr><td align="left"><b>Scan Start Time:</b></td><td align="right"><%= @petscan.scanstarttime%></td></tr>
	<tr><td align="left"><b>Ecat Filename:</b></td><td align="right"><%= @petscan.EcatFilename%></td></tr>
	
	<tr><td align="left"><b>PET Scan Note:</b></td><td align="right" colspan="3"></td></tr>
	
</table>
<!--
<p>
  <b>Appointment:</b>
  <%= @petscan.appointment_id %>
</p>

<p>
  <b>Lookup pettracer:</b>
  <%= @petscan.lookup_pettracer_id %>
</p>

<p>
  <b>Ecatfilename:</b>
  <%= @petscan.EcatFilename %>
</p>

<p>
  <b>Netinjecteddose:</b>
  <%= @petscan.netinjecteddose %>
</p>

<p>
  <b>Units:</b>
  <%= @petscan.units %>
</p>

<p>
  <b>Range:</b>
  <%= @petscan.range %>
</p>

<p>
  <b>Injecttiontime:</b>
  <%= @petscan.injecttiontime %>
</p>

<p>
  <b>Scanstarttime:</b>
  <%= @petscan.scanstarttime %>
</p>
-->

<%= link_to 'Edit', edit_petscan_path(@petscan) %> |
<%= link_to 'Back', petscans_path %>
