	<% if  current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'  %>

<%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
%>
<% @v_status_dict = {'Y' =>'yes','N'=>'no','E'=>'no'} %>
<h1>Scheduled Runs Log</h1>

<table class="tabular">
	<caption><%= pluralize(@scheduleruns.size, 'schedulerun') %></caption>
  <thead>
  <tr>
	<th>Status flag</th>
    <th>Schedule</th>
    <th>Start time</th>
    <th>End time</th>  
    <th>Comment</th>
    <th>Log file</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
 <tfoot><td colspan=4><%= paginate @scheduleruns %></td></tfoot>
 <tbody>
<% @scheduleruns.each do |schedulerun| %>
  <tr>
	<%= show_bool( @v_status_dict[schedulerun.status_flag] ) %>
    <td><%= link_to( (Schedule.find(schedulerun.schedule_id)).name, edit_schedule_path(Schedule.find(schedulerun.schedule_id)) ) %></td>
    <td><%= schedulerun.start_time %></td>
    <td><%= schedulerun.end_time %></td>
    <td><%= schedulerun.comment %></td>
    <td><%= schedulerun.log_file %></td>
    <td><%= link_to 'Show', schedulerun %></td>
<% if edit_count >30 %>
    <td><%= link_to 'Edit', edit_schedulerun_path(schedulerun) %></td>
    <td><%= link_to 'Destroy', schedulerun, :method => :delete,data: {confirm: 'Are you sure?' } %></td>
<% end %>
  </tr>
<% end %>
 </tbody>
</table>

<br />


<%= link_to('Column Group search/load', '/users/cgbase') %>

<% end %>
