<% if current_user.role == 'Admin_High'%>
<%= form_for(@petfile) do |f| %>
  <% if @petfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@petfile.errors.count, "error") %> prohibited this petfile from being saved:</h2>

      <ul>
      <% @petfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :petscan_id %><br />
    <%= f.text_field :petscan_id %>
  </div>
  <div class="field">
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%end %>
