<%= form_for(@lookup_ref) do |f| %>
  <% if @lookup_ref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lookup_ref.errors.count, "error") %> prohibited this lookup_ref from being saved:</h2>

      <ul>
      <% @lookup_ref.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ref_value %><br />
    <%= f.text_field :ref_value, :required => true %> <small>This is the value saved in the database.</small>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :required => true %><small>This is the value which is displayed and exported.</small>
  </div>
  <div class="field">
    <%= f.label :display_order %><br />
    <%= f.text_field :display_order %>
  </div>
  <div class="field">
    <%= f.label :label, :required => true %><br />
    <%= f.text_field :label %><small>This identifies the group of ref_value/descriptions in a dropdown.</small>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

