<h1>Combined Reference Table listing</h1>
Used to make dropdown lists, checkboxes, radio button desc in forms.<br>
<% if current_user.role == 'Admin_High'  or current_user.role == 'Admin_Low'%>
    <%= link_to 'New Lookup ref', new_lookup_ref_path %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ask the Admin to update or delete Combined Reference table records.
<%end%>
<br><br>
<table>
  <tr>
    <th>Ref value<br><small>value saved in db</small></th>
    <th>Description<br><small>value displayed/exported</small></th>
    <th>Display order</th>
    <th>Label<br><small>identifies  ref_value/descriptions in  dropdown</small></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_refs.each do |lookup_ref| %>
  <tr>
    <td><%= lookup_ref.ref_value %></td>
    <td><%= lookup_ref.description %></td>
    <td><%= lookup_ref.display_order %></td>
    <td><%= lookup_ref.label %></td>
    <td><%= link_to 'Show', lookup_ref %></td>
    <td><% if current_user.role == 'Admin_High'%><%= link_to 'Edit', edit_lookup_ref_path(lookup_ref) %><%end%></td>
    <td><% if current_user.role == 'Admin_High'%><%= link_to 'Destroy', lookup_ref, :confirm => 'Are you sure? ', :method => :delete %><%end%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup ref', new_lookup_ref_path %>
