<h1>Listing questionform_scan_procedures</h1>

<table class="tabular">
  <tr>
    <th>Questionform</th><th> | </th>
    <th>Scan procedure</th>
    <th>Include exclude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questionform_scan_procedures.each do |questionform_scan_procedure| %>
  <tr>
    <td><%= Questionform.find(questionform_scan_procedure.questionform_id).description %></td><td align=center> | </td>
    <td><%= ScanProcedure.find(questionform_scan_procedure.scan_procedure_id).display_alias%> </td>
    <td><%= questionform_scan_procedure.include_exclude %></td>
    <% if current_user.role == 'Admin_High' %>
    <td><%= link_to 'Show', questionform_scan_procedure %></td>
    <td><%= link_to 'Edit', edit_questionform_scan_procedure_path(questionform_scan_procedure) %></td>
    <td><%= link_to 'Destroy', questionform_scan_procedure, :method => :delete,data: {confirm: 'Are you sure?' } %></td>
    <%end%>
<% end %>
</table>

<br />

<%= link_to 'New Questionform scan procedure', new_questionform_scan_procedure_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
