<p id="notice"><%= notice %></p>

<p>
  <b>Questionform:</b>
 <%= Questionform.find(@questionform_scan_procedure.questionform_id).description %>
</p>

<p>
  <b>Scan procedure:</b>
<%= ScanProcedure.find(@questionform_scan_procedure.scan_procedure_id).codename%>
</p>

<p>
  <b>Include exclude:</b>
  <%= @questionform_scan_procedure.include_exclude %>
</p>


<%= link_to 'Edit', edit_questionform_scan_procedure_path(@questionform_scan_procedure) %> |
<%= link_to 'Back', questionform_scan_procedures_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
