
<table id='image_datasets_index_table' class="tabular">
  
	<%# Set thumbnail display defualt  %>
  <% include_thumbnails = false if include_thumbnails.nil? %>
	<caption><%= pluralize image_datasets.total_count, 'datasets' %></caption>
  
  <thead>
    <tr>
      <%= "<th>&nbsp;</th>".html_safe  if include_thumbnails %>
			<th>Directory</th>
      <th>Series description</th>
      <th>Imaging Details</th>
      <th>Quality Check</th>
      <th>Analysis Exclusions</th>
      <!-- <th></th> -->
    </tr>
  </thead>

  <tfoot><tr><td colspan=7><%= paginate image_datasets if image_datasets.respond_to? :current_page %></td></tr></tfoot>

  <tbody>
    <% image_datasets.each do |im_ds| %>
      <tr>
        <%= "<td>#{begin image_tag(im_ds.thumbnail.url(:thumb), size: "100x100"); rescue ArgumentError;end }</td>".html_safe  if include_thumbnails %>   <%# gave up on paperclip using imagemagick to resize %>
				<td><%=h im_ds.path_basename %></td>
        <td><%=  link_to im_ds.series_description.encode("UTF-8", :invalid => :replace, :undef => :replace, :replace => "").force_encoding('UTF-8'), im_ds %></td>
        <td>
          <%= popup_note("peek", key_val_table("image_details", im_ds.details_hash))%>
        </td>
        <!-- <td>
          <%#= popup_note("peek", key_val_table("visit_details", im_ds.visit_details_hash)) %>
        </td>
        <td>
          <%#= popup_note("peek", key_val_table("participant_details", im_ds.participant_details_hash)) %>
        </td> -->
        <td><%= qc_popup_or_link_to_new(im_ds) %></td>
        <td><%=h im_ds.excluded_by_any_analyses? ? im_ds.analysis_memberships.out.size.to_s : "None" %></td>
        <!-- <td>
          <%#= link_to 'view', im_ds %>
          <%#= link_to '&', edit_image_dataset_path(im_ds) %>
          <%#= link_to 'X', im_ds, :confirm => 'Are you sure?', :method => :delete %>
        </td> -->
       </tr>
    <% end %>
  </tbody>

</table>


