<table id='image_datasets_index_table' class="tabular">
  
	<%# Set thumbnail display defualt  %>
  <% include_thumbnails = false if include_thumbnails.nil? %>
	<caption><%= pagination_info image_datasets %></caption>
  
  <thead>
    <tr>
      <%= "<th>&nbsp;</th>"  if include_thumbnails %>
			<th>Directory</th>
      <th>Series description</th>
      <th>Imaging Details</th>
      <th>Timestamp</th>
      <th>Quality Check</th>
      <th>Analysis Exclusions</th>
      <!-- <th></th> -->
    </tr>
  </thead>

  <tfoot><tr><td colspan=7><%= will_paginate image_datasets %></td></tr></tfoot>

  <tbody>
    <% image_datasets.each do |im_ds| %>
      <tr>
        <%= "<td>#{image_tag im_ds.thumbnail.url(:thumb)}</th>"  if include_thumbnails %>
				<td><%=h im_ds.path_basename %></td>
        <td><%= link_to im_ds.series_description, im_ds %></td>
        <td>
          <%= popup_note("peek", key_val_table("image_details", im_ds.details_hash))%>
        </td>
        <!-- <td>
          <%#= popup_note("peek", key_val_table("visit_details", im_ds.visit_details_hash)) %>
        </td>
        <td>
          <%#= popup_note("peek", key_val_table("participant_details", im_ds.participant_details_hash)) %>
        </td> -->
        
        <td><%=h im_ds.timestamp.to_s(:ymdhms) %></td>
        <td><%= qc_popup_or_link_to_new(im_ds) %></td>
        <td><%=h im_ds.excluded_by_any_analyses? ? im_ds.analysis_memberships.out.size.to_s : "None" %></td>
        <!-- <td>
          <%#= link_to 'view', im_ds %>
          <%#= link_to '&', edit_image_dataset_path(im_ds) %>
          <%#= link_to 'X', im_ds, :confirm => 'Are you sure?', :method => :delete %>
        </td> -->
      </tr>
    <% end %>
  </tbody>

</table>
