<h1>Editing Image Dataset</h1>
<p>
	<%=h @image_dataset.path %> <br />
	<%=h @image_dataset.rmr %> <br />
	<%=h @image_dataset.series_description %> <br />
	<%=h @image_dataset.timestamp %>
</p>

<%= form_for(@image_dataset, :multipart => true) do |f| %>
<% if @image_dataset.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@image_dataset.errors.count, "error") %> prohibited this image_dataset from being saved:</h2>

    <ul>
    <% @image_dataset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <!-- <p>
    <%= f.label :rmr %><br />
    <%= f.text_field :rmr %>
  </p>
  <p>
    <%= f.label :series_description %><br />
    <%= f.text_field :series_description %>
  </p> 
  <p>
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </p>
-->

	<p>Physiology Text Files</p>
  <div id="phys_files_list">
		<%#= render :partial => 'physiology_text_file', :collection => @image_dataset.physiology_text_files, :locals => {:form => f} %>
		<%= f.fields_for(:physiology_text_files) do |physiology_text_file_fields| %>
			<%= render :partial => 'physiology_text_file_fields', :object => physiology_text_file_fields %>
	  <% end %>
  </div>  
Not sure if this was ever used?? also, page.insert_html nil object causing error
  <%#= add_phys_link "Add phys file"   link_to_function ==> deprecated ==> link_to %>
  <%= f.fields_for(:physiology_text_files, @image_dataset.physiology_text_files.build) do |new_physiology_text_file_fields| %> 
 		<%= link_to "Add phys file" do |page| 
	     if !page.nil?
		     page.insert_html :bottom, :phys_files_list, :partial => 'physiology_text_file_fields', :object => new_physiology_text_file_fields 		     
         end
  	end %>
	<% end %>
    <p>
    <%= f.submit "Update things above" %>
  </p>
<% end %>

  <%= form_for(@image_dataset, :multipart => true) do |f| %>
  <p>
 <%= f.label "Edit Image Dataset Path: " %> <%= text_field_tag 'image_dataset[path', @image_dataset.path,:size =>100 %>
</p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<br />
<%= link_to 'Show', @image_dataset %>   &nbsp;&nbsp;<%= link_to 'Destroy', @image_dataset,  :method => :delete ,data: {confirm: 'Are you sure?' }%>
<%#= link_to 'Back', image_datasets_path %>
