<h1>Editing image_dataset</h1>

<% form_for(@image_dataset) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rmr %><br />
    <%= f.text_field :rmr %>
  </p>
  <p>
    <%= f.label :series_description %><br />
    <%= f.text_field :series_description %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </p>
  <p>Physiology Text Files</p>
  <div id="phys_files_list">
    <%= render :partial => 'physiology_text_file', :collection => @image_dataset.physiology_text_files %>
  </div>
  <%= add_phys_link "Add phys file" %>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<br />
<%= link_to 'Show', @image_dataset %> |
<%= link_to 'Back', image_datasets_path %>
