<% form_tag("/images/find_values") do %>


  <p>
    <%= label_tag :scan_number %>
    <%= text_field_tag :scan_number %>
  </p>
  <p>
    <%= label_tag :enumber %>
    <%= text_field_tag :enumber %>
  </p>
  <p>
    <%= label_tag :rmr %>
    <%= text_field_tag :initials %>
  </p>
<%= submit_tag("Submit") %>

<% end %>
<hr/>
<%= link_to 'Go to Protocols', protocols_path %>
<br/>
<%= link_to 'Go to Visits', visits_path %>
<br/>
