<% if @hide_page_flag == "Y" 
  else %> 
  <%   @current_tab = "image_datasets"
%>

<%
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
 edit_low_scan_procedure_array = []
edit_low_scan_procedure_array =  (current_user.edit_low_scan_procedure_array).split(' ').map(&:to_i)
edit_count =edit_low_scan_procedure_array.length 
edit_count = edit_count -1

%>

<div id="heading_and_link">
  <h1>Image Datasets:</h1>
<% if edit_count > 0 %> 
<% end %>
</p>
</div>

<B>Criteria: </b><%= params["search_criteria"] %>


<%= form_for 'ids_search' do |f| %>
<table class="search_form">
	<tr><td><%= f.label :scan_procedures %><br>
	<div id="scan_procedure_list">
	<ul>
	<% ScanProcedure.where(" scan_procedures.id in (select scan_procedure_id from scan_procedures_vgroups where  scan_procedure_id in (?))",   (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) ).all.sort_by(&:display_alias).each do |scan_procedure| %>
		<li>
			<%= check_box_tag "vgroup_scan_procedure_ids", scan_procedure.id,FALSE , :name => 'ids_search[scan_procedure_id][]' %>
			<%= label_tag '', scan_procedure.display_alias %>
		</li>
	<% end %>
	</ul>
	</div>

	  </td></tr></table>

<!-- visits/find.html.erb has a nice checkbox -- from some metasearch plugin?  -->
  <table class="search_form">

    <tr>
      <th><%= f.label :enumber %></th>
      <td><%= f.text_field :enumber %></td>
    </tr>

    <tr>
      <th>RMR</th>
      <td><%= f.text_field :rmr %></td>
    </tr>

    <tr>
      <th>Reggie ID</th>
      <td><%= f.text_field :reggieid %></td>
    </tr>

    <tr>
      <th><%= f.label :Path_contains %></th>
      <td><%= f.text_field :path %></td>
    </tr>
    <tr>
      <th><%= f.label :Series_category %></th>
      <td>
	 <%= select(:ids_search, :series_description_type_id, SeriesDescriptionType.where("series_description_type not like '%?%'").sort_by(&:series_description_type).collect {|p| [ p.series_description_type, p.id ] }, { :include_blank => "Select a category" }) %></td>
    </tr>
    <tr>
      <th><%= f.label :Series_desc_contains %></th>
      <td><%= f.text_field :series_description %></td>
    </tr>
    <tr>
      <th><%= f.label :Shareable? %></th>
      <td><%= select(:ids_search, :shareable_status, [['True','true'],['False','false'],['Show status','display']], { :include_blank => "" }) %> </td>
    </tr>
  </table>


  <table class="search_form">
    <tr>
      <th><%= f.label :gender %></th>
      <td><%= select :ids_search, :gender, { "M" => 1, "F" => 2 }, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :minimum_age %></th>
      <td><%= select :ids_search, :min_age, (1..110).to_a, :include_blank => true %><B> (the age at visit) </B></td>
    </tr>
    <tr>
      <th><%= f.label :maximum_age %></th>
      <td><%= select :ids_search, :max_age, (1..110).to_a, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :scan_date_before %></th>
      <td><%= f.date_select "latest_timestamp", :start_year => 1995, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :scan_date_after %></th>
      <td><%= f.date_select :earliest_timestamp, :start_year => 1995, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :metadata %></th>
      <td>
        <%= f.text_field :metadata_label, id: 'metadata_label', :placeholder => '(0000,0000) Private' %>
        <%= f.text_field :metadata_value, id: 'metadata_value' %>
      </td>
    </tr>
  </table>

  
  <%= clearing_br %>
  <%= f.submit "Search" %>
  
<% end %>


<%= link_to 'download csv', { :controller=>"image_datasets", :action=>"ids_search", :ids_search =>  @ids_search_params.to_h , :format => :csv} %> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<small><%= link_to('Series Description Maps', '/series_description_maps') %></small>
 </p>

<table class="tabular">  
  <caption><%= pluralize(@results_total.size, 'Image datasets') %></caption>
  <thead>
    <tr>
		<% @column_headers.each do |column_header|%>
	      <th><%= column_header%></th>
	  <% end %>
      <th></th>
<% if edit_count > 0 %>
       <th></th>
<% end %>
      <th></th>
    </tr>
  </thead>

<!--   add params and order by link to col header!!!!!!!!!!!    -->
  <tfoot><tr><td colspan=(column_header.size+2)>
		 <%=    paginate @results %> 
  </td></tr></tfoot>

  <tbody>
    <% @results.each do |result| %>
      <% puts "result is #{result}" %>
       <%  image_dataset = ImageDataset.find(result[-2])
           visit = Visit.find(image_dataset.visit_id)
           appointment = Appointment.find(visit.appointment_id) 
           vgroup = Vgroup.find(appointment.vgroup_id)
           result.delete_at(-2)
        %>
	  <tr>
	   <% for i in 0..@column_number-1 %>
	        <% if i == 0 %>
		     <td><%= link_to result[i].to_s(:datetime_military), visit %></td>
		    <% elsif i == 1 %>
		     <td><%= vgroup.scan_procedures.blank? ? "None" : vgroup.scan_procedures.sort_by(&:display_alias).collect {|sp| link_to(sp.display_alias, '/ids_search?ids_search[scan_procedure_id][]='+sp.id.to_s)}.join(", ").html_safe %></td>
		    <% elsif i == 2 %>
		     <td><%= vgroup.enrollments.collect {|e| link_to(e.enumber, e) }.join(", ").html_safe %></td>
		    <% elsif i == 5 %>
		      <!-- = ic = Iconv.new('UTF-8//IGNORE', 'UTF-8'); link_to ic.iconv(image_dataset.series_description), image_dataset -->
          <td><%=  link_to image_dataset.series_description.encode("UTF-8", :invalid => :replace, :undef => :replace, :replace => "").force_encoding('UTF-8'), image_dataset %></td>
		    <% elsif i == 6 %>
		      <td><%= popup_note("peek", key_val_table("image_details", image_dataset.details_hash))%></td>
		    <% elsif i == 7 %>
		      <td><%= qc_popup_or_link_to_new(image_dataset) %></td>
        <% elsif i == 8 %>
        <td><%=h image_dataset.excluded_by_any_analyses? ? image_dataset.analysis_memberships.out.size.to_s : "None" %></td>
        <% elsif i == 9 %>
        <td class='shareable_column'></td>
		    <!-- <% elsif i == 9 %>
		      <td><%= popup_note('peek', key_val_table('path_popup', { :ApptNote => result[i].to_s })) unless result[i].to_s.blank? %></td> -->
		    <% else %>
		    <td><%= result[i] %></td>
		     <% end %>
	   <% end %>
       <td style="width: 6em;" nowrap><%= link_to 'show visit', visit %> | <%= link_to 'show series',image_dataset %> 
       </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">

function set_shareable_visible () {
  if ($('#shareable-filter').val() != "") {
    $('.shareable_column').show();
  } else {
    $('.shareable_column').hide();
  } 
}

$(document).ready(function() {
    set_shareable_visible();
    $( "#metadata_label" ).autoComplete({
      source: function( term, suggest ) {
        $.ajax({
          url: '<%= current_user.api_key.api_url %>/api/image_dataset_metadata_labels/',
          dataType: "json",
          data: {
            label_filter: $('#metadata_label').val()
          },
          success: function( data ) {
            var matches = [];
            // console.log(data.data.length);
            for (i=0; i<data.data.length; i++) {
              matches.push(data.data[i]["display_label"]);
            }
            // console.log(matches);
            suggest( matches );
          },
          beforeSend: function (request) {
            request.setRequestHeader("Authorization","Bearer <%= current_user.api_key.access_token %>")
          }
        });
      }
    });

});

</script>
<%end%>
