<% if @hide_page_flag == "Y" 
  else %>
<div id="search">
	<table><tr><td>
	<%= simple_form_for @search do |f| %>
		<%= f.input :path_contains, :required => false %>
		<%= f.input :series_description_contains, :required => false %>
		<%= f.input :rmr_contains, :required => false %>
		<%= f.input :visit_id_eq, :required => false %>
		<%= f.button :submit, "Search Image Datasets" %>


	</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= f.label :scan_procedures %><br>
	<div id="scan_procedure_list">
	<ul>
	<% ScanProcedure.where(" scan_procedures.id in (select scan_procedure_id from scan_procedures_visits where  scan_procedure_id in (?))",   (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) ).all.sort_by(&:codename).each do |scan_procedure| %>
		<li>
			<%#= f.fields_for scan_procedure do |scan_fields| %>
				<%#= f.check_box :scan_procedure_ids, {}, scan_procedure.id, :name => 'visit[scan_procedure_ids][]' %>
				<%#= f.label :scan_procedure_ids, scan_procedure.codename %>
			<%# end %>
		</li>
		<li>
			<% if @sp_array.include?(scan_procedure.id.to_s)%>
			   <%= check_box_tag "visit_scan_procedure_ids", scan_procedure.id,TRUE , :name => 'visit[scan_procedure_id][]' %>
			<% else %>
			   <%= check_box_tag "visit_scan_procedure_ids", scan_procedure.id,FALSE , :name => 'visit[scan_procedure_id][]' %>
			<% end %>
			
			<%= label_tag '', scan_procedure.codename %>
		</li>
	<% end %>
	</ul>
	</div>
	</td></tr></table>
		<% end %>
	</div>
<div id="heading_and_link">
  <h1><%=h @page_title %></h1>
  <p><%= link_to 'search for images',  image_datasets_path %></p>
	<p><%= link_to 'download csv (this may take a while!)', image_datasets_path(:search => params[:search],:visit => params[:visit], :format => :csv), :class => 'download_csv' %></p>
</div>

<%= render :partial => 'image_datasets', :locals => { :image_datasets => @image_datasets, :total_count => @total_count } %>
<br />

<%end %>