<div id="search">
	<%= simple_form_for @search do |f| %>
		<%= f.input :path_contains, :required => false %>
		<%= f.input :series_description_contains, :required => false %>
		<%= f.input :rmr_contains, :required => false %>
		<%= f.input :visit_id_eq, :required => false %>
		<%= f.button :submit %>
	<% end %>
</div>

<div id="heading_and_link">
  <h1><%=h @page_title %></h1>
  <p><%= link_to 'search for images', new_image_search_path %></p>
</div>

<%= render :partial => 'image_datasets', :locals => { :image_datasets => @image_datasets, :total_count => @total_count } %>

<br />
