<h1>New image_dataset</h1>

<%= form_for(@image_dataset) do |f| %>
<% if @image_dataset.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@image_dataset.errors.count, "error") %> prohibited this image_dataset from being saved:</h2>

    <ul>
    <% @image_dataset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= f.label :rmr %><br />
    <%= f.text_field :rmr %>
  </p>
  <p>
    <%= f.label :series_description %><br />
    <%= f.text_field :series_description %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </p>
  <p>Physiology Text Files:</p>
  <div id="phys_files_list">
    <%= render :partial => 'physiology_text_file', :collection => @image_dataset.physiology_text_files %>
  </div>
  <%= add_phys_link "Add phys file" %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', image_datasets_path %>
