
<% if @hide_page_flag == "Y" 
  else %>
<%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
%>

<div id="heading_and_link">
<h1><%= @image_dataset.series_description %></h1>
  <p>
    <%#= link_to 'edit this dataset', edit_image_dataset_path(@image_dataset) %>
    <%= link_to 'view MRI from whence it came', @visit %> •
    <% if @image_dataset.participant.blank? %>
      no associated participant
    <% else %>
      <%= link_to('view participant', @image_dataset.participant) %>
    <% end %>
	</p>
	<div class="next-previous-links">
		<%=	link_to "&larr; Previous".html_safe, @previous_image_dataset unless @image_dataset == @image_datasets.first %>
		<%=	link_to "Next &rarr; ".html_safe, @next_image_dataset unless @image_dataset == @image_datasets.last %>	
	</div>

	<div style="margin: 10px auto;">
		<%= link_to image_tag(@image_dataset.thumbnail.url(:large)), @image_dataset.thumbnail.url  %>
	</div>
</div>



<div id="dataset_details" class="two_col_left">
  
  <h3>Summary:</h3>
  <div id="dataset_summary" class="sticky">
	  <%= render :partial => 'dataset_summary', :locals => { :image_dataset => @image_dataset } %>
	</div>
	
	<h3>Directory contents:</h3>
  <div id="current_directory_contents" class="sticky">
		<p><%= directory_list(@image_dataset.path) %></p>
  </div>

  <h3>Analyses that use this dataset:</h3>
  <div id="analyses_list">
    <%= render :partial => 'analyses_list', :locals => { :dataset => @image_dataset } %>
  </div>

	<h3>DICOM Header</h3>
	<div id="dicom_taghash">
		<%= render :partial => 'dicom_taghash', :locals => { :dataset => @image_dataset }%>
	</div>
	<%= clearing_br %>

	<%= content_tag :p, "SERIES UID: %s" % @image_dataset.dicom_series_uid, :class => "uid" if @image_dataset.dicom_series_uid %>
	<%= content_tag :p, "IMAGE UID: %s" % @image_dataset.image_uid, :class => "uid" if @image_dataset.image_uid %>
	<%= content_tag :p, "DATASET UID: %s" % @image_dataset.dataset_uid, :class => "uid" if @image_dataset.dataset_uid %>
		
  
  <!-- <h3>Physiology Files:</h3>
  <div id="physiology-files-list">
    <ul>
      <%# for pf in @image_dataset.physiology_text_files %>
        <li><%#= pf.filepath %></li>
      <%# end %>
    </ul>
  </div> -->
  
</div>


<div id="dataset_extras" class="two_col_right">
  <div id="comments">
    <%= render :partial => 'comments_table', :locals => { :image_dataset => @image_dataset, :image_comments => @image_comments } %>
  </div>
  <% if edit_count > 0 %>
    <p style="float:right; text-align:right"><a id="myHeader1" href="javascript:togglecomment('new_comment_box','myHeader1','Add new comment', 'Done adding comments');" >Add new Comment</a></p>
	<div id="new_comment_box" style="display: none;">
		 <%= render :partial => 'new_comment_box', :locals => { :image_dataset => @image_dataset, :image_comment => @image_comment, :current_user => current_user } %></div>
  <!-- still giving an rjs error in the update -->
  <br />
  <% end %>
  <div id="quality_checks">
    <h3>Quality Checks:</h3>
    <%= render :partial => 'quality_checks_list', :locals => { :quality_checks => @image_dataset.image_dataset_quality_checks, :edit_count => edit_count } %>
  </div>
  <% if edit_count > 0 %>
  <p><%= link_to 'perform new quality check', new_image_dataset_image_dataset_quality_check_path(@image_dataset) %></p>
  <% end %>
</div>

<% if @image_dataset.image_dataset_quality_checks.count > 1 %>
<b>Do Not Share and Default Scan Flag at bottom of page.</b>
<%= clearing_br %>
<%else%>
  <br>
<%end%>
<div>
<%= form_for(@image_dataset) do |f| %>
<% if @image_dataset.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@image_dataset.errors.count, "error") %> prohibited this image_dataset from being saved:</h2>

    <ul>
    <% @image_dataset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <%= f.label :do_not_share_scans_flag %>:&nbsp;
    <%= select :image_dataset, :do_not_share_scans_flag, { 
      "Select to Share/Not Share for quality issues" => "N","Do not share scan via outside request, quality problems" => "Y", "Ok to share scan with outside request if IRB approval" => "N" }, :selected =>@image_dataset.do_not_share_scans_flag %>&nbsp;&nbsp;<%= f.submit "Update" %>

  <%end%>
</div>
<div>
 <br>
<%= form_for(@image_dataset) do |f| %>
<%= f.label :use_as_default_scan_flag %>:&nbsp;<%= @image_dataset.use_as_default_scan_flag %><br>
<% if @image_dataset.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@image_dataset.errors.count, "error") %> prohibited this image_dataset from being saved:</h2>

    <ul>
    <% @image_dataset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <%= f.label :lock_default_scan_flag %>:&nbsp;
    <% @lock_hash = { "Y|Y"=>"Lock and set to Y", "Y|N"=>"Lock and set to N" , "Y|"=>"Lock and set to NULL", "N|"=>"Un-Lock and set to NULL"  } %>

    <%= select_tag('image_dataset[lock_default_scan_flag_parse]', options_from_collection_for_select(@lock_hash, :first, :last, @lock_default_scan_flag_parse)) %>&nbsp;&nbsp;<%= f.submit "Update" %><br>
    <small>Some scans types are picks as default scan via scheduled processes. Lock block the process from setting the default for this scan. Un-Lock restores the process to set this image_dataset flag.</small>

  <%end%>
</div>
<%= clearing_br %>

<%= render :partial => 'image_datasets/streamlined_table', :locals => {:image_datasets => @image_datasets} %>

<%= clearing_br %>
<%end%>