<% paginated = true unless paginated == false %>
<table class="tabular">
  
  <caption><%= paginated ? pagination_info(visits) : pluralize(visits.length, 'visit') %></caption>
  
  <thead>
    <tr>
      <th><span>Date</span></th>
      <th><span>Scan Procedure</span></th>
      <th><span>Scan<br>Number</span></th>
      <th><span>Enum</span></th>
      <th><span>Lab<br>Assignee</span></th>
      <th><span>RMR</span></th>
      <th><span class="vert">Directory Path</span></th>
      <th><span class="vert">Transfer MRI</span></th>
      <th><span class="vert">Transfer PET</span></th>
      <th><span class="vert">Radiology Outcome</span></th>
      <th><span class="vert">Compile Folder</span></th>
      <th><span class="vert">Conference</span></th>
      <th></th>
    </tr>
  </thead>
  
  <tfoot><td colspan=21>
		<% if paginated %>
    	<%= @visit_search.nil? ? will_paginate(visits) : will_paginate(visits, :params => { :visit_search => @visit_search }) %>
		<% end %>
  </td></tfoot>
  
  <tbody>
    <% visits.each do |visit| %>
      <tr>
        <td><%= visit.date.to_s(:datetime_military) %></td>
        <td><%= visit.scan_procedure.nil? ? "None" : visit.scan_procedure.codename %></td>
        <td><%= visit.scan_number %></td>
        <td><%= link_to(visit.enrollment.enum, visit.enrollment) unless visit.enrollment.nil? %></td>
        <td><%= visit.user.login unless visit.user.nil? %></td>
        <td><%= visit.rmr %></td>
        <td><%= popup_note('peek', key_val_table('path_popup', { :Path => visit.path })) unless visit.path.blank? %></td>
        <%= show_bool(visit.transfer_mri) %>
        <%= show_bool(visit.transfer_pet) %>
        <%= show_rad_review(visit.radiology_outcome) %>
        <%= show_bool(visit.compile_folder) %>
        <%= show_bool(visit.conference) %>
        <td style="width: 6em;">
          <%= link_to 'show', visit %>
          <%= link_to 'edit', edit_visit_path(visit) %>
          <%#= link_to 'X', visit, :confirm => "Are you sure you want to delete this visit?", :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>