
<div>
  <p>
    Filters:
    <%= link_to "All", visits_path %>,
    <%= link_to "Incomplete", incomplete_visits_path %>,
    <%= link_to "Complete", complete_visits_path %>,
    <%= link_to "Recent imports", recently_imported_visits_path %>,
		<%= link_to "Search for visits", find_visits_path %>
  </p>
  
  <%= form_tag '/visits/in_scan_procedure' do %>
    <% scan_procedure_array = (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) %>
    <%= collection_select :scan_procedure, :id, ScanProcedure.where(" scan_procedures.id in (?)",scan_procedure_array).all.sort_by(&:codename), :id, :codename, :prompt => 'choose scan procedure' %>
    <%= submit_tag("In scan procedure") %>
  <% end %>
  
  <%= form_tag '/visits/assigned_to_who' do %>
    <%= collection_select :user, :username, User.all.sort_by(&:username_name), :id, :username_name, :prompt => 'choose user' %>
    <%= submit_tag("Assigned to") %>
  <% end %>
  
</div>

<br style="clear:both" />