<% @rad_reads = RadiologyOverread.where(:visit_id => @visit.id).to_a %>
<h2>Radiology Findings</h2>
	<% @rad_reads.each do |rad|%>

<div class='two_col_left'>
<div class='sticky'>
<table class='key_value'>
	<tbody>
	<tr><th>scan entry date</th><td><%= rad.scan_entry_date.strftime("%Y-%m-%d") %></td></tr>
	<tr><th>RMR</th><td><%= rad.rmr %></td></tr>
	<tr><th>Gender</th><td><%= rad.gender %></td></tr>
	<tr><th>white_matter_change</th><td><%= rad.white_matter_change %></td></tr>
	<tr><th>adrc_large_vessel_infarcts</th><td><%= rad.adrc_large_vessel_infarcts %></td></tr>
	<tr><th>adrc_lacunar_infarcts</th><td><%= rad.adrc_lacunar_infarcts %></td></tr>
	<tr><th>adrc_macrohemorrhages</th><td><%= rad.adrc_macrohemorrhages %></td></tr>
	<tr><th>adrc_moderate_white_matter_hyperintensity</th><td><%= rad.adrc_moderate_white_matter_hyperintensity %></td></tr>
	<tr><th>adrc_extensive_white_matter_hyperintensity</th><td><%= rad.adrc_extensive_white_matter_hyperintensity %></td></tr>
	<tr><th>adrc_microhemorrhages</th><td><%= rad.adrc_microhemorrhages %></td></tr>
	<tr><th>summary</th><td><%= rad.summary %></td></tr>
	<tr><th>comments</th><td><%= rad.comments %></td></tr>
	</tbody>

</table>
</div>
</div>
	<% end %>


<div class='two_col_right'>
<% @radiology_comments = RadiologyComment.where(" radiology_comments.visit_id in (?)",@visit.id).to_a %>
<%    v_radiology_id = ""
     @radiology_comments.each do |r| 
     	    v_radiology_id = r.id %>
	  <%=r.comment_html_1.try(:html_safe)%><%=r.comment_html_2.try(:html_safe) %><%=r.comment_html_3.try(:html_safe) %><%=r.comment_html_4.try(:html_safe) %><%=r.comment_html_5.try(:html_safe) %><br><br>
<%	 end   %>
</div>	
<br>
<br>
<%= form_tag "https://www.radiology.wisc.edu/a/overreads/scanList.php", :target => "_blank" do -%>
	<%= hidden_field_tag("origin", "searchForm") %>
	<%= hidden_field_tag("subjID",rmr) %>
	<%= submit_tag("Check Radiology Site [in a new tab]") %>
<% end %>
<% if current_user.role == 'Admin_High'%>
&nbsp;&nbsp;&nbsp;
<% if !(v_radiology_id.to_s).empty?  
	    @radiology_comments.each do |r|%>
    <small><small> <%= link_to 'Edit Radiology Record', edit_radiology_comment_path(r), :target => "_edit_blank" %></small></small>&nbsp;&nbsp;
<%     end
else %>
  <small><small> <%= link_to("Add new Radiology Comment",'/radiology_comments/new?visit_id='+(@visit.id).to_s, :target => "_new_blank")%> </small></small>
<%end%>
<%end%>