<% javascript_tag 'defaults' %>
<div id="new_edit_form">

<p>
  Directory path<br />
  <tt><%= @visit.path.nil? ? 'directory unknown' : @visit.path %></tt>
</p>

<%= form_for(@visit) do |f| %>
  <%= f.error_messages %>
  <div class="three_col_left">
    <p>
      <%= f.label :date %><br />
      <%= date_select :visit, :date, :include_blank => true, :end_year => Time.now.year + 1 %><br />
    </p>
    <!-- <p>
      <%#= f.label :scan_procedure %>
      <%#= collection_select(:visit, :scan_procedure_id, ScanProcedure.all.sort_by(&:codename), :id, :codename, :include_blank => "Select a scan_procedure") %>
    </p>
		<p> -->
			<div id="scan_procedure_list">
			<ul>
			<% ScanProcedure.where(" scan_procedures.id in (?)",  current_user[:edit_low_scan_procedure_array] ).all.sort_by(&:codename).each do |scan_procedure| %>
				<li>
					<%#= f.fields_for scan_procedure do |scan_fields| %>
						<%#= f.check_box :scan_procedure_ids, {}, scan_procedure.id, :name => 'visit[scan_procedure_ids][]' %>
						<%#= f.label :scan_procedure_ids, scan_procedure.codename %>
					<%# end %>
				</li>
				<li>
					<%= check_box_tag "visit_scan_procedure_ids", scan_procedure.id, @visit.scan_procedures.include?(scan_procedure), :name => 'visit[scan_procedure_ids][]' %>
					<%= label_tag '', scan_procedure.codename %>
				</li>
			<% end %>
			</ul>
			</div>
		</p>
    <p>
      <%= f.label :scan_number %><br />
      <%= f.text_field :scan_number %>
    </p>
    <p>
      <%= f.label :initials %><br />
      <%= f.text_field :initials %>
    </p>
    <p>
      <%= f.label :rmr %><br />
      <%= f.text_field :rmr %>
    </p>

		<%= f.fields_for :enrollments do |e| %>
		<p>
			<%= e.label :enumber %>
			<%= e.check_box :_destroy unless e.object.new_record?  %>
			<%= e.label :_destroy, "Remove?" unless e.object.new_record? %>
			<%= e.text_field_with_auto_complete :enumber, {},
				        { :method => :get, :url => enrollments_path(:format => :js), :param_name => 'search' } %>
		</p>
		<% end %>

	
  </div>

  <div class="three_col_mid">
    <table>
      <tr>
        <td><%= f.label(:assignee) %></td>
        <td><%= select(:visit, :user_id, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Assign a lab member" }) %></td>
      </tr>
      <tr>
        <td><%= f.label :Transfer_MRI %></td>
        <td><%= select :visit, :transfer_mri, ["no", "yes", "n/a"] %></td>
      </tr>
      <tr>
        <td><%= f.label :Transfer_PET %></td>
        <td><%= select :visit, :transfer_pet, ["n/a", "no", "yes"] %></td>
      </tr>
      <tr>
        <td><%= f.label :radiology_outcom %></td>
        <td><%= select :visit, :radiology_outcome, ["no", "Nm", "A-NF", "A-F", "n/a"] %></td>
      </tr>
      <tr>
        <td><%= f.label :Which_DICOM_DVD %></td>
        <td><%= f.text_field :dicom_dvd, :size => 6 %></td>
      </tr>
      <tr>
        <td><%= f.label :Archive_DVD %></td>
        <td><%= f.text_field :archivedvd, :size => 6 %></td>
      </tr>
      <tr>
        <td><%= f.label :Compile_Folder %></td>
        <td><%= select :visit, :compile_folder, ["no", "yes", "n/a"] %></td>
      </tr>
      <tr>
        <td><%= f.label :Conference %></td>
        <td><%= select :visit, :conference, ["no", "yes", "n/a"] %></td>
      </tr>
	<tr>
      <td><%= f.label(:mritech) %></td>
      <td><%= select(:visit, :mritech, Employee.all.sort_by(&:name).collect {|p| [ p.name, p.id ] }, { :include_blank => "Select MRI Tech" }) %></td>
    </tr>
	<tr>
      <td><%= f.label(:Scan_Start_Time) %></td>
      <td> <%= select_time( @visit.mristarttime,:field_name =>'mristartt][', :include_blank => true) %></td>
    </tr>
	<tr>
      <td><%= f.label(:Scan_End_Time) %></td>
      <td> <%= select_time( @visit.mriendtime,:field_name =>'mriendt][', :include_blank => true) %></td>
    </tr>

    </table>
<%     @vitals = Vital.where("vitals.appointment_id in (?)",@visit.appointment_id)     
       @vitals.each do |v|  # could have multiples? %>
    <br><br><br> <table>
	<tr><td><%= f.label :Pulse %> </td>
		<td><%=  text_field_tag( 'pulse',v.pulse==991?"":v.pulse, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :BP_Systol %> </td>
		<td><%=  text_field_tag( 'bp_systol',v.bp_systol==991? "":v.bp_systol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :BP_Diastol %> </td>
		<td><%=  text_field_tag( 'bp_diastol',v.bp_diastol==991?"":v.bp_diastol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :Blood_Glucose %> </td>
		<td><%=  text_field_tag( 'bloodglucose',v.bloodglucose==991?"":v.bloodglucose, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	 </tr></table>    
	<%=  hidden_field_tag( 'vital_id',v.id) %>
         
<%       end
      if @vitals.blank?
	    v = Vital.new
 %>
 <% if !params[:new_appointment_vgroup_id].blank?%>
      <%=  hidden_field_tag( 'new_appointment_vgroup_id',params[:new_appointment_vgroup_id]) %>
 <% end %>
 <br><br><br> <table>
	<tr><td><%= f.label :Pulse %> </td>
		<td><%=  text_field_tag( 'pulse',v.pulse==991?"":v.pulse, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :BP_Systol %> </td>
		<td><%=  text_field_tag( 'bp_systol',v.bp_systol==991? "":v.bp_systol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :BP_Diastol %> </td>
		<td><%=  text_field_tag( 'bp_diastol',v.bp_diastol==991?"":v.bp_diastol, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	<tr><td><%= f.label :Blood_Glucose %> </td>
		<td><%=  text_field_tag( 'bloodglucose',v.bloodglucose==991?"":v.bloodglucose, :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td></tr>
	 </tr>
	</table>
<%   end %>



  </div>
  <div class="three_col_right">
    <p>
      <%= f.label :notes %><br/>
      <%= f.text_area :notes %><br />
    </p>
<br><br><br><%= f.submit form_action %>
  </div>
<br>&nbsp;____________<br>
    <%= RedCloth.new(@appointment.comment.blank? ? "" : @appointment.comment).to_html.html_safe %>
 
<div ><!--  NEED TO ADDRESS CHILDREN FIELDS IN FOORM
                    NAME THE FIELDS WITH [][]
                    +INCLUDE HIDDEN FIELD OF ID?
             --- THEN CHECK FOR image_dataset_id  -- ADD LATER
              -->
	
		<table  class="tabular_no_shade"><tr><th>Scan Series</th><th>Set</th><th>Order</th><th>LogFile Recorded</th><th>P_file</th>
			<th>Reps</th><th>Moved</th><th>Eye Contact</th><th>Preday</th></tr>
			<tr><th colspan=4 align="left">Task Note</th><th colspan=5 align="left">Concerns</th</tr>

	<%   v_mriscantask_id = 0
	     v_mriperformance_id = 0
	   if !@mriscantask.blank?  %>

		<% @mriscantask.each do |mst|%>
		<% if !mst.image_dataset_id.blank?%>
		<tr><td colsapn="9" align = "left"><b><%= ImageDataset.find(mst.image_dataset_id).series_description %></b></td><tr>
		<% end %>
		<tr><td><%= select("mriscantask[lookup_scantask_id]",mst.id, LookupScantask.all.sort_by(&:description).collect {|p| [ p.description, p.id ] }, { :selected =>mst.lookup_scantask_id.try(:to_s),:include_blank => "Select a scan task" } )%>   
			<%=  hidden_field_tag( "mriscantask[mriscantask_id][]",mst.id.to_s) %>
			<%=  hidden_field_tag( "mriscantask[image_dataset_id]["+mst.id.to_s+"]",mst.image_dataset_id.to_s) %>
			</td>
			<td><%= select("mriscantask[lookup_set_id]",mst.id, LookupSet.all.sort_by(&:description).collect {|p| [ p.description, p.id ] }, {:selected =>mst.lookup_set_id.try(:to_s), :include_blank => "Select a set" }) %> </td>
	<td><%= select( "mriscantask[task_order]",mst.id, [['',''],['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10'],['-1','-1']], { :selected =>mst.task_order.try(:to_s), :include_blank => "Select order" } ) %>
			  </td>
			<td><%= select("mriscantask[logfilerecorded]",mst.id,[['No',"0"],["Yes","-1"]],{ :selected =>mst.logfilerecorded.try(:to_s), :include_blank => "Log?" })  %>  </td>
			<td><%=  text_field_tag("mriscantask[p_file]["+mst.id.to_s+"]",mst.p_file, :size => 6) %>  </td>      </td>
			<td><%=  text_field_tag( "mriscantask[reps]["+mst.id.to_s+"]",mst.reps.try(:to_s), :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>  </td>  </td>
			<td><%= select("mriscantask[moved]",mst.id,[['No',"0"],["Yes","-1"]],{:selected =>mst.moved.try(:to_s), :include_blank => "Moved?" })  %>      </td>
			<td><%= select("mriscantask[eyecontact]",mst.id,[['No',"0"],["Yes","-1"]],{:selected =>mst.eyecontact.try(:to_s), :include_blank => "Eyecontact?" })  %>     </td>
			<td><%=  text_field_tag( "mriscantask[preday]["+mst.id.to_s+"]",mst.preday.try(:to_s), :size => 6) %>  </td>		
			</tr>
			<tr><td colspan=4  align="left"> 
				<%= f.label :Task_Note %> <%=  text_field_tag( "mriscantask[tasknote]["+mst.id.to_s+"]",mst.tasknote, :size => 60) %>  </td>
			<td colspan="5" align="left">	<%= select("mriscantask[has_concerns]",mst.id,[['No',"0"],["Yes","1"]],{ :selected =>mst.has_concerns.try(:to_s),:include_blank => "Has Concerns?" })  %>  
			 &nbsp;&nbsp;&nbsp;
				<%= f.label :Concerns %> <%=  text_field_tag( "mriscantask[concerns]["+mst.id.to_s+"]",mst.concerns, :size => 60) %>  </td></tr>
			<% @mriperformances = Mriperformance.where("mriscantask_id in (?)",mst.id)
			   @mriperformances.each do |mp|%>
			<tr><td>------</td><td>Hit: <%=  text_field_tag( "mriperformance[hitpercentage]["+mp.id.to_s+"]",mp.hitpercentage.try(:to_s), :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td>
				<td>Acc: <%=  text_field_tag( "mriperformance[accuracypercentage]["+mp.id.to_s+"]",mp.accuracypercentage.try(:to_s), :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>
		<%=  hidden_field_tag( "mriscantask[mriperformance_id]["+mst.id.to_s+"]",mp.id.to_s) %>
					 <%=  hidden_field_tag( "mriperformance[mriperformance_id][]",mp.id.to_s) %>
          <td><td colspan="7"></tr>
			<% end
		 end 
	 else %>
	<% 	   @image_datasets = ImageDataset.where("visit_id in (?)",@visit.id).sort_by(&:id) 
          @image_datasets.each do |img_dt_set| 
	             v_mriscantask_id = v_mriscantask_id - 1   %>
            <tr><td colsapn="9" align = "left"><b><%= img_dt_set.series_description %></b></td><tr>
				<tr><td><%= select("mriscantask[lookup_scantask_id]",v_mriscantask_id, LookupScantask.all.sort_by(&:description).collect {|p| [ p.description, p.id ] }, { :include_blank => "Select a scan task" } )%>   
					<%=  hidden_field_tag( "mriscantask[mriscantask_id][]",v_mriscantask_id.to_s) %>
					<%=  hidden_field_tag( "mriscantask[image_dataset_id]["+v_mriscantask_id.to_s+"]",img_dt_set.id.to_s) %>
					</td>
<td><%= select("mriscantask[lookup_set_id]",v_mriscantask_id, LookupSet.all.sort_by(&:description).collect {|p| [ p.description, p.id ] }, { :include_blank => "Select a set" }) %> </td>
<td><%= select( "mriscantask[task_order]",v_mriscantask_id, [['',''],['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10'],['-1','-1']], { :include_blank => "Select order" } ) %></td>
					<td><%= select("mriscantask[logfilerecorded]",v_mriscantask_id,[['No',"0"],["Yes","-1"]],{  :include_blank => "Log?" })  %>  </td>
					<td><%=  text_field_tag("mriscantask[p_file]["+v_mriscantask_id.to_s+"]","", :size => 6) %>  </td>      </td>
					<td><%=  text_field_tag( "mriscantask[reps]["+v_mriscantask_id.to_s+"]","", :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>  </td>  </td>
					<td><%= select("mriscantask[moved]",v_mriscantask_id,[['No',"0"],["Yes","-1"]],{ :include_blank => "Moved?" })  %>      </td>
					<td><%= select("mriscantask[eyecontact]",v_mriscantask_id,[['No',"0"],["Yes","-1"]],{ :include_blank => "Eyecontact?" })  %>     </td>
					<td><%=  text_field_tag( "mriscantask[preday]["+v_mriscantask_id.to_s+"]","", :size => 6) %>  </td>		
					</tr>
					<tr><td colspan=4  align="left"> 
						<%= f.label :Task_Note %> <%=  text_field_tag( "mriscantask[tasknote]["+v_mriscantask_id.to_s+"]","", :size => 60) %>  </td>
					<td colspan="5" align="left">	<%= select("mriscantask[has_concerns]",v_mriscantask_id,[['No',"0"],["Yes","1"]],{ :include_blank => "Has Concerns?" })  %>  
					 &nbsp;&nbsp;&nbsp;
						<%= f.label :Concerns %> <%=  text_field_tag( "mriscantask[concerns]["+v_mriscantask_id.to_s+"]","", :size => 60) %>  </td></tr>
					<% if img_dt_set.series_description.downcase.include? "task" 
						     v_mriperformance_id = v_mriperformance_id -1 %>
					<tr><td>------</td><td>Hit: <%=  text_field_tag( "mriperformance[hitpercentage]["+v_mriperformance_id.to_s+"]","", :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td>
						<td>Acc: <%=  text_field_tag( "mriperformance[accuracypercentage]["+v_mriperformance_id.to_s+"]","", :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>
							 <%=  hidden_field_tag( "mriscantask[mriperformance_id]["+v_mriscantask_id.to_s+"]",v_mriperformance_id.to_s) %>
							 <%=  hidden_field_tag( "mriperformance[mriscantask_id]["+v_mriperformance_id.to_s+"]",v_mriscantask_id.to_s) %>
		          <td><td colspan="7"></tr>		
					
					
					<% end %>	
         <% end %>	
	<% end %>
	   <% (1..3).each do |i|  
	             v_mriscantask_id = v_mriscantask_id - 1  
	             v_mriperformance_id = v_mriperformance_id -1 %>
            <tr><td colsapn="9" align = "left"><b>New row <%= i.to_s %>:</b></td><tr>
				<tr><td><%= select("mriscantask[lookup_scantask_id]",v_mriscantask_id, LookupScantask.all.sort_by(&:description).collect {|p| [ p.description, p.id ] }, { :include_blank => "Select a scan task" } )%>   
					<%=  hidden_field_tag( "mriscantask[mriscantask_id][]",v_mriscantask_id.to_s) %>
					<%=  hidden_field_tag( "mriscantask[image_dataset_id]["+v_mriscantask_id.to_s+"]","") %>
					</td>
<td><%= select("mriscantask[lookup_set_id]",v_mriscantask_id, LookupSet.all.sort_by(&:description).collect {|p| [ p.description, p.id ] }, { :include_blank => "Select a set" }) %> </td>
<td><%= select( "mriscantask[task_order]",v_mriscantask_id, [['',''],['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10'],['-1','-1']], { :include_blank => "Select order" } ) %></td>
					<td><%= select("mriscantask[logfilerecorded]",v_mriscantask_id,[['No',"0"],["Yes","-1"]],{  :include_blank => "Log?" })  %>  </td>
					<td><%=  text_field_tag("mriscantask[p_file]["+v_mriscantask_id.to_s+"]","", :size => 6) %>  </td>      </td>
					<td><%=  text_field_tag( "mriscantask[reps]["+v_mriscantask_id.to_s+"]","", :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>  </td>  </td>
					<td><%= select("mriscantask[moved]",v_mriscantask_id,[['No',"0"],["Yes","-1"]],{ :include_blank => "Moved?" })  %>      </td>
					<td><%= select("mriscantask[eyecontact]",v_mriscantask_id,[['No',"0"],["Yes","-1"]],{ :include_blank => "Eyecontact?" })  %>     </td>
					<td><%=  text_field_tag( "mriscantask[preday]["+v_mriscantask_id.to_s+"]","", :size => 6) %>  </td>		
					</tr>
					<tr><td colspan=4  align="left"> 
						<%= f.label :Task_Note %> <%=  text_field_tag( "mriscantask[tasknote]["+v_mriscantask_id.to_s+"]","", :size => 60) %>  </td>
					<td colspan="5" align="left">	<%= select("mriscantask[has_concerns]",v_mriscantask_id,[['No',"0"],["Yes","1"]],{ :include_blank => "Has Concerns?" })  %>  
					 &nbsp;&nbsp;&nbsp;
						<%= f.label :Concerns %> <%=  text_field_tag( "mriscantask[concerns]["+v_mriscantask_id.to_s+"]","", :size => 60) %>  </td></tr>
					<tr><td>------</td><td>Hit: <%=  text_field_tag( "mriperformance[hitpercentage]["+v_mriperformance_id.to_s+"]","", :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %></td>
						<td>Acc: <%=  text_field_tag( "mriperformance[accuracypercentage]["+v_mriperformance_id.to_s+"]","", :size => 6,:onchange =>"if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}") %>
							 <%=  hidden_field_tag( "mriscantask[mriperformance_id]["+v_mriscantask_id.to_s+"]",v_mriperformance_id.to_s) %>
							 <%=  hidden_field_tag( "mriperformance[mriscantask_id]["+v_mriperformance_id.to_s+"]",v_mriscantask_id.to_s) %>
		          <td><td colspan="7"></tr>				  
       <% end %>

	</table>

</div>
  <br style="clear:both" />
  
  <%= f.submit form_action %>

<% end %>

</div>