<% javascript_tag 'defaults' %>
<div id="new_edit_form">

<p>
  Directory path<br />
  <tt><%= @visit.path.nil? ? 'directory unknown' : @visit.path %></tt>
</p>

<%= form_for(@visit) do |f| %>
  <%= f.error_messages %>
  <div class="three_col_left">
    <p>
      <%= f.label :date %><br />
      <%= date_select :visit, :date, :include_blank => true, :end_year => Time.now.year + 1 %><br />
    </p>
    <!-- <p>
      <%#= f.label :scan_procedure %>
      <%#= collection_select(:visit, :scan_procedure_id, ScanProcedure.all.sort_by(&:codename), :id, :codename, :include_blank => "Select a scan_procedure") %>
    </p>
		<p> -->
			<div id="scan_procedure_list">
			<ul>
			<% ScanProcedure.where(" scan_procedures.id in (?)",  current_user[:edit_low_scan_procedure_array] ).all.sort_by(&:codename).each do |scan_procedure| %>
				<li>
					<%#= f.fields_for scan_procedure do |scan_fields| %>
						<%#= f.check_box :scan_procedure_ids, {}, scan_procedure.id, :name => 'visit[scan_procedure_ids][]' %>
						<%#= f.label :scan_procedure_ids, scan_procedure.codename %>
					<%# end %>
				</li>
				<li>
					<%= check_box_tag "visit_scan_procedure_ids", scan_procedure.id, @visit.scan_procedures.include?(scan_procedure), :name => 'visit[scan_procedure_ids][]' %>
					<%= label_tag '', scan_procedure.codename %>
				</li>
			<% end %>
			</ul>
			</div>
		</p>
    <p>
      <%= f.label :scan_number %><br />
      <%= f.text_field :scan_number %>
    </p>
    <p>
      <%= f.label :initials %><br />
      <%= f.text_field :initials %>
    </p>
    <p>
      <%= f.label :rmr %><br />
      <%= f.text_field :rmr %>
    </p>

		<%= f.fields_for :enrollments do |e| %>
		<p>
			<%= e.label :enumber %>
			<%= e.check_box :_destroy unless e.object.new_record?  %>
			<%= e.label :_destroy, "Remove?" unless e.object.new_record? %>
			<%= e.text_field_with_auto_complete :enumber, {},
				        { :method => :get, :url => enrollments_path(:format => :js), :param_name => 'search' } %>
		</p>
		<% end %>

	
  </div>

  <div class="three_col_mid">
    <table>
      <tr>
        <td><%= f.label(:assignee) %></td>
        <td><%= select(:visit, :user_id, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Assign a lab member" }) %></td>
      </tr>
      <tr>
        <td><%= f.label :Transfer_MRI %></td>
        <td><%= select :visit, :transfer_mri, ["no", "yes", "n/a"] %></td>
      </tr>
      <tr>
        <td><%= f.label :Transfer_PET %></td>
        <td><%= select :visit, :transfer_pet, ["n/a", "no", "yes"] %></td>
      </tr>
      <tr>
        <td><%= f.label :radiology_outcom %></td>
        <td><%= select :visit, :radiology_outcome, ["no", "Nm", "A-NF", "A-F", "n/a"] %></td>
      </tr>
      <tr>
        <td><%= f.label :Which_DICOM_DVD %></td>
        <td><%= f.text_field :dicom_dvd, :size => 6 %></td>
      </tr>
      <tr>
        <td><%= f.label :Compile_Folder %></td>
        <td><%= select :visit, :compile_folder, ["no", "yes", "n/a"] %></td>
      </tr>
      <tr>
        <td><%= f.label :Conference %></td>
        <td><%= select :visit, :conference, ["no", "yes", "n/a"] %></td>
      </tr>
    </table>
  </div>
  <div class="three_col_right">
    <p>
      <%= f.label :notes %><br/>
      <%= f.text_area :notes %><br />
    </p>

  </div>

  <br style="clear:both" />
  
  <%= f.submit form_action %>

<% end %>

</div>