<% if @hide_page_flag == "Y" 
  else %>
  <%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
@current_tab = "visits"
%>
<% if edit_count > 0 %>
<h1>Editing MRI appt</h1>

<%= render :partial => 'new_edit', :locals => { :form_action => 'Edit MRI appt'} %>

<% if current_user.role == 'Admin_High' %>
<%
#v_appointment_list = {"Exclude"=>"exclude", "Include"=>"include"}
%>

<br><br><B>Edit the Directory Path</b> <br>

	<%= form_tag( "/visits/change_directory_path",:url => { :controller=>"visits",:action => "change_direcory_path" } ,  :html => { :id => params[:id] }) do |f| %>
<%= hidden_field_tag 'id', @visit.id %>
  <div class="field">
	
    <%= label_tag 'Directory Path' %><br />
<%= text_field_tag 'path', @visit.path,:size =>100 %><br>
The base path for the Data Panda server is <%=@visit.get_base_path() %>
  </div> <!--
<br><div class="field">
	 <%= label_tag 'Also change Image Dataset Path? ' %>
	    <%= check_box_tag 'change_image_dataset_path' %>

	  </div><br> -->
	  <div class="actions">
	    <%= submit_tag("Change directory path") %>
	  </div>
	<% end %>	

<% end %>

<br /><%= link_to 'Back to this MRI appt', @visit %> | <%= link_to 'Delete this MRI appt', @visit, :confirm => "Are you sure you want to delete this MRI appt?", :method => :delete %>
 | <%= link_to 'Vgroup', Vgroup.find(@appointment.vgroup_id) %>
<% end %>
<%end%>