<h1>Search for MRI appts</h1>

<%= form_for @search do |f| %>
	<p>
		<%= f.label :scan_procedures_codename_contains_any, "Scan Procedure:" %>
		<div id="scan_procedure_list">
			<ul>
				<%= f.collection_checks :scan_procedures_codename_contains_any, ScanProcedure.order(:display_alias), :display_alias, :display_alias do |sp| %>
				<li>
					<%= sp.box %>
					<%= sp.label %>
				</li>
				<% end %>
			</ul>
		</div>
	</p>
	<p>
    <%= f.label :rmr_contains, "RMR:" %>
    <%= f.text_field :rmr_contains %>
  </p>
	<p>
		<%= f.label :enrollments_enumber_like, "ENUM:" %>
		<%= f.text_field :enrollments_enumber_like, :size => 25 %>
	</p>
	<p>
		<%= f.label :path_like, "Path:" %>
		<%= f.text_field :path_like, :size => 25 %>
	</p>	
	<p>
		<%= f.label :initials_like, "Initials:" %>
		<%= f.text_field :initials_like, :size => 25 %>
	</p>
	<p>
		<%= f.label :radiology_outcome_like, "Radiology:" %>
		<%= f.select :radiology_outcome_like, Visit::RADIOLOGY_OUTCOMES, :include_blank => true %><br/>
	</p>
	<p>
		<%= f.label :transfer_mri_like, "Transfer MRI:" %>
		<%= f.select :transfer_mri_like, Visit::PROGRESS_CHOICES, :include_blank => true %><br/>
	</p>
	<p>
		<%= f.label :transfer_pet_like, "Transfer PET:" %>
		<%= f.select :transfer_pet_like, Visit::PROGRESS_CHOICES, :include_blank => true %><br/>
	</p>

	<p>
		<%= f.label :compile_folder_like, "Compile Folder:" %>
		<%= f.select :compile_folder_like, Visit::PROGRESS_CHOICES, :include_blank => true %><br/>
	</p>
	<p>
		<%= f.label :conference_like, "Conference:" %>
		<%= f.select :conference_like, Visit::PROGRESS_CHOICES, :include_blank => true %><br/>
	</p>
	<p class="button"><%= f.submit "Find MRI appts" %></p>
<% end %>

