<div id="heading_and_link">
  <h1><%= @title %>:</h1>  
  <p<%= link_to "create new visit", new_visit_path %></p>
</div>

<%= render :partial => 'index_footer' %>

<% @visits.group_by(&:month).each do |month, visits| %>
  <div id="month">
    <%= render :partial => 'index', :locals => { :visits => visits, :paginated => false } %>
  </div><br /><br />
<% end %>

<br />

<%= render :partial => 'index_footer' %>
