<%

# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =current_user[:edit_low_scan_procedure_array].length
edit_count = edit_count -1 
%>
<% if edit_count > 0 %>
<span style="float:right"><%= link_to 'Edit MRI appt', edit_visit_path(@visit) %></span>
<% end %>
<div id="visit_heading">
  <%=	link_to "&larr; Older".html_safe, @older_visit if @older_visit %>
  &nbsp;
  <h1><%= @enumbers.blank? ? @visit.rmr : @enumbers.collect{|e| e.enumber }.join(", ") %></h1>
  <p class="date"><%= @visit.date.to_s(:long) %></p>
  &nbsp;
  <%=	link_to "Newer &rarr;".html_safe, @newer_visit if @newer_visit %>
  <br />
  <p><%= @visit.path %></p>
</div>


<div id="leftcol" class="two_col_left">
  <h3>Summary:</h3>
  <table id="visit_status_table">
    <thead>
      <tr>
        <th>Transfer MRI</th>
        <th>Transfer PET</th>
        <th>Radiology Outcome</th>
        <th>Compile Folder</th>
        <th>Conference</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%= show_bool(@visit.transfer_mri) %>
        <%= show_bool(@visit.transfer_pet) %>
        <%= show_rad_review(@visit.radiology_outcome) %>
        <%= show_bool(@visit.compile_folder) %>
        <%= show_bool(@visit.conference) %>
      </tr>
    </tbody>
  </table>
  
  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :MRI_appt_date => @visit.date,
      :scan_procedure => @visit.scan_procedures.sort_by(&:codename).collect {|sp| link_to(sp.codename, in_scan_procedure_path(sp))}.join(", ").html_safe,
      :Scan_number => @visit.scan_number,
      :enumber => @enumber.nil? ? nil : link_to(@visit.enrollment.enumber, @visit.enrollment),
      :Initials => @visit.initials_from_dicom_or_model,
      :RMR_Number => @visit.rmr,
      :Dicom_DVD => @visit.dicom_dvd == 'no' ? nil : @visit.dicom_dvd,
      :Assignee => @visit.user.nil? ? nil : @visit.user.username,
      :Scanner_source => @visit.scanner_source,
      :Created_by => @visit.created_by ? @visit.created_by.login : '',
      :Participant => @participant.nil? ? nil : link_to('view participant', @participant),
			:Age_at_Visit => @visit.age_at_visit,
	 :Archive_Dvd =>@visit.archivedvd,
	 :MRI_Tech =>@visit.mritech.blank? ? "" : Employee.find(@visit.mritech).name,
	:Scan_Start_Time =>@visit.mristarttime.nil? ? nil : @visit.mristarttime.hour.to_s.rjust(2,'0')+":"+@visit.mristarttime.min.to_s.rjust(2,'0'),
	:Scan_End_Time =>@visit.mriendtime.nil? ? nil : @visit.mriendtime.hour.to_s.rjust(2,'0')+":"+@visit.mriendtime.min.to_s.rjust(2,'0')
    }) %>
  </div>





</div>



<div id="visit_status_report" class="two_col_right">

  <h3>Notes:</h3>
  <div id="notes" class="sticky">
    <%= RedCloth.new(@visit.notes.blank? ? "No notes entered for this visit" : @visit.notes).to_html.html_safe %>
  </div>
<% @vital =  Vital.where("appointment_id in (?) ",@visit.appointment_id).first
 if !@vital.blank?
	 vital = Vital.find(@vital.id) 
	if ( ((vital.pulse.blank?? 911 :vital.pulse) < 911) or
		      ((vital.bp_systol.blank?? 911 :vital.bp_systol) < 911 ) or 
		        ( (vital.bp_diastol.blank?? 911 :vital.bp_diastol) < 911) or 
		           ((vital.bloodglucose.blank?? 911 :vital.bloodglucose) < 911)  )%>
	
<h4>Vitals:</h4>
<div id="vital" class="sticky">
     <%= vital.pulse==991 ?  "" :("Pulse: "+vital.pulse.to_s+"<br>").html_safe %>
     <%= vital.bp_systol==991 ?  "" :("BP Systol: "+vital.bp_systol.to_s+"<br>").html_safe %>
     <%= vital.bp_diastol==991 ?  "" :("PBP Diastol: "+vital.bp_diastol.to_s+"<br>").html_safe %>
     <%= vital.bloodglucose==991 ?  "" :("Blood Glucose: "+vital.bloodglucose.to_s+"<br>").html_safe %>
</div>

<%    end 
  end %>
</div>


<br style="clear: both" /><br />


<h3>Images acquired during MRI appt:</h3>
<% if @image_datasets.empty? %>
  <p>No images associated with this MRI appt</p>
<% else %>
  <%= render(:partial => 'image_datasets/image_datasets', :locals => {:image_datasets => @image_datasets, :include_thumbnails => true, :edit_count => edit_count} ) %>
<% end %>

<!-- <h3>Check Radiology</h3> -->
<%= render(:partial => "lookup_radiology_button", :locals => {:rmr => @visit.rmr} ) %>
<br>
<div >
	<table  class="tabular_no_shade"><tr><th>Scan Task</th><th>Set</th><th>Order</th><th>LogFile Recorded</th><th>P_file</th>
		<th>Reps</th><th>Moved</th><th>Eye Contact</th><th>Preday</th></tr>
		<tr><th colspan=9 align="left">Task Note</th</tr>
		<tr><th colspan=9 align="left">Concerns</th</tr>
	<% @mriscantask.each do |mst|%>
	<tr><td><%= mst.lookup_scantask_id.blank? ? "" : LookupScantask.find(mst.lookup_scantask_id).description %>      </td>
		<td><%= LookupSet.find(mst.lookup_set_id).description %>      </td>
		<td><%= mst.task_order.try(:to_s)%>      </td>
		<td><%= mst.logfilerecorded==(-1) ? "Yes" : "No"%>      </td>
		<td><%= mst.p_file%>      </td>
		<td><%= mst.reps.try(:to_s)%>      </td>
		<td><%= mst.moved==(-1) ? "Yes" : "No"%>      </td>
		<td><%= mst.eyecontact ==(-1) ? "Yes" : "No"%>      </td>
		<td><%= mst.preday.try(:to_s)%>      </td>		
		</tr>
		<% if !mst.tasknote.blank? %>
		<tr><td colspan=9  align="left"> <%= mst.tasknote%> </td></tr>
		<% end %>
		<% if !mst.concerns.blank? or mst.has_concerns==(1) %>
		<tr><td><%= mst.has_concerns==(1) ? "Has Concerns" : ""%></td><td colspan=8  align="left"> <%= mst.concerns%> </td></tr>
		<% end %>
		<% @mriperformances = Mriperformance.where("mriscantask_id in (?)",mst.id)
		   @mriperformances.each do |mp|
		%>
		<tr><td>------</td><td>Hit: <%= mp.hitpercentage.try(:to_s)%></td><td>Acc: <%= mp.accuracypercentage.try(:to_s)%><td><td colspan="7"></tr>
		<% end%>
		
	
	<% end %>
	</table>
</div>
<%= render(:partial => "visit_confirmation") %>

<%= content_tag :p, "STUDY UID: %s" % @visit.dicom_study_uid, :class => "uid" if @visit.dicom_study_uid %>