<% if @hide_page_flag == "Y" 
  else %>
<%

# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =current_user[:edit_low_scan_procedure_array].length
edit_count = edit_count -1 
%>
<% if edit_count > 0 %>
<span style="float:right"><%= link_to 'Edit MRI appt', edit_visit_path(@visit) %> | <%= link_to 'Vgroup', Vgroup.find(@appointment.vgroup_id) %></span>
<% end %>
<div id="visit_heading">
  <%=	link_to "&larr; Older".html_safe, @older_visit if @older_visit %>
  &nbsp;
  <h1><%= @enumbers.blank? ? @visit.rmr : @enumbers.collect{|e| e.enumber }.join(", ") %></h1>
  <p class="date"><%= @visit.date.to_s(:long) %></p>
  &nbsp;
  <%=	link_to "Newer &rarr;".html_safe, @newer_visit if @newer_visit %>
  <br />
  <p><%= @visit.path %></p>
</div>



<%= render :partial => 'visits/show' %>

<br style="clear: both" /><br />


<h3>Images acquired during MRI appt:</h3>
<% if @image_datasets.empty? %>
  <p>No images associated with this MRI appt</p>
<% else %>
  <%= render(:partial => 'image_datasets/image_datasets', :locals => {:image_datasets => @image_datasets, :include_thumbnails => true, :edit_count => edit_count} ) %>
<% end %>

<!-- <h3>Check Radiology</h3> -->
<%= render(:partial => "lookup_radiology_button", :locals => {:rmr => @visit.rmr} ) %>
<br>
<div >
	
	<table  class="tabular_no_shade"><tr><th colsapn="4"  align="left">Scan Series</th><th align="left">Set</th><th align="left">Order</th><th align="left">LogFile Recorded</th></tr>
	<% @mriscantask.each do |mst|%>
	<% if !mst.image_dataset_id.blank?%>
	<tr><td colsapn="7" align = "left"><b><%= ImageDataset.find(mst.image_dataset_id).series_description %></b></td></tr>
	   <% if !@image_comments.where("image_dataset_id in (?)",mst.image_dataset_id ).blank? %>
          <tr><td colspan="5" align="left">
              <% v_cnt = 0
              @image_comments.where("image_dataset_id in (?)",mst.image_dataset_id ).each do |cmnt| %>
                       <% if v_cnt > 0 %>;<br><br><%end%>
                         <%= RedCloth.new(cmnt.comment.blank? ? "" : cmnt.comment).to_html.gsub("<p>","").gsub("</p>","").html_safe %>&nbsp;<small><small>(<%= cmnt.user.username %>)</small></small>
                      <% v_cnt = v_cnt + 1 %>
               <%end%>
          </td></tr>
       <%end%>
	<% end %>
	<tr><td colsapn="4" align="left"><%= mst.lookup_scantask_id.blank? ? "" : LookupScantask.find(mst.lookup_scantask_id).description %>      </td>
		<td  align="left"><%= mst.lookup_set_id.blank? ? "" :LookupSet.find(mst.lookup_set_id).description %>      </td>
		<td align="left"><%= mst.task_order.try(:to_s)%>      </td>
		<td align="left"><%= mst.logfilerecorded==(-1) ? "Yes" : "No"%>      </td>
		</tr>
			<% if !mst.tasknote.blank? %>
			<tr><td colspan=7  align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note: <%= mst.tasknote%> </td></tr>
			<% end %>
	<% @mriperformances = Mriperformance.where("mriscantask_id in (?)",mst.id)
	    @mriperformances.each do |mp| %>
		   <tr><td colspan="3" align="left">------Hit: <%= mp.hitpercentage.try(:to_s)%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acc: <%= mp.accuracypercentage.try(:to_s)%><td><td colspan="4"></tr>
		<% end%>
	 <% if !mst.p_file.blank? or !mst.reps.blank? or !mst.moved.blank? or !mst.eyecontact.blank? or !mst.preday.blank? or !mst.concerns.blank? or mst.has_concerns==(1) %>
		<tr>	
		<td align="right"><%= if !mst.p_file.blank?
			  "P-file: "+mst.p_file
			   end %>  </td>     
		<td align="right"><%= if !mst.reps.blank? 
			    "Reps: "+mst.reps.try(:to_s)
			   end %>  </td>
		<td align="right"><%= if !mst.moved.blank? 
			       mst.moved==(-1) ? "Moved: Yes" : "Moved: No" 
			   end%>      </td>
		<td align="right"><%= if !mst.eyecontact.blank?
			      mst.eyecontact ==(-1) ? "Eye Contact: Yes" : "Eye Contact: No"
			    end %>     </td>
		<td align="right"><%= if !mst.preday.blank?
			      "Preday: "+mst.preday.try(:to_s)
			 end %></td>		
		<td colspan="2" align="right">
		<% if !mst.concerns.blank? or mst.has_concerns==(1) %> 
		<%= mst.has_concerns==(1) ? "Has Concerns: " : "Concerns: "%> <%= mst.concerns %> 
		<% end %>  
		</tr>
	 <% end %>
	<% end %>
	</table>
</div>
<%= render(:partial => "visit_confirmation") %>

<%= content_tag :p, "STUDY UID: %s" % @visit.dicom_study_uid, :class => "uid" if @visit.dicom_study_uid %>

<%end%>