<span style="float:right"><%= link_to 'Edit visit', edit_visit_path(@visit) %></span>

<div id="visit_heading">
  <%=	link_to "&larr; Older".html_safe, @older_visit if @older_visit %>
  &nbsp;
  <h1><%= @enumbers.blank? ? @visit.rmr : @enumbers.collect{|e| e.enumber }.join(", ") %></h1>
  <p class="date"><%= @visit.date.to_s(:long) %></p>
  &nbsp;
  <%=	link_to "Newer &rarr;".html_safe, @newer_visit if @newer_visit %>
  <br />
  <p><%= @visit.path %></p>
</div>


<div id="leftcol" class="two_col_left">
  <h3>Summary:</h3>
  <table id="visit_status_table">
    <thead>
      <tr>
        <th>Transfer MRI</th>
        <th>Transfer PET</th>
        <th>Radiology Outcome</th>
        <th>Compile Folder</th>
        <th>Conference</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%= show_bool(@visit.transfer_mri) %>
        <%= show_bool(@visit.transfer_pet) %>
        <%= show_rad_review(@visit.radiology_outcome) %>
        <%= show_bool(@visit.compile_folder) %>
        <%= show_bool(@visit.conference) %>
      </tr>
    </tbody>
  </table>
  
  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Visit_date => @visit.date,
      :scan_procedure => @visit.scan_procedures.sort_by(&:codename).collect {|sp| link_to(sp.codename, in_scan_procedure_path(sp))}.join(", ").html_safe,
      :Scan_number => @visit.scan_number,
      :enumber => @enumber.nil? ? nil : link_to(@visit.enrollment.enumber, @visit.enrollment),
      :Initials => @visit.initials,
      :RMR_Number => @visit.rmr,
      :Dicom_DVD => @visit.dicom_dvd == 'no' ? nil : @visit.dicom_dvd,
      :Assignee => @visit.user.nil? ? nil : @visit.user.login,
      :Scanner_source => @visit.scanner_source,
      :Created_by => @visit.created_by ? @visit.created_by.login : '',
      :Participant => @participant.nil? ? nil : link_to('view participant', @participant),
			:Age_at_Visit => @visit.age_at_visit
    }) %>
  </div>

</div>



<div id="visit_status_report" class="two_col_right">

  <h3>Notes:</h3>
  <div id="notes" class="sticky">
    <%= RedCloth.new(@visit.notes.blank? ? "No notes entered for this visit" : @visit.notes).to_html.html_safe %>
  </div>

</div>


<br style="clear: both" /><br />


<h3>Images acquired during visit:</h3>
<% if @image_datasets.empty? %>
  <p>No images associated with this visit</p>
<% else %>
  <%= render(:partial => 'image_datasets/image_datasets', :locals => {:image_datasets => @image_datasets, :include_thumbnails => true} ) %>
<% end %>

<h3>Check Radiology</h3>
<%= render(:partial => "lookup_radiology_button", :locals => {:rmr => @visit.rmr} ) %>

<%= render(:partial => "visit_confirmation") %>

<%= content_tag :p, "STUDY UID: %s" % @visit.dicom_study_uid, :class => "uid" if @visit.dicom_study_uid %>