<%= form_for(@lookup_drugclass) do |f| %>
  <% if @lookup_drugclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lookup_drugclass.errors.count, "error") %> prohibited this lookup_drugclass from being saved:</h2>

      <ul>
      <% @lookup_drugclass.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :epodrugclass %><br />
    <%= f.text_field :epodrugclass %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
