<% v_y_n = {"Yes"=>"Y","No"=>"N"} %>
  <% if current_user.role == 'Admin_High'%>
<h1>Editing Scan Procedure</h1>
<%= form_for(@scan_procedure) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code_name %><br />
    <%= f.text_field :codename %>
  </p>
  <p>
    <%= f.label :subjectid_base %> - this is a duplication of the protocol.abbr<br />
    <%= f.text_field :subjectid_base %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>  
  <p>
	<%= f.label :protocol_id %><br />
    <%= collection_select :scan_procedure, :protocol_id, Protocol.all.sort_by(&:id), :id, :name, :prompt => 'choose a protocol' %>
  </p>
  <p>
    <%= f.label :petscan_flag %><br />
      <%= f.select :petscan_flag, v_y_n, :selected => @scan_procedure.petscan_flag , :include_blank => 'Select if petscans can be included in sp'  %> Select if petscans can be included in sp
  </p>
      <p>
    <%= f.label :petscan_tracer_file_size %><br />
    <%= f.text_field :petscan_tracer_file_size %> Enter [tracer_id]:[size]|[tracer_id]:[size]|etc. , there can be omore than one size entry for a tracer.
  </p>
        <p>
    <%= f.label :petscan_tracer_path %><br />
    <%= f.text_field :petscan_tracer_path %> Enter [tracer_id]:[path]|[tracer_id]:[path]|etc.
  </p>
    <p>
    <%= f.label :rmraic_reggieid_flag %><br />
      <%= f.select :rmraic_reggieid_flag, v_y_n, :selected => @scan_procedure.rmraic_reggieid_flag , :include_blank => 'Select if reggieid in RMRaicXXXXXX format for in sp'  %> Select if reggieid in RMRaicXXXXXX format for in sp
  </p>
      <p>
    <%= f.label :make_participant_flag %><br />
      <%= f.select :make_participant_flag, v_y_n, :selected => @scan_procedure.make_participant_flag , :include_blank => 'Select if reggieid NOT in RMRaicXXXXXX format for in sp'  %> Select if reggieid NOT in RMRaicXXXXXX format for in sp<br>
      <B>Makes a participant, but no reggieid link</B>
  </p>
        <p>
    <b>Alternative RMR dicom field</b><br />
    <%= f.text_field :rmr_dicom_field %> Enter [####,####]|[description] e.g. 0008,0050|Accession Number.
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<%end%>
<%= link_to 'Back to this scan_procedure', @scan_procedure %>
