<h1>Editing Scan Procedure</h1>

<% form_for(@scan_procedure) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code_name %><br />
    <%= f.text_field :codename %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back to this scan_procedure', @scan_procedure %>
