<table id="scan_procedures_index_table" class="tabular">
  <caption>Current Scan Procedures</caption>
  
  <thead>
    <tr>
      <th>Code Name</th>
	      <th>Subjectid Base<br> <small><small>- this is a duplication<br> of the protocol.abbr</small></small></th>
      <th>Description</th>
	  <th>Petscan Flag</th>
    <th>Petscan Tracer File Size</th>
    <th>Petscan Tracer File Path</th>
    <th>RMRaic Reggieid Flag</th>
    <th>Make Participant Flag</th>
    <th>Alternative rmr_dicom_field</th>
    <th>Permission_Type</th>
    

	  <th>Total</th>
      <th></th>
    </tr>
  </thead>

  <tfoot><%= footer 4 %></tfoot>

  <tbody>
    <% @scan_procedures.each do |scan_procedure| %>
    <tr>
      <td><%= link_to(scan_procedure.codename, '/vgroups/home?vgroups_search[scan_procedure_id][id]='+scan_procedure.id.to_s) %></td>
      <td><%=h scan_procedure.subjectid_base %></td>
      <td><%=h scan_procedure.description %></td>
      <td><%=h scan_procedure.petscan_flag %></td>
       <td><%=h scan_procedure.petscan_tracer_file_size%></td>
       <td><%=h scan_procedure.petscan_tracer_path%></td>
       <td><%=h scan_procedure.rmraic_reggieid_flag %></td>
       <td><%=h scan_procedure.make_participant_flag %></td>
       <td><%=h scan_procedure.rmr_dicom_field %></td>
       <td><%=h scan_procedure.permission_type %></td>
			<td><%=h scan_procedure.vgroups.count %></td>
      <td>
        <%= link_to '@', scan_procedure %>
        <% if current_user.role == 'Admin_High'%>
        <%= link_to '&', edit_scan_procedure_path(scan_procedure) %>
        <%= link_to 'x', scan_procedure, :method => :delete,data: {confirm: 'Are you sure?' } %>
        <%end%>
      </td>
    </tr>
    <% end %>
  </tbody>
  
</table>

<br />

<%= link_to 'New scan procedure', new_scan_procedure_path %>