<h1>New scan procedure</h1>

<%= form_for(@scan_procedure) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code_name %><br />
    <%= f.text_field :codename %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
	<%= f.label :protocol_id %><br />
    <%= collection_select :scan_procedure, :protocol_id, Protocol.all.sort_by(&:id), :id, :name, :prompt => 'choose a protocol' %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', scan_procedures_path %> | 
<%= link_to 'List Protocols', protocols_path %> |
<%= link_to 'New Protocol', new_protocol_path %>
