<!-- get values from q_data, q_data_form for this value_link-form-questions, populate form elements -->
<%
# in the question writing part, there are three repititions, val_1, val_2, val_3
# and a if statement for each type of form element
# for the form elements driven by a database table, there is one version for simple lookup table - id, description
#   and a second version for the composite lookup_refs table - ref_value, description based on what the reference label column is
#    the syntax for the form element is slightly different
# the different form elements should be encapulated into a function
# until then, be sure to edit the form element in all 3 parts of the question (val_1, val_2, val_3)
# and each form element
# and each of the twp parts of the form elements
%>
<%
 params[:id] = @questionform.id.to_s

 @questionform_questions = QuestionformQuestion.where(" question_id not in (select question_id from question_scan_procedures)
                                                           or (question_id in 
                                                                   (select question_id from question_scan_procedures where  include_exclude ='include' and scan_procedure_id in (?))
                                                                and
                                                             question_id not in 
                                        (select question_id from question_scan_procedures where include_exclude ='exclude' and scan_procedure_id in (?)))",
                                                   @scanprocedures,@scanprocedures).where(" questionform_id = ?",params[:id]).sort_by(&:display_order)

   puts "id= "+params[:id] 
  if !@q_data_form.blank?
   #@q_data_form = QDataForm.find(params[:q_data_form_id])
  else
    # THIS WILL FAIL IF NO q_data_form already exisit
   @q_data_form = QDataForm.new 
  end
 params[:q_data_form_id] = @q_data_form.id.to_s
puts "q_data_form_id="+params[:q_data_form_id]
# need front porch --- need consitant participant with enrollment with appointment with visit -- derive other values from one selection
# just display -- rederive, even with hidden field
%>
<% form_tag( "/questionform/question_enter",:url => { :controller=>"questionform",:action => "question_enter" } ,  :html => { :id => params[:id] }) do |f| %>
<!-- THIS WILL CHANGE TO questionform_id   -->
	<%= hidden_field_tag(:questionform_id, params[:id]) %>
	<%= hidden_field_tag(:q_data_form_id, params[:q_data_form_id]) %>
	<% # putting in placeholders for value_* arrays so less problem with evaluating nulls %>
	<%= hidden_field_tag("value_1[-1]","") %>
	<%= hidden_field_tag("value_2[-1]","") %>
	<%= hidden_field_tag("value_3[-1]","") %>
<%     # get the distinct value_link type from the questions in this form -- make dropdowns 
    sql = "select distinct value_link from questions where value_link is not null and value_link != '' and
                      questions.id in (select question_id from questionform_questions where questionform_id = "+params[:id]+")"
    connection = ActiveRecord::Base.connection();
    results = connection.execute(sql) 
     value_link_array = [] %>
<%    results.each do |vl|  
	  value_link_array << vl.try(:to_s)
     if vl.try(:to_s) == "participant"   %> 
             <%= hidden_field_tag("value_1[-1]","") %> <%= hidden_field_tag("value_link[participant_id]",params[:participant_id]) %>
   <% elsif vl.try(:to_s) == "visit"   %> <%= hidden_field_tag("value_link[visit_id]",params[:visit_id]) %>
   <% elsif vl.try(:to_s) == "appointment"   %><%= hidden_field_tag("value_link[appointment_id]",@appointment.id.to_s) %>
   <% elsif vl.try("to_s") == "enrollment"   %> <%= hidden_field_tag("value_link[enrollment_id]",params[:enrollment_id]) %>			
	<% elsif  vl.try("to_s") == "scan_procedure"   %> <%= hidden_field_tag("value_link[scan_procedure_id]",params[:escan_procedure_id]) %>
<%	  end %>
  <% end %>
<%    # scan_procedure id --- access control, limit participants, visits, etc%>
<%   # want to use value_link_array.include? make different dropdown - include visit-participant-enroll in one dropdown, and resplit to the different parts   %>
<table>
    <% @questionform_questions.each do |qfq| 
	@question = Question.find(qfq.question_id)
			# pass @question to draw_question
			params["q_data_id["+qfq.question_id.to_s+"]"] = "" #"33" 
		  if !@q_data_form.blank?  # get this q_data_form_id / question_id ==> assuming no duplicate question_id in one form
			sql = "select distinct q_data.id from q_data where q_data_form_id ="+@q_data_form.id.to_s+" and 
			       q_data.question_id  ="+@question.id.to_s
		    connection = ActiveRecord::Base.connection();
		    results = connection.execute(sql)
		    results.each do |id|
				params["q_data_id["+qfq.question_id.to_s+"]"] =  id.try(:to_s)
			end
		  end	
		  if params["q_data_id["+qfq.question_id.to_s+"]"].length > 0 
		   @q_data = QDatum.find(params["q_data_id["+qfq.question_id.to_s+"]"])
		  else
		   @q_data = QDatum.new
		   @q_data.value_1 = @question.default_val_1
		   @q_data.value_2 = @question.default_val_2
		   @q_data.value_3 = @question.default_val_3
		  end
	     %>
	<tr><td>
	<%= hidden_field_tag("question_id[]", @question.id) %>
	<%= hidden_field_tag("q_data_id["+@question.id.to_s+"]", @q_data.id)  # need to populate 
	%>
	
	  <%if !@question.heading_1.blank? %>
		<B><%=  @question.heading_1 %></B> <br>
	   <% end %>
	  <%if !@question.phrase_a_1.blank? %>
		<b><%=  @question.phrase_a_1 %></b>  
	  <% end %>	
	  <%if !@question.phrase_b_1.blank? %>
		<%=  @question.phrase_b_1 %>  
	  <% end %>
	  <%if !@question.value_type_1.blank?   # follow order in array in question form edit
			val_array =[]
			if !@q_data.value_1.blank?
				val_array = @q_data.value_1.split(',')
			end
		 
	      if @question.value_type_1 == "textarea"   # walk thru each value_type --- get each disoplay value  %>
	         <%= @q_data.value_1 %>
	      <% elsif @question.value_type_1 == "textarea_3x60"   # walk thru each value_type --- get each disoplay value  %>			
	         <%=  @q_data.value_1 %>
		<% elsif @question.value_type_1 == "dropdown"
		    if @question.ref_table_a_1 == "LOOKUP_REFS"  ## use ref_table_b_1 %>
				<%= collection_select "value_1",@question.id.to_s, LookupRef.where("label = ?",@question.ref_table_b_1).sort_by(&:display_order),
			    	:ref_value, :description, {:include_blank => @question.prompt_1,:selected => (@q_data.value_1 or @question.default_val_1)} %>
			<%	else   %>
			  	<%= collection_select "value_1",@question.id.to_s, ((@question.ref_table_a_1).constantize).all.sort_by(&:description),
			    	:id, :description, {:include_blank => @question.prompt_1,:selected => (@q_data.value_1 or @question.default_val_1)} %>			
		     <%   end   %>
		<% elsif @question.value_type_1 == "text_5"  %>
			<% #question_id, value_number,size %>
			<%= @q_data.value_1 %>
		<% elsif @question.value_type_1 == "text_10"  %>
		<% #question_id, value_number,size %>
		   <%= @q_data.value_1 %>	
		<% elsif @question.value_type_1 == "text_20"  %>
		   <%= @q_data.value_1 %>	
		<% elsif @question.value_type_1 == "text_30"  %>
		   <%= @q_data.value_1 %>	
		<% elsif @question.value_type_1 == "text_50"  %>
		   <%= @q_data.value_1 %>
		<% elsif @question.value_type_1 == "text_70"  %>
		   <%= @q_data.value_1 %>	
		<% elsif @question.value_type_1 == "text_90"  %>
		   <%= @q_data.value_1 %>								
		<% elsif @question.value_type_1 == "checkbox_1_col"  %>
		   <% if @question.ref_table_a_1 == "LOOKUP_REFS" 
			     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_1+"' order by display_order"
			     connection = ActiveRecord::Base.connection();
              results = connection.execute(sql)
			    %>
	          <% results.each do |theme| %>
                <br><%= check_box_tag 'value_1['+@question.id.to_s+"][]", theme[0],  val_array.include?( theme[0].to_s) %> 
	              <%= theme[1].humanize %>
	          <% end %>
		   <% else 
		         results = ((@question.ref_table_a_1).constantize).all.sort_by(&:description)
		       %>
	          <% results.each do |theme| %>
                <br><%= check_box_tag 'value_1['+@question.id.to_s+"][]", theme.id,  val_array.include?( theme.id.to_s) %>
	              <%= (theme.description) %>
	          <% end %>
	        <% end %>	
		<% elsif @question.value_type_1 == "checkbox_in_line"  %>
		   <% if @question.ref_table_a_1 == "LOOKUP_REFS" 
			     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_1+"' order by display_order"
			     connection = ActiveRecord::Base.connection();
             results = connection.execute(sql)
			    %>
	          <% results.each do |theme| %>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'value_1['+@question.id.to_s+"][]", theme[0], val_array.include?( theme[0].to_s) %>
	              <%= theme[1].humanize %>
	          <% end %>
		   <% else 
		         results = ((@question.ref_table_a_1).constantize).all.sort_by(&:description)
		       %>
	          <% results.each do |theme| %>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'value_1['+@question.id.to_s+"][]", theme.id, val_array.include?( theme.id.to_s) %>
	              <%= (theme.description) %>
	          <% end %>
	        <% end %>
		<% elsif @question.value_type_1 == "radio_1_col"  %>
		   <% if @question.ref_table_a_1 == "LOOKUP_REFS" 
			     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_1+"' order by display_order"
			     connection = ActiveRecord::Base.connection();
                 results = connection.execute(sql)
			    %>
	          <% results.each do |theme| %>
                   <br><%= radio_button_tag "value_1["+@question.id.to_s+"][]", theme[0], @q_data.value_1.to_i  == theme[0] %>
	              <%= theme[1].humanize %>
	          <% end %>
		   <% else 
		         results = ((@question.ref_table_a_1).constantize).all.sort_by(&:description)
		       %>
	          <% results.each do |theme| %>
                   <br><%= radio_button_tag "value_1["+@question.id.to_s+"][]", theme.id,  (@q_data.value_1.to_i == theme.id.to_i)?  true:false %>
	              <%= (theme.description) %>
	          <% end %>
	        <% end %>		
		<% elsif @question.value_type_1 == "radio_in_line"  %>
		   <% if @question.ref_table_a_1 == "LOOKUP_REFS" 
			     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_1+"' order by display_order"
			     connection = ActiveRecord::Base.connection();
                 results = connection.execute(sql)
			    %>
	          <% results.each do |theme| %>
	               
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag "value_1["+@question.id.to_s+"][]", theme[0], @q_data.value_1.to_i == theme[0] %>
	              <%= theme[1].humanize %>
	          <% end %>
		   <% else 
		         results = ((@question.ref_table_a_1).constantize).all.sort_by(&:description)
		       %>
	          <% results.each do |theme| %>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag "value_1["+@question.id.to_s+"][]", theme.id,  (@q_data.value_1.to_i == theme.id.to_i)?  true:false    %> <%= theme.description%>
	          <% end %>
	        <% end %>		
		<%  end %>		
	  <% end %>
	  <%if !@question.phrase_c_1.blank? %>
		<%=  @question.phrase_c_1 %>  
	  <% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <%if !@question.heading_2.blank? %>
		<B><%=  @question.heading_2 %></B> <br>
	   <% end %>
	  <%if !@question.phrase_a_2.blank? %>
		<b><%=  @question.phrase_a_2 %></b>  
	  <% end %>	
	  <%if !@question.phrase_b_2.blank? %>
		<%=  @question.phrase_b_2 %>  
	  <% end %>	
		  <%if !@question.value_type_2.blank?   # follow order in array in question form edit
			val_array =[]
			if !@q_data.value_2.blank?
				val_array = @q_data.value_2.split(',')
			end
		     if @question.value_type_2 == "textarea"   # walk thru each value_type --- get each disoplay value  %>			
	         <%=@q_data.value_2%>
	        <% elsif @question.value_type_2 == "textarea_3x60"   # walk thru each value_type --- get each disoplay value  %>			
	         <%= @q_data.value_2 %>
			<% elsif @question.value_type_2 == "dropdown"
			    if @question.ref_table_a_2 == "LOOKUP_REFS"  ## use ref_table_b_2 %>
					<%= collection_select "value_2",@question.id.to_s, LookupRef.where("label = ?",@question.ref_table_b_2).sort_by(&:display_order),
				    	:ref_value, :description, {:include_blank => @question.prompt_2,:selected => (@q_data.value_2 or @question.default_val_2)} %>
				<%	else   %>
				  	<%= collection_select "value_2",@question.id.to_s, ((@question.ref_table_a_2).constantize).all.sort_by(&:description),
				    	:id, :description, {:include_blank => @question.prompt_2,:selected => (@q_data.value_2 or @question.default_val_2)} %>
			     <%   end   %>
			<% elsif @question.value_type_2 == "text_5"  %>
						<% #question_id, value_number,size %>
				<%= @q_data.value_2 %>
			<% elsif @question.value_type_2 == "text_10"  %>
			  <%= @q_data.value_2 %>	
			<% elsif @question.value_type_2 == "text_20"  %>
			  <%= @q_data.value_2 %>	
			<% elsif @question.value_type_2 == "text_30"  %>
			   <%= @q_data.value_2 %>
			<% elsif @question.value_type_2 == "text_50"  %>
			   <%= @q_data.value_2 %>
			<% elsif @question.value_type_2 == "text_70"  %>
			   <%= @q_data.value_2 %>	
			<% elsif @question.value_type_2 == "text_90"  %>
			   <%= @q_data.value_2 %>
			<% elsif @question.value_type_2 == "checkbox_1_col"  %>
		   		<% if @question.ref_table_a_2 == "LOOKUP_REFS" 
			     	sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_2+"' order by display_order"
			     	connection = ActiveRecord::Base.connection();
              		results = connection.execute(sql)
			    	%>
	          		<% results.each do |theme| %>
                		<br><%= check_box_tag 'value_2['+@question.id.to_s+"][]", theme[0],  val_array.include?( theme[0].to_s) %>
	              		<%= theme[1].humanize %>
	          		<% end %>
		   		<% else 
		         	results = ((@question.ref_table_a_2).constantize).all.sort_by(&:description)
		       		%>
	          		<% results.each do |theme| %>
                		<br><%= check_box_tag 'value_2['+@question.id.to_s+"][]", theme.id,  val_array.include?( theme.id.to_s) %>
	              		<%= (theme.description) %>
	          		<% end %>
	        	<% end %>
			<% elsif @question.value_type_2 == "checkbox_in_line"  %>
		   		<% if @question.ref_table_a_2 == "LOOKUP_REFS" 
			     	sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_2+"' order by display_order"
			     	connection = ActiveRecord::Base.connection();
           		results = connection.execute(sql)
			    	%>
	          		<% results.each do |theme| %>
             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'value_2['+@question.id.to_s+"][]", theme[0],  val_array.include?( theme[0].to_s) %>
	              		<%= theme[1].humanize %>
	          		<% end %>
		   		<% else 
		         	results = ((@question.ref_table_a_2).constantize).all.sort_by(&:description)
		       		%>
	          		<% results.each do |theme| %>
             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'value_2['+@question.id.to_s+"][]", theme.id,  val_array.include?( theme.id.to_s) %>
	              		<%= (theme.description) %>
	          		<% end %>
	        	<% end %>
			<% elsif @question.value_type_2 == "radio_1_col"  %>
			   <% if @question.ref_table_a_2 == "LOOKUP_REFS" 
				     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_2+"' order by display_order"
				     connection = ActiveRecord::Base.connection();
	                 results = connection.execute(sql)
				    %>
		          <% results.each do |theme| %>
	                   <br><%= radio_button_tag "value_2["+@question.id.to_s+"][]", theme[0], @q_data.value_2.to_i  == theme[0] %>
		              <%= theme[1].humanize %>
		          <% end %>
			   <% else 
			         results = ((@question.ref_table_a_2).constantize).all.sort_by(&:description)
			       %>
		          <% results.each do |theme| %>
	                   <br><%= radio_button_tag "value_2["+@question.id.to_s+"][]", theme.id,  (@q_data.value_2.to_i == theme.id.to_i)?  true:false %>
		              <%= (theme.description) %>
		          <% end %>
		        <% end %>						
			<% elsif @question.value_type_2 == "radio_in_line"  %>
			   <% if @question.ref_table_a_2 == "LOOKUP_REFS" 
				     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_2+"' order by display_order"
				     connection = ActiveRecord::Base.connection();
	                 results = connection.execute(sql)
				    %>
		          <% results.each do |theme| %>
	                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag "value_2["+@question.id.to_s+"][]", theme[0], @q_data.value_2.to_i  == theme[0] %>
		              <%= theme[1].humanize %>
		          <% end %>
			   <% else 
			         results = ((@question.ref_table_a_2).constantize).all.sort_by(&:description)
			       %>
		          <% results.each do |theme| %>
	                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag "value_2["+@question.id.to_s+"][]", theme.id,  (@q_data.value_2.to_i == theme.id.to_i)?  true:false %>
		              <%= (theme.description) %>
		          <% end %>
		        <% end %>				
			<%  end %>
		  <% end %>	
	  <%if !@question.phrase_c_2.blank? %>
		<%=  @question.phrase_c_2 %>  
	  <% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <%if !@question.heading_3.blank? %>
		<B><%=  @question.heading_3 %></B> <br>
	   <% end %>
	  <%if !@question.phrase_a_3.blank? %>
		<b><%=  @question.phrase_a_3 %> </b> 
	  <% end %>	
	  <%if !@question.phrase_b_3.blank? %>
		<%=  @question.phrase_b_3 %>  
	  <% end %>
	
		  <%if !@question.value_type_3.blank?   # follow order in array in question form edit
			val_array =[]
			if !@q_data.value_3.blank?
				val_array = @q_data.value_3.split(',')
			end
		      if @question.value_type_3 == "textarea"   # walk thru each value_type --- get each disoplay value  %>
	           <%= @q_data.value_3 %>
	        <% elsif @question.value_type_3 == "textarea_3x60"   # walk thru each value_type --- get each disoplay value  %>			
	         <%= @q_data.value_3 %>
			<% elsif @question.value_type_3 == "dropdown"
			    if @question.ref_table_a_3 == "LOOKUP_REFS"  ## use ref_table_b_3 %>
					<%= collection_select "value_3",@question.id.to_s, LookupRef.where("label = ?",@question.ref_table_b_3).sort_by(&:display_order),
				    	:ref_value, :description, {:include_blank => @question.prompt_3,:selected => (@q_data.value_3 or @question.default_val_3)} %>
				<%	else   %>
				  	<%= collection_select "value_3",@question.id.to_s, ((@question.ref_table_a_3).constantize).all.sort_by(&:description),
				    	:id, :description, {:include_blank => @question.prompt_3,:selected => (@q_data.value_3 or @question.default_val_3)} %>
			     <%   end   %>
			<% elsif @question.value_type_3 == "text_5"  %>
					 <%= @q_data.value_3 %>
			<% elsif @question.value_type_3 == "text_10"  %>
				   <%= @q_data.value_3 %>	
			<% elsif @question.value_type_3 == "text_20"  %>
					<%= @q_data.value_3 %>	
			<% elsif @question.value_type_3 == "text_30"  %>
					<%= @q_data.value_3 %>	
			<% elsif @question.value_type_3 == "text_50"  %>
					<%= @q_data.value_3 %>
			<% elsif @question.value_type_3 == "text_70"  %>
					<%= @q_data.value_3 %>	
			<% elsif @question.value_type_3 == "text_90"  %>
					@q_data.value_3 %>
			<% elsif @question.value_type_3 == "checkbox_1_col"  %>
		    	<% if @question.ref_table_a_3 == "LOOKUP_REFS" 
			     	sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_3+"' order by display_order"
			     	connection = ActiveRecord::Base.connection();
              		results = connection.execute(sql)
			    	%>
	          		<% results.each do |theme| %>
                		<br><%= check_box_tag 'value_3['+@question.id.to_s+"][]", theme[0],  val_array.include?( theme[0].to_s)%>
	              		<%= theme[1].humanize %>
	          		<% end %>
		   		<% else 
		         	results = ((@question.ref_table_a_3).constantize).all.sort_by(&:description)
		       		%>
	          		<% results.each do |theme| %>
                		<br><%= check_box_tag 'value_3['+@question.id.to_s+"][]", theme.id, val_array.include?( theme.id.to_s) %>
	              		<%= (theme.description) %>
	          		<% end %>
	        	<% end %>
         	<% elsif @question.value_type_3 == "checkbox_in_line"  %>
		    	<% if @question.ref_table_a_3 == "LOOKUP_REFS" 
			     	sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_3+"' order by display_order"
			     	connection = ActiveRecord::Base.connection();
           		results = connection.execute(sql)
			    	%>
	          		<% results.each do |theme| %>
             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'value_3['+@question.id.to_s+"][]", theme[0], val_array.include?( theme[0].to_s) %>
	              		<%= theme[1].humanize %>
	          		<% end %>
		   		<% else 
		         	results = ((@question.ref_table_a_3).constantize).all.sort_by(&:description)
		       		%>
	          		<% results.each do |theme| %>
             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'value_3['+@question.id.to_s+"][]", theme.id,  val_array.include?( theme.id.to_s)%>
	              		<%= (theme.description) %>
	          		<% end %>
	        	<% end %>          
			<% elsif @question.value_type_3 == "radio_1_col"  %>
			   <% if @question.ref_table_a_3 == "LOOKUP_REFS" 
				     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_3+"' order by display_order"
				     connection = ActiveRecord::Base.connection();
	                 results = connection.execute(sql)
				    %>
		          <% results.each do |theme| %>
	                   <br><%= radio_button_tag "value_3["+@question.id.to_s+"][]", theme[0], @q_data.value_3.to_i  == theme[0] %>
		              <%= theme[1].humanize %>
		          <% end %>
			   <% else 
			         results = ((@question.ref_table_a_3).constantize).all.sort_by(&:description)
			       %>
		          <% results.each do |theme| %>
	                   <br><%= radio_button_tag "value_3["+@question.id.to_s+"][]", theme.id,  (@q_data.value_3.to_i == theme.id.to_i)?  true:false %>
		              <%= (theme.description) %>
		          <% end %>
		        <% end %>
         	<% elsif @question.value_type_3 == "radio_in_line"  %>
			   <% if @question.ref_table_a_3 == "LOOKUP_REFS" 
				     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_3+"' order by display_order"
				     connection = ActiveRecord::Base.connection();
	                 results = connection.execute(sql)
				    %>
		          <% results.each do |theme| %>
	                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag "value_3["+@question.id.to_s+"][]", theme[0], @q_data.value_3.to_i  == theme[0] %>
		              <%= theme[1].humanize %>
		          <% end %>
			   <% else 
			         results = ((@question.ref_table_a_3).constantize).all.sort_by(&:description)
			       %>
		          <% results.each do |theme| %>
	                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag "value_3["+@question.id.to_s+"][]", theme.id,  (@q_data.value_3.to_i == theme.id.to_i)?  true:false %>
		              <%= (theme.description) %>
		          <% end %>
		        <% end %>
			<%  end %>
		  <% end %>		
	  <%if !@question.phrase_c_3.blank? %>
		<%=  @question.phrase_c_3 %>  
	  <% end %>	  
	</td></tr>	
	<% end %>
</table>
<% end %>
