<%
v_entrance_page_type =[["scan_procedure","scan_procedure"],["scan_procedure, visit","scan_procedure, visit"],["scan_procedure, participant","scan_procedure, participant"],
               ["participant","participant"],["visit","visit"],["vgroup","vgroup"],["appointment","appointment"]]
%>

<%= form_for(@questionform) do |f| %>
  <% if @questionform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionform.errors.count, "error") %> prohibited this questionform from being saved:</h2>

      <ul>
      <% @questionform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :entrance_page_type %><br />
 <%= f.select :entrance_page_type, options_for_select(v_entrance_page_type, @questionform.entrance_page_type),
	              {:prompt => 'Select an entrance page type'}  %>
  </div>
  <div class="field">
    <%= f.label :target_page %><br />
    <%= f.text_field :target_page %>
  </div>

  <div class="field">
    <%= f.label :long_description %><br />
    <%= f.text_area :long_description %>
  </div>
  <div class="field">
    <%= f.label :tab_type %><br />
    <%= select :questionform, :tab_type, ["","questionnaire", "np", "lh"] %>
  </div>
  <div class="field">
    <%= f.label :display_order %><br />
    <%= f.text_field :display_order %>
  </div>
  <div class="field">
    <%= f.label :parent_questionform_id %><br />
<%= collection_select :questionform, :parent_questionform_id, Questionform.all.sort_by(&:display_order), :id, :description,{:prompt => 'Select a parent'} %>
<br> better sorting of parents, flag for if can be parent?
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
