<%= form_for(@questionform) do |f| %>
  <% if @questionform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionform.errors.count, "error") %> prohibited this questionform from being saved:</h2>

      <ul>
      <% @questionform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :long_description %><br />
    <%= f.text_area :long_description %>
  </div>
  <div class="field">
    <%= f.label :display_order %><br />
    <%= f.text_field :display_order %>
  </div>
  <div class="field">
    <%= f.label :parent_questionform_id %><br />
<%= collection_select :questionform, :parent_questionform_id, Questionform.all.sort_by(&:display_order), :id, :description,{:prompt => 'Select a parent'} %>
<br> better sorting of parents, flag for if can be parent?
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
