
<%
 @questionform_questions = QuestionformQuestion.where(" questionform_id = ?",params[:id]).sort_by(&:display_order)
%>
<!--- HOW TO NAME THE FORM --->
<!--- WHAT SHOULD BE THE ACTION --->
<% form_for( "questionform",:url => { :controller=>"questionform",:action => "question_enter" } ,  :html => { :id => params[:id] }) do |f| %>
<!---- THIS WILL CHANGE TO questionform_id   --->
<%= hidden_field_tag(:questionform_id, params[:id]) %>
<%= hidden_field_tag(:q_data_form_id, params[:q_data_form_id]) %>
<table>
	<!---   NEED ONE FOR QUESTION AND ONE TO DISPLAY DATA --->
    <% @questionform_questions.each do |qfq| 
	@question = Question.find(qfq.question_id)
	# pass @question to draw_question
	     %>
	<tr><td>
	<!--- NEED TO ALIGN TOP  --->
	  <%if !@question.heading_1.blank? %>
		<B><%=  @question.heading_1 %></B> <br>
	   <% end %>
	  <%if !@question.phrase_a_1.blank? %>
		<%=  @question.phrase_a_1 %>  
	  <% end %>	
	  <%if !@question.phrase_b_1.blank? %>
		<%=  @question.phrase_b_1 %>  
	  <% end %>

	  <%if !@question.value_type_1.blank?   # follow order in array in question form edit
	      if @question.value_type_1 == "textarea"   # walk thru each value_type --- get each disoplay value  %>
          <!--- NOT SURE HOW TO TIE question to data  --->
		<%= f.text_area("1textarea_"+@question.id.to_s,:value => "aaaaaa", :size => '60x7') %>
		<% elsif @question.value_type_1 == "dropdown"
		    if @question.ref_table_a_1 == "LOOKUP_REFS"  ## use ref_table_b_1 %>
<!----   NEED TO GET THE NAME FOR THE DROPODOWN ID -->
<!--- HOW TO SET DEFAULT VALUE? --->
				<%= collection_select :questionform,"1dropdown_"+@question.id.to_s, LookupRef.where("label = ?",@question.ref_table_b_1).sort_by(&:display_order),
			    	:ref_value, :description, {:include_blank => @question.prompt_1} %>
			<%	else   %>
<!--- NEED TO ALWAYS USE MODEL NAMES --->
			  	<%= collection_select :questionform,"1dropdown_"+@question.id.to_s, ((@question.ref_table_a_1).constantize).all.sort_by(&:description),
			    	:id, :description, {:include_blank => @question.prompt_1} %>
		     <%   end   %>
		<% elsif @question.value_type_1 == "text_10"  %>
		 <%= f.text_field "1text_"+@question.id.to_s, :size=>"10" %>	
		<% elsif @question.value_type_1 == "text_20"  %>
		 <%= f.text_field "1text_"+@question.id.to_s, :size=>"20" %>	
		<% elsif @question.value_type_1 == "text_30"  %>
		 <%= f.text_field "1text_"+@question.id.to_s, :size=>"30" %>	
		<% elsif @question.value_type_1 == "text_50"  %>
		 <%= f.text_field "1text_"+@question.id.to_s, :size=>"50" %>	
		<% elsif @question.value_type_1 == "text_70"  %>
		 <%= f.text_field "1text_"+@question.id.to_s, :size=>"70" %>	
		<% elsif @question.value_type_1 == "text_90"  %>
		 <%= f.text_field "1text_"+@question.id.to_s, :size=>"90" %>								
		<% elsif @question.value_type_1 == "checkbox_1_col"  %>
		   <% if @question.ref_table_a_1 == "LOOKUP_REFS" 
			     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_1+"' order by display_order"
			     connection = ActiveRecord::Base.connection();
              results = connection.execute(sql)
			    %>
	          <% results.each do |theme| %>
                <br><%= check_box_tag '1checkbox_'+@question.id.to_s, theme[0], @theme == theme[0] %>
	              <%= theme[1].humanize %>
	          <% end %>
		   <% else 
		         results = ((@question.ref_table_a_1).constantize).all.sort_by(&:description)
		       %>
	          <% results.each do |theme| %>
                <br><%= check_box_tag '1checkbox_'+@question.id.to_s, theme.id, @theme == theme.id %>
	              <%= (theme.description) %>
	          <% end %>
	        <% end %>	
		<% elsif @question.value_type_1 == "checkbox_in_line"  %>
		   <% if @question.ref_table_a_1 == "LOOKUP_REFS" 
			     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_1+"' order by display_order"
			     connection = ActiveRecord::Base.connection();
             results = connection.execute(sql)
			    %>
	          <% results.each do |theme| %>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag '1checkbox_'+@question.id.to_s, theme[0], @theme == theme[0] %>
	              <%= theme[1].humanize %>
	          <% end %>
		   <% else 
		         results = ((@question.ref_table_a_1).constantize).all.sort_by(&:description)
		       %>
	          <% results.each do |theme| %>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag '1checkbox_'+@question.id.to_s, theme.id, @theme == theme.id %>
	              <%= (theme.description) %>
	          <% end %>
	        <% end %>
	
		<% elsif @question.value_type_1 == "radio_1_col"  %>
		   <% if @question.ref_table_a_1 == "LOOKUP_REFS" 
			     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_1+"' order by display_order"
			     connection = ActiveRecord::Base.connection();
                 results = connection.execute(sql)
			    %>
	          <% results.each do |theme| %>
                   <br><%= radio_button_tag '1radio_'+@question.id.to_s, theme[0], @theme == theme[0] %>
	              <%= theme[1].humanize %>
	          <% end %>
		   <% else 
		         results = ((@question.ref_table_a_1).constantize).all.sort_by(&:description)
		       %>
	          <% results.each do |theme| %>
                   <br><%= radio_button_tag '1radio_'+@question.id.to_s, theme.id, @theme == theme.id %>
	              <%= (theme.description) %>
	          <% end %>
	        <% end %>		
		<% elsif @question.value_type_1 == "radio_in_line"  %>
		   <% if @question.ref_table_a_1 == "LOOKUP_REFS" 
			     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_1+"' order by display_order"
			     connection = ActiveRecord::Base.connection();
                 results = connection.execute(sql)
			    %>
	          <% results.each do |theme| %>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag '1radio_'+@question.id.to_s, theme[0], @theme == theme[0] %>
	              <%= theme[1].humanize %>
	          <% end %>
		   <% else 
		         results = ((@question.ref_table_a_1).constantize).all.sort_by(&:description)
		       %>
	          <% results.each do |theme| %>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag '1radio_'+@question.id.to_s, theme.id, @theme == theme.id %>
	              <%= (theme.description) %>
	          <% end %>
	        <% end %>		
		<%  end %>
		
	  <% end %>
	  <%if !@question.phrase_c_1.blank? %>
		<%=  @question.phrase_c_1 %>  
	  <% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	  <%if !@question.heading_2.blank? %>
		<B><%=  @question.heading_2 %></B> <br>
	   <% end %>
	  <%if !@question.phrase_a_2.blank? %>
		<%=  @question.phrase_a_2 %>  
	  <% end %>	
	  <%if !@question.phrase_b_2.blank? %>
		<%=  @question.phrase_b_2 %>  
	  <% end %>
	
		  <%if !@question.value_type_2.blank?   # follow order in array in question form edit
		      if @question.value_type_2 == "textarea"   # walk thru each value_type --- get each disoplay value  %>
	          <!--- NOT SURE HOW TO TIE question to data  --->
			<%= f.text_area("2textarea_"+@question.id.to_s,:value => "aaaaaa", :size => '60x7') %>
			<% elsif @question.value_type_2 == "dropdown"
			    if @question.ref_table_a_2 == "LOOKUP_REFS"  ## use ref_table_b_2 %>
	<!----   NEED TO GET THE NAME FOR THE DROPODOWN ID -->
	<!--- HOW TO SET DEFAULT VALUE? --->
					<%= collection_select :questionform,"2dropdown_"+@question.id.to_s, LookupRef.where("label = ?",@question.ref_table_b_2).sort_by(&:display_order),
				    	:ref_value, :description, {:include_blank => @question.prompt_2} %>
				<%	else   %>
	<!--- NEED TO ALWAYS USE MODEL NAMES --->
				  	<%= collection_select :questionform,"2dropdown_"+@question.id.to_s, ((@question.ref_table_a_2).constantize).all.sort_by(&:description),
				    	:id, :description, {:include_blank => @question.prompt_2} %>
			     <%   end   %>
			<% elsif @question.value_type_2 == "text_10"  %>
			 <%= f.text_field "2text_"+@question.id.to_s, :size=>"10" %>	
			<% elsif @question.value_type_2 == "text_20"  %>
			 <%= f.text_field "2text_"+@question.id.to_s, :size=>"20" %>	
			<% elsif @question.value_type_2 == "text_30"  %>
			 <%= f.text_field "2text_"+@question.id.to_s, :size=>"30" %>	
			<% elsif @question.value_type_2 == "text_50"  %>
			 <%= f.text_field "2text_"+@question.id.to_s, :size=>"50" %>	
			<% elsif @question.value_type_2 == "text_70"  %>
			 <%= f.text_field "2text_"+@question.id.to_s, :size=>"70" %>	
			<% elsif @question.value_type_2 == "text_90"  %>
			 <%= f.text_field "2text_"+@question.id.to_s, :size=>"90" %>


			<% elsif @question.value_type_2 == "checkbox_1_col"  %>
		   		<% if @question.ref_table_a_2 == "LOOKUP_REFS" 
			     	sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_2+"' order by display_order"
			     	connection = ActiveRecord::Base.connection();
              		results = connection.execute(sql)
			    	%>
	          		<% results.each do |theme| %>
                		<br><%= check_box_tag '2checkbox_'+@question.id.to_s, theme[0], @theme == theme[0] %>
	              		<%= theme[1].humanize %>
	          		<% end %>
		   		<% else 
		         	results = ((@question.ref_table_a_2).constantize).all.sort_by(&:description)
		       		%>
	          		<% results.each do |theme| %>
                		<br><%= check_box_tag '2checkbox_'+@question.id.to_s, theme.id, @theme == theme.id %>
	              		<%= (theme.description) %>
	          		<% end %>
	        	<% end %>
			<% elsif @question.value_type_2 == "checkbox_in_line"  %>
		   		<% if @question.ref_table_a_2 == "LOOKUP_REFS" 
			     	sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_2+"' order by display_order"
			     	connection = ActiveRecord::Base.connection();
           		results = connection.execute(sql)
			    	%>
	          		<% results.each do |theme| %>
             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag '2checkbox_'+@question.id.to_s, theme[0], @theme == theme[0] %>
	              		<%= theme[1].humanize %>
	          		<% end %>
		   		<% else 
		         	results = ((@question.ref_table_a_2).constantize).all.sort_by(&:description)
		       		%>
	          		<% results.each do |theme| %>
             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag '2checkbox_'+@question.id.to_s, theme.id, @theme == theme.id %>
	              		<%= (theme.description) %>
	          		<% end %>
	        	<% end %>
			<% elsif @question.value_type_2 == "radio_1_col"  %>
			   <% if @question.ref_table_a_2 == "LOOKUP_REFS" 
				     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_2+"' order by display_order"
				     connection = ActiveRecord::Base.connection();
	                 results = connection.execute(sql)
				    %>
		          <% results.each do |theme| %>
	                   <br><%= radio_button_tag '2radio_'+@question.id.to_s, theme[0], @theme == theme[0] %>
		              <%= theme[1].humanize %>
		          <% end %>
			   <% else 
			         results = ((@question.ref_table_a_2).constantize).all.sort_by(&:description)
			       %>
		          <% results.each do |theme| %>
	                   <br><%= radio_button_tag '2radio_'+@question.id.to_s, theme.id, @theme == theme.id %>
		              <%= (theme.description) %>
		          <% end %>
		        <% end %>				
		
			<% elsif @question.value_type_2 == "radio_in_line"  %>
			   <% if @question.ref_table_a_2 == "LOOKUP_REFS" 
				     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_2+"' order by display_order"
				     connection = ActiveRecord::Base.connection();
	                 results = connection.execute(sql)
				    %>
		          <% results.each do |theme| %>
	                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag '2radio_'+@question.id.to_s, theme[0], @theme == theme[0] %>
		              <%= theme[1].humanize %>
		          <% end %>
			   <% else 
			         results = ((@question.ref_table_a_2).constantize).all.sort_by(&:description)
			       %>
		          <% results.each do |theme| %>
	                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag '2radio_'+@question.id.to_s, theme.id, @theme == theme.id %>
		              <%= (theme.description) %>
		          <% end %>
		        <% end %>				
			<%  end %>
		  <% end %>	
	  <%if !@question.phrase_c_2.blank? %>
		<%=  @question.phrase_c_2 %>  
	  <% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <%if !@question.heading_3.blank? %>
		<B><%=  @question.heading_3 %></B> <br>
	   <% end %>
	  <%if !@question.phrase_a_3.blank? %>
		<%=  @question.phrase_a_3 %>  
	  <% end %>	
	  <%if !@question.phrase_b_3.blank? %>
		<%=  @question.phrase_b_3 %>  
	  <% end %>
	
		  <%if !@question.value_type_3.blank?   # follow order in array in question form edit
		      if @question.value_type_3 == "textarea"   # walk thru each value_type --- get each disoplay value  %>
	          <!--- NOT SURE HOW TO TIE question to data  --->
			<%= f.text_area("3textarea_"+@question.id.to_s,:value => "aaaaaa", :size => '60x7') %>
			<% elsif @question.value_type_3 == "dropdown"
			    if @question.ref_table_a_3 == "LOOKUP_REFS"  ## use ref_table_b_3 %>
	<!----   NEED TO GET THE NAME FOR THE DROPODOWN ID -->
	<!--- HOW TO SET DEFAULT VALUE? --->
					<%= collection_select :questionform,"3dropdown_"+@question.id.to_s, LookupRef.where("label = ?",@question.ref_table_b_3).sort_by(&:display_order),
				    	:ref_value, :description, {:include_blank => @question.prompt_3} %>
				<%	else   %>
	<!--- NEED TO ALWAYS USE MODEL NAMES --->
				  	<%= collection_select :questionform,"3dropdown_"+@question.id.to_s, ((@question.ref_table_a_3).constantize).all.sort_by(&:description),
				    	:id, :description, {:include_blank => @question.prompt_3} %>
			     <%   end   %>
			<% elsif @question.value_type_3 == "text_10"  %>
			 <%= f.text_field "3text_"+@question.id.to_s, :size=>"10" %>	
			<% elsif @question.value_type_3 == "text_20"  %>
			 <%= f.text_field "3text_"+@question.id.to_s, :size=>"20" %>	
			<% elsif @question.value_type_3 == "text_30"  %>
			 <%= f.text_field "3text_"+@question.id.to_s, :size=>"30" %>	
			<% elsif @question.value_type_3 == "text_50"  %>
			 <%= f.text_field "3text_"+@question.id.to_s, :size=>"50" %>	
			<% elsif @question.value_type_3 == "text_70"  %>
			 <%= f.text_field "3text_"+@question.id.to_s, :size=>"70" %>	
			<% elsif @question.value_type_3 == "text_90"  %>
			 <%= f.text_field "3text_"+@question.id.to_s, :size=>"90" %>
			<% elsif @question.value_type_3 == "checkbox_1_col"  %>
		    	<% if @question.ref_table_a_3 == "LOOKUP_REFS" 
			     	sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_3+"' order by display_order"
			     	connection = ActiveRecord::Base.connection();
              		results = connection.execute(sql)
			    	%>
	          		<% results.each do |theme| %>
                		<br><%= check_box_tag '3checkbox_'+@question.id.to_s, theme[0], @theme == theme[0] %>
	              		<%= theme[1].humanize %>
	          		<% end %>
		   		<% else 
		         	results = ((@question.ref_table_a_3).constantize).all.sort_by(&:description)
		       		%>
	          		<% results.each do |theme| %>
                		<br><%= check_box_tag '3checkbox_'+@question.id.to_s, theme.id, @theme == theme.id %>
	              		<%= (theme.description) %>
	          		<% end %>
	        	<% end %>
         	<% elsif @question.value_type_3 == "checkbox_in_line"  %>
		    	<% if @question.ref_table_a_3 == "LOOKUP_REFS" 
			     	sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_3+"' order by display_order"
			     	connection = ActiveRecord::Base.connection();
           		results = connection.execute(sql)
			    	%>
	          		<% results.each do |theme| %>
             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag '3checkbox_'+@question.id.to_s, theme[0], @theme == theme[0] %>
	              		<%= theme[1].humanize %>
	          		<% end %>
		   		<% else 
		         	results = ((@question.ref_table_a_3).constantize).all.sort_by(&:description)
		       		%>
	          		<% results.each do |theme| %>
             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag '3checkbox_'+@question.id.to_s, theme.id, @theme == theme.id %>
	              		<%= (theme.description) %>
	          		<% end %>
	        	<% end %>          
			<% elsif @question.value_type_3 == "radio_1_col"  %>
			   <% if @question.ref_table_a_3 == "LOOKUP_REFS" 
				     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_3+"' order by display_order"
				     connection = ActiveRecord::Base.connection();
	                 results = connection.execute(sql)
				    %>
		          <% results.each do |theme| %>
	                   <br><%= radio_button_tag '3radio_'+@question.id.to_s, theme[0], @theme == theme[0] %>
		              <%= theme[1].humanize %>
		          <% end %>
			   <% else 
			         results = ((@question.ref_table_a_3).constantize).all.sort_by(&:description)
			       %>
		          <% results.each do |theme| %>
	                   <br><%= radio_button_tag '3radio_'+@question.id.to_s, theme.id, @theme == theme.id %>
		              <%= (theme.description) %>
		          <% end %>
		        <% end %>
       
         	<% elsif @question.value_type_3 == "radio_in_line"  %>
			   <% if @question.ref_table_a_3 == "LOOKUP_REFS" 
				     sql = "select ref_value, description from LOOKUP_REFS where label ='"+@question.ref_table_b_3+"' order by display_order"
				     connection = ActiveRecord::Base.connection();
	                 results = connection.execute(sql)
				    %>
		          <% results.each do |theme| %>
	                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag '3radio_'+@question.id.to_s, theme[0], @theme == theme[0] %>
		              <%= theme[1].humanize %>
		          <% end %>
			   <% else 
			         results = ((@question.ref_table_a_3).constantize).all.sort_by(&:description)
			       %>
		          <% results.each do |theme| %>
	                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= radio_button_tag '3radio_'+@question.id.to_s, theme.id, @theme == theme.id %>
		              <%= (theme.description) %>
		          <% end %>
		        <% end %>
			<%  end %>
		  <% end %>		
		
	  <%if !@question.phrase_c_3.blank? %>
		<%=  @question.phrase_c_3 %>  
	  <% end %>

	
	  
	</td></tr>	
	<% end %>
</table>
<%= submit_tag("Enter") %>
<% end %>
