<p id="notice"><%= notice %></p>

<h1>Trfileimages</h1>

<table>
  <thead>
    <tr>
      <th>Trfile</th>
      <th>Image</th>
      <th>Image category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trfileimages.each do |trfileimage| %>
      <tr>
        <td><%= trfileimage.trfile_id %></td>
        <td><%= trfileimage.image_id %></td>
        <td><%= trfileimage.image_category %></td>
        <td><%= link_to 'Show', trfileimage %></td>
        <td><%= link_to 'Edit', edit_trfileimage_path(trfileimage) %></td>
        <td><%= link_to 'Destroy', trfileimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trfileimage', new_trfileimage_path %>
