<p id="notice"><%= notice %></p>

<p>
  <b>Hardwaretype:</b>
  <%= @lookup_hardware.hardwaretype %>
</p>

<p>
  <b>Hardwaregroup:</b>
  <%= @lookup_hardware.hardwaregroup %>
</p>


<%= link_to 'Edit', edit_lookup_hardware_path(@lookup_hardware) %> |
<%= link_to 'Back', lookup_hardwares_path %>
