<p id="notice"><%= notice %></p>

<h1>Processedimagesfiletypes</h1>

<table>
  <thead>
    <tr>
      <th>File type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processedimagesfiletypes.each do |processedimagesfiletype| %>
      <tr>
        <td><%= processedimagesfiletype.file_type %></td>
        <td><%= link_to 'Show', processedimagesfiletype %></td>
        <% if current_user.role == 'Admin_High'%>
        <td><%= link_to 'Edit', edit_processedimagesfiletype_path(processedimagesfiletype) %></td>
        <td><%= link_to 'Destroy', processedimagesfiletype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Processedimagesfiletype', new_processedimagesfiletype_path %>
