<%= form_for(@questionformnamesp) do |f| %>
  <% if @questionformnamesp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionformnamesp.errors.count, "error") %> prohibited this questionformnamesp from being saved:</h2>

      <ul>
      <% @questionformnamesp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scan_procedure_id %><br />
   <%= collection_select :questionformnamesp, :scan_procedure_id, ScanProcedure.all.sort_by(&:display_alias), :id, :display_alias,{:prompt => 'Select a Scan Procedure'},{:required => true}  %>
  </div>
  <div class="field">
    <%= f.label :questionform_id %><br />
   <%= collection_select :questionformnamesp, :questionform_id, Questionform.where("status_flag='Y'").sort_by(&:display_order), :id, :description,{:prompt => 'Select a Question Form'},{:required => true}  %>
  </div>
  <div class="field">
    <%= f.label :form_name %><br />
    <%= f.text_field :form_name %> <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>use "|" to separate multiple acronyms in a form name</b> to allow uniqifying the acronym list in the dropdown
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
