<% if @hide_page_flag == "Y" 
  else %>
  <%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
%>
<h1>Editing participant <%= @participant.id %></h1>

<%= form_for(@participant) do |f| %>
<% if @participant.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

    <ul>
    <% @participant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <p>
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :dob, :start_year => Time.now.year - 100,
	    :end_year => Time.now.year  %><br />
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.select(:gender, [['Male',1],['Female',2]],:prompt =>'Select gender', :include_blank => true) %>
  </p>
  <p>
    <%= f.label :wrap_number %><br />
    <%= f.text_field :wrapnum %>
  </p>
  <p>
    <%= f.label :reggieid %><br />
    <%= f.text_field :reggieid %>
  </p>
  <p>
    <%= f.label :adrc_number %><br />
    <%= f.text_field :adrcnum %>&nbsp;&nbsp;&nbsp;<b>USE THE FORMAT [ adrcXXXXX &nbsp;&nbsp;&nbsp;   5 digits ] </b>
  </p>
  <p>
    <%= f.label :years_of_education %><br />
    <%= f.select(:ed_years, (1..20).to_a, :prompt =>'Select years of education', :include_blank => true) %>
  </p>
  <p>
    <%= f.label :apoe_allele_1 %><br />
    <%= f.select(:apoe_e1, [['n/a',0],['e3',3],['e4',4],['e2',2]]) %>
  </p>
  <p>
    <%= f.label :apoe_allele_2 %><br />
    <%= f.select(:apoe_e2, [['n/a',0],['e3',3],['e4',4],['e2',2]]) %>
  </p>
 <!-- <p>
    <%#= f.label :apoe_processor %><br />
    <%#= f.text_field :apoe_processor %>
  </p> -->
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :note ,:cols => 60, :rows => 10%>
  </p>
  <% if edit_count > 0 %>
  <p>
    <%= f.submit "Update" %>
  </p>
  <% end %>
  
<% end %>

<%= link_to 'Show', @participant %> |
<%= link_to 'Back', '/participant_search' %>
<%end%>
