<div id="heading_and_link">
  <h1>Participant <%= @participant.id %></h1>
  <p><%= link_to 'Edit', edit_participant_path(@participant) %></p>
</div>

<table id="participant_details" class="tabular">
  
  <thead>
    <tr>
      <th>DOB</th>
      <th>Gender</th>
      <th>Flag</th>
      <th>WrapNum</th>
      <th>WrapEnroll</th>
      <th>Years of Education</th>
      <th>Notes</th>
      <th>APOE status</th>
      <th>APOEE1</th>
      <th>APOEE2</th>
      <th>APOE Processor</th>
    </tr>
  </thead>
  
  <tfoot><%= footer(11) %></tfoot>
  
  </tbody>
    <tr>
      <td><%=h @participant.dob.year unless @participant.dob.nil? %></td>
      <td><%=h gender(@participant.gender) %></td>
      <td><%=h flag(@participant.quality_redflag) %></td>
      <td><%=h @participant.wrapnum %></td>
      <td><%=h wrap_enrollment(@participant.wrapenroll) %></td>
      <td><%=h @participant.ed_years %></td>
      <td>
        <%= popup_note('peek', "<p>#{@participant.note}</p>") unless @participant.note.nil? %>
      </td>
      <td><%= genetic_status(@participant.apoe_e1, @participant.apoe_e2) %></td>
      <td><%= allele(@participant.apoe_e1) %></td>
      <td><%= allele(@participant.apoe_e2) %></td>
      <td><%= @participant.apoe_processor %></td>
    </tr>
  </tbody>

</table>

<h3>Visits:</h3>
<p><%= @participant.visits.empty? ? "No visits associated with this participant" : "" %></p>
<% @participant.visits.each do |v| %>
  <p><%= link_to v.date.to_s(:long), v %> for <%= v.protocol.nil? ? "unknown protocol" : v.protocol.name %></p>
<% end -%>
