<% if @hide_page_flag == "Y" 
  else %>
  <%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
%>

<div id="heading_and_link">
  <h1>Participant <%= @participant.id %></h1>
<% if edit_count > 0 %>
  <p><%= link_to 'Edit', edit_participant_path(@participant) %></p>
<% end %>
</div>

<table id="participant_details" class="tabular">
  
  <thead>
    <tr>
      <th>DOB</th>
      <th>Gender</th>
      <th>WrapNum</th>
      <th>ReggieID</th>
      <th>AdrcNum</th>
      <th>Years of Education</th>
      <th>Notes</th>
      <!-- <th>APOE status</th> -->
      <th>APOEE1</th>
      <th>APOEE2</th>
      <th>APOE Processor</th> 
      <th>Access ID</th>
    </tr>
  </thead>
  
  <tfoot><%= footer(10) %></tfoot>
  
  </tbody>
    <tr>
      <td><%=h @participant.dob.year unless @participant.dob.blank? %></td>
      <td><%=h @participant.gender_prompt %></td>
      <td><%=h @participant.wrapnum %></td>
      <td><%=h @participant.reggieid %></td>
      <td><%=h @participant.adrcnum %></td>
      <td><%=h @participant.ed_years %></td>
      <td>
        <%= popup_note('peek', "<p>#{@participant.note}</p>") unless @participant.note.nil? %>
      </td>
      <!-- <td><%#= @participant.genetic_status %></td> -->
      <td><%= allele(@participant.apoe_e1) %></td>
      <td><%= allele(@participant.apoe_e2) %></td>
      <td><%= @participant.apoe_processor %></td> 
			<td><%= @participant.access_id %></td>
    </tr>
  </tbody>

</table>

<h3>Enrollments</h3>
<%= content_tag(:p, "No enrollments for this participant") if @participant.enrollments.blank? %>
<p>
	<% @participant.enrollments.each do |e| %>
		<%= link_to e.enumber, e %>
	<% end %>
</p>

<h3>Visits</h3>
<%= content_tag(:p, "No visits for this particpant") if @vgroups.blank? %>
<ul>
  <% @vgroups.each do |vgroup| %>
    <li><%= link_to vgroup.vgroup_date, vgroup %> in <%= vgroup.scan_procedures.collect {|sp| sp.codename }.join(", ") %></li>
  <% end %>
</ul>

<h3>MRI appointments</h3>
<%= content_tag(:p, "No MRI appointments associated with this participant") if @participant.visits.blank? %>
<% # this can return the same visit multiple times if there are multiple enrollments %>
<% @participant.visits.each do |v| %>
	<p>
		<%= link_to v.date.to_s(:long), v %> 
		for <%= v.scan_procedures.blank? ? "unknown protocol" : v.scan_procedures.collect{|sp| sp.codename}.join(", ") %> 
		with enumber <%= v.enrollments.collect {|e| link_to(e.enumber, e) }.join(", ").html_safe %>
	</p>
  <% end 
@a =  Appointment.where("vgroup_id in ( select vgroups.id from vgroups where vgroups.participant_id in (?) )",@participant.id)
        a_array =@a.to_a
     # CHANGE TO GET rmr,enroll,scan_protocol from vgroup
         @petscans = Petscan.where("appointment_id in (?) ",a_array)
         @lumbarpunctures = Lumbarpuncture.where("appointment_id in (?) ",a_array)
         @blooddraws = Blooddraw.where("appointment_id in (?) ",a_array)
         @neuropsyches = Neuropsych.where("appointment_id in (?) ",a_array)
        @questionnaires = Questionnaire.where("appointment_id in (?) ",a_array)

%>

<h3>Petscan appointments</h3>
<%= content_tag(:p, "No petscan appointments for this participant") if @petscans.blank? %>
<ul>
  <% @petscans.each do |petscan| 
        appointment = Appointment.find(petscan.appointment_id)
        vgroup = Vgroup.find(appointment.vgroup_id)%>
        <li><%= link_to appointment.appointment_date , petscan %> 
          <% if !petscan.lookup_pettracer_id.nil? %>
         <%= LookupPettracer.find(petscan.lookup_pettracer_id).name_description.html_safe %>
         <%end%>&nbsp;&nbsp;&nbsp;&nbsp;
  in <%= vgroup.scan_procedures.collect {|sp| sp.codename }.join(", ") %></li>
  <% end %>
</ul>
<% if !@lumbarpunctures.blank?%>
<h3>Lumbarpuncture appointments</h3>
<%= content_tag(:p, "No lumbarpuncture appointments for this participant") if @lumbarpunctures.blank? %>
<ul>
  <% @lumbarpunctures.each do |lp| 
        appointment = Appointment.find(lp.appointment_id)
        vgroup = Vgroup.find(appointment.vgroup_id)%>
        <li><%= link_to appointment.appointment_date , lp %>  
  in <%= vgroup.scan_procedures.collect {|sp| sp.codename }.join(", ") %></li>
  <% end %>
</ul>
<% end %>
<% if !@blooddraws.blank?%>
<h3>Lab Health appointments</h3>
<%= content_tag(:p, "No lab health appointments for this participant") if @blooddraws.blank? %>
<ul>
  <% @blooddraws.each do |lh| 
        appointment = Appointment.find(lh.appointment_id)
        vgroup = Vgroup.find(appointment.vgroup_id)%>
        <li><%= link_to appointment.appointment_date , lh %>  
  in <%= vgroup.scan_procedures.collect {|sp| sp.codename }.join(", ") %></li>
  <% end %>
</ul>
<% end %>
<% if !@neuropsyches.blank?%>
<h3>Neuropsyche appointments</h3>
<%= content_tag(:p, "No neuropsyche appointments for this participant") if @neuropsyches.blank? %>
<ul>
  <% @neuropsyches.each do |np| 
        appointment = Appointment.find(np.appointment_id)
        vgroup = Vgroup.find(appointment.vgroup_id)%>
        <li><%= link_to appointment.appointment_date , np %>  
  in <%= vgroup.scan_procedures.collect {|sp| sp.codename }.join(", ") %></li>
  <% end %>
</ul>
<% end %>
<% if !@questionnaires.blank?%>
<h3>Questionnaire appointments</h3>
<%= content_tag(:p, "No questionnaire appointments for this participant") if @questionnaires.blank? %>
<ul>
  <% @questionnaires.each do |q| 
        appointment = Appointment.find(q.appointment_id)
        vgroup = Vgroup.find(appointment.vgroup_id)%>
        <li><%= link_to appointment.appointment_date , q %>  
  in <%= vgroup.scan_procedures.collect {|sp| sp.codename }.join(", ") %></li>
  <% end %>
</ul>

<% end %>
<%end%>
