<%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
%>

<div id="heading_and_link">
  <h1>Participant <%= @participant.id %></h1>
<% if edit_count > 0 %>
  <p><%= link_to 'Edit', edit_participant_path(@participant) %></p>
<% end %>
</div>

<table id="participant_details" class="tabular">
  
  <thead>
    <tr>
      <th>DOB</th>
      <th>Gender</th>
      <th>WrapNum</th>
      <th>ReggieID</th>
      <th>Years of Education</th>
      <th>Notes</th>
      <!-- <th>APOE status</th>
      <th>APOEE1</th>
      <th>APOEE2</th>
      <th>APOE Processor</th> -->
      <th>Access ID</th>
    </tr>
  </thead>
  
  <tfoot><%= footer(10) %></tfoot>
  
  </tbody>
    <tr>
      <td><%=h @participant.dob.year unless @participant.dob.blank? %></td>
      <td><%=h @participant.gender_prompt %></td>
      <td><%=h @participant.wrapnum %></td>
      <td><%=h @participant.reggieid %></td>
      <td><%=h @participant.ed_years %></td>
      <td>
        <%= popup_note('peek', "<p>#{@participant.note}</p>") unless @participant.note.nil? %>
      </td>
      <!-- <td><%#= @participant.genetic_status %></td>
      <td><%#= allele(@participant.apoe_e1) %></td>
      <td><%#= allele(@participant.apoe_e2) %></td>
      <td><%#= @participant.apoe_processor %></td> -->
			<td><%= @participant.access_id %></td>
    </tr>
  </tbody>

</table>

<h3>Enrollments</h3>
<%= content_tag(:p, "No enrollments for this participant") if @participant.enrollments.blank? %>
<p>
	<% @participant.enrollments.each do |e| %>
		<%= link_to e.enumber, e %>
	<% end %>
</p>

<h3>Visits</h3>
<%= content_tag(:p, "No visits associated with this participant") if @participant.visits.blank? %>
<% @participant.visits.each do |v| %>
	<p>
		<%= link_to v.date.to_s(:long), v %> 
		for <%= v.scan_procedures.blank? ? "unknown protocol" : v.scan_procedures.collect{|sp| sp.codename}.join(", ") %> 
		with enumber <%= v.enrollments.collect {|e| link_to(e.enumber, e) }.join(", ").html_safe %>
	</p>
<% end -%>
