<% if current_user.role == 'Admin_High'%>
<table><tr><td colspan=3>
<%= link_to('Add user', '/users/add_user') %>  <br>
Enter the new users ldap login, Fisrt Name, Last Name, and Email. <br>
Add protocol roles - default is "edit lower level fields" for all protocols which are needed.	<br><br>
	
</td></tr>	
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td colspan=2><%= link_to("protocol/user permission report", "/users/user_protocol_role_summary.xls")%><br>
	<%= link_to('Update user PROTOCOL specific role', protocol_roles_path) %><br>
	Search by the user or protocol. <br>
	This role is applied only to individual protocol.<br>
	A user can have multiple roles for a specific protocol. These roles are applied 
	in a cumulative manner. The edit role also allows viewing.
</td></tr>
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td colspan=2>
	<%= link_to('Edit and delete user', '/users/edit_user') %>  <br>
	It is better to remove all the protocol roles from a user instead of deleting the user,<br>
	so objects created by the user are identifiable. If a user leave UW Health, they will not be able to login<br>
	since they will not be in the DOM Ldap server.<br><br>
</td></tr>
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>	

<%= link_to('Update user GLOBAL role', update_role_path) %><br>
Most users have a blank/null global role.<br>
This role is applied to all protocols, and allows access to all protocols<br>
The question forms need Admin High or Admin Low global role.<br>
The users are ordered by "PRESENT ROLE"- Name . <br>	
<small>Still need to add edit form for users other fields.</small><br><br>

<%= link_to('Add roles', '/roles') %> <br><br>

<%= link_to('Add protocol', '/protocols') %>  <br><br>

</td></tr>
<% end %>
<% if current_user.role == 'Admin_High'  or current_user.role == 'Admin_Low'%>
<tr><td colspan=3>
<%= link_to('Question Forms', '/users/questionformbase') %>   --- presently used by Lab Health, NeuroPsyche, and Questionaires<br>
includes links to making questions, linking a question to a form and setting the display order, limiting a question to a scan procedure, and limiting a question form to a scan procedure.
<br>
<%= link_to('Combined Reference Table', '/lookup_refs') %> --- add reference lookups used by questions.
<br><br>
</td></tr>

<tr><td colspan=3>
<%= link_to('Column Group tables set up search/load - Scheduled jobs', '/users/cgbase') %> --- make a cg_table available in the Search tab, define cg_table_columns (join to vgroup,  column display order, show/hide column in search/export, whether the column is searchable). A cg_table needs to have first been created in the database (below).<br>
-- Define scheduled jobs, which may populate a cg_table. The actually scheduling of a job is defined in the crontab, but the job outcome is logged in scheduleruns.
<br><br>
</td></tr>

<tr><td colspan=3>
	<%= link_to('Create Column Group table in database', '/data_searches/cg_create_table_db') %>  -- just make the cg_table in the database. Needed before can add a cg_table to a process or the search.
	<br>
	<%= link_to('Add columns to Column Group table in database', '/data_searches/cg_edit_table_db') %> -- added or changing columns of a cg_table in the database.
	<br><br>
</td></tr>

<tr><td colspan=3><%= link_to('Tracker - fields and display properties','/tractiontypes') %> - e.g. field display order and properties in exports, summary page and edit form<br>
     <%= link_to('Setup tracker types','/trtypes') %> - e.g. Freesurfer edit, freesurfer qc<br>
     <small><small>(<%= link_to('Tracker files','/trfiles') %>,  <%= link_to('Tracker file edits','/tredits') %></small></small>
	<br><br>
</td></tr>
<%end%>
<% if current_user.role == 'Admin_High'  %>

<tr><td colspan=3>
 <%= link_to('Edit Radiology Comment links', '/radiology_comments?radiology_comment=""') %>  <br>
The rad_path retrieves the radiology comments linked to a visit. Harvesting of the rad_path
from the Radiology website is dependent on a RMR and scan_number. If the RMR or scan_number
were wrong when the scans were reviewed, the rad_rmr, rad_scan_number and the correct rad_path
can be entered. If the comment_html_* and comment_text_* fields are emptied, the correct 
radiology comment for the visit will be retrieved.
<br><br>
To load new paths from visits in the last 3 months add<br>
&load_paths=3<br>
to the radiology_comments index url<br><br>
To reload comments from visits in the last 1 month add<br>
&load_comments=1<br>
to the radiology_comments index url<br>
<%= link_to("Add new Radiology Comment",'/radiology_comments/new')%>   -- if the RMR or scan number are different between the Panda and the Radiology site.
<br><br>
</td></tr>

<tr><td><a href="http://braindata.dom.wisc.edu/mrtg/">Brainmap space</a><br><%= link_to('Space usage', '/directories') %></td><td colspan=2>Displays size and change in size of directories - populated by scheduled job "dir_size"
	</td></tr>

	<tr><td><%= link_to('Series Description Maps', '/series_description_maps') %></td><td colspan=2>Series Description Map to series description type - used in searches, asl status and adrc upload scheduled job. New series descriptions are inserted into the series description maps table by the scheduled job "series_description"
		</td></tr>
		
		<tr><td><%= link_to('Series Description Types', '/series_description_types') %></td><td colspan=2>Series Description Type - categorizes series descriptions.
			</td></tr>


<tr><td ><%= link_to('Vgroup NII file counts', '/vgroups/nii_file_cnt') %>
</td><td colspan=2> Process for counting the # of nii files for each vgroup/mri. Used to write file of nii count/scan procedure for validation of scan import process. This happens automatically as a scan is loaded, and generally never needs to be run anymore.	
</td></tr>
<tr><td ><%= link_to('Image Dataset file counts', '/visits/series_desc_cnt') %>
</td><td colspan=2> Process for counting the # of *.dcm files for each vgroup/mri/image_dataset series descriptiom. Used to write file of *.dcm count/scan procedure for validation of scan import process. This happens automatically as a scan is loaded, and generally never needs to be run anymore.
	<br><br>	
</td></tr>
</table>

<br><br>
Search queries are logged in database table cg_query_log. The web interface has not been made yet.<br><br>
<%= link_to('Combined Reference Table', '/lookup_refs') %> - lookup_refs <br>
<%= link_to('Protocols', '/protocols') %> <br>
<br><br>
<b>Look up tables:</b> these are normal ruby on rails forms for added values to reference tables. Instead of adding a new lookup table for each new set of references, use the Combined Reference table, lookup_refs <br>
<%= link_to('Employees', '/employees') %> <br>
<%= link_to('BVMT percentiles', '/lookup_bvmtpercentiles') %> <br>
<%= link_to('Cog statuses', '/lookup_cogstatuses') %> <br>
<%= link_to('Cohorts', '/lookup_cohorts') %> <br>
<%= link_to('Consent Cohort', '/lookup_consentcohorts') %> <br>
<%= link_to('Consent Form', '/lookup_consentforms') %> <br>
<%= link_to('Demographic Handedness', '/lookup_demographichandednesses') %> <br>
<%= link_to('Demographic Incomes', '/lookup_demographicincomes') %> <br>
<%= link_to('Demographic Marital Status', '/lookup_demographicmaritalstatuses') %> <br>
<%= link_to('Demographic Relative Relationships', '/lookup_demographicrelativerelationships') %> <br>
<%= link_to('Diagnoses', '/lookup_diagnoses') %> <br>
<%= link_to('Drug Classes', '/lookup_drugclasses') %> <br>
<%= link_to('Drug Codes', '/lookup_drugcodes') %> <br>
<%= link_to('Drug Frequency', '/lookup_drugfreqs') %> <br>
<%= link_to('Drug Units', '/lookup_drugunits') %> <br>
<%= link_to('Eligibility/ Ineligibility', '/lookup_eligibility_ineligibilities') %> <br>
<%= link_to('Eligibility Outcome', '/lookup_eligibilityoutcomes') %> <br>
<%= link_to('Ethnicity', '/lookup_ethnicities') %> <br>
<%= link_to('Fam Hx', '/lookup_famhxes') %> <br>
<%= link_to('Gender', '/lookup_genders') %> <br>
<%= link_to('Hardware', '/lookup_hardwares') %> <br>
<%= link_to('Imaging Planes', '/lookup_imagingplanes') %> <br>
<%= link_to('Letter Labels', '/lookup_letterlabels') %> <br>
<%= link_to('Medication Details', '/medicationdetails') %> <br>
<%= link_to('Pet Tracers', '/lookup_pettracers') %> <br>
<%= link_to('Rads', '/lookup_rads') %> <br>
<%= link_to('Recruit Sources', '/lookup_recruitsources') %> <br>
<%= link_to('Relationships', '/lookup_relationships') %> <br>
<%= link_to('Scan Tasks', '/lookup_scantasks') %> <br>
<%= link_to('Sets', '/lookup_sets') %> <br>
<%= link_to('Sources', '/lookup_sources') %> <br>
<%= link_to('Statuses', '/lookup_statuses') %> <br>
<%= link_to('Switchboard items', '/lookup_switchboards') %> <br>
<%= link_to('Truth table', '/lookup_truthtables') %> <br>
<%= link_to('Visit Frequency', '/lookup_visitfrequencies') %> <br>


 <br>
Try to test https link in production <br>
<% if Rails.env == "development" %>
this is development
<%= link_to('Visit Frequency', lookup_visitfrequencies_path) %> <br>
<% elsif Rails.env == "production"%>
this is production<br>
<%= link_to('Visit Frequency', lookup_visitfrequencies_path) %> <br>
<% end %>

<%= link_to('Participant missing dob/gender','/users/participant_missing') %> <br>
	
	
	
<%else %>	

	
	
	
	
	
	
<% end %>
<br>
this is master