<% if current_user.role == 'Admin_High'  or current_user.role == 'Admin_Low'%>
<table class="tabular">
<tr><td align="left"><%= link_to('Question Forms', '/questionforms') %></td><td align="left"> -- default questions forms have been made for Lab Health (id=12), NeuroPsyche (id=13), and Questionnaire (id=14). More questionforms can be made and associated with Lab Health, NeuroPsych or Questionnaires. The specific form is selected when creating an appointment and for search exports.<br><br>
	For each new form, add a new column to the corresponding appointment view,  common name="Question fields [FORM NAME]" in cg_search tables, with the q_data_form_id value, column name = appointment_id (used in join), export_name = q_data_[q_data_form_id] <br></td></tr>
<tr><td align="left"><%= link_to('Questions', '/questions') %></td><td align="left">  --- questions are created, and then linked to a question form.<br> Name the [questionform - NP,LabHealth,questionnaire, etc.]_[scan procedure - lmpd, lead, etc.]_[some identifier from question]_[1, 2,,3 ].<br> The questions are groups up to three to a row. It is difficult to move questions which are grouped together,<br>but easy to change the order of the whole row. <br>This is done when a new scan procedure is set up with labhealth, neuropsyche or questionnaires.<br></td></tr>
<tr><td nowrap align="left"><%= link_to('Questions link to Scan Procedures', '/question_scan_procedures') %> </td><td align="left"> -- A question can be included or excluded based on scan procedure. If neither is specified, the question is accessible to all scan procedures via the questionform.<br> This is done when a new scan procedure is set up with labhealth, neuropsyche or questionnaires. <br>
LINK A QUESTION TO A SCAN PRCEDURE BEFORE LINKING TO FORM.<br></td></tr>

<tr><td nowrap align="left"><%= link_to('Questions link to Form', '/questionform_questions') %></td><td align="left">  --- After a question is made, it needs to be linked to a questionform. <br>The search will list all the questions linked to a form, ordered by display order, from all the scan procedures. <br>The bottom link - "New Questionform question" lists the unlinked questions which need to be added to forms.<br> This is done when a new scan procedure is set up with labhealth, neuropsyche or questionnaires.<br><br>
Has display order batch update option.</td></tr>

<tr><td nowrap align="left"><br><br><br></td><td align="left">  <br><br><br><br></td></tr>
<tr><td nowrap align="left"><%= link_to('Question Forms Scan Procedures', '/questionform_scan_procedures') %></td><td align="left"> -- questionforms can be limited by scan procedure - include or exclude. This will adjust which form names show as options in the LH, NP, and Q apptointments for the different scan procedures.  <br></td></tr>
</table>




<br>


<%else %>	
	
	
<% end %>