
<h2>Edit User global role </h2>
<%= current_user.role %>= current role
<% if current_user.role == 'Admin_High'%>

<!-- error_messages_for -->      
<%= form_for :user do |f| -%>

  <div class="inputs">
	<%= collection_select :user, :id, User.all.sort_by(&:username_name_role), :id, :username_name_role, :prompt => 'choose a user' %>


 <%= f.label :role %> :  <%= collection_select :user, :role, Role.all.sort_by(&:role), :role, :description, :prompt => 'choose a role' %>
   
  </div>

  <div class="actions">
 <p><%= submit_tag 'Update Role' %></p>
  </div>
    Most users do not have a Global Role. <br>
  Edit/View permissions for a User are set in the [ Update user PROTOCOL specific role].<br>
  The only Users with global roles are the Panda Admins - [ full admin rights]<br>
  the Question making Users - [lower level admin rights]<br>
  the UP table validator - [edit_most_fields rights] - Edit_Medium.<br>
  Leave the role BLANK unless the users should have global access.
<% end %>

<h3>Cancel the account</h3>

<p>Unhappy? This link will delete your, you the admin user, delete your users. Hiding. <!--- <%= link_to "Cancel my account", registration_path(User), :method => :delete, data: {confirm: "Are you sure?"} %>-->.</p>
- Safer to update global role to blank, and remove all the protocol roles.
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>


<%= link_to "Back", :back %>