<p id="notice"><%= notice %></p>

<h1>Folderpermissions</h1>

<table>
  <thead>
    <tr>
      <th>Actual vs planned</th>
      <th>Network user</th>
      <th>Network group</th>
      <th>Permission read</th>
      <th>Permission write</th>
      <th>Permission execute</th>
      <th>Folder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @folderpermissions.each do |folderpermission| %>
      <tr>
        <td><%= folderpermission.actual_vs_planned %></td>
        <td><%= folderpermission.network_user %></td>
        <td><%= folderpermission.network_group %></td>
        <td><%= folderpermission.permission_read %></td>
        <td><%= folderpermission.permission_write %></td>
        <td><%= folderpermission.permission_execute %></td>
        <td><%= folderpermission.folder_id %></td>
        <td><%= link_to 'Show', folderpermission %></td>
        <td><%= link_to 'Edit', edit_folderpermission_path(folderpermission) %></td>
        <td><%= link_to 'Destroy', folderpermission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folderpermission', new_folderpermission_path %>
