<%  v_y_n = {"Y"=>"Y","N"=>"N"}
v_display = {"dropdown"=>"dropdown","text"=>"text"}  %>

<%= form_for(@trtype) do |f| %>
  <% if @trtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trtype.errors.count, "error") %> prohibited this trtype from being saved:</h2>

      <ul>
      <% @trtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

    <div class="field">
    <%= f.label :action_name %><br />
    <%= f.text_field :action_name %>
  </div>

  <div class="field">
    <%= f.label :series_description_type %><br />
    <%= f.select(:series_description_type_id, SeriesDescriptionType.where("series_description_type not like '%?%'").sort_by(&:series_description_type).collect {|p| [ p.series_description_type, p.id ] },  { :include_blank => "Select a scan category",:selected => @trtype.series_description_type_id } ,{ :multiple => true} ) %>
  </div>

  <div class="field">
    <%= f.label :series_description_display %><br />
    <%= f.select(:series_description_display,  v_display, {:prompt => 'Display?'} ) %>
  </div>

  <div class="field">
    <%= f.label :parameters %><br />
    <%= f.text_field :parameters %>
  </div>
  <div class="field">
    <%= f.label :status_flag %><br />
   <%= f.select :status_flag, v_y_n, {:prompt => 'Status?'}  %>
  </div>
  <div class="field">
    <%= f.label :triggers %>: </b>
    <%= f.text_area :triggers_1 %><br>
    <small><small>To display a command based on value, and include subjectid_v#
    display_command|value_1=command_1 <enum>|value_2=command_2 <enum>|.....<br></small></small>
    The triggers are a work in progress.
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
