<h1>Listing trtypes</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Action Name</th>
    <th>Parameters</th>
    <th>Status flag</th>
    <th>Series Desc Type</th>
    <th>Trigger</th>
    <th>Processed Images File Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trtypes.each do |trtype| %>
  <tr>
    <td><%= trtype.description %></td>
    <td><%= trtype.action_name %></td>
    <td><%= trtype.status_flag %></td>
    <td>  <%   if !trtype.series_description_type_id.blank? 
          #SeriesDescriptionType.where("id in (?)",trtype.series_description_type_id).series_description_type 
          v_seriesdesctypes = SeriesDescriptionType.where("id in (?)",trtype.series_description_type_id.split(","))
          v_seriesdesctypes.each do |sdt|
	             %>
	           <%= sdt.series_description_type%><br>
	    
	     <% end
     end%> &nbsp;</td>
    <td><%= trtype.triggers_1 %>&nbsp;</td>
    <td>
    <%   if !trtype.processedimagesfiletype_id.blank? 
          v_processedimagesfiletypes = Processedimagesfiletype.where("id in (?)",trtype.processedimagesfiletype_id.split(","))
          v_processedimagesfiletypes.each do |pift|
               %>
             <%= pift.file_type%><br>
      
       <% end
     end%> &nbsp;</td>
    <td><%= link_to 'Show', trtype %></td>
    <% if current_user.role == 'Admin_High'%>
    <td><%= link_to 'Edit', edit_trtype_path(trtype) %></td>
    <td><%= link_to 'Destroy', trtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trtype', new_trtype_path %> | 
<%= link_to('Track type actions','/tractiontypes') %> |
<%= link_to('Track type files','/trfiles') %>
