
<%  v_y_n = {"Y"=>"Y","N"=>"N"} 
v_qc = {"Fail"=>"Fail","Partial"=>"Partial","Pass"=>"Pass"} %>
<table class="search_form" >
	<tr><td colspan="3" align="left"><b>Tracking file processing and edits:</b> <br>
		<%= form_for 'trtype_home' do |f| %>
	       <%= f.label :tr_type %>: 
		   <select onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
		      <option value="">select a Trtype</option>
		      <% @trtypes.each do |s| %>
		         <% if (s.id).to_s  == params[:id]  %>
			         <option  selected="selected" value=/trtype_home/<%=s.id %>><%= s.description %></option>
		         <%else%>
	                  <option value=/trtype_home/<%=s.id %>><%= s.description %></option>
	             <%end%>
	          <% end %>
	        </select>
	<% end %>
</td></tr>
<% if !params[:id].nil? %>
	<tr><td colspan="3" align="left" nowrap>
      <%= form_for 'trtype_home/'+params[:id] do |f| %>
      <%= f.label :search %>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :trfile %>: <%= select(:tr_search,:trfile_id, @trfiles.collect {|p| [ p.subjectid+" - "+ScanProcedure.find(p.scan_procedure_id).codename, p.id ] },  { :include_blank => "Select a subject" }) %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :scan_procedure %>:      <% scan_procedure_array = (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) %>
    <%= collection_select(:tr_search, :scan_procedure_id, ScanProcedure.where(" scan_procedures.id in (?)",scan_procedure_array).order(:codename), :id, :codename,  {:prompt => 'choose scan procedure'}, {:multiple =>  false} ) %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :user_id %>: 
    <%= select(:tr_search, :user_id, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Select editor" }) %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= select(:tr_search,  :file_completed_flag, v_y_n, {:prompt => 'File Completed?'} ) %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= select(:tr_search,  :qc_value, v_qc, {:prompt => 'QC Value?'} ) %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
<% if !@tractiontypes_search.nil? 
      @tractiontypes_search.each do |act|
       if act.ref_table_a_1 == "lookup_refs"  ## use ref_table_b_1 %>
        <%= collection_select "tr_search","tractiontype_id]["+act.id.to_s, LookupRef.where("label = ?",act.ref_table_b_1).sort_by(&:display_order),
            :ref_value, :description, {:include_blank => act.form_display_label+" ?" } %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%  else   %>
          <%= collection_select "tr_search","tractiontype_id]["+act.id.to_s, ((act.ref_table_a_1).constantize).all.sort_by(&:description),
            :id, :description, {:include_blank => act.form_display_label+" ?" } %>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
         <%   end  

        end %>
      <br>
   <% end 
%>
<!-- = f.label :compeleted -->
<%=f.submit 'Run Search'%>
      <%end%>
<br>
</td></tr>
<tr><td colspan="3" align="left" nowrap><hr width="80%"></td></tr>
	<tr><td colspan="3">
		<%= form_tag("/trfile_home/"+params[:id], method: "post") do %>
           <%= label_tag :subjectid %>: <small>for visit 1 just enter [subjectid], for visit 2 enter [subjectid]_v2 ,e.g. for visit # enter [subjectid]_v#</small><br />
   <%= submit_tag 'Make new file'%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field_tag  :subjectid ,"",:required=>TRUE %>
    <%= hidden_field_tag :trfile_action,"create" %>
		<%end %><br>
 </td></tr>
<%end # end of if id null%>

 <% if !@trfiles_search.nil? and @trfiles_search.size > 0 %>
<tr><td colspan="3">  <small><%= link_to 'download xls', { :controller=>"trtypes", :action=>"trtype_home", :tr_search =>  params[:tr_search] , :format => :xls} %></small>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to 'View File Edit List' ,{ :controller=>"tredits", :action=>"tredit_home", :trtype_id =>  params[:id]} %></small>
    </td></tr>
  <%end%>


</table><br>
 <% if !@trfiles_search.nil? %>
  <table  class="tabular" >
  <caption><%= pluralize(@v_trfiles_search_size, 'File') %></caption>
  <thead>
    <tr><% @column_headers_display.each do |header| %>
       <th><%= header %></th>
      <%end%>
    </tr>
</thead>
    <tfoot><tr><td colspan=(@column_headers_display.size+3)>
     <%=    paginate @trfiles_search %> 
  </td></tr></tfoot>
		<% connection = ActiveRecord::Base.connection();
     @trfiles_search.each do |trf| 
      v_peek = trf.qc_notes
            @tredits = Tredit.where("trfile_id = "+(trf.id).to_s).order("tredits.id asc")
            @tredit = @tredits[0]
			 %>
		<tr><td><%= trf.file_completed_flag %> </td> 
        <td><%= (trf.updated_at).strftime('%Y-%m-%d %H:%M'  ) %></td>
        <td><%= trf.subjectid %></td><td nowrap><small><small><%= link_to "Add edit","/trfile_home/"+params[:id]+"?trfile_action=add_edit&trfile_id="+trf.id.to_s,{:style=>'color:#000000;'} %>
        <br>
        <% if !@tredit.nil? %>
        <%= link_to "Last edit","/trfile_home/"+params[:id]+"?trfile_action=get_edit&trfile_id="+(trf.id).to_s ,{:style=>'color:#000000;'}%></small></small>
       <%end%></td>
        <td><%= ScanProcedure.find(trf.scan_procedure_id).codename %> </td> 
        <td><%= trf.qc_value %> <small><small><%= popup_note('peek', key_val_table('path_popup', { :qc_notes => v_peek })) unless v_peek.blank? %></small></small> </td> 
        <%   v_cnt = 0
             v_edit_cnt = 0
            @tredits.each do |tredit| 
              v_edit_cnt = v_edit_cnt + 1
              v_shade = 'bgcolor="#BDBDBD"'
               if v_cnt < 1 
                  v_shade =  'bgcolor="#BDBDBD"'
                  v_cnt = 1 
                else
                   v_shade =  'bgcolor="#FFFFFF"'
                   v_cnt = 0
                end %>
                  <% v_cell_cnt = 0 
                  v_peek = ""   # assuming peek is just text, no translate
                  @tractiontypes_peek.each do |act_peek|
                       @tredit_actions_peek  = TreditAction.where("tredit_id in (?)",tredit.id).where("tractiontype_id in (?)",act_peek.id)
                       @tredit_actions_peek.each do |row|
                          if !(row.value).blank?
                            v_peek = v_peek + row.value + "; "
                          end
                       end
                  end %>
                 <td <%= v_shade.html_safe%> > <%= link_to v_edit_cnt.to_s,"/trfile_home/"+params[:id]+"?trfile_action=get_edit&trfile_id="+(tredit.trfile_id).to_s+"&tredit_id="+(tredit.id).to_s %> </td>
               <%   @tractiontypes.each do |act| 
                    # put peek values in first cell 
                    # summary_peek_flag


                    # add link to edit
                    
                    v_value = ""
                    @tredit_actions = TreditAction.where("tredit_id in (?)",tredit.id).where("tractiontype_id in (?)",act.id)
                    if  !act.ref_table_a_1.nil? and act.ref_table_a_1 == "lookup_refs" and !(act.ref_table_b_1).nil? and !@tredit_actions[0].nil? and !(@tredit_actions[0].value).nil?
                        sql_val = "select lookup_refs.description from lookup_refs where label='"+ act.ref_table_b_1+"' and ref_value in ("+@tredit_actions[0].value+")"
                        vals =  connection.execute(sql_val)
                        val=[]
                        vals.each do |v|
                              val.push(v[0])
                        end
                        v_value = val.join(', ')
                    elsif  !act.ref_table_a_1.blank?  and !@tredit_actions[0].nil? and !(@tredit_actions[0].value).nil?
                        vals =((act.ref_table_a_1).constantize).where("id in (?)",@tredit_actions[0].value)
                        v_value = (vals.first).description
                    elsif !@tredit_actions[0].nil?
                        v_value = @tredit_actions[0].value
                    end
                    %>
                 <td <%= v_shade.html_safe%> > <%=v_value %> <% if v_cell_cnt < 1 %> <small><small><%= popup_note('peek', key_val_table('path_popup', { :note => v_peek })) unless v_peek.blank? %></small></small> <%end%></td>
                    <% v_cell_cnt =  1
                     end%>
            <%end%>
                  




		<%end%>
     </table>
  <%end%>
<br><br>



<br><br><br>
