<%  v_y_n = {"Y"=>"Y","N"=>"N"} %>
<table class="search_form" >
	<tr><td colspan="3" align="left" nowrap>
      <%= form_for 'tredit_home/'+params[:trtype_id] do |f| %>
      <%= label_tag :search %>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= label_tag :trfile %>: <%= select(:tr_search,:trfile_id, @trfiles.collect {|p| [ p.subjectid+" "+(p.secondary_key).to_s+"- "+ScanProcedure.find(p.scan_procedure_id).codename, p.id ] },  { :include_blank => "Select a subject" }) %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= label_tag :scan_procedure %>:      <% scan_procedure_array = (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) %>
    <%= collection_select(:tr_search, :scan_procedure_id, ScanProcedure.where(" scan_procedures.id in (?)",scan_procedure_array).order(:codename), :id, :codename,  {:prompt => 'choose scan procedure'}, {:multiple =>  false} ) %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= label_tag :user %>: 
    <%= select(:tr_search, :user_id, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Select user" }) %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= select(:tr_search,  :file_completed_flag, v_y_n, {:prompt => 'File Completed?'} ) %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% if !@tractiontypes_search.nil? 
      v_cnt_search = 0
      @tractiontypes_search.each do |act|
        v_cnt_search = v_cnt_search + 1
        if v_cnt_search > 6
           v_cnt_search = 0 %>
           <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <%
        end
       if act.ref_table_a_1 == "lookup_refs"  ## use ref_table_b_1 %>
        <%= collection_select "tr_search","tractiontype_id]["+act.id.to_s, LookupRef.where("label = ?",act.ref_table_b_1).sort_by(&:display_order),
            :ref_value, :description, {:include_blank => act.form_display_label+" ?" } %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%  else   %>
          <%= collection_select "tr_search","tractiontype_id]["+act.id.to_s, ((act.ref_table_a_1).constantize).all.sort_by(&:description),
            :id, :description, {:include_blank => act.form_display_label+" ?" } %>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
         <%   end  

        end %>
      <br>
   <% end 
%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
<!-- = f.label :compeleted -->
<%=f.submit 'Run Search'%> 
      <%end%>
<br>
</td></tr>
<% if !@tredits_search.nil? and  @tredits_search.size > 0 %>
<tr><td colspan="3">  <small><%= link_to 'download xls', { :controller=>"tredits", :action=>"tredit_home", :tr_search =>  params[:tr_search] ,:format => :xls} %></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <small><%= link_to 'View File List/Home' ,{ :controller=>"trtypes" ,:action=>"trtype_home/"+params[:trtype_id]} %></small>
    </td></tr>
  <%end%>
</table>

<% if !@tredits_search.nil? %>
  <table  class="tabular" >
  <caption><%= pluralize(@v_tredits_search_size, 'File') %></caption>
  <thead>
  	<tr><% @column_headers_display.each do |col| %>
         <th><%= col %></th>
         <%end%>
    </tr>
  </thead>
    <tfoot><tr><td colspan=(@column_headers_display.size+3)>
     <%=    paginate @tredits_search %> 
  </td></tr></tfoot>
		<% @tredits_search.each do |tre| 
       v_cnt = 0%>

<tr> <% tre.each do |val| 
     if v_cnt < 1
         tredit = Tredit.find(val)
         v_cnt =1%>
         <td> <%= link_to "Get "+@v_action_name,"/trfile_home/"+params[:trtype_id]+"?trfile_action=get_edit&trfile_id="+(tredit.trfile_id).to_s+"&tredit_id="+val.to_s ,{:style=>'color:#000000;'}%></td>
         <%else%>
  <td>  <%=val %> </td>
          <%end%>
       <%end%>
</tr>
   <%end%>
	</table>
<%end%>
<br><br><br><br><br><br><br><br>