<%= form_for(@series_description_type) do |f| %>
  <% if @series_description_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series_description_type.errors.count, "error") %> prohibited this series_description_type from being saved:</h2>

      <ul>
      <% @series_description_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :series_description_type %><br />
    <%= f.text_field :series_description_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
