<%  v_y_n = {"Y"=>"Y","N"=>"N"}
    v_y_n_e = {"Y"=>"Y","N"=>"N","E"=>"E"}  # is E used anywhere ?
    v_key = {"enumber and visit# mapped to enrollment/scan_procedure"=>"enrollment/sp","reggieid-kc-participant_id"=>"reggieid-kc-participant_id","wrapnum-kc-participant_id"=>"wrapnum-kc-participant_id","adrcnum-kc-participant_id"=>"adrcnum-kc-participant_id","no_key"=>"no_key"}
%>
<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table width="80%">
	<tr><td align="left"><b>Name:</b> <%= f.text_field :name, :required =>TRUE %> </td><td align="left"><b>Run Length <small>(min.)</small>:</b> <%= f.text_field :run_time_length_min ,:size=>10, :onchange => "if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}"%>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Status:</b> <%= f.select :status_flag, v_y_n_e, {:prompt => 'Status?'}  %> </td>
		 </tr>
		<tr><td align="left" colspan="2" nowrap> <b>shared_function_name:</b> <%= f.text_field :shared_function_name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<b>run_as_user:</b> <%= f.text_field :run_as_user %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<b>run_on_machine:</b> <%= f.text_field :run_on_machine %>
<tr><td align="left" colspan="2">	<b>Run Command:</b><br>
	<%= f.text_area :run_command,:size => "140x6" %>
  </td></tr>
<tr><td align="left" colspan="2">	<b>Parameters:</b><br>
	<%= f.text_area :parameters,:size => "100x6" %>
  <br><br><br></td></tr>
<tr><td align="left" colspan="2">	<b>Description:</b><br>
	<%= f.text_area :description,:size => "100x6" %>
  <br><br></td></tr>
<tr><td align="left"><b>Target Table:</b> <%= f.text_field :target_table %> </td><td align="left"><b>Target Column(s):</b> <%= f.text_field :target_column %> </td></tr>

<tr><td align="left" ><br><b>File Upload Fields:</b>  </td><td align="left">&nbsp; </td></tr>
<tr><td align="left" colspan=2><b>File_Upload_Flag:</b><%= f.select :file_upload_flag, v_y_n, :selected => @schedule.file_upload_flag.blank? ? 'N' :  @schedule.file_upload_flag   %>&nbsp;&nbsp;&nbsp;<small><small> shared function name will be "file_upload" if Y. </small>Also enter the cg_* Target Table above.</small></td></tr>
<tr><td align="left" colspan=2><b>File Header:</b> <%= f.text_field :file_header, :size=>120 %> </td></tr>

<tr><td align="left" colspan=2><b>File_Columns_Included:</b> <%= f.text_field :file_columns_included, :size=>120 %></td></tr>
<tr><td align="left" colspan=2><b>File Key Source Column:</b> <%= f.text_field :file_key_source_column %> </td></tr>
<tr><td align="left" colspan=2><b>File Path:</b> <%= f.text_field :file_path, :size => 60 %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<% if @schedule.key_type.blank?
		  @schedule.key_type = 'enrollment/sp'
	   end
	 %>
	<b>Key Type:</b> <%= f.select :key_type, v_key, :selected => @schedule.key_type %></td></tr>
<tr><td align="left" colspan=2><b>Target_Table_columns/order:</b> <%= f.text_field :target_table_columns, :size=>120 %>	</td></tr>
<tr><td align="left" ><b>Process Stop File option:</b> <%= f.select :process_stop_file_flag, v_y_n, :selected => @schedule.process_stop_file_flag.blank? ? 'N' :  @schedule.process_stop_file_flag   %><br>( /mounts/data/preprocessed/logs ) 	</td>
<td align="left"><b>Make Export_id column:</br>
	<%= f.select :make_unique_export_id, v_y_n, :selected => @schedule.make_unique_export_id.blank? ? 'N' :  @schedule.make_unique_export_id   %><br>
	(only works with participant linked data - one row per particiapant)
</td></tr>
<tr><td align="left" colspan=2>
<br>
<B>Owner:</b></td></tr>
	</table>
<div id="scan_procedure_list">
<ul>
<% User.where(" users.username not like '%left%' ").all.sort_by(&:username_name).each do |user| %>
	<li>
		<%#= f.fields_for scan_procedure do |scan_fields| %>
			<%#= f.check_box :scan_procedure_ids, {}, scan_procedure.id, :name => 'visit[scan_procedure_ids][]' %>
			<%#= f.label :scan_procedure_ids, scan_procedure.codename %>
		<%# end %>
	</li>
	<li>
		<%= check_box_tag "schedule_user_ids", user.id, @schedule.users.include?(user), :name => 'schedule[user_ids][]' %>
		<%= label_tag '', user.username_name %>
	</li>
<% end %>
</ul>
</div>


<br><br>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
