<%
v_full_partial = {"Full Reload"=>"full","Partial Reload/Append"=>"partial"}
%>

<p id="notice"><%= notice %></p>

<p>
  <b>Run command:</b>
  <%= @schedule.run_command %>
</p>


<p>
  <b>shared_function_name:</b>
  <%= @schedule.shared_function_name %>
</p>
<p>
  <b>Parameters:</b>
  <%= @schedule.parameters %>
</p>

<p>
  <b>Description:</b>
  <%= @schedule.description.html_safe %>
</p>

<p>
  <b>Run time length min:</b>
  <%= @schedule.run_time_length_min %>
</p>

<p>
  <b>Status flag:</b>
  <%= @schedule.status_flag %>
</p>

<p>
  <b>Target table:</b>
  <%= @schedule.target_table %>
</p>

<p>
  <b>Target column:</b>
  <%= @schedule.target_column %>
</p>
<p><b>File Upload Fields</b><br>
  <b>File Upload Flag:</b><%= @schedule.file_upload_flag %><br>
  <b>File Header:</b><%= @schedule.file_header %> <small>--- used to validate that uploaded file header is the same as expected structure</small><br>
  <b>File Columns Included:</b><%= @schedule.file_columns_included%><br>
  <b>File Key Source Columns:</b><%= @schedule.file_key_source_column %><br>
  <b>File Path:</b><%= @schedule.file_path %><br>
  <b>Key Type:</b><%= @schedule.key_type %><br>
  <b>Target_Table_columns/order:</b><%= @schedule.target_table_columns %><br>

</p>


<p>
	<b>Owners:</b>
	<%= @schedule.users.sort_by(&:username_name).collect {|u|  u.username_name}.join(", ").html_safe %>
</p>
<% if @schedule.users.include?( current_user) or (current_user.role == 'Admin_High' or current_user.role == 'Admin_Low')
	  if (!@schedule.shared_function_name.blank? and ( @schedule.file_upload_flag.blank?  or @schedule.file_upload_flag !='Y'   )) or
		  (!@schedule.shared_function_name.blank? and @schedule.file_upload_flag =='Y' and !@schedule.file_path.blank?)   %>
<p>
	<b>Execute:</b> <%= link_to 'run_schedule', run_schedule_path %><br>
	<% if @schedule.process_stop_file_flag == "Y"%>
	<b>Stop:</b> <%= link_to 'stop_schedule', stop_schedule_path %><br>
	<% end %>
</p>	
	
<%    end
      if  @schedule.file_upload_flag == 'Y' %>
<% form_tag('/shared_file_upload', :method=>'post', :multipart => true) do %>
       <table>
	</td><td valign="top"><b>Browse for file to upload:</b> <%= file_field_tag "file_name" , :accept => 'text/csv' %></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Full or Partial upload:</b> 
		         <%= select_tag :full_partial, options_for_select(v_full_partial,'partial') %>
		                        
		</td></tr></table>
		<%= hidden_field_tag 'schedule_id',  @schedule.id.to_s%>
	  <div class="actions">
	    <%= submit_tag('upload file') %>
	  </div><br>

        <%end%>	
 <%	  end
   end %>
<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'%>
    <%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<% end %>
<%= link_to 'Back', schedules_path %> |
<%= link_to('Column Group search/load', '/users/cgbase') %>