<p id="notice"><%= notice %></p>

<p>
  <b>Run command:</b>
  <%= @schedule.run_command %>
</p>


<p>
  <b>shared_function_name:</b>
  <%= @schedule.shared_function_name %>
</p>
<p>
  <b>Parameters:</b>
  <%= @schedule.parameters %>
</p>

<p>
  <b>Description:</b>
  <%= @schedule.description.html_safe %>
</p>

<p>
  <b>Run time length min:</b>
  <%= @schedule.run_time_length_min %>
</p>

<p>
  <b>Status flag:</b>
  <%= @schedule.status_flag %>
</p>

<p>
  <b>Target table:</b>
  <%= @schedule.target_table %>
</p>

<p>
  <b>Target column:</b>
  <%= @schedule.target_column %>
</p>
<p>
	<b>Owners:</b>
	<%= @schedule.users.sort_by(&:username_name).collect {|u|  u.username_name}.join(", ").html_safe %>
</p>
<% if @schedule.users.include?( current_user) or (current_user.role == 'Admin_High' or current_user.role == 'Admin_Low')
	  if !@schedule.shared_function_name.blank? %>
<p>
	<b>Execute:</b> <%= link_to 'run_schedule', run_schedule_path %>
</p>		
<%    end
   end %>
<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'%>
    <%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<% end %>
<%= link_to 'Back', schedules_path %> |
<%= link_to('Column Group search/load', '/users/cgbase') %>