<h1>New neuropsych_assessment</h1>

<%= form_for(@neuropsych_assessment) do |f| %>
  <% if @neuropsych_assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@neuropsych_assessment.errors.count, "error") %> prohibited this neuropsych_assessment from being saved:</h2>

      <ul>
      <% @neuropsych_assessment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.label :score_type %><br />
    <%= f.text_field :score_type %>
  </p>
  <p>
    <%= f.label :test_name %><br />
    <%= f.text_field :test_name %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', neuropsych_assessments_path %>
