<% if current_user.role == 'Admin_High'%>

<h1>Listing lookup_famhxes</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_famhxes.each do |lookup_famhx| %>
  <tr>
    <td><%= lookup_famhx.description %></td>
    <td><%= link_to 'Show', lookup_famhx %></td>
    <td><%= link_to 'Edit', edit_lookup_famhx_path(lookup_famhx) %></td>
    <td><%= link_to 'Destroy', lookup_famhx, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup famhx', new_lookup_famhx_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>