<p id="notice"><%= notice %></p>

<p>
  <strong>Dashboard:</strong>
  <%= @dashboardcontent.dashboard_id %>
</p>

<p>
  <strong>Status flag:</strong>
  <%= @dashboardcontent.status_flag %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @dashboardcontent.contact %>
</p>

<p>
  <strong>Cg query:</strong>
  <%= @dashboardcontent.cg_query_id %>
</p>

<p>
  <strong>Display header 1 large:</strong>
  <%= @dashboardcontent.display_header_1_large %>
</p>

<p>
  <strong>Display header 1 small:</strong>
  <%= @dashboardcontent.display_header_1_small %>
</p>

<p>
  <strong>Display text 1:</strong>
  <%= @dashboardcontent.display_text_1 %>
</p>

<p>
  <strong>Display label:</strong>
  <%= @dashboardcontent.display_label %>
</p>

<p>
  <strong>Display text 2:</strong>
  <%= @dashboardcontent.display_text_2 %>
</p>

<p>
  <strong>Display text 3:</strong>
  <%= @dashboardcontent.display_text_3 %>
</p>

<p>
  <strong>Print header 1 large:</strong>
  <%= @dashboardcontent.print_header_1_large %>
</p>

<p>
  <strong>Print header 1 small:</strong>
  <%= @dashboardcontent.print_header_1_small %>
</p>

<p>
  <strong>Print text 1:</strong>
  <%= @dashboardcontent.print_text_1 %>
</p>

<p>
  <strong>Print label:</strong>
  <%= @dashboardcontent.print_label %>
</p>

<p>
  <strong>Print text 2:</strong>
  <%= @dashboardcontent.print_text_2 %>
</p>

<p>
  <strong>Print text 3:</strong>
  <%= @dashboardcontent.print_text_3 %>
</p>

<p>
  <strong>Html size:</strong>
  <%= @dashboardcontent.html_size %>
</p>

<p>
  <strong>Html bold:</strong>
  <%= @dashboardcontent.html_bold %>
</p>

<p>
  <strong>Html color:</strong>
  <%= @dashboardcontent.html_color %>
</p>

<p>
  <strong>Html col span:</strong>
  <%= @dashboardcontent.html_col_span %>
</p>

<p>
  <strong>Html break between row:</strong>
  <%= @dashboardcontent.html_break_between_row %>
</p>

<p>
  <strong>Row display order:</strong>
  <%= @dashboardcontent.row_display_order %>
</p>

<p>
  <strong>Sql return one or many:</strong>
  <%= @dashboardcontent.sql_return_one_or_many %>
</p>

<p>
  <strong>Sql group by:</strong>
  <%= @dashboardcontent.sql_group_by %>
</p>

<p>
  <strong>Sql order by:</strong>
  <%= @dashboardcontent.sql_order_by %>
</p>

<p>
  <strong>Sql date override by dashboard search:</strong>
  <%= @dashboardcontent.sql_date_override_by_dashboard_search %>
</p>

<p>
  <strong>Sql join type:</strong>
  <%= @dashboardcontent.sql_join_type %>
</p>

<%= link_to 'Edit', edit_dashboardcontent_path(@dashboardcontent) %> |
<%= link_to 'Back', dashboardcontents_path %>
