<%= form_for(@question_scan_procedure) do |f| %>
  <% if @question_scan_procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_scan_procedure.errors.count, "error") %> prohibited this question_scan_procedure from being saved:</h2>

      <ul>
      <% @question_scan_procedure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.text_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :scan_procedure_id %><br />
    <%= f.text_field :scan_procedure_id %>
  </div>
  <div class="field">
    <%= f.label :include_exclude %><br />
    <%= f.text_field :include_exclude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
