<h1>Listing question_scan_procedures</h1>

Limits a question to only be displayed (include) or not displayed ( exclude) for a scan procedure/protocol.<br>



 <%= form_tag '/question_scan_procedures/index' do %>
  <% v_form_id_array =[] ; v_form_id_array.push(12); v_form_id_array.push(13) ; v_form_id_array.push(14) %>
  <%= collection_select :questionform_question,  :questionform_id, Questionform.where("status_flag in ('Y')").order(:entrance_page_type,:display_order,:description), :id, :description,{:prompt => 'Select a Form to show the linked Questions'} %>
  <br>
  <% scan_procedure_array = (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) %>
<%= collection_select('questionform_question[scan_procedure_id]', :id,ScanProcedure.where(" scan_procedures.id in (?)",scan_procedure_array).order(:codename), :id, :codename,  {:prompt => 'Choose scan procedure'}, {:multiple =>  false} ) %>
<br>  <%= submit_tag("Search") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<table width="100%"><tr><td align="right">
<%= link_to 'Link Question to scan procedure', new_question_scan_procedure_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
<br> <small> <%= link_to('Batch update question display order', '/questionform_questions') %></small>
</td></tr></table>
<% end %>  

<table class="tabular">
  <tr>
    <th>Question</th>
    <th>Scan procedure</th>
    <th>Include exclude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_scan_procedures.each do |question_scan_procedure| %>
  <tr>
    <td align="left"><%= Question.find(question_scan_procedure.question_id).description %></td>
    <td><%= ScanProcedure.find(question_scan_procedure.scan_procedure_id).codename%></td>
    <td><%= question_scan_procedure.include_exclude %></td>
    <td><%= link_to 'Show', question_scan_procedure %></td>
    <td><%= link_to 'Edit', edit_question_scan_procedure_path(question_scan_procedure) %></td>
    <td><%= link_to 'Destroy', question_scan_procedure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Link Question to scan procedure', new_question_scan_procedure_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
