<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question_scan_procedure.question_id %>
 <%= 	Question.find(@question_scan_procedure.question_id).description %>
</p>

<p>
  <b>Scan procedure:</b><%= ScanProcedure.find(@question_scan_procedure.scan_procedure_id).codename%>
</p>

<p>
  <b>Include exclude:</b>
  <%= @question_scan_procedure.include_exclude %>
</p>


<%= link_to 'Edit', edit_question_scan_procedure_path(@question_scan_procedure) %> |
<%= link_to 'Back', question_scan_procedures_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
