<% if current_user.role == 'Admin_High'%>
<h1>Listing lookup_cohorts</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_cohorts.each do |lookup_cohort| %>
  <tr>
    <td><%= lookup_cohort.description %></td>
    <td><%= link_to 'Show', lookup_cohort %></td>
    <td><%= link_to 'Edit', edit_lookup_cohort_path(lookup_cohort) %></td>
    <td><%= link_to 'Destroy', lookup_cohort, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup cohort', new_lookup_cohort_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>
