<table width="90%" border="2"><tr><td>

<H2>Unlinked Questions</H2>
This is for linking a new question to a form.
<%= form_for(@questionform_question) do |f| %>
  <% if @questionform_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionform_question.errors.count, "error") %> prohibited this questionform_question from being saved:</h2>

      <ul>
      <% @questionform_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :questionform_id %>:</b><br />
<%= collection_select :questionform_question, :questionform_id, Questionform.where("status_flag ='Y'").sort_by(&:display_order), :id, :description,{:prompt => 'Select a Question Form'},{:required => true}  %>
  </div><br>
  <div class="field">
    <b>Un-Linked Questions: </b>
<%= collection_select :questionform_question, "question_id", Question.find_by_sql("select * from questions where questions.id not in (select question_id from questionform_questions)").sort_by(&:description), :id, :description,{:prompt => 'Select a Question- unlinked questions'},{:required => true}  %>
  </div><br>

  <div class="field">
    <b><%= f.label :display_order %>:</b><br />
    <%= f.text_field :display_order , :onchange => "if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}" %> The display order will autopopulate with the next display order for the selected form.
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br><br><br>
</td></tr>
<tr><td>
<H3>Full list of Questions and EDITs</H3>
This is for editing the display order of a question already linked to a form.
<%= form_for(@questionform_question) do |f| %>
  <% if @questionform_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionform_question.errors.count, "error") %> prohibited this questionform_question from being saved:</h2>

      <ul>
      <% @questionform_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :questionform_id %>:</b><br />
<%= collection_select :questionform_question, :questionform_id, Questionform.where("status_flag ='Y'").sort_by(&:display_order), :id, :description,{:prompt => 'Select a Question Form'},{:required => true}  %>
  </div><br>
  <div class="field">
   <b>Full List Questions:</b>
<%= collection_select :questionform_question, "question_id", Question.all.sort_by(&:description), :id, :description,{:prompt => 'Select a Question- full list'},{:required => true}  %>
  </div><br>
  <div class="field">
    <b><%= f.label :display_order %>:</b><br />
    <%= f.number_field :display_order , :onchange => "if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}" %> The display order will autopopulate with the next display order for the selected form.
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</td></tr></table>