

<%= form_tag '/questionform_questions/index' do %>
  <%= collection_select :questionform_question,  :questionform_id, Questionform.all(:order =>'entrance_page_type,display_order,description'), :id, :description,{:prompt => 'Select a Form to show the linked Questions'} %>
  <%= submit_tag("Search") %>
<% end %>

<h1>Listing questionform_questions</h1>

<table>
  <tr><th>Edit this question</th>
    <th>Questionform</th><th> | </th>
    <th>Question</th>
    <th>Display order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questionform_questions.each do |questionform_question| %>
  <tr>
	<td><a href="/questions/<%=questionform_question.question_id %>/edit" target="new">Edit question</a></td>
    <td><%= Questionform.find(questionform_question.questionform_id).description %></td><td align=center> | </td>
    <td><%= 	Question.find(questionform_question.question_id).description %></td>
    <td><%= questionform_question.display_order %></td>
    <td><%= link_to 'Show', questionform_question %></td>
    <td><%= link_to 'Edit', edit_questionform_question_path(questionform_question) %></td>
    <td><%= link_to 'Destroy', questionform_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Questionform question', new_questionform_question_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
