<% scan_procedure_array = (current_user.edit_low_scan_procedure_array).split(' ').map(&:to_i) %>
<h1>Listing questionform_questions</h1>

Links a question to a form.<br>
<% if  @v_edit_display_order == "Y" %>
<table width="80%"><tr><td align="right">
<%= form_tag '/questionform_questions/index_sp_questions' do %>
    <%= hidden_field_tag   'questionform_question[questionform_id]',  @v_questionform_id.to_s%>

    <%= hidden_field_tag 'orig_scan_procedure_id',  @v_scan_procedure_id.to_s%>
    <%= submit_tag("Add all these questions to another Scan Procedure") %><br>
    <%= collection_select('questionform_question[scan_procedure_id]', :id,ScanProcedure.where(" scan_procedures.id in (?)",scan_procedure_array).order(:display_alias), :id, :display_alias,  :prompt => 'Choose scan procedure', :multiple =>  false, :selected => @v_scan_procedure_id  ) %>
<%end%>
</td></tr></table>
<%end%>
 <%= form_tag '/questionform_questions/index' do %>
  <%= collection_select :questionform_question,  :questionform_id, Questionform.where("status_flag in ('Y')").order(:entrance_page_type,:display_order,:description), :id, :description,:prompt => 'Select a Form to show the linked Questions',:required => true, :selected => @v_questionform_id %>
  <br>
<%= collection_select('questionform_question[scan_procedure_id]', :id,ScanProcedure.where(" scan_procedures.id in (?)",scan_procedure_array).order(:display_alias), :id, :display_alias,  :prompt => 'Choose scan procedure', :multiple =>  false, :selected => @v_scan_procedure_id  ) %>
<br>  <% if  @v_edit_display_order == "Y" %><%= submit_tag("Update Question Order") %>   &nbsp;&nbsp;<small><small><%= link_to('Redo Search', '/questionform_questions') %> </small></small><%else%><%= submit_tag("Search") %> <%end%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<%= link_to 'Link Question to Form', new_questionform_question_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>



<table  class="tabular">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>Questionform</th><th> | </th>
    <th>Question</th>
    <th>Display order</th>
    <th><small><small>link to question</small></small></th>
    </tr>

<% @questionform_questions.each do |questionform_question| %>
  <tr>
    <td><%= link_to 'Show', questionform_question %></td>
    <td><%= link_to 'Edit', edit_questionform_question_path(questionform_question) %></td>
    <td><%= link_to 'Destroy', questionform_question, :method => :delete,data: {confirm: 'Are you sure?' } %></td>
    <td><%= Questionform.find(questionform_question.questionform_id).description %></td><td align=center> | </td>
    <td align="left"><%= 	Question.find(questionform_question.question_id).description %></td>
    <td><% if  @v_edit_display_order == "Y" %><%= text_field_tag 'display_order['+questionform_question.question_id.to_s+']' ,questionform_question.display_order,:size=>15 ,:onchange => "if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}"%>
      <%= hidden_field_tag 'question_id[]',  questionform_question.question_id.to_s%>
      <%else%><%= questionform_question.display_order %><%end%></td>
      <td><a href="/questions/<%=questionform_question.question_id %>/edit" target="new">Edit question</a></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Link Question to Form', new_questionform_question_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
<% end %>  
