<p id="notice"><%= notice %></p>

<p>
  <b>Questionform:</b>
  <%= Questionform.find(@questionform_question.questionform_id).description %>
</p>

<p>
  <b>Question:</b>
  <%= 	Question.find(@questionform_question.question_id).description %>
</p>
<p>
  <b>Display order:</b>
  <%= @questionform_question.display_order %>
</p>


<%= link_to 'Edit', edit_questionform_question_path(@questionform_question) %> |
<%= link_to 'Back', questionform_questions_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
