<h1>Editing image_comment</h1>

<% form_for(@image_comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @image_comment %> |
<%= link_to 'Back', image_comments_path %>
