<%   @current_tab = "blooddraws"
%>
<h1>Editing Lab Health appt</h1>
<h3><%= @enumbers.blank? ? @vgroup.rmr : @enumbers.collect{|e| e.enumber }.join(", ") %></h3>
<%= render :partial => 'new_edit', :locals => { :form_action => 'Edit Blooddraw appt'} %>
<br><hr span="70%">

<%= render :partial => 'questionforms/editform', :locals => { :form_action => 'Edit Lab Health values'} %>

<br /><%= link_to 'Back to this Lab Health appt', @blooddraw %> | <%= link_to 'Delete this Lab Health appt', @blooddraw, :confirm => "Are you sure you want to delete this Lab Health appt?", :method => :delete %>