<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Medium'%>
<h1>Listing blooddraws</h1>

<table>
  <tr>
    <th>Appointment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blooddraws.each do |blooddraw| %>
  <tr>
    <td><%= blooddraw.appointment_id %></td>
    <td><%= link_to 'Show', blooddraw %></td>
    <td><%= link_to 'Edit', edit_blooddraw_path(blooddraw) %></td>
    <td><%= link_to 'Destroy', blooddraw, :method => :delete , data: { confirm: 'Are you sure?'}%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blooddraw', new_blooddraw_path %>


<% end %>