<% if @hide_page_flag == "Y" 
  else %>

<%

# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
 edit_low_scan_procedure_array = []
edit_low_scan_procedure_array =  (current_user.edit_low_scan_procedure_array).split(' ').map(&:to_i)
edit_count =edit_low_scan_procedure_array.length 
edit_count = edit_count -1 
%>
<%   @current_tab = "blooddraws"
%>

<% if edit_count > 0 %>
<span style="float:right"><%= link_to 'Edit Lab Health appt', edit_blooddraw_path(@blooddraw) %> | <%= link_to 'Vgroup', Vgroup.find(@appointment.vgroup_id) %></span>
<% end %>
<div id="visit_heading">
  <%=	link_to "&larr; Older".html_safe, @older_blooddraw if @older_blooddraw %>
  &nbsp;
  <h1><%= @enumbers.blank? ? @vgroup.rmr : @enumbers.collect{|e| e.enumber }.join(", ") %></h1>
  <p class="date"><%= @appointment.appointment_date.to_s(:long) %></p>
  &nbsp;
  <%=	link_to "Newer &rarr;".html_safe, @newer_blooddraw if @newer_blooddraw %>
  <br />
</div>


<%=  render :partial => 'blooddraws/show' %>
<%end %>