<h1>Editing enrollment</h1>

<% form_for(@enrollment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :enroll_date %><br />
    <%= f.date_select :enroll_date %>
  </p>
  <p>
    <%= f.label :enumber %><br />
    <%= f.text_field :enumber %>
  </p>
  <p>
    <%= f.label :recruitment_source %><br />
    <%= f.text_field :recruitment_source %>
  </p>
  <p>
    <%= f.label :withdraw_enrollment? %><br />
    <%= f.text_area :withdrawl_reason, :rows => 3  %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @enrollment %> |
<%= link_to 'Back', enrollments_path %>
