<%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
v_scan_share_hash = [['Ok to share scan with outside request if IRB approval','N'],['Do not share scan via outside rerquest','Y']]
%> 
<h1>Editing enrollment</h1>

<%= form_for(@enrollment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :enroll_date %><br />
    <%= f.date_select :enroll_date %>
  </p>
  <p>
    <%= f.label :enumber %><br />
    <%= f.text_field :enumber %>
  </p>
  <p>
    <%= f.label :recruitment_source %><br />
    <%= f.text_field :recruitment_source %>
  </p>
  <p>
    <%= f.label :withdraw_enrollment? %><br />
    <%= f.text_area :withdrawl_reason, :rows => 3  %>
  </p>
  <p>
    <%= f.label :do_not_share_scans_flag %><br />
    <%= select :enrollment, :do_not_share_scans_flag, { "Do not share scan via outside rerquest" => "Y", "Ok to share scan with outside request if IRB approval" => "N" }, :selected =>@enrollment.do_not_share_scans_flag %>
  </p>
    <p>
    <%= f.label :set_participant_id_blank? %><br />
    <%= check_box( :cleanup, "set_participant_id_blank")%>
  </p>
  <% if edit_count > 0 %>
  <p>
    <%= f.submit "Update" %>
  </p>
   <% end %>
<% end %>

<%= link_to 'Show', @enrollment %> |
<%= link_to 'Back', enrollments_path %>
