<% if @hide_page_flag == "Y" 
  else %>
<%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
%>
<h1>Listing enrollments</h1>

<big>This is a complete list of enumbers/subjectid/enrollments. There is not a search yet.<br>
  To delete/edit an enum/subjectid use "ctrl f" to find the enum/subjectid on the web page.</big><br><br>
<table class="tabular">
  <caption><%= pluralize(@enrollments.size, 'enrollment') %></caption>
  <thead>
    <tr>
      <th>Enrollment date</th>
      <th>enumber</th>
      <th>Recruitment source</th>
      <th></th>
    </tr>
  </thead>
  
  <tfoot><td colspan=4></td></tfoot>

  <tbody>
    <% for enrollment in @enrollments %>
      <tr>
        <td><%=h enrollment.enroll_date %></td>
        <td><%=h enrollment.enumber %></td>
        <td><%=h enrollment.recruitment_source %></td>
        <td>
          <%= link_to 'Show', enrollment %>
<% if edit_count >30 %>
          <%= link_to 'Edit', edit_enrollment_path(enrollment) %>
          <%= link_to 'Destroy', enrollment, :method => :delete,data: {confirm: 'Are you sure?' } %>
<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<% if edit_count > 30 %>
<%= link_to 'New enrollment', new_enrollment_path %>
<% end %>
<%end %>