<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @cg_query.user_id %>
</p>

<p>
  <b>Create date:</b>
  <%= @cg_query.create_date %>
</p>

<p>
  <b>Save flag:</b>
  <%= @cg_query.save_flag %>
</p>

<p>
  <b>Encumber:</b>
  <%= @cg_query.encumber %>
</p>

<p>
  <b>Save flag:</b>
  <%= @cg_query.save_flag %>
</p>

<p>
  <b>Rmr:</b>
  <%= @cg_query.rmr %>
</p>

<p>
  <b>Scan procedure id list:</b>
  <%= @cg_query.scan_procedure_id_list %>
</p>

<p>
  <b>Cg name:</b>
  <%= @cg_query.cg_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @cg_query.gender %>
</p>

<p>
  <b>Min age:</b>
  <%= @cg_query.min_age %>
</p>

<p>
  <b>Max age:</b>
  <%= @cg_query.max_age %>
</p>


<%= link_to 'Edit', edit_cg_query_path(@cg_query) %> |
<%= link_to 'Back', cg_queries_path %>
