  <% qualopts = ['Pass','Mild','Severe'] %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :image_dataset_id %>
  
  <div>
    <h3>Reconstruction</h3>
    <p>
      <%= f.label 'Is the Series Complete?' %>
      <%= select :image_dataset_quality_check, :incomplete_series, ['Complete', 'Incomplete'], :default => 'Complete' %>
      <%= slide_toggler :image_dataset_quality_check_incomplete_series_comment %><br />
      <%= f.text_area :incomplete_series_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <p>
      <%= f.label 'Is the Series Garbled?' %>
      <%= select :image_dataset_quality_check, :garbled_series, qualopts, :default => 'Pass' %>
      <%= slide_toggler :image_dataset_quality_check_garbled_series_comment %><br />
      <%= f.text_area :garbled_series_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <p>
      <%= f.label 'Is the FOV cut off?' %>
      <%= select :image_dataset_quality_check, :fov_cutoff, qualopts, :default => 'Pass' %>
      <%= slide_toggler :image_dataset_quality_check_fov_cutoff_comment %><br />
      <%= f.text_area :fov_cutoff_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <hr />
  
    <h3>Artifacts</h3>
    <p>
      <%= f.label 'Field inhomogeneity?'%>
      <%= select :image_dataset_quality_check, :field_inhomogeneity, qualopts, :default => 'Pass' %>
      <%= slide_toggler :image_dataset_quality_check_field_inhomogeneity_comment %><br />
      <%= f.text_area :field_inhomogeneity_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <p>
      <%= f.label 'Ghosting or warping?'%>
      <%= select :image_dataset_quality_check, :ghosting_wrapping, qualopts, :default => 'Pass' %>
      <%= slide_toggler :image_dataset_quality_check_ghosting_wrapping_comment %><br />
      <%= f.text_area :ghosting_wrapping_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <p>
      <%= f.label 'Visible banding?'%>
      <%= select :image_dataset_quality_check, :banding, qualopts, :default => 'Pass' %>
      <%= slide_toggler :image_dataset_quality_check_banding_comment %><br />
      <%= f.text_area :banding_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <hr />
  
    <h3>Miscellaneous Exclusions</h3>
    <p>
      <%= f.label 'Registration risks (e.g. large vetricles)?' %>
      <%= select :image_dataset_quality_check, :registration_risk, qualopts, :default => 'Pass' %>
      <%= slide_toggler :image_dataset_quality_check_registration_risk_comment %><br />
      <%= f.text_area :registration_risk_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <hr />
  
    <h3>Functional Only</h3>
    <p>
      <%= f.label 'Head motion warning?'%>
      <%= select :image_dataset_quality_check, :motion_warning, ['NA', 'Pass','No pass'], :default => 'NA' %>
      <%= slide_toggler :image_dataset_quality_check_motion_warning_comment %><br />
      <%= f.text_area :motion_warning_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <p>
      <%= f.label 'Omnibus F activation?' %>
      <%= select :image_dataset_quality_check, :omnibus_f, ['NA','Shows activation','Limited Activation','No activation'], :default => 'NA' %>
      <%= slide_toggler :image_dataset_quality_check_omnibus_f_comment %><br />
      <%= f.text_area :omnibus_f_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <p>
      <%= f.label 'SPM mask quality?' %>
      <%= select :image_dataset_quality_check, :spm_mask, ['NA', 'Pass', 'Mild', 'Severe'], :default => 'NA' %>
      <%= slide_toggler :image_dataset_quality_check_spm_mask_comment %><br />
      <%= f.text_area :spm_mask_comment, :rows => 3, :cols => 60, :style => "display:none" %>
    </p>
    <hr />
  
    <h3>Comment on other issues</h3>
    <p><%= f.text_area :other_issues, :rows => 3, :cols => 60 %></p>
  </div>
  
  <p><%= f.submit "Submit quality check" %></p>
	<%= link_to 'Description of checks', 'http://hobbes/brainwiki/index.php5/List_of_Image_Quality_Checks' %>