<div id="heading_and_link">
  <h1>New Image Quality Check</h1>
  <p>by <%=h @image_dataset_quality_check.user.login %> on <%= Time.now.to_s(:long) %></p>
</div>

<div>
  <h3>Image details</h3>
  <div class="sticky">
    <%= key_val_table('image_details_note', {
      :Rmr_number => @image_dataset_quality_check.image_dataset.rmr,
      :Directory => @image_dataset_quality_check.image_dataset.path,
      :Series_description => @image_dataset_quality_check.image_dataset.series_description,
      :Acquisition_date => @image_dataset_quality_check.image_dataset.timestamp,
      :scanned_file => @image_dataset_quality_check.image_dataset.scanned_file
    })%>
  </div>
</div>

<br /><hr />

<div style="width:50%">
	<%= form_for [@image_dataset, @image_dataset_quality_check] do |f| %>
		<%= render :partial => 'new_edit', :locals => { :f => f } %>
	<% end %>
</div>