<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Medium'%>
<p id="notice"><%= notice %></p>

<p>
  <b>Visit:</b>
  <%= @mriscantask.visit_id %>
</p>

<p>
  <b>Lookup set:</b>
  <%= @mriscantask.lookup_set_id %>
</p>

<p>
  <b>Lookup scantask:</b>
  <%= @mriscantask.lookup_scantask_id %>
</p>

<p>
  <b>Preday:</b>
  <%= @mriscantask.preday %>
</p>

<p>
  <b>Task order:</b>
  <%= @mriscantask.task_order %>
</p>

<p>
  <b>Moved:</b>
  <%= @mriscantask.moved %>
</p>

<p>
  <b>Eyecontact:</b>
  <%= @mriscantask.eyecontact %>
</p>

<p>
  <b>Logfilerecorded:</b>
  <%= @mriscantask.logfilerecorded %>
</p>

<p>
  <b>P file:</b>
  <%= @mriscantask.p_file %>
</p>

<p>
  <b>Tasknote:</b>
  <%= @mriscantask.tasknote %>
</p>

<p>
  <b>Reps:</b>
  <%= @mriscantask.reps %>
</p>

<p>
  <b>Scandate:</b>
  <%= @mriscantask.scandate %>
</p>

<p>
  <b>Has concerns:</b>
  <%= @mriscantask.has_concerns %>
</p>

<p>
  <b>Concerns:</b>
  <%= @mriscantask.concerns %>
</p>


<%= link_to 'Edit', edit_mriscantask_path(@mriscantask) %> |
<%= link_to 'Back', mriscantasks_path %>

<%else %>	
	
	
<% end %>
