<% if current_user.role == 'Admin_High'%>

<h1>Listing lookup_visitfrequencies</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_visitfrequencies.each do |lookup_visitfrequency| %>
  <tr>
    <td><%= lookup_visitfrequency.description %></td>
    <td><%= link_to 'Show', lookup_visitfrequency %></td>
    <td><%= link_to 'Edit', edit_lookup_visitfrequency_path(lookup_visitfrequency) %></td>
    <td><%= link_to 'Destroy', lookup_visitfrequency, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup visitfrequency', new_lookup_visitfrequency_path %>

<br>
<% if Rails.env == "development" %>
this is development
<%= link_to('Visit Frequency', lookup_visitfrequencies_path) %> <br>
<%= link_to 'https Visit Frequency',   lookup_visitfrequencies_url(:protocol => "https") %>
<% elsif Rails.env == "production"%>
this is production<br>
<%= link_to('Visit Frequency', lookup_visitfrequencies_path) %> <br>
<%= link_to 'https Visit Frequency',   lookup_visitfrequencies_url(:protocol => "https") %>
<% end %>

<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>

