<h1>Editing help</h1>

<h2><%=h @help.question %></h2>

<div style="width:50%">
	<% form_for @help do |f| %>
		<%= render :partial => 'new_edit', :locals => { :f => f } %>
</div>
<p>
	<%= f.submit 'Update' %>
</p>
<% end %>

<%= link_to 'Show', @help %> |
<%= link_to 'Back', helps_path %>