<h2><%=h @help.question %></h2>
<%= RedCloth.new(@help.answer).to_html %>

<%= link_to 'Edit', edit_help_path(@help) %> |
<%= link_to 'Back', helps_path %> |
<%= link_to 'Destroy', @help, :confirm => 'Are you sure?', :method => :delete %>
