<span style="float:right">
	<%= link_to 'Back to all help', helps_path %>
</span>

<h1><%=h @help.question %></h1>
<h3>Answer:</h3>
<%= RedCloth.new(@help.answer).to_html %>
<h3>Tags:</h3>
<%=h @help.tag_names %>
<h3>Related Help:</h3>

<br style="clear:both" /><br />

<p> Last Modified: <%=h @help.updated_at.to_s(:long) %></p>
<%= link_to 'Edit', edit_help_path(@help) %> |
<%= link_to 'Delete', @help, :confirm => 'Are you sure?', :method => :delete %>