<%  v_table_type = {"base"=>"base","column_group"=>"column_group"}
 v_y_n = {"Y"=>"Y","N"=>"N"}%>


<%= form_for(@cg_tn) do |f| %>
  <% if @cg_tn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cg_tn.errors.count, "error") %> prohibited this cg_tn from being saved:</h2>

      <ul>
      <% @cg_tn.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tn %>:     <%= f.text_field :tn %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
   <%= f.label :common_name %>:     <%= f.text_field :common_name %>
  </div><BR>
  <div class="field">
    <%= f.label :join_left %><br />
    <%= f.text_field :join_left ,:size=>100 %>
  </div><BR>
	  <div class="field">
	    <%= f.label :left_join_parent_table %><br />
	    <%= f.text_field :join_left_parent_tn ,:size=>50 %>
	  </div><BR>
  <div class="field">
    <%= f.label :join_right %><br />
    <%= f.text_field :join_right ,:size=>100 %>
  </div><BR>
  <div class="field">
	<table><tr><td>
    <%= f.label :display_order %>:    <%= f.number_field :display_order ,:SIZE=> 15,:onchange => "if ( isNaN(this.value)){alert('The field needs to be all numeric.');this.value =''}"%>
 </td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <%= f.label :table_type %>: 
	<%= f.select :table_type, options_for_select(v_table_type, @cg_tn.table_type),
		              {:prompt => 'Select table type'}  %>
 </td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					    <%= f.label :status_active %>: 
						<%= f.select :status_flag, options_for_select(v_y_n, @cg_tn.status_flag),
							              {:prompt => 'Select table status'}  %>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
						    <%= f.label :table_editable %>: 
							<%= f.select :editable_flag, options_for_select(v_y_n, @cg_tn.editable_flag),
								              {:prompt => 'Select editable'}  %>							
 </td></tr></table>
</div>
<br>
<br>
<B>Owner:</b></td></tr>
	</table>
<div id="scan_procedure_list">
<ul>
<% User.where(" users.username not like '%left%' ").all.sort_by(&:username_name).each do |user| %>
	<li>
		<%#= f.fields_for scan_procedure do |scan_fields| %>
			<%#= f.check_box :scan_procedure_ids, {}, scan_procedure.id, :name => 'visit[scan_procedure_ids][]' %>
			<%#= f.label :scan_procedure_ids, scan_procedure.codename %>
		<%# end %>
	</li>
	<li>
		<%= check_box_tag "cg_tn_user_ids", user.id, @cg_tn.users.include?(user), :name => 'cg_tn[user_ids][]' %>
		<%= label_tag '', user.username_name %>
	</li>
<% end %>
</ul>
</div>
  <div class="actions">
    <%= f.submit %>
  </div><br>
<% end %>


