
 <%  v_table_type = { "all table types"=>"","column_group"=>"column_group", "tracker"=>"tracker","combio"=>"combio","scan_export"=>"scan_export","base"=>"base","up"=>"up","up_archive"=>"up_archive"} %>

 <%= form_tag '/cg_tns_index' do %>
         <%= label_tag :select_table_type %>&nbsp;&nbsp;   
                      <%= collection_select('search', 'table_type', v_table_type, :last, :first) %>
<br>

  


  <%= submit_tag("Search") %>
  <table width="90%"><tr><td align="right"><%= link_to 'New Cg tn', new_cg_tn_path %> |
<%= link_to('Column Group search/load', '/users/cgbase') %> </td></tr></table>
<% end %> 
<h1>Listing cg_tns</h1>

<table  class="tabular">
  <tr>
        <th></th>
    <th></th>
    <th></th>
    <th>Tn</th>
    <th>Common name</th>
    <th>Join left</th>
    <th>Join left parent tn</th>
    <th>Join right</th>
    <th>Display order</th>
    <th>Table type</th>
    <th>Tracker type</th>
    <th>Table active status</th>
    <th>Table editable</th>
    <th>Owners</th>
  </tr>

<% @cg_tns.each do |cg_tn| %>
  <tr>
        <td><%= link_to 'Show', cg_tn %></td>
<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'%>
    <td><%= link_to 'Edit', edit_cg_tn_path(cg_tn) %></td>
    <td><%= link_to 'Destroy', cg_tn, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
    <td><%= cg_tn.tn %></td>
    <td><%= cg_tn.common_name %></td>
    <td><%= cg_tn.join_left %></td>
    <td><%= cg_tn.join_left_parent_tn %></td>
    <td><%= cg_tn.join_right %></td>
    <td><%= cg_tn.display_order %></td>
    <td><%= cg_tn.table_type %></td>
    <td><% if !cg_tn.tracker_id.nil? %><%= Trtype.find(cg_tn.tracker_id).description %><%end%></td>
    <td><%= cg_tn.status_flag %></td>
    <td><%= cg_tn.editable_flag %></td>
    <td><%= cg_tn.users.sort_by(&:username_name).collect {|u|  u.username_name}.join(", ").html_safe %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cg tn', new_cg_tn_path %> |
<%= link_to('Column Group search/load', '/users/cgbase') %>
