<p id="notice"><%= notice %></p>
<%= link_to 'Add columns for this table', new_cg_tn_cn_path %>
<p>
  <b>Tn:</b> <%= @cg_tn.tn %>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>Common name:</b> <%= @cg_tn.common_name %>
</p>

<p>
  <b>Join left:</b><br>
  <%= @cg_tn.join_left %>
</p><p>
  <b>Join left Parent TN:</b><br>
  <%= @cg_tn.join_left_parent_tn %>
</p>

<p>
  <b>Join right:</b><br>
  <%= @cg_tn.join_right %>
</p>

<p>
  <b>Display order:</b>
  <%= @cg_tn.display_order %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>Table type:</b>
  <%= @cg_tn.table_type %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>Table active status:</b>
  <%= @cg_tn.status_flag %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>Table editable:</b>
  <%= @cg_tn.editable_flag %>
</p>
<p>
	<b>Owners:</b>
	<%= @cg_tn.users.sort_by(&:username_name).collect {|u|  u.username_name}.join(", ").html_safe %>
</p>
<b>Data Dictionary:</b><% if !@cg_tn.datadictionary_file_name.blank? %><small><small><%= link_to 'Download DataDictionary', @cg_tn.datadictionary.url %> <%= @cg_tn.datadictionary_file_name%></small></small><%end%><br>
<% if @cg_tn.users.include?( current_user) or (current_user.role == 'Admin_High' or current_user.role == 'Admin_Low')%>
   <%= link_to 'Edit', edit_cg_tn_path(@cg_tn) %> |
<% end %>
<%= link_to 'Back', cg_tns_path %> |
<%= link_to('Column Group search/load', '/users/cgbase') %> | <%= link_to 'Add columns for this table', new_cg_tn_cn_path %>

