<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'%>

<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_id %><br />
    <%= f.text_field :appointment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%else %>	
	
	
<% end %>

