<%
v_yes_no_display = [["Yes","1"], ["No","0"]]
%>
<% javascript_tag 'defaults' %>
<div id="new_edit_form">

<!-- Directory path? -->
<%= form_for(@questionnaire) do |f| %>
  <%= f.error_messages %>
  <div class="three_col_left">
    <p>
      <%= f.label :date %><br />
      <%= date_select :appointment, :appointment_date, :include_blank => true, :end_year => Time.now.year + 1 %><br />
    </p>	
  </div>
  <div class="three_col_mid">
    <table>
      <tr>
        <td><%= f.label :Questionnaire_Completed %></td>
        <td><%= select :vgroup, :completedquestionnaire, ["no", "yes", "n/a"] %>
		</td>
	    </tr>
	    <tr><td colspan="2">
		<small>Select "n/a" if the Questiionnaire will not be done.</small>
		</td></tr> 
    </table>
  </div>
  <div class="three_col_right">
    <p>
      <%= f.label :Notes %><br/>
      <%= text_area( :appointment,:comment,:value=>@appointment.comment ) %><br />
    </p>
  </div>

  <br style="clear:both" />
  <% if !params[:new_appointment_vgroup_id].blank?%>
       <%=  hidden_field_tag( 'new_appointment_vgroup_id',params[:new_appointment_vgroup_id]) %>
  <% end %>

  <%= f.submit form_action %>

<% end %>

</div>