


<div id="leftcol" class="two_col_left">
  <h3>Summary:</h3>
  
  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Questionnaire_appt_date => @appointment.appointment_date,
      :enumber => @enumber.nil? ? nil : link_to(@vgroup.enrollment.enumber, @vgroup.enrollment),
      :RMR_Number => @vgroup.rmr,
      :Appt_Coordinator =>@appointment.appointment_coordinator.blank? ? "" : Employee.find(@appointment.appointment_coordinator).name,
     :Participant => @participant.nil? ? nil : link_to('view participant', @participant),
     :Study_Protocol => @vgroup.scan_procedures.sort_by(&:codename).collect {|sp| link_to(sp.codename, '/q_search?q_search[scan_procedure_id][]='+sp.id.to_s)}.join(", ").html_safe,
    }) %>
  </div>

  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Questionnaire_completed => @vgroup.completedquestionnaire ,
    }) %>
  </div>

</div>


<div id="visit_status_report" class="two_col_right">

  <h3>Notes:</h3>
  <div id="notes" class="sticky">
	<%=  RedCloth.new(@appointment.comment.blank? ? "No comment entered for this Questionnaire" : @appointment.comment).to_html.html_safe 
            %><br>

  </div> 


</div>
<% if !@q_form_id.blank? and !@q_data_form.nil? and @q_form_id.to_s > "" %>
  <% if !@questionform.nil? %>
<%= link_to 'Questionnaire -download pdf', { :controller=>"questionnaires", :action=>"questionnaire_pdf", :id => @questionnaire.id.to_s, :q_form_id =>  @q_form_id.to_s ,:q_data_form_id => @q_data_form.id.to_s ,:format => :pdf}, :target => "green" %>
  <%end%>
<% end %>

<br style="clear: both" /><br />
<%= form_for("/questionnaires/"+@questionnaire.id.to_s) do |f| %>
    <% if !@q_forms.nil? and @q_forms.count > 1 # make a dropdown with tab_default ==Y selected %>
    <%= f.label :select_a_form %>: <small><small>optional change from default</small></small>  
    <%= collection_select :appointment, :questionform_id_list, @q_forms, :id, :description,{:selected => @questionform.id,:prompt => 'Select a Form'},{:required => true,:onchange => "window.location.href='/questionnaires/"+@questionnaire.id.to_s+"?appointment[questionform_id_list]='+this.value"  } %>
    <!-- , :onchange => "alert('SAVE the bottom entries if any changes have been made!!!!!')"  
    need button to make new form-->
  <%end %>

<%end%>
 


<% if !@q_data_form.blank? %>
  <% if !@questionform.nil? %>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><small><b>Form:</b></small></small><%= @questionform.description %>
   <%end%>
<%= render :partial => 'questionforms/displayform', :locals => { } %>
<% end %>