<% if @hide_page_flag == "Y" 
  else %>
  <%  # assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
 edit_low_scan_procedure_array = []
edit_low_scan_procedure_array =  (current_user.edit_low_scan_procedure_array).split(' ').map(&:to_i)
edit_count =edit_low_scan_procedure_array.length 
edit_count = edit_count -1
 @current_tab = "questionnaires"
%>
<% if edit_count > 0 %>
<h1>Editing Questionnaire appt</h1>
<h3><%= @enumbers.blank? ? @vgroup.rmr : @enumbers.collect{|e| e.enumber }.join(", ") %>
&nbsp;&nbsp;&nbsp;&nbsp;    <%= key_val_table("visit_details", {
     :Study_Protocol => @vgroup.scan_procedures.sort_by(&:codename).collect {|sp| sp.codename}.join(", ").html_safe,
    }) %></h3>


<%= render :partial => 'new_edit', :locals => { :form_action => 'Edit Questionnaire appt'} %>
<br><hr span="70%" size="6"  color="green">
<hr span="70%">
Save the bottom entries before making/saving any top entiries, and vice versa. 
<hr span="70%" size="6" color="red">

<%= render :partial => 'questionforms/editform', :locals => { :form_action => 'Edit Questionnaire values'} %>

<br /><%= link_to 'Back to this Questionnaire appt', @questionnaire %> | <%= link_to 'Delete this Questionnaire appt', @questionnaire, :confirm => "Are you sure you want to delete this Questionnaire appt?", :method => :delete %>
 | <%= link_to 'Vgroup', Vgroup.find(@appointment.vgroup_id) %>

<% end %>
<%end%>