<% if @hide_page_flag == "Y" 
  else %>
  <%   @current_tab = "questionnaires"
%>

<%
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
 edit_low_scan_procedure_array = []
edit_low_scan_procedure_array =  (current_user.edit_low_scan_procedure_array).split(' ').map(&:to_i)
edit_count =edit_low_scan_procedure_array.length 
edit_count = edit_count -1

%>

<div id="heading_and_link">
  <h1>Questionnaire appts:</h1>
<% if edit_count > 0 %> 
<% end %>
</p>
</div>

<B>Criteria: </b><%= params["search_criteria"] %>


<%= form_for 'q_search' do |f| %>
<!--
  <table class="search_form">
	
    <th><%= f.label :scan_procedures %></th>
    <% scan_procedure_array = (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) %>
    <td><%= collection_select(:q_search, :scan_procedure_id, ScanProcedure.where(" scan_procedures.id in (?)",scan_procedure_array).order(:codename), :id, :codename, {}, {:multiple =>  true}) %></td>
  </table>
-->
<table class="search_form">
	<tr><td><%= f.label :scan_procedures %><br>
	<div id="scan_procedure_list">
	<ul>
	<% ScanProcedure.where(" scan_procedures.id in (select scan_procedure_id from scan_procedures_vgroups where  scan_procedure_id in (?))",   (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) ).load.sort_by(&:codename).each do |scan_procedure| %>
		<li>
			<%#= f.fields_for scan_procedure do |scan_fields| %>
				<%#= f.check_box :scan_procedure_ids, {}, scan_procedure.id, :name => 'visit[scan_procedure_ids][]' %>
				<%#= f.label :scan_procedure_ids, scan_procedure.codename %>
			<%# end %>
		</li>
		<li>
			<%= check_box_tag "vgroup_scan_procedure_ids", scan_procedure.id,FALSE , :name => 'q_search[scan_procedure_id][]' %>
			<%= label_tag '', scan_procedure.codename %>
		</li>
	<% end %>
	</ul>
	</div>

	  </td></tr></table>

<!-- visits/find.html.erb has a nice checkbox -- from some metasearch plugin?  -->
  <table class="search_form">

    <tr>
      <th><%= f.label :enumber %></th>
      <td><%= f.text_field :enumber %></td>
    </tr>

    <tr>
      <th>RMR</th>
      <td><%= f.text_field :rmr %></td>
    </tr>

    <tr>
      <th><%= f.label :scan_date_before %></th>
      <td><%= f.date_select "latest_timestamp", :start_year => 1995, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :scan_date_after %></th>
      <td><%= f.date_select :earliest_timestamp, :start_year => 1995, :include_blank => true %></td>
    </tr>
  </table>


  <table class="search_form">
    <tr>
      <th><%= f.label :gender %></th>
      <td><%= select :q_search, :gender, { "M" => 1, "F" => 2 }, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :minimum_age %></th>
      <td><%= select :q_search, :min_age, (1..110).to_a, :include_blank => true %><B> (the age at visit) </B></td>
    </tr>
    <tr>
      <th><%= f.label :maximum_age %></th>
      <td><%= select :q_search, :max_age, (1..110).to_a, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :q_status %></th>
      <td><%= select :q_search, :q_status, { "yes" => "yes", "no" => "no", "n/a" => "n/a" }, :include_blank => true %></td>
    </tr>
  </table>
<!--
    <tr>
      <th><%= f.label :minimum_education_years %></th>
      <td><%= select :image_search, :min_ed_years, (0..25).to_a, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :maximum_education_years %></th>
      <td><%= select :image_search, :max_ed_years, (0..25).to_a, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :apoe_status %></th>
      <td><%= select :image_search, :apoe_status, { "negative" => 0, "positive" => 1 }, :include_blank => true %></td>
    </tr>
  </table>
-->
  
  <%= clearing_br %>
  <%= f.submit "Search" %>
      <% if !@q_forms.nil? and @q_forms.count > 1 # make a dropdown with tab_default ==Y selected %>
      <%= f.label :select_a_form_for_download %>: <small><small>optional change from default</small></small>  
      <%= collection_select :q_search, :questionform_id, @q_forms, :id, :description,{:selected => @q_form_default[0].id,:prompt => 'Select a Form'},{:required => true}  %>
    <%end %>
  
<% end %>

<%= link_to 'download csv', { :controller=>"questionnaires", :action=>"q_search", :q_search =>  @q_search_params.to_h , :format => :csv} %>  <br>
<%= link_to 'raw data download csv', { :controller=>"questionnaires", :action=>"q_search", :q_search =>  @q_search_params.to_h ,:p_raw_data =>"Y", :format => :csv} %> 
</p>

<table class="tabular">  
  <caption><%= pluralize(@results_total.size, 'Questionnaire appt') %></caption>
  <thead>
    <tr>
		<% @column_headers.each do |column_header|%>
	      <th><%= column_header%></th>
	  <% end %>
      <th></th>
<% if edit_count > 0 %>
       <th></th>
<% end %>
      <th></th>
    </tr>
  </thead>

<!--   add params and order by link to col header!!!!!!!!!!!    -->
  <tfoot><tr><td colspan=(column_header.size+3)>
		 <%=    paginate @results %> 
  </td></tr></tfoot>

  <tbody>
    <% @results.each do |result| %>
       <%  questionnaire = Questionnaire.find(result[@column_headers.size-1])
           appointment = Appointment.find(questionnaire.appointment_id) 
           vgroup = Vgroup.find(appointment.vgroup_id)
           result.delete_at(@column_headers.size-1)
        %>
	  <tr>
	   <% for i in 0..@column_number-1 %>
	    <% if i == 0 %>
	     <td><%= link_to result[i].to_s(:datetime_military), questionnaire %></td>
	    <% elsif i == 1 %>
	     <td><%= vgroup.scan_procedures.blank? ? "None" : vgroup.scan_procedures.sort_by(&:codename).collect {|sp| link_to(sp.codename, '/q_search?q_search[scan_procedure_id][]='+sp.id.to_s)}.join(", ").html_safe %></td>
	    <% elsif i == 2 %>
	     <td><%= vgroup.enrollments.collect {|e| link_to(e.enumber, e) }.join(", ").html_safe %></td>
	    <% elsif i == 4  %>
	     <%= show_bool(result[i].to_s ) %>	
	    <% elsif i == 5 %>
	      <td><%= popup_note('peek', key_val_table('path_popup', { :ApptNote => result[i].to_s })) unless result[i].to_s.blank? %></td>	
	    <% else %>
	    <td><%= result[i] %></td>
	     <% end %>
	   <% end %>
       <td style="width: 6em;" nowrap><%= link_to 'show', questionnaire %>
		  <% if edit_count > 0 %>
			<%= link_to 'edit', edit_questionnaire_path(questionnaire) %>
		  <% end %>
       </td>
       <td>
          <% if edit_count > 0 %>
	         <%= link_to  'New', new_questionnaire_path+"/"+vgroup.id.to_s %>
          <% end %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%end%>


