<%= form_for(resource, :as => resource_name,  :url => session_path(resource_name)) do |f| %>

<%= image_tag 'wadrc_logo.png' %><br/>
<h1>Sorry, you must be logged in to continue.</h1>
<p>This login is the <em>same</em> for the Panda, <strong>and</strong> your Novel or Linux login.</p>


    <table>
	  <tr>
	    <td><%= f.label :username, :label => 'Login'   %></td>
	    <td><%= f.text_field :username, :required => true, :autofocus => true,  :size=> 20 %></td>
	  </tr>
	  <tr>
	    <td><%= f.label :password, :label => 'Password'   %>	</td>
 <td><%= f.password_field :password, :required => true ,   :size => 20 %></td>
	  </tr>
	  <tr>
	    <td><%= f.label :remember_me, :label => 'Remember me' if devise_mapping.rememberable?  %>	</td>
    <td><%= f.check_box :remember_me, :as => :boolean if devise_mapping.rememberable? %></td>
  </tr>
  <tr>
    <td><%= f.submit "Log in" %></td>
  </tr>
  </table>


<% end %>

<!--
<%= render :partial => "devise/shared/links" %>
-->
<!--- 
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
This is a test of the https --- secure login
<br>
<%= form_for(resource, :as => resource_name, :url => session_url(resource_name, :protocol => "https")) do |f| %>

<%= image_tag 'wadrc_logo.png' %><br/>
<h1>Sorry, you must be logged in to continue.</h1>
<p>This login is the <em>same</em> for the Panda, <strong>and</strong> your Novel or Linux login.</p>


    <table>
	  <tr>
	    <td><%= f.label :username, :label => 'Login'   %></td>
	    <td><%= f.text_field :username, :required => true, :autofocus => true,  :size=> 20 %></td>
	  </tr>
	  <tr>
	    <td><%= f.label :password, :label => 'Password'   %>	</td>
 <td><%= f.password_field :password, :required => true ,   :size => 20 %></td>
	  </tr>
	  <tr>
	    <td><%= f.label :password, :label => 'Remember me' if devise_mapping.rememberable?  %>	</td>
    <td><%= f.check_box :remember_me, :as => :boolean if devise_mapping.rememberable? %></td>
  </tr>
  <tr>
    <td><%= f.submit "Log in" %></td>
  </tr>
  </table>


<% end %>
--->
