<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @usernetworkgroup.user_id %>
</p>

<p>
  <strong>Networkgroup:</strong>
  <%= @usernetworkgroup.networkgroup_id %>
</p>

<p>
  <strong>Status flag:</strong>
  <%= @usernetworkgroup.status_flag %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @usernetworkgroup.comment %>
</p>

<%= link_to 'Edit', edit_usernetworkgroup_path(@usernetworkgroup) %> |
<%= link_to 'Back', usernetworkgroups_path %>
