<%  v_y_n = {"Y"=>"Y","N"=>"N"}
v_value_type =  [["dropdown","dropdown"],["dropdown_multiple","dropdown_multiple"],["radio_in_line","radio_in_line"],["radio_1_col","radio_1_col"],
     ["checkbox_in_line","checkbox_in_line"],["checkbox_1_col","checkbox_1_col"],["text","text"],["text_5","text_5"],["text_10","text_10"], ["text_20","text_20"],["text_30","text_30"],
    ["text_50","text_50"],["text_70","text_70"],["text_90","text_90"],["textarea","textarea"],["textarea_3x60","textarea_3x60"],["date","date"],["time","time"],["date_time","date_time"]]
 %>
<%= form_for(@tractiontype) do |f| %>
  <% if @tractiontype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tractiontype.errors.count, "error") %> prohibited this tractiontype from being saved:</h2>

      <ul>
      <% @tractiontype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trtype_id %><br />
    <%= f.select(:trtype_id, Trtype.all.collect {|p| [ p.description, p.id ] },  { :include_blank => "Select a tr type",:selected => @tractiontype.trtype_id }) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status_flag %><br />
   <%= f.select :status_flag, v_y_n, {:prompt => 'Status?'}  %>
  </div>
  <div class="field">
    <%= f.label :display_order %><br />
    <%= f.text_field :display_order %>
  </div>
  <div class="field">
    <%= f.label :display_in_summary %><br />
    <%= f.select :display_in_summary, v_y_n, {:prompt => 'Should the column be in the summary?'}  %>
  </div>
  <div class="field">
    <%= f.label :display_column_header_1 %><br />
    <%= f.text_field :display_column_header_1 %>
  </div>
  <div class="field">
    <%= f.label :display_summary_column_header_1 %><br />
    <%= f.text_field :display_summary_column_header_1 %>
  </div>
  <div class="field">
    <%= f.label :export_column_header_1 %><br />
    <%= f.text_field :export_column_header_1 %>
  </div>
  <div class="field">
    <%= f.label :display_search_flag %><br />
   <%= f.select :display_search_flag, v_y_n, {:prompt => 'Include in search?'}  %>
  </div>

  <div class="field">
    <%= f.label :form_display_order %><br />
    <%= f.text_field :form_display_order %>
  </div>
  <div class="field">
    <%= f.label :form_display_label %><br />
    <%= f.text_field :form_display_label %>
  </div>
    <div class="field">
    <%= f.label :form_display_field_type %><br />
     <%= f.select :form_display_field_type, options_for_select(v_value_type, @tractiontype.form_display_field_type),
                {:prompt => 'Select a form field type'}  %>
  </div>
  <div class="field">
    <%= f.label :values_1 %><br />
    <%= f.text_field :values_1 %>
  </div>
  <div class="field">
    <%= f.label :ref_table_a_1 %><br />
    <%= f.text_field :ref_table_a_1 %>
  </div>
  <div class="field">
    <%= f.label :ref_table_b_1 %><br />
    <%= f.text_field :ref_table_b_1 %>
  </div>
  <div class="field">
    <%= f.label :triggers_1 %><br />
    <%= f.text_field :triggers_1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
