<%  v_y_n = {"Y"=>"Y","N"=>"N"}
v_value_type =  [["dropdown","dropdown"],["dropdown_multiple","dropdown_multiple"],["radio_in_line","radio_in_line"],["radio_1_col","radio_1_col"],
     ["checkbox_in_line","checkbox_in_line"],["checkbox_1_col","checkbox_1_col"],["text","text"],["text_5","text_5"],["text_10","text_10"], ["text_20","text_20"],["text_30","text_30"],
    ["text_50","text_50"],["text_70","text_70"],["text_90","text_90"],["textarea","textarea"],["textarea_3x60","textarea_3x60"],["date","date"],["time","time"],["date_time","date_time"]]
 %>
<%= form_for(@tractiontype) do |f| %>
  <% if @tractiontype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tractiontype.errors.count, "error") %> prohibited this tractiontype from being saved:</h2>

      <ul>
      <% @tractiontype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table><tr><td colspan="2">
   <b><%= f.label :trtype_id %>: </b>
    <%= f.select(:trtype_id, Trtype.all.collect {|p| [ p.description, p.id ] },  { :include_blank => "Select a tr type",:selected => @tractiontype.trtype_id }) %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <b><%= f.label :description %>: </b>
    <%= f.text_field :description %>
  </td>
  <td colspan="2" nowrap><b>
    <%= f.label :status_flag %>: </b>
   <%= f.select :status_flag, v_y_n, {:prompt => 'Status?'}  %>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <b>
    <%= f.label :display_order %>: </b>
    <%= f.text_field :display_order ,{:size => "5" }%> &nbsp;&nbsp;<small><small>in summary page, export file and search form</small></small>
  </td>
</tr>
<tr>
  <td colspan="4" nowrap><b>
    <%= f.label :display_search_flag %>: </b>
   <%= f.select :display_search_flag, v_y_n, {:prompt => 'Include in search?'}  %>
   <small><small>include as a search form field</small></small>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b><%= f.label :column_header %>: </b>
    <%= f.text_field :display_column_header_1 %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>
    <%= f.label :export_column_header %>: </b>
    <%= f.text_field :export_column_header_1 %>
  </td>
 </tr> 
<tr>
<td colspan="4"><hr size="3"><br><b>Summary page</b>
  </td></tr>
  <tr>
  <td colspan="2" nowrap><b>
    <%= f.label :display_in_summary %>: </b>
    <%= f.select :display_in_summary, v_y_n, {:prompt => 'Should the column be in the summary?'}  %>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>
    <%= f.label :summary_peek_flag %>: </b>
    <%= f.select :summary_peek_flag, v_y_n, {:prompt => 'Should the column be in the summary as peek?'}  %>
    <small><small>gets displayed in mouse over</small></small>
  </td>
  <td><b>
    <%= f.label :summary_column_header %>: </b>
    <%= f.text_field :display_summary_column_header_1 %>
  </td>
  </tr>
<tr>
<td colspan="4"><hr size="3"><br><b>Entry Form page</b>
  </td></tr>
  <tr>


  <td><b>
    <%= f.label :form_display_order %>: </b>
    <%= f.text_field :form_display_order %>
  </td>
  <td colspan="3"><b>
    <%= f.label :form_display_label %>: </b>
    <%= f.text_field :form_display_label %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>
  <%= f.label :form_display_field_type %>: </b>
     <%= f.select :form_display_field_type, options_for_select(v_value_type, @tractiontype.form_display_field_type),
                {:prompt => 'Select a form field type'}  %>
  </td>
</tr><tr>
    <td><b>
    <%= f.label :form_col_span %>: </b>
     <%= f.text_field :form_col_span %><small><small>element can span up to 3 columns</small></small>
  </td>

  <td><b>
    <%= f.label :form_default_value %>: </b>
     <%= f.text_field :form_default_value %>
  </td>
  <td><b>
    <%= f.label :required_Y_N %>: </b>
   <%= f.select :form_required_y_n_1, v_y_n, {:prompt => 'Required?'}  %>
  </td>
  <td><b>
    <%= f.label :form_js %>: </b>
   <%= f.text_field :form_js %><br><small><small>e.g. numeric, could add others in trfile helper</small></small>
  </td>
   </tr><tr>
  <td><b>
    <%= f.label :values %>: </b>
    <%= f.text_field :values_1 %><br><small><small>NOT IMPLEMENTED!! e.g. Y|N to make Y,N dropdown,</small></small>
  </td>
  <td><b>
    <%= f.label :ref_table_a %>: </b>
    <%= f.text_field :ref_table_a_1 %><br><small><small>for dropdowns, CamelCase Ruby on Rails Model, e.g. LookupGender<br>
                or Combined Reference Table e.g. lookup_refs </small></small>
  </td>
  <td><b>
    <%= f.label :ref_table_b %>: </b>
    <%= f.text_field :ref_table_b_1 %><br><small><small>row group label in lookup_refs</small></small>
  </td>
  </tr><tr>
    <td  align="left">
  <div class="actions">
    <%= f.submit %>
    </div>
  </td>
    <td><b>
    <%= f.label :prompt %>: </b>
    <%= f.text_field :prompt %>
  </td>
  <td colspan="2" valign="center"><b>
    <%= f.label :triggers %>: </b>
    <%= f.text_area :triggers_1 %><br>
    <small><small>To display a command based on value, and include subjectid_v#
    display_command|value_1=command_1 <enum>|value_2=command_2 <enum>|.....<br></small></small>
    The triggers are a work in progress.
  </td>

</tr></table>
<% end %>
