<p id="notice"><%= notice %></p>

<p>
  <b>Trtype:</b>
  <%= if !(@tractiontype.trtype_id).nil?
         Trtype.find(@tractiontype.trtype_id).description
      end %>
</p>

<p>
  <b>Description:</b>
  <%= @tractiontype.description %>
</p>

<p>
  <b>Status flag:</b>
  <%= @tractiontype.status_flag %>
</p>

<p>
  <b>Display order:</b>
  <%= @tractiontype.display_order %>
</p>

<p>
  <b>Display in summary:</b>
  <%= @tractiontype.display_in_summary %>
</p>

<p>
  <b>Display column header 1:</b>
  <%= @tractiontype.display_column_header_1 %>
</p>

<p>
  <b>Display summary column header 1:</b>
  <%= @tractiontype.display_summary_column_header_1 %>
</p>

<p>
  <b>Export column header 1:</b>
  <%= @tractiontype.export_column_header_1 %>
</p>
<p>
  <b>Display Search Flag:</b>
  <%= @tractiontype.display_search_flag %>
</p>
<p>
  <b>Form Display Order:</b>
  <%= @tractiontype.form_display_order %>
</p>
<p>
  <b>Form Display Label:</b>
  <%= @tractiontype.form_display_label %>
</p>
<p>
  <b>Form Display Field Type:</b>
  <%= @tractiontype.form_display_field_type %>
</p>
<p>
  <b>Form Display Col Span:</b>
  <%= @tractiontype.form_col_span %>
</p>
<p>
  <b>Form Default Value</b>
  <%= @tractiontype.form_default_value %>
</p>
<p>
  <b>Form Required Y_N:</b>
  <%= @tractiontype.form_required_y_n_1 %>
</p>
<p>
  <b>Form Display JS:</b>
  <%= @tractiontype.form_js %>
</p>
<p>
  <b>Values 1:</b>
  <%= @tractiontype.values_1 %>
</p>

<p>
  <b>Ref table a 1:</b>
  <%= @tractiontype.ref_table_a_1 %>
</p>

<p>
  <b>Ref table b 1:</b>
  <%= @tractiontype.ref_table_b_1 %>
</p>

<p>
  <b>Triggers 1:</b>
  <%= @tractiontype.triggers_1 %>
</p>


<%= link_to 'Edit', edit_tractiontype_path(@tractiontype) %> |
<%= link_to 'Back', tractiontypes_path %>
