<% if current_user.role == 'Admin_High'%>

<h1>Listing lookup_eligibilityoutcomes</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_eligibilityoutcomes.each do |lookup_eligibilityoutcome| %>
  <tr>
    <td><%= lookup_eligibilityoutcome.description %></td>
    <td><%= link_to 'Show', lookup_eligibilityoutcome %></td>
    <td><%= link_to 'Edit', edit_lookup_eligibilityoutcome_path(lookup_eligibilityoutcome) %></td>
    <td><%= link_to 'Destroy', lookup_eligibilityoutcome, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup eligibilityoutcome', new_lookup_eligibilityoutcome_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>