<% if current_user.role == 'Admin_High'%>

<h1>Listing lookup_hardwares</h1>

<table>
  <tr>
    <th>Hardwaretype</th>
    <th>Hardwaregroup</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_hardwares.each do |lookup_hardware| %>
  <tr>
    <td><%= lookup_hardware.hardwaretype %></td>
    <td><%= lookup_hardware.hardwaregroup %></td>
    <td><%= link_to 'Show', lookup_hardware %></td>
    <td><%= link_to 'Edit', edit_lookup_hardware_path(lookup_hardware) %></td>
    <td><%= link_to 'Destroy', lookup_hardware, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup hardware', new_lookup_hardware_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>