<%
# check if tn_id had key columns defined
# check for cg_table ( edit) -- varchar version
# make if not there
# display all sved edits
# grey out key columns
# list key columns
# check if key columns are unique
# add delete row checkbox
@cg_tn = CgTn.find(params[:id])
if @cg_tn.table_type == 'column_group' and @cg_tn.editable_flag == "Y"
%>

cg_edit_table = <%= @cg_tn.common_name%>
<% # check if key is unique !!!!!!!!!!!%>

<% if !@key_cns.blank?%>
  <%= form_for 'cg_edit_table' do |f| %>
<%= hidden_field 'cg_edit_table','id' ,  :value=>params[:id]%>
<table>
   <tr><th><small>Remove<br>data row</small></th>	<th><small>Remove<br>edit row</small></th>
	<% @cns.each do |cn| %>
	   <th><%= @cns_common_name_dict[cn]%> <br><small>-<%=cn%></small></th>
    <% end %>
   </tr>
   <% @v_key.each do |k| %>
     <tr><td>
<%= hidden_field 'cg_edit_table','key][' ,  :value=>k %>
<%= check_box_tag "delete_data", "1", @cg_edit_data_dict[k+"delete_key_flag"] == "Y" ? TRUE : FALSE , :name => "cg_edit_table[delete_data]["+k+"]"   %></td>
     <td><%= f.check_box 'delete_edit]['+k %></td>
     <% @cns.each do |cn|%>
        <td  <% if  !@cg_edit_data_dict[k+cn].blank? and @cg_edit_data_dict[k+cn] != "|" %>
	          bgcolor="silver"
	         <%end%> >
	<small>(<%= @cg_data_dict[k+cn] %>)</small>
	    <% if !@key_cns.include?(cn) %>
	    <%= f.text_field 'edit_col]['+k+cn ,:size=>10 ,
        :value=>( !@cg_edit_data_dict[k+cn].blank? ?  ( @cg_edit_data_dict[k+cn] == "|" ?  @cg_data_dict[k+cn] :  @cg_edit_data_dict[k+cn] ):  @cg_data_dict[k+cn]) %>
       <% end %>

    </td>
     <% end %>
     </tr>
   <% end%>
	<tr><td align="left" colspan="<%= @cns.size+2 %>"><%= submit_tag("save edits")%> </td></tr>
</table>
  <% end %>
<% else %>
 <B>There is no key column. Please add key column(s) to the cg table.</B>
<% end %>

<br>











<% end %>