<% @current_tab = "searches" %>
<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Medium'%>


<% if @v_link_cg_table_setup == "Y" and @v_key_type > "" %>
  <%= form_for :cg_tns ,:url=>'/cg_tns/create_from_cg_tn_db' do |f2| %>
   <%= submit_tag("Setup "+@v_cg_table_name +" table in Search and Edit") %>
        <%= hidden_field_tag 'cg_tn[tn]',  @v_cg_table_name%>
       <%= hidden_field_tag 'cg_table_name',  @v_cg_table_name%>
       <%= hidden_field_tag 'key_type',  @v_key_type%>
   <%end%>
<%end%>

<table width="80%"  ><tr><td align="right">
	<%= form_for :cg_table_name ,:url=>'/cg_table_edit_db' do |f2| %>
	<%= f2.label 'Pick CG_Table'%><br>
	<select onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
		<option value="">select cg table to add columns or edit columns</option>
		<% @results_cg_tn.each do |s| %>
	<option value="/cg_table_edit_db?cg_table_name=<%=s[0] %>" <% if s[0] == @v_cg_table_name %> selected<%end%>><%= s[0] %></option>
	   <% end %>
	</select>
	<% end %>
	</td></tr></table>
<% if @v_cg_table_name > "" %>
<table width="70%" class="tabular" >
	<tr><td align="left" colspan=6><B>Table Name: <%=@v_cg_table_name%></B><td><tr>
		<tr><td align="left" colspan=2><small><b>Existing columns</b></small></td>
			        <td align="left" ><small><b>Datatype</b></small></td>
			        <td align="left" ><small><b>Size</b></small></td><td align="left" colspan=2 >&nbsp;<td><tr>
	<% @results_cg_tn_cn.each do |cn| %>
	    <tr><td>&nbsp;</td><td align="left" ><%= cn[0]%></td><td align="left" ><%= cn[1]%></td><td align="left" ><%= cn[2]%></td>
		<td><small><%= link_to 'edit', '/cg_table_edit_db?cg_action=edit&cg_table_name='+@v_cg_table_name+'&cg_tn_column_name='+cn[0] %></small></td>
		<td><small><%= link_to 'delete', '/cg_table_edit_db?cg_action=delete&cg_table_name='+@v_cg_table_name+'&cg_tn_column_name='+cn[0] ,data: {confirm: 'Are you sure?'}%></small></td></tr>
    <% end%>
	
</table>

<%end%>
<br><br>
<% if !@v_cg_table_name.blank? %>
 <% if @v_cg_action == "edit"
	 v_datasize = @v_cg_tn_column_datasize # problem using @v_cg_tn_column_datasize in select, no problem with datatype?
	 if v_datasize <"1" 
		v_datasize= "10"
	  end%>
     <%= form_for 'cg_table_edit_db' do |f| %> 
        <%= hidden_field_tag 'cg_table_name',  @v_cg_table_name%>
        <%= hidden_field_tag 'cg_tn_column_name',  @v_cg_tn_column_name%>
        <%= hidden_field_tag 'cg_action',  'alter'%>
        <table><tr><th>&nbsp;</th><th align="left"> Column Name</th><th>Datatype</th><th>Size</th><th></tr>
			 <tr><td><%= submit_tag("alter column")%></td>
	              <td> <%=  @v_cg_tn_column_name %></td>
	              <td><%=  select  :cg_table_edit, 'datatype][0', options_for_select(@v_data_types,@v_cg_tn_column_datatype)	 %></td>
	                 <td><%=  select  :cg_table_edit, 'datasize][0', options_for_select(@v_data_sizes,v_datasize)	 %></td><td></tr>
	
	    </table>
   <%end%>
     <%= form_for 'cg_table_edit_db' do |f| %> 
        <%= hidden_field_tag 'cg_table_name',  @v_cg_table_name%>
        <%= hidden_field_tag 'cg_tn_column_name',  @v_cg_tn_column_name%>
        <%= hidden_field_tag 'cg_action',  'change'%><br>
        <table>
			 <tr><td><%= submit_tag("rename column")%></td>
	              <td> <b>New Column Name:</b> <%= f.text_field 'cg_tn_column_name_new' ,:size=>50 %>  &nbsp;&nbsp;&nbsp;&nbsp;<b>existing column name:</b> <%=  @v_cg_tn_column_name %></td>
	              <td><%= hidden_field_tag  'cg_table_edit[datatype][0]', @v_cg_tn_column_datatype	 %></td>
	                 <td><%=  hidden_field_tag  'cg_table_edit[datasize][0]', v_datasize	 %></td><td></tr>
	
	    </table>
   <%end%>
 <% else %>
    <%= form_for 'cg_table_edit' do |f| %> 
            <%= hidden_field_tag 'cg_table_name',  @v_cg_table_name%>
            <%= hidden_field_tag 'cg_action',  'add'%>
      Check <b>[ add checkbox ]</b> to include new column.<br>
      Keep all column name lower case, with no spaces or [ "' ; . , etc. ] characters.<br> 
        <table><tr><th>add?</th><th align="left"><%= submit_tag("save columns")%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Column Name</th><th>Datatype</th><th>Size</th><th></tr>
        <%v_row_cnt = 10
          v_cnt = 0
          while v_cnt < v_row_cnt   %>
               <%= hidden_field 'cg_table_edit','key][' ,  :value=>v_cnt %>
              <tr><td><%= f.check_box 'add_column]['+v_cnt.to_s %></td>
	              <td> <%= f.text_field 'add_column_name]['+v_cnt.to_s ,:size=>50 %></td>
	              <td><%=  select  :cg_table_edit, 'datatype]['+v_cnt.to_s, options_for_select(@v_data_types,'varchar')	 %></td>
	                 <td><%=  select  :cg_table_edit, 'datasize]['+v_cnt.to_s, options_for_select(@v_data_sizes,'50')	 %></td><td></tr>
 
             <% v_cnt = v_cnt + 1
           end %>
        </table>
      <%end%>    
  <%end %>	
<%end%>
	
	
<br><br>
	

<%end%>
      
