<% @current_tab = "searches" 
v_schema = [["up_load_development","up_load_development"],["up_load_production","up_load_production"]]

v_key_type = [["enumber and visit# mapped to enrollment/scan_procedure","enrollment/sp"],["reggieid-participant_id","reggieid-kc-participant_id"],["wrapnum-participant_id","wrapnum-kc-participant_id"],["adrcnum-participant_id","adrcnum-kc-participant_id"]]
%>

<% if current_user.role == 'Admin_High' %>



<br>
<%= form_tag  '/cg_up_load'  do %>
    <H2>Make, archive and load an UP table in the database and cg_search</H2><br>
	 <table width="100%">
	 	<tr><td align="left"><div class="field">
	    <B>UP Table Name:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field_tag "up_table_name" ,nil, :required => true%></div>
		</td></tr>
		<tr><td align="left"><div class="field">
	    <B>UP Display Table Name:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field_tag "up_display_table_name" %></div>
		</td></tr>
		<tr><td align="left"><div class="field">
	    <B>Date Stamp:</B>&nbsp;&nbsp;&nbsp;<small>YYYYMMDD</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field_tag "up_table_yyyymmdd",nil, :required => true %></div>
		</td></tr>
				<tr><td align="left"><div class="field">
	    <B>UP Table Key Column Name:</B>&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field_tag "up_table_name_key_column" ,nil, :required => true%></div>
		</td></tr>
			 	<tr><td align="left"><div class="field">
	    <B>Key Type:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= select_tag "key_type", options_for_select([["enumber and visit# mapped to enrollment/scan_procedure","enrollment/sp"],
["reggieid-participant_id","reggieid-kc-participant_id"],["wrapnum-participant_id","wrapnum-kc-participant_id"],["adrcnum-participant_id","adrcnum-kc-participant_id"]], "enrollment/sp")%></div>
		</td></tr>
		<tr><td align="left"><div class="field">
	    <B>Source Table Name:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    <%= text_field_tag "source_up_table_name", nil , :size => 60 , :required => true%></div>
		</td></tr>
        <tr><td  align="left">
	    <B>Source Schema</B>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= select_tag "source_schema", options_for_select(v_schema, "up_load_development")%>
		</td></tr>
	   <tr><td  align="left">
						  <div class="actions">
						    <%= submit_tag("Make, archive and load an UP table") %>
						  </div>
		</td></tr>
		</table>
		<br>
<% end %>

<% end %>