<% @current_tab = "searches" 
v_schema = [["up_load_development","up_load_development"],["up_load_production","up_load_production"]]
v_key_type = [["enumber and visit# mapped to enrollment/scan_procedure","enrollment/sp"],["reggieid-participant_id","reggieid-kc-participant_id"],["wrapnum-participant_id","wrapnum-kc-participant_id"],["adrcnum-participant_id","adrcnum-kc-participant_id"]]
v_yes_no = [["Y","Y"],["N","N"]]
%>

<% if current_user.role == 'Admin_High' %>



<br>
<%= form_tag  '/cg_validate_conversion'  do %>
    <H2>Validate and Convert table values</H2><br>
	 <table width="100%">
	 	<tr><td align="left"><div class="field">
	    <B>UP Table Name <small>key to up table definitions</small>:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field_tag "up_table_name" ,@v_up_table_name, :required => true, :size =>90%></div>
		</td></tr>
	 	<tr><td align="left"><div class="field">
	    <B>UP Table Key Column Name:</B>&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field_tag "up_table_name_key_column" ,@v_up_table_name_key_column, :required => false%></div> <small>(enter reggieid or wrapnum - just needs something entered- not think its being used?)</small>
		</td></tr>
			 	<tr><td align="left"><div class="field">
	    <B>Key Type:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= select_tag "key_type", options_for_select([["enumber and visit# mapped to enrollment/scan_procedure","enrollment/sp"],
["reggieid-participant_id","reggieid-kc-participant_id"],["wrapnum-participant_id","wrapnum-kc-participant_id"],["adrcnum-participant_id","adrcnum-kc-participant_id"], ["subjectid-participant_id","subjectid-kc-participant_id"]], "enrollment/sp")%></div>
		</td></tr>
		<tr><td align="left"><div class="field">
	    <B>Source Table Name <small> this table will be validated or updated, also key to up table definitions</small>:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    <%= text_field_tag "source_up_table_name", @v_source_up_table_name, :size => 90 , :required => true%></div>
		</td></tr>
        <tr><td  align="left">
	    <B>Source Schema</B>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= select_tag "source_schema", options_for_select(v_schema, "up_load_development")%>
		</td></tr>

			 	<tr><td align="left"><div class="field">
	    <B>Validate Values, Frequencies:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= select_tag "validate_values", options_for_select([["Y","Y"],["N","N"]], "N")%></div>  
		</td></tr>

<tr><td align="left"><div class="field">
	    <B>Convert Values ( CAREFUL!!!!!):</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= select_tag "convert_values", options_for_select([["Y","Y"],["N","N"]], "N")%></div>  

		</td></tr>


	   <tr><td  align="left">
						  <div class="actions">
						    <%= submit_tag("Validate and/or convert values in table") %>
						  </div>
		</td></tr>

<% end %>
<%= form_tag '/cg_validate_conversion.csv' do%>
     <input type="hidden" id="up_table_name" name="up_table_name" value="<%=@v_up_table_name%>">
     <input type="hidden" id="up_table_name_key_column" name="up_table_name_key_column" value="<%=@v_up_table_name_key_column%>">
     <input type="hidden" id="key_type" name="key_type" value="<%=@v_key_type%>">
     <input type="hidden" id="source_up_table_name" name="source_up_table_name" value="<%=@v_source_up_table_name%>">
     <input type="hidden" id="source_schema" name="source_schema" value="<%=@v_source_schema%>">

     <input type="hidden" id="export_csv" name="export_csv" value="Y">
     <input type="hidden" id="validate_values" name="validate_values" value="Y">	   <tr><td  align="left">
						  <div class="actions">
						    <%= submit_tag("Export Validate values csv") %>
						  </div>
		</td></tr>

<%end%>

		</table>
		<br>


<% end %>

<% if @col_array.count > 0 %>
<table><tr><td colspan=<%@col_array.count%> ><b> Valid values and counts</b></td></tr>
<tr><% @col_array.each do |col| %>
	<td ><b><%=col%></b>&nbsp;<small><%= @col_display_name_hash[col] %></small></td>
   <%end%>
  </tr>
<tr><% @col_array.each do |col| %>
	<td valign="top"><% if !@col_valid_hash[col].nil?
	        @col_valid_hash[col].each do |cnt| %>
		<%=cnt[0]%> &nbsp;&nbsp;&nbsp;&nbsp;<%=cnt[1]%><br>
       <%end
        end%>
	</td>
   <%end%>
  </tr>
<tr><td colspan=<%@col_array.count%> ><br><br><b> Non-Valid values and counts</b></td></tr>
<%= form_tag  '/cg_validate_conversion'  do %>
     <input type="hidden" id="up_table_name" name="up_table_name" value="<%=@v_up_table_name%>">
     <input type="hidden" id="up_table_name_key_column" name="up_table_name_key_column" value="<%=@v_up_table_name_key_column%>">
     <input type="hidden" id="key_type" name="key_type" value="<%=@v_key_type%>">
     <input type="hidden" id="source_up_table_name" name="source_up_table_name" value="<%=@v_source_up_table_name%>">
     <input type="hidden" id="source_schema" name="source_schema" value="<%=@v_source_schema%>">
<tr><% @col_array.each do |col| %>
	<td><b><%=col%></b>&nbsp;<small><%= @col_display_name_hash[col] %></small></td>
   <%end%>
  </tr>
<tr><% @col_array.each do |col| %>
	<td  valign="top"><% v_cnt = 0
	 if !@col_not_valid_hash[col].nil?
	 @col_not_valid_hash[col].each do |cnt| %>
		<%=cnt[0]%> &nbsp;&nbsp;&nbsp;&nbsp;<%=cnt[1]%><br>
		<%= check_box_tag "column_"+col+"["+v_cnt.to_s+"]", "1",  FALSE, :name =>"column_"+col+"["+v_cnt.to_s+"]" %>
		&nbsp; <small>original</small><%= text_field_tag "orig_"+col+"["+v_cnt.to_s+"]" ,cnt[1], :required => false%>&nbsp;&nbsp;&nbsp;<small>new</small>
		<%= text_field_tag "new_"+col+"["+v_cnt.to_s+"]" ,nil, :required => false%>&nbsp;&nbsp;&nbsp;<small>all cols</small>&nbsp;<%= check_box_tag "global_"+col+"["+v_cnt.to_s+"]", "1",  FALSE, :name =>"global_"+col+"["+v_cnt.to_s+"]" %><br>
       <% v_cnt = v_cnt + 1
       end
      end%>
	</td>
   <%end%>
  </tr>
<input type="hidden" id="non_valid_update" name="non_valid_update" value="Y">
  
 	   <tr><td  align="left">
						  <div class="actions">
						    <%= submit_tag("Convert checked column values in table") %>
						  </div>
		</td></tr>
		 <%end%>

</table>
<table><tr><td>
<b>Validation examples:</b>
skip_valid_values<br>
run_count_int<br>
reggieid<br>
wrapnum<br>
subjectid<br>
date<br>
1|2|3|4|5|6|7|8|9|10|11<br>
change|no_change<br>
range|0|12<br>
0, 0 Yes | 1, 1 No | 9, 9 Did not answer<br>

<br><br>
<b>Conversion examples:</b>
skip_value_conversion<br>
1, 1 Yes | 0, 0 No | 9, 9 Unknown<br>
1, UWHC | 2, MCW | 3, CUPH<br>
</td>
</tr>
</table>

<% end %>