<p id="notice"><%= notice %></p>

<h1>Dashboards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Display name</th>
      <th>Description</th>
      <th>Html col per row</th>
      <th>One or many results</th>
      <th>Status flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboards.each do |dashboard| %>
      <tr>
        <td><%= dashboard.name %></td>
        <td><%= dashboard.display_name %></td>
        <td><%= dashboard.description %></td>
        <td><%= dashboard.html_col_per_row %></td>
        <td><%= dashboard.one_or_many_results %></td>
        <td><%= dashboard.status_flag %></td>
        <td><%= link_to 'Show', dashboard %></td>
        <td><%= link_to 'Edit', edit_dashboard_path(dashboard) %></td>
        <td><%= link_to 'Destroy', dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard', new_dashboard_path %>
