<p id="notice"><%= notice %></p>

<p>
  <strong>Actual vs planned:</strong>
  <%= @folderpremission.actual_vs_planned %>
</p>

<p>
  <strong>Network user:</strong>
  <%= @folderpremission.network_user %>
</p>

<p>
  <strong>Network group:</strong>
  <%= @folderpremission.network_group %>
</p>

<p>
  <strong>Permission read:</strong>
  <%= @folderpremission.permission_read %>
</p>

<p>
  <strong>Permission write:</strong>
  <%= @folderpremission.permission_write %>
</p>

<p>
  <strong>Permission execute:</strong>
  <%= @folderpremission.permission_execute %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @folderpremission.folder_id %>
</p>

<%= link_to 'Edit', edit_folderpremission_path(@folderpremission) %> |
<%= link_to 'Back', folderpremissions_path %>
