<% if current_user.role == 'Admin_High'%>
<h1>Listing protocols</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Abbr</th>
    <th>Path</th>
    <th>Description</th>
    <th>Parent Protocol</th>
    <th>Hide Dates</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @protocols.each do |protocol| %>
  <tr>
    <td><%= protocol.name %></td>
    <td><%= protocol.abbr %></td>
    <td><%= protocol.path %></td>
    <td><%= protocol.description %></td>
    <td><% if !(protocol.parent_protocol_id).nil? and !(protocol.parent_protocol_id).to_s.empty?%>
      <%= (Protocol.find(protocol.parent_protocol_id)).name %>
      <% end %></td>
  <td><%= protocol.hide_date_flag %></td>
    <td><%= link_to 'Show', protocol %></td>
    <td><%= link_to 'Edit', edit_protocol_path(protocol) %></td>
    <td><%= link_to 'Destroy', protocol, :method => :delete,data: {confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Protocol', new_protocol_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>
