Based on the rmr, scan_number and the the rad_path, radiology comments will be retieved 
M-F from the Radiology web site.
<%= form_for(@radiology_comment) do |f| %>
  <% if @radiology_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@radiology_comment.errors.count, "error") %> prohibited this radiology_comment from being saved:</h2>

      <ul>
      <% @radiology_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visit_id %><br />
    <%= f.text_field :visit_id %>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Enter the visit_id
  </div>
  <div class="field">
    <%= f.label :rmr %><br />
    <%= f.text_field :rmr %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Enter the RMR which is used on the Radiology site.
  </div>
  <div class="field">
    <%= f.label :scan_number %><br />
    <%= f.text_field :scan_number %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Enter the scan number which is used on the Radiology site.
  </div>
  <div class="field">
    <%= f.label :rmr_rad %><br />
    <%= f.text_field :rmr_rad %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If there is a difference between the Panda and the Radiology site RMR, enter the Panda RMR.
 <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If they are the same, leave blank.
  </div>
  <div class="field">
    <%= f.label :scan_number_rad %><br />
    <%= f.text_field :scan_number_rad %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If there is a difference between the Panda and the Radiology site scan number, enter the Panda scan number. 
 <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If they are the same, leave blank.
  </div>
  <div class="field">
    <%= f.label :editable_flag %><br />
    <%= f.text_field :editable_flag %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Leave blank.
  </div>
  <div class="field">
    <%= f.label :rad_path %><br />
    <%= f.text_field :rad_path %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This locks in the visit to the Radiology scan.<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <b>scanDetails.php?scanID=####</b>   
<br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    from the url of the report on the Radiology site.<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Radiology comments will be harvested the next weekday morning.
  </div>
  <div class="field">
    <%= f.label :q1_flag %><br />
    <%= f.text_field :q1_flag %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Leave everything else blank.
  </div>
  <div class="field">
    <%= f.label :q2_flag %><br />
    <%= f.text_field :q2_flag %>
  </div>
  <div class="field">
    <%= f.label :comment_html_1 %><br />
    <%= f.text_field :comment_html_1 %>
  </div>
  <div class="field">
    <%= f.label :comment_html_2 %><br />
    <%= f.text_field :comment_html_2 %>
  </div>
  <div class="field">
    <%= f.label :comment_html_3 %><br />
    <%= f.text_field :comment_html_3 %>
  </div>
  <div class="field">
    <%= f.label :comment_html_4 %><br />
    <%= f.text_field :comment_html_4 %>
  </div>
  <div class="field">
    <%= f.label :comment_html_5 %><br />
    <%= f.text_field :comment_html_5 %>
  </div>
  <div class="field">
    <%= f.label :comment_text_1 %><br />
    <%= f.text_field :comment_text_1 %>
  </div>
  <div class="field">
    <%= f.label :comment_text_2 %><br />
    <%= f.text_field :comment_text_2 %>
  </div>
  <div class="field">
    <%= f.label :comment_text_3 %><br />
    <%= f.text_field :comment_text_3 %>
  </div>
  <div class="field">
    <%= f.label :comment_text_4 %><br />
    <%= f.text_field :comment_text_4 %>
  </div>
  <div class="field">
    <%= f.label :comment_text_5 %><br />
    <%= f.text_field :comment_text_5 %>
  </div>

  <div class="field">
    <%= f.label :load_date %><br />
    <%= f.date_select :load_date %>
  </div>
    <div class="field">
    <b>Reset all comment and content text  fields to NULL</b>&nbsp;&nbsp;&nbsp;
    <%= check_box_tag :comment_to_null %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
