<p id="notice"><%= notice %></p>

<p>
  <b>Cg query tn:</b>
  <%= @cg_query_tn_cn.cg_query_tn_id %>
</p>

<p>
  <b>Cg tn cn:</b>
  <%= @cg_query_tn_cn.cg_tn_cn_id %>
</p>

<p>
  <b>Value 1:</b>
  <%= @cg_query_tn_cn.value_1 %>
</p>

<p>
  <b>Value 2:</b>
  <%= @cg_query_tn_cn.value_2 %>
</p>

<p>
  <b>Condition:</b>
  <%= @cg_query_tn_cn.condition %>
</p>


<%= link_to 'Edit', edit_cg_query_tn_cn_path(@cg_query_tn_cn) %> |
<%= link_to 'Back', cg_query_tn_cns_path %>
