<h1>New physiology_text_file</h1>

<%= form_for(@physiology_text_file) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :filepath %><br />
    <%= f.text_field :filepath %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', physiology_text_files_path %>