<%
v_yn = {"Y"=>"Y","N"=>"N"}
%>
<%= form_for(processedimage) do |f| %>
  <% if processedimage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(processedimage.errors.count, "error") %> prohibited this processedimage from being saved:</h2>

      <ul>
      <% processedimage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %>
    <%= f.text_field :file_name ,:size =>"75"%>
  </div>

  <div class="field">
    <%= f.label :file_path %>
    <%= f.text_field :file_path ,:size =>"100"%>
  </div>
    <div class="field">
    <%= f.label :file_type %>
     <%= collection_select :processedimage, :file_type, Processedimagesfiletype.all.sort_by(&:file_type), :file_type, :file_type,{:prompt => 'Select a File Type'},{:required => true}  %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_field :comment,:size =>"100" %>
  </div>
  <div class="field">
    <%= f.label :status_flag %>
    <%= f.select :status_flag, options_for_select(v_yn, @processedimage.status_flag),
                {:prompt => 'Select status'}  %>
  </div>  <div class="field">
    <%= f.label :exists_flag %>
    <%= f.select :exists_flag, options_for_select(v_yn, @processedimage.exists_flag),
                {:prompt => 'Select if exists'}  %>
  </div> <div class="field">
    <%= f.label :scan_procedure_id %>
    <%= collection_select :processedimage, :scan_procedure_id, ScanProcedure.all.sort_by(&:codename), :id, :codename,{:prompt => 'Select a Scan Procedure'},{:required => true}  %>
  </div>
   <div class="field">
    <%= f.label :enrollment_id %>
    <%= collection_select :processedimage, :enrollment_id, Enrollment.all.sort_by(&:enumber), :id, :enumber,{:prompt => 'Select a Enumber'},{:required => true}  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
