<p id="notice"><%= notice %></p>

<h1>Processedimages</h1>
<% if current_user.role == 'Admin_High'%>
<%= link_to 'New Processedimage', new_processedimage_path %>
<%end%>
<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>File path</th>
      <th>File type</th>
      <th>Comment</th>
      <th>status_flag</th>
      <th>exists_flag</th>
      <th>scan_procedure_id</th>
      <th>enrollment_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processedimages.each do |processedimage| %>
      <tr>
        <td><%= processedimage.file_name %></td>
        <td><%= processedimage.file_path %></td>
        <td><%= processedimage.file_type %></td>
        <td><%= processedimage.comment %></td>
        <td><%= processedimage.status_flag %></td>
        <td><%= processedimage.exists_flag %></td>
        <td><%= processedimage.scan_procedure_id %></td>
        <td><%= processedimage.enrollment_id %></td>
        <td><%= link_to 'Show', processedimage %></td>
        <% if current_user.role == 'Admin_High'%>
        <td><%= link_to 'Edit', edit_processedimage_path(processedimage) %></td>
        <td><%= link_to 'Destroy', processedimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%=    paginate @processedimages %> 
<br>
<% if current_user.role == 'Admin_High'%>
<%= link_to 'New Processedimage', new_processedimage_path %>
<%end%>
