<% if @hide_page_flag == "Y" 
  else %>
  <%   @current_tab = "admin"%>

<p id="notice"><%= notice %></p>

<h1>Processedimages</h1>

<B>Criteria: </b><%= params["search_criteria"] %>


<%= form_for 'processedimage_search' do |f| %>
<table class="search_form">
  <tr><td><%= f.label :scan_procedures %><br>
  <div id="scan_procedure_list">
  <ul>
  <% ScanProcedure.where(" scan_procedures.id in (select scan_procedure_id from scan_procedures_vgroups where  scan_procedure_id in (?))",   (current_user.view_low_scan_procedure_array).split(' ').map(&:to_i) ).all.sort_by(&:display_alias).each do |scan_procedure| %>
    <li>
      <%= check_box_tag "processedimage_search_scan_procedure_ids", scan_procedure.id,FALSE , :name => 'processedimage_search[scan_procedure_id][]' %>
      <%= label_tag '', scan_procedure.display_alias %>
    </li>
  <% end %>
  </ul>
  </div>

    </td></tr></table>

  <table class="search_form">
    <tr>
      <th><%= f.label :file_type %></th>
      <td><%= f.text_field :file_type %></td>
    </tr>
    <tr>
      <th><%= f.label :file_name %></th>
      <td><%= f.text_field  :file_name  %></td>
    </tr>
    <tr>
      <th><%= f.label :file_path_equals_or_like %></th>
      <td><%= f.text_field  :file_path %></td>
    </tr>
    <tr>
      <th><%= f.label :exists %></th>
      <td><%= select :processedimage_search, :exists_flag, { "Y" => "Y", "N" => "N" }, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :status %></th>
      <td><%= select :processedimage_search, :status_flag, { "Y" => "Y", "N" => "N" }, :include_blank => true %></td>
    </tr>
  </table>

    <table class="search_form">

    <tr>
      <th><%= f.label :enumber %></th>
      <td><%= f.text_field :enumber %></td>
    </tr>
    <tr>
      <th><%= f.label :scan_date_before %></th>
      <td><%= f.date_select "latest_timestamp", :start_year => 1995, :include_blank => true %></td>
    </tr>
    <tr>
      <th><%= f.label :scan_date_after %></th>
      <td><%= f.date_select :earliest_timestamp, :start_year => 1995, :include_blank => true %></td>
    </tr>
  </table>

  
  <%= clearing_br %>
  <%= f.submit "Search" %>
  
<% end %>

<%= link_to 'download csv', {   :processedimage_search =>  @processedimage_search_params.to_h , :format => :csv} %>  <br>



<% if current_user.role == 'Admin_High'%>
<%= link_to 'New Processedimage', new_processedimage_path %>
<%end%>
<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>File path</th>
      <th>File type</th>
      <th>Comment</th>
      <th>status_flag</th>
      <th>exists_flag</th>
      <th>scan_procedure_id</th>
      <th>enrollment_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processedimages.each do |processedimage| %>
      <tr>
        <td><%= processedimage.file_name %></td>
        <td><%= processedimage.file_path %></td>
        <td><%= processedimage.file_type %></td>
        <td><%= processedimage.comment %></td>
        <td><%= processedimage.status_flag %></td>
        <td><%= processedimage.exists_flag %></td>
        <td><%= processedimage.scan_procedure_id %></td>
        <td><%= processedimage.enrollment_id %></td>
        <td><%= link_to 'Show', processedimage %></td>
        <% if current_user.role == 'Admin_High'%>
        <td><%= link_to 'Edit', edit_processedimage_path(processedimage) %></td>
        <td><%= link_to 'Destroy', processedimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%=    paginate @processedimages %> 
<br>
<% if current_user.role == 'Admin_High'%>
<%= link_to 'New Processedimage', new_processedimage_path %>
<%end%>



<%end%>