<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @processedimage.file_name %>
</p>

<p>
  <strong>File path:</strong>
  <%= @processedimage.file_path %>
</p>

<p>
  <strong>File type:</strong>
  <%= @processedimage.file_type %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @processedimage.comment %>
</p>
<p>
  <strong>status_flag:</strong>
  <%= @processedimage.status_flag %>
</p>
<p>
  <strong>exists_flag:</strong>
  <%= @processedimage.exists_flag %>
</p>
<p>
  <strong>scan_procedure_id:</strong>
  <%= ScanProcedure.find(@processedimage.scan_procedure_id).codename %>
</p>
<p>
  <strong>enrollment_id:</strong>
  <%= Enrollment.find(@processedimage.enrollment_id).enumber %>
</p>

<%= link_to 'Edit', edit_processedimage_path(@processedimage) %> |
<%= link_to 'Back', processedimages_path %>
