<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'%>
<p id="notice"><%= notice %></p>

<p>
  <b>Mriscantask:</b>
  <%= @mriperformance.mriscantask_id %>
</p>

<p>
  <b>Hitpercentage:</b>
  <%= @mriperformance.hitpercentage %>
</p>

<p>
  <b>Accuracypercentage:</b>
  <%= @mriperformance.accuracypercentage %>
</p>


<%= link_to 'Edit', edit_mriperformance_path(@mriperformance) %> |
<%= link_to 'Back', mriperformances_path %>
<%else %>	
	
	
<% end %>
