<h1>Listing trfiles</h1>

<table>
  <tr>
    <th>Trtype</th>
    <th>Subjectid</th>
    <th>Enrollment</th>
    <th>Scan procedure</th>
    <th>Image dataset</th>
    <th>Completed</th>
    <th>QC Value</th>
    <th>Status flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trfiles.each do |trfile| %>
  <tr>
    <td><%= if !trfile.trtype_id.nil?
          Trtype.find(trfile.trtype_id).description 
        end %></td>
    <td><%= trfile.subjectid %></td>
    <td><%= trfile.enrollment_id %></td>
    <td><%= if !(trfile.scan_procedure_id).nil? 
        ScanProcedure.find(trfile.scan_procedure_id).codename
       end %></td>
    <td><% if !(trfile.image_dataset_id).nil?
          v_ids =ImageDataset.find(trfile.image_dataset_id) %>
          <%= v_ids.series_description+", "+v_ids.path %>
         <%end%>
      </td>
      <td><%= trfile.file_completed_flag %></td>
    <td><%= trfile.qc_value %></td>
    <td><%= trfile.status_flag %></td>
    <% if current_user.role == 'Admin_High'%>
    <td><%= link_to 'Show', trfile %></td>
    <td><%= link_to 'Edit', edit_trfile_path(trfile) %></td>
    <td><%= link_to 'Destroy', trfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trfile', new_trfile_path %>
