<% if @hide_page_flag == "Y" 
  else %>
<%  v_y_n = {"Y"=>"Y","N"=>"N"}  
 v_p_p_f = {"Pass"=>"Pass","Partial"=>"Partial","Fail"=>"Fail","Reprocessed"=>"Reprocessed","New Record"=>"New Record"} %> 
<small><%= link_to 'View File List/Home' ,"/trtype_home/"+(@trfile.trtype_id).to_s %></small> |  
<small><%= link_to 'View File '+@v_action_name.humanize+' List' ,"/tredit_home/"+(@trfile.trtype_id).to_s %></small> | 
 <small><%= link_to "Add "+@v_action_name,"/trfile_home/"+(@trfile.trtype_id).to_s+"?trfile_action=add_edit&trfile_id="+(@trfile.id).to_s,{:style=>'color:#000000;'} %></small>
 <% if !@tredit_prev.nil? %>
 | <small><%= link_to "Prev "+@v_action_name,"/trfile_home/"+(@trfile.trtype_id).to_s+"?trfile_action=get_edit&trfile_id="+(@trfile.id).to_s+"&tredit_id="+(@tredit_prev.id).to_s ,{:style=>'color:#000000;'}%></small>
 <%end%>
 <% if !@tredit_next.nil? %>
 | <small><%= link_to "Next "+@v_action_name,"/trfile_home/"+(@trfile.trtype_id).to_s+"?trfile_action=get_edit&trfile_id="+(@trfile.id).to_s+"&tredit_id="+(@tredit_next.id).to_s ,{:style=>'color:#000000;'}%></small>
 <%end%>
<br><br><br>



<%= form_for('trfile_edit_action', :url => {:action => "trfile_edit_action"}) do |f| %>
<%= hidden_field_tag 'tredit_id',@tredit.id %>

<div class='container-fluid'>
<div class='row'>
  <div class='col-md-8'>
    <b> <%= (@trtype.description).humanize %> file <%= @v_action_name.humanize %> tracking: </b> <small><%= @v_action_name.humanize %> #<%= @v_edit_cnt.to_s%> <%if @v_last_edit == "Y" %> (most recent <%= @v_action_name %>)<%end%></small>
  </div>
</div>

<div class='row'>
  <div class='col-md-4'>
    <b>Scan Protcol(s):</b>  <%= @vgroups[0].scan_procedures.blank? ? "None" : @vgroups[0].scan_procedures.sort_by(&:display_alias).collect {|sp| sp.display_alias}.join(", ").html_safe %>
  </div>
  <div class='col-md-4'>
    <b>Enrollment(s):</b> <%= @vgroups[0].enrollments.collect {|e| e.enumber }.join(", ").html_safe %></small>
  </div>
</div>


<div class='row'>
  <div class='col-md-4'>
    <b>File Completed:</b> <%= f.select :file_completed_flag, v_y_n, {:prompt => 'Completed?',:selected => @trfile.file_completed_flag}  %>
  </div>
  <div class='col-md-4'>
    <b>QC:</b>  <%= f.select :qc_value, v_p_p_f, {:prompt => 'QC?',:selected => @trfile.qc_value}  %>
  </div>
  <div class='col-md-4'>
    <b>Active File:</b> <%= f.select :status_flag, v_y_n, {:prompt => 'Active?',:selected => @trfile.status_flag}  %>
  </div>
</div>



<div class='row'>
  <div class='col-md-4'>
    <b>QC notes:</b>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <%= f.text_area :qc_notes ,:size => '80X4',:value => @trfile.qc_notes, :class => 'form-control' %>
  </div>
</div>

  <% if !@trtype.series_description_type_id.blank? or !@trtype.processedimagesfiletype_id.blank?%>
  <% if !(@trtype.processedimagesfiletype_id).nil? %>

<div class='row'>
  <div class='col-md-12'>
    <b>Processed Image:</b>
    <% if !@trfileimage_imgs.nil? %>
      <%= f.select(:image_id, @processedimages.collect {|p| [ p.file_type+" - "+p.file_path, p.id ] },  { :include_blank => "Select a processed image", :selected => @trfileimage_imgs},{ :multiple => true,  :class =>"form-control" } )%>

      <% if !@pet_time_gaps.nil? %>
        <br><small><b>Time Gaps:</b></small>
        <% @pet_time_gaps.keys.each do |key| %>
          <small <% if @pet_time_gaps[key] > 364 %> class="problem-orange-circle" <% end %> ><%= key %>: <%= @pet_time_gaps[key] %> days </small> <br>
        <% end %>
      <% end %>

     <%else%>
       <%= f.select(:image_id, @processedimages.collect {|p| [ p.file_type+" - "+p.file_path, p.id ] },  { :include_blank => "Select a processed image"},{ :multiple => true, :size => 5 } )%>

     <%end%>
   </div>
  <%elsif !@trtype.series_description_type_id.blank? %>

  <div class='col-md-8'>
    <b>Image Dataset:</b>
     <% if @trtype.series_description_display == 'text' %>
         <br>
      <%   @ids.each do |image| %>
           <span class='p-2'><%= image.series_description  %></span><span class='p-2'><%= image.path  %></span>
     <%  end
      else %>
       <% if !(@trfile.trtype_id).nil? and !Trtype.find(@trfile.trtype_id).series_description_type_id.nil? and   !@trfile.enrollment_id.nil? and  !@trfile.scan_procedure_id.nil? %>
     <br>    
     <% if !@trfileimage_imgs.nil? %>
      <%= f.select(:image_id, @ids.collect {|p| [ p.series_description+" - "+p.path, p.id ] },  { :include_blank => "Select a scan series", :selected => @trfileimage_imgs },{ :multiple => true, :size => 5 } )%>
     <%else%>
      <%= f.select(:image_id, @ids.collect {|p| [ p.series_description+" - "+p.path, p.id ] },  { :include_blank => "Select a scan series"},  { :multiple => true, :size => 5 } )%>
     <%end%>

     <%end%>

    <%end%>
  </div>

    <%end%>


  <% end %>
<div class='row'>
	<div class='col-md-4'>
    <b>Subjectid_v#:</b> <%=@trfile.subjectid %> <small><%=@trfile.secondary_key %></small>
  </div>
  <div class='col-md-4'>
		<b>User:</b> <%= select(:tredit, :user_id, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Select user" ,:selected => @tredit.user_id }) %>
  </div>
  <div class='col-md-4'>
		<b>Updated:</b> <%=   @tredit.updated_at.strftime('%Y-%m-%d %H:%M'  ) %>
  </div>
</div>

<% if current_user.role == 'Admin_High' or (current_user.id).to_s == (@tredit.user_id).to_s %>

<div class='row'>
  <div class='col-md-8'>
    <small><small>Active?: <%= select( :tredit, :status_flag, v_y_n, {:prompt => 'Active?',:selected => @tredit.status_flag} ) %> set to N to delete <%= @v_action_name %> </small></small>
      <% if current_user.role == 'Admin_High' %>
   <small><small>  or <%= link_to 'full delete', @tredit, method: :delete, data: { confirm: 'Are you sure?' } %></small></small>
    <%end%>
  <%end%>
  </div>
</div>

<%  v_tractiontypes = Tractiontype.where("trtype_id in (?)",params[:id]).where("tractiontypes.status_flag ='Y' and tractiontypes.form_display_order is not null").order(:form_display_order) 

   if !v_tractiontypes.nil? 
     v_limit = 3 # 3 cols 
     v_cnt = 0
     v_tractiontypes.each do |act|
     	if v_cnt < 1 %>
     	<tr> 
     	<%end
         if v_cnt + act.form_col_span > 3 
         	v_cnt = 0
          end
          %>

<div class='row'>
  <div class='col-md-12'>
    <b><%=act.form_display_label.try(:html_safe) %> </b> <% 
      @tredit_actions = nil
      @tredit_actions = TreditAction.where("tredit_actions.tredit_id in (?)",@tredit.id).where("tredit_actions.tractiontype_id in (?)",act.id).to_a
      if @tredit_actions[0].nil? # added metric?
       # @tredit_actions = []
        v_tredit_action = TreditAction.new
        v_tredit_action.tredit_id = @tredit.id
        v_tredit_action.tractiontype_id = act.id
        if !(act.form_default_value).blank?
            v_tredit_action.value = act.form_default_value
        end
        v_tredit_action.save
        @tredit_actions.push(v_tredit_action)
      else
        puts "aaaaaaaa not nil "+act.id.to_s
      end 
           
      if act.form_display_field_type == "checkbox_in_line" 
        val_array =[]
        if !@tredit_actions[0].nil? and !@tredit_actions[0].value.blank?
          val_array = @tredit_actions[0].value.split(',')
        end
        if act.ref_table_a_1 == "lookup_refs" 
           sql = "select ref_value, description from lookup_refs where label ='"+act.ref_table_b_1+"' order by display_order"
           connection = ActiveRecord::Base.connection();
             results = connection.execute(sql)
          %>
            <% results.each do |theme| %> 
              <span class='p-2'>
               <%= check_box_tag 'value['+act.id.to_s+"][]", theme[0], checked=val_array.include?( theme[0].to_s) %>
                <%= theme[1].humanize %>
              </span>
            <% end %>
       <% else 
             results = ((act.ref_table_a_1).constantize).all.sort_by(&:description)
           %>
            <% results.each do |theme| %>
              <span class='p-2'>
              <%= check_box_tag 'value['+act.id.to_s+"][]", theme.id,  checked=val_array.include?( theme.id.to_s) %>
                <%= (theme.description) %>
              </span>
            <% end %>
          <% end %>
           <%   elsif act.form_display_field_type == "radio_1_col" %>
        radio 1 col not implemented yet - copy from q_data methods
           <%   elsif act.form_display_field_type == "checkbox_1_col" %>
         checkbox 1 col not iplemented yet - copy from q_data methods
         <%   elsif act.form_display_field_type == "date" %>
                 date not implemented yet - copy from q_data methods
         <%   elsif act.form_display_field_type == "time" %>
                 time not implemented yet - copy from q_data methods
         <%   elsif act.form_display_field_type == "date_time" %>
                 date_time not implemented yet - copy from q_data methods
          
           <% elsif act.form_display_field_type == "radio_in_line" 
             val_array =[]
             if !@tredit_actions[0].value.blank?
                      val_array = @tredit_actions[0].value.split(',')
             end %>
            <% if act.ref_table_a_1 == "lookup_refs" 
           sql = "select ref_value, description from lookup_refs where label ='"+act.ref_table_b_1+"' order by display_order"
           connection = ActiveRecord::Base.connection();
                 results = connection.execute(sql)
          %>
            <% results.each do |theme| %>
              <span class='p-2'>
                <%= radio_button_tag "value["+act.id.to_s+"][]", theme[0], @tredit_actions[0].value.to_i == theme[0] %>
                <%= theme[1].humanize %>
              </span>
            <% end %>
       <% else 
             results = ((act.ref_table_a_1).constantize).all.sort_by(&:description)
           %>
            <% results.each do |theme| %> 
              <span class='p-2'>
                <%= radio_button_tag "value["+act.id.to_s+"][]", theme.id,  (@tredit_actions[0].value.to_i == theme.id.to_i)?  true:false    %> <%= theme.description %>
              </span>
            <% end %>
          <% end %>

           <% elsif act.form_display_field_type == "text_read_only"    %>
<%= @tredit_actions[0].value %> 
<%= trfile_draw_hidden_field(act.id,"1",act.form_default_value,@tredit_actions[0].value) %>

           <% elsif act.form_display_field_type == "text_5"    %>
<%= trfile_draw_text_field(act.id,"1",5, act.form_default_value,@tredit_actions[0].value,act.form_js,act.form_required_y_n_1) %> 
           <% elsif act.form_display_field_type == "text_10"    %>
<%= trfile_draw_text_field(act.id,"1",10, act.form_default_value,@tredit_actions[0].value,act.form_js,act.form_required_y_n_1) %> 
           <% elsif act.form_display_field_type == "text_20"    %>
<%= trfile_draw_text_field(act.id,"1",20, act.form_default_value,@tredit_actions[0].value,act.form_js,act.form_required_y_n_1) %>  
           <% elsif act.form_display_field_type == "text_30"    %>
<%= trfile_draw_text_field(act.id,"1",30, act.form_default_value,@tredit_actions[0].value,act.form_js,act.form_required_y_n_1) %> 
           <% elsif act.form_display_field_type == "text_50"  %>
<%= trfile_draw_text_field(act.id,"1",50, act.form_default_value,@tredit_actions[0].value,act.form_js,act.form_required_y_n_1) %>
            <% elsif act.form_display_field_type == "text_70"    %>
<%= trfile_draw_text_field(act.id,"1",70, act.form_default_value,@tredit_actions[0].value,act.form_js,act.form_required_y_n_1) %>  
           <% elsif act.form_display_field_type == "text_90"    %>
<%= trfile_draw_text_field(act.id,"1",90, act.form_default_value,@tredit_actions[0].value,act.form_js,act.form_required_y_n_1) %>          

        <% elsif act.form_display_field_type == "dropdown"
            v_prompt = "select?"
            if !act.prompt.blank?
                v_prompt = act.prompt
            end
            if act.ref_table_a_1 == "lookup_refs"  ## use ref_table_b_1 %>
        <%= collection_select "value",act.id.to_s+"][", LookupRef.where("label = ?",act.ref_table_b_1).sort_by(&:display_order),
            :ref_value, :description, {:include_blank => v_prompt ,:selected => (@tredit_actions[0].value or act.form_default_value)} %>
      <%  else   %>
          <%= collection_select "value",act.id.to_s+"][", ((act.ref_table_a_1).constantize).all.sort_by(&:description),
            :id, :description, {:include_blank => v_prompt,:selected => (@tredit_actions[0].value or act.form_default_value)} %>      
         <%   end   %>   
        <%   elsif act.form_display_field_type == "textarea" %>
<%= trfile_draw_text_area(act.id,"80x4", act.form_default_value,@tredit_actions[0].value,act.form_required_y_n_1) %>
         <%   elsif act.form_display_field_type == "textarea_3x60" %>
<%= trfile_draw_text_area(act.id,"60x7", act.form_default_value,@tredit_actions[0].value,act.form_required_y_n_1) %>

          <%  end  %>
        <% if !(act.triggers_1).nil?  and !(@tredit_actions[0]).nil? and !(@tredit_actions[0].value).nil? 
	      # expect structure split "|" array[0]= type of trigger, rest array elements split "=", value/command <enum> pairs  
	      # how to do a conditional is 1,2  or 1 - then 1, if 2,3 or 2 then 2, 
              v_triggers_array = (act.triggers_1).split("|") 
              if v_triggers_array[0] == "display_command"  
                v_triggers_array.delete_at(0)
                val_array = @tredit_actions[0].value.split(',')
                v_triggers_array.each do |val_cmd|
                  v_val_cmd_array = val_cmd.split("=")
                  if val_array.include?(v_val_cmd_array[0]) %>
                    <br><%= v_val_cmd_array[1].gsub("<enum>",@trfile.subjectid) %>
            <%    end
                end  
              end
              if  v_triggers_array[0] == "display_ifeslif_command"
                v_triggers_array.delete_at(0)
                val_array = @tredit_actions[0].value.split(',')
                v_first_match_cnt = 0
                v_triggers_array.each do |val_cmd|
                  v_val_cmd_array = val_cmd.split("=")
                  if val_array.include?(v_val_cmd_array[0]) and v_first_match_cnt < 1 %>
                    <br><%= v_val_cmd_array[1].gsub("<enum>",@trfile.subjectid) %>
            <%    v_first_match_cnt = v_first_match_cnt+1
                  end
                end  
              end
           end %>
       <% v_cnt = v_cnt + act.form_col_span
          if v_cnt > 2
          	v_cnt = 0 %>
          <%end
       end
    end %>
  </div>
</div>

<%= f.submit('Save') %>

<%end%>
<%end%>


<% content_for :css_includes do %>


        <!-- DataTables -->
        <link href="/javascripts/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/javascripts/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/javascripts/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<% end %>

<% content_for :javascript_includes do %>


        <script src="/javascripts/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/javascripts/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/javascripts/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/javascripts/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/javascripts/plugins/datatables/jszip.min.js"></script>
        <script src="/javascripts/plugins/datatables/pdfmake.min.js"></script>
        <script src="/javascripts/plugins/datatables/vfs_fonts.js"></script>
        <script src="/javascripts/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/javascripts/plugins/datatables/buttons.print.min.js"></script>
        <script src="/javascripts/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/javascripts/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/javascripts/plugins/datatables/responsive.bootstrap4.min.js"></script>
        <script src="/javascripts/plugins/datatables/pipeline.js"></script>
        <script src="/javascripts/bootstrap-datepicker.min.js"></script>
        <script src="/javascripts/plugins/alertify/js/alertify.js"></script>
        <div class="alertify-logs"></div>

<% end %>