trfile home
trfile.id =<%= @trfile.id %><br>
subjectid=<%= @trfile.subjectid %><br>
tredit.id=<%= @tredit.id %><br>
tredit.user_id=<%= @tredit.user_id %>

<br><br><br>
<table width="80%" border=1>
	<tr> <!-- constant accross trtypes -->
		<td align="left"><small><b>Subjectid_v#:</b></small> <%=@trfile.subjectid %></td>
		<td align="left"><small><b>Editor:</b></small> <%= select(:tredit, :user_id, User.all.sort_by(&:username_name).collect {|p| [ p.username_name, p.id ] }, { :include_blank => "Select editor" ,:selected => @tredit.user_id }) %></td>
		<td align="left"><small><b>Updated:</b></small><%= @tredit.updated_at %> </td>
	</tr>
<%  v_tractiontypes = Tractiontype.where("trtype_id in (?)",params[:id]).where("tractiontypes.form_display_order is not null").order(:form_display_order) 

   if !v_tractiontypes.nil? 
     v_limit = 3 # 3 cols 
     v_cnt = 0
     v_tractiontypes.each do |act|
     	if v_cnt < 1 %>
     	<tr>
     	<%end
         if v_cnt + act.form_col_span > 3 
         	v_cnt = 0
     	%>
     	   </tr><tr>
             
     	  <% end%>
     	<td align="left" colspan="<%= act.form_col_span%>"><small><b><%=act.form_display_label %> :</b></small> <% @tredit_actions = TreditAction.where("tredit_actions.tredit_id in (?)",@tredit.id).where("tredit_actions.tractiontype_id in (?)",act.id) %> <%= @tredit_actions[0].value %> </td>
   
       <% v_cnt = v_cnt + act.form_col_span
          if v_cnt > 2
          	v_cnt = 0 %>
          </tr>
          <%end
       end
    end %>
</table>