<h1>Editing neuropsych_session</h1>

<%= form_for(@neuropsych_session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.label :procedure %><br />
    <%= f.text_field :procedure %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @neuropsych_session %> |
<%= link_to 'Back', neuropsych_sessions_path %>
