<h1>Editing neuropsych_session</h1>

<%= form_for(@neuropsych_session) do |f| %>
<% if @neuropsych_session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@neuropsych_session.errors.count, "error") %> prohibited this neuropsych_session from being saved:</h2>

    <ul>
    <% @neuropsych_session.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.label :procedure %><br />
    <%= f.text_field :procedure %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @neuropsych_session %> |
<%= link_to 'Back', neuropsych_sessions_path %>
