<%= form_for(@lookup_consentform) do |f| %>
  <% if @lookup_consentform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lookup_consentform.errors.count, "error") %> prohibited this lookup_consentform from being saved:</h2>

      <ul>
      <% @lookup_consentform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
