<%
v_yes_no_display = [["Yes","1"], ["No","0"]]
%>
<% javascript_tag 'defaults' %>
<div id="new_edit_form">

<!-- Directory path? -->
<%= form_for(@neuropsych) do |f| %>
  <%= f.error_messages %>
  <div class="three_col_left">
    <p>
      <%= f.label :date %><br />
      <%= date_select :appointment, :appointment_date, :include_blank => true, :end_year => Time.now.year + 1 %><br />
    </p>	
  </div>
  <div class="three_col_mid">
    <table>
      <tr>
        <td><%= f.label :Neuropsych_Completed %></td>
        <td><%= select :vgroup, :completedneuropsych, ["no", "yes", "n/a"] %>
		</td>
	    </tr>
	    <tr><td colspan="2">
		<small>Select "n/a" if the NP will not be done.</small>
		</td>
	  </tr>	
    <tr>
      <td><br><%= f.label(:appointment_coordinator) %></td>
      <td><br><%= select(:appointment, :appointment_coordinator, Employee.all.sort_by(&:name).collect {|p| [ p.name, p.id ] }, { :include_blank => "Select Appt Coordinator" }) %></td>
    </tr>
    </table>
  </div>
  <div class="three_col_right">
    <p>
      <%= f.label :Notes %><br/>
      <%= text_area( :appointment,:comment,:value=>@appointment.comment ) %><br />
    </p>
    <%= @neuropsych.neuropsychnote.try(:html_safe)%>
  </div>

  <br style="clear:both" />
  <% if !params[:new_appointment_vgroup_id].blank?%>
       <%=  hidden_field_tag( 'new_appointment_vgroup_id',params[:new_appointment_vgroup_id]) %>
  <% end %>

<% if params[:new_appointment_vgroup_id].blank?%>
  <%= f.submit  'Save Neuropsych appt', :confirm => 'Do not continue if changes to bottom form have not been saved!!!'  %>
<% else %>
      <%= f.submit  'Save Neuropsych Health appt' %>
<% end %>

  <% if !@q_forms.nil? and @q_forms.count > 1 # make a dropdown with tab_default ==Y selected %>
    <% if !@questionform.nil? %>
    <%= f.label :select_a_form %>: <small><small>optional change from default</small></small>  
    <%= collection_select :appointment, :questionform_id_list, @q_forms, :id, :description,{:selected => @questionform.id,:prompt => 'Select a Form'},{:required => true ,:onchange => "if (confirm('SAVE the bottom entries if any changes have been made!')) {window.location.href='/neuropsyches/edit/"+@neuropsych.id.to_s+"?appointment[questionform_id_list]='+this.value} else { }"} %> 
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><small><b>Form:</b></small></small><%= @questionform.description %>
    <%else%>
    <%= f.label :select_a_form %>: <small><small>optional change from default</small></small>  
    <%= collection_select :appointment, :questionform_id_list, @q_forms, :id, :description,{:prompt => 'Select a Form'},{:required => true } %> 
    <% end %>
  <%end %>
<% end %>
</div>