


<div id="leftcol" class="two_col_left">
  <h3>Summary:</h3>
  
  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Neuropsych_appt_date => @appointment.appointment_date,
      :enumber => @enumber.nil? ? nil : link_to(@vgroup.enrollment.enumber, @vgroup.enrollment),
      :RMR_Number => @vgroup.rmr,
     :Participant => @participant.nil? ? nil : link_to('view participant', @participant)
    }) %>
  </div>

  <div id="visit_details_note" class="sticky">
    <%= key_val_table("visit_details", {
      :Neuropsych_completed => @vgroup.completedneuropsych  ,
    }) %>
  </div>

</div>


<div id="visit_status_report" class="two_col_right">

  <h3>Notes:</h3>
  <div id="notes" class="sticky">
	<%=  RedCloth.new(@appointment.comment.blank? ? "No comment entered for this Neuro Psych" : @appointment.comment).to_html.html_safe 
            %><br>
    <%=  RedCloth.new(@neuropsych.neuropsychnote.blank? ? "No notes entered for this Neuro Psych" : @neuropsych.neuropsychnote).to_html.html_safe 
            %>
  </div> 


</div>


<br style="clear: both" /><br />
<% if !@q_data_form.blank? %>
  <% if !@appointment.nil? and !@appointment.questionform_id.blank? 
           v_questionform = Questionform.find(@appointment.questionform_id) %>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><small><b>Form:</b></small></small><%= v_questionform.description %>
   <%end%>
<%= render :partial => 'questionforms/displayform', :locals => { } %>
<% end %>