<h1>Editing series_description</h1>

<%= form_for(@series_description) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :long_description %><br />
    <%= f.text_field :long_description %>
  </p>
  <p>
    <%= f.label :short_description %><br />
    <%= f.text_field :short_description %>
  </p>
  <p>
    <%= f.label :anat_type %><br />
    <%= f.text_field :anat_type %>
  </p>
  <p>
    <%= f.label :acq_plane %><br />
    <%= f.text_field :acq_plane %>
  </p>
  <p>
   <%= f.label :Ignore %>
   <%= f.select :ignore, ["Ignore", "Don't Ignore"] %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @series_description %> |
<%= link_to 'Back', series_descriptions_path %>
