<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_lumbarpuncture.description %>
</p>

<p>
  <b>Units:</b>
  <%= @lookup_lumbarpuncture.units %>
</p>

<p>
  <b>Range:</b>
  <%= @lookup_lumbarpuncture.range %>
</p>


<%= link_to 'Edit', edit_lookup_lumbarpuncture_path(@lookup_lumbarpuncture) %> |
<%= link_to 'Back', lookup_lumbarpunctures_path %>
