<h1>Listing cg_table_types</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Table type</th>
    <th>Protocol</th>
   <th>Active Status</th>
   <th>Hide dates in all queries</th>
   <th>default_open_flag</th>
   <th>display_order</th>
   <th>display_name</th>
   <th>editable_dashboard_table_type_flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cg_table_types.each do |cg_table_type| %>
  <tr>
    <td><%= cg_table_type.description %></td>
    <td><%= cg_table_type.table_type %></td>
    <td><% if !(cg_table_type.protocol_id).nil? and !(cg_table_type.protocol_id).to_s.empty?%>
      <%= (Protocol.find(cg_table_type.protocol_id)).name %>
      <% end %></td>
      <td><%= cg_table_type.status_flag %></td>
      <td><%= cg_table_type.hide_date_flag %></td>
      <td><%= cg_table_type.default_open_flag %></td>
      <td><%= cg_table_type.display_order %></td>
      <td><%= cg_table_type.display_name %></td>
      <td><%= cg_table_type.editable_dashboard_table_type_flag %></td>
      <% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Medium'%>
    <td><%= link_to 'Show', cg_table_type %></td>
    <td><%= link_to 'Edit', edit_cg_table_type_path(cg_table_type) %></td>
    <td><%= link_to 'Destroy', cg_table_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cg table type', new_cg_table_type_path %>
