<% if current_user.role == 'Admin_High'%>
<h1>Listing lookup_cogstatuses</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_cogstatuses.each do |lookup_cogstatus| %>
  <tr>
    <td><%= lookup_cogstatus.description %></td>
    <td><%= link_to 'Show', lookup_cogstatus %></td>
    <td><%= link_to 'Edit', edit_lookup_cogstatus_path(lookup_cogstatus) %></td>
    <td><%= link_to 'Destroy', lookup_cogstatus, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup cogstatus', new_lookup_cogstatus_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>
